In [15]:
import pandas as pd
import numpy as np
import IPython
from IPython.display import display

In [16]:
from process_core import mainPageProcess

In [17]:
from CBS_mapping import CBSMapping

In [18]:
fileid = '5f09effc-bb87-4357-877f-44a69d52e0e7'

In [19]:
mp = mainPageProcess()

In [20]:
cbs_dict,cpl_dict,ccf_dict,meta_dict,final_notes_dict,ref_notes_list, notes_region_meta_data,cropped_table_dict = mp.process_main_pages(fileid=fileid)

/home/mgsuser01/AI/testing_code/main_page_processing_service/utils.py:57: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/utils.py:57: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/utils.py:57: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():

key :6__3a4f44ff-5a7c-3dab-ade6-dd0aa624fd72
 date cords : [2, 3] ,([[1], [1]], [['2020'], ['2019']], [[2020], [2019]])
main_page_year_values: {2020: 19589.0, 2019: 28259.0}
df =                                                    0  \
0                       6. Cash and cash equivalents
1                                                NaN
2                                                NaN
3                           Cash at bank and on hand
4  Cash at banks earns interest at floating rates...
5                        Trade and other receivables

                                                   1      2      3
0                                                NaN    NaN    NaN
1                                                NaN   2020   2019
2                                                NaN   $000   $000
3                                                NaN  19589  28259
4  Cash at banks earns interest at floating rates...    NaN    NaN
5                                                NaN    NaN    NaN
index dict = {2020: {'row_indices': [3], 'col_indices': [2]}, 2019: {'row_indices': [3], 'col_indices': [3]}}
main_page_year_values: {2020: 19589.0, 2019: 28259.0}
df =                                                    0  \
0                       6. Cash and cash equivalents
1                                                NaN
2                                                NaN
3                           Cash at bank and on hand
4  Cash at banks earns interest at floating rates...
5                        Trade and other receivables

                                                   1      2      3
0                                                NaN    NaN    NaN
1                                                NaN   2020   2019
2                                                NaN   $000   $000
3                                                NaN  19589  28259
4  Cash at banks earns interest at floating rates...    NaN    NaN
5                                                NaN    NaN    NaN
index dict = {2020: {'row_indices': [3, 3], 'col_indices': [2, 2]}, 2019: {'row_indices': [3, 3], 'col_indices': [3, 3]}}
prev_column_number=[2, 3]
prev_row_number=[[1], [1]]
validate with previosu results
prev_col_number=[2, 3]
col_lst_unique=[2, 3]
inter_sect={2, 3}
prev_row_unique={1}
mod_df:                                                    0  \
0                       6. Cash and cash equivalents
1                                                NaN
2                                                NaN
3                           Cash at bank and on hand
4  Cash at banks earns interest at floating rates...
5                        Trade and other receivables

                                                   1      2      3
0                                                NaN    NaN    NaN
1                                                NaN   2020   2019
2                                                NaN   $000   $000
3                                                NaN  19589  28259
4  Cash at banks earns interest at floating rates...    NaN    NaN
5                                                NaN    NaN    NaN
column_numbr_s = [2, 3], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [2, 3] ,([[1], [1]], [['2020'], ['2019']], [[2020], [2019]])
data_row_coords: (2, 3) , particular_end_col: 1 ,particular_start_row: 3
header indices : [1, 2]
key :7__3a4f44ff-5a7c-3dab-ade6-dd0aa624fd72
 date cords : [1, 2] ,([[1], [1]], [['2020'], ['2019']], [[2020], [2019]])
main_page_year_values: {2020: 13624.0, 2019: 11999.0}
df =                                      0      1      2
0          Trade and other receivables    NaN    NaN
1                                  NaN   2020   2019
2                                  NaN   $000   $000
3                       GST receivable   1697   1390
4  Related party receivables (Note 20)  11927  10609
5                                  NaN  13624  11999
6                       8. Inventories    NaN    NaN
index dict = {2020: {'row_indices': [5], 'col_indices': [1]}, 2019: {'row_indices': [5], 'col_indices': [2]}}
prev_column_number=[1, 2]
prev_row_number=[[1], [1]]
validate with previosu results
prev_col_number=[1, 2]
col_lst_unique=[1, 2]
inter_sect={1, 2}
prev_row_unique={1}
mod_df:                                      0      1      2
0          Trade and other receivables    NaN    NaN
1                                  NaN   2020   2019
2                                  NaN   $000   $000
3                       GST receivable   1697   1390
4  Related party receivables (Note 20)  11927  10609
5                                  NaN  13624  11999
6                       8. Inventories    NaN    NaN
column_numbr_s = [1, 2], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[1], [1]], [['2020'], ['2019']], [[2020], [2019]])
data_row_coords: (1, 3) , particular_end_col: 0 ,particular_start_row: 3
header indices : [1, 2]
key :8__3a4f44ff-5a7c-3dab-ade6-dd0aa624fd72
 date cords : [1, 2] ,([[1], [1]], [['2020'], ['2019']], [[2020], [2019]])
main_page_year_values: {2020: 27198.0, 2019: 26953.0}
df =                 0      1      2
0  8. Inventories    NaN    NaN
1             NaN   2020   2019
2             NaN   $000   $000
3   Raw materials  18547  19816
4  Finished goods   8651   7137
5             NaN  27198  26953
index dict = {2020: {'row_indices': [5], 'col_indices': [1]}, 2019: {'row_indices': [5], 'col_indices': [2]}}
prev_column_number=[1, 2]
prev_row_number=[[1], [1]]
validate with previosu results
prev_col_number=[1, 2]
col_lst_unique=[1, 2]
inter_sect={1, 2}
prev_row_unique={1}
mod_df:                 0      1      2
0  8. Inventories    NaN    NaN
1             NaN   2020   2019
2             NaN   $000   $000
3   Raw materials  18547  19816
4  Finished goods   8651   7137
5             NaN  27198  26953
column_numbr_s = [1, 2], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[1], [1]], [['2020'], ['2019']], [[2020], [2019]])
data_row_coords: (1, 3) , particular_end_col: 0 ,particular_start_row: 3
header indices : [1, 2]
key :9__cb8e6cec-5687-3927-a967-8e037ca2c839
 date cords : [1, 2] ,([[1], [1]], [['2020'], ['2019']], [[2020], [2019]])
main_page_year_values: {2020: 0.0, 2019: 29753.0}
df =                                             0     1      2
0                         9. Financial assets   NaN    NaN
1                                         NaN  2020   2019
2                                         NaN  $000   $000
3                                     Current   NaN    NaN
4  Foreign exchange derivatives at fair value   NaN     51
5       Electricity derivatives at fair value   NaN  29702
6                                         NaN   NaN  29753
7                                 Non-current   NaN    NaN
8       Electricity derivatives at fair value   NaN  12453
index dict = {2020: {'row_indices': [], 'col_indices': []}, 2019: {'row_indices': [6], 'col_indices': [2]}}
main_page_year_values: {2020: 0.0, 2019: 12453.0}
df =                                             0     1      2
0                         9. Financial assets   NaN    NaN
1                                         NaN  2020   2019
2                                         NaN  $000   $000
3                                     Current   NaN    NaN
4  Foreign exchange derivatives at fair value   NaN     51
5       Electricity derivatives at fair value   NaN  29702
6                                         NaN   NaN  29753
7                                 Non-current   NaN    NaN
8       Electricity derivatives at fair value   NaN  12453
index dict = {2020: {'row_indices': [], 'col_indices': []}, 2019: {'row_indices': [6, 8], 'col_indices': [2, 2]}}
prev_column_number=[1, 2]
prev_row_number=[[1], [1]]
validate with previosu results
prev_col_number=[1, 2]
col_lst_unique=[2]
inter_sect={2}
prev_row_unique={1}
mod_df:                                             0     1      2
0                         9. Financial assets   NaN    NaN
1                                         NaN  2020   2019
2                                         NaN  $000   $000
3                                     Current   NaN    NaN
4  Foreign exchange derivatives at fair value   NaN     51
5       Electricity derivatives at fair value   NaN  29702
6                                         NaN   NaN  29753
7                                 Non-current   NaN    NaN
8       Electricity derivatives at fair value   NaN  12453
column_numbr_s = [1, 2], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[1], [1]], [['2020'], ['2019']], [[2020], [2019]])
data_row_coords: (2, 4) , particular_end_col: 0 ,particular_start_row: 3
header indices : [1, 2]
key :11__7e2b209a-fe1c-3f33-a063-f949d7a26f20
 date cords : [2, 3, 4, 5] ,([[1], [1], [1], [1]], [['2020'], ['2019'], ['2020'], ['2019']], [[2020], [2019], [2020], [2019]])
main_page_year_values: {2020: 47672.0, 2019: 54535.0}
df =                    0                   1                   2  \
0                NaN                 NaN  Ownership interest
1                NaN                 NaN                2020
2     Name of entity  Principal activity                   %
3     Southern Cross                 NaN                 NaN
4  Aluminium Pty Ltd          Investment              52.95%

                    3                   4                   5
0  Ownership interest  Ownership interest  Ownership interest
1                2019                2020                2019
2                   %                $000                $000
3                 NaN                 NaN                 NaN
4              52.95%               47672               54535
index dict = {2020: {'row_indices': [4], 'col_indices': [4]}, 2019: {'row_indices': [4], 'col_indices': [5]}}
main_page_year_values: {2020: 1586, 2019: -7587.0}
df =                    0                   1                   2  \
0                NaN                 NaN  Ownership interest
1                NaN                 NaN                2020
2     Name of entity  Principal activity                   %
3     Southern Cross                 NaN                 NaN
4  Aluminium Pty Ltd          Investment              52.95%

                    3                   4                   5
0  Ownership interest  Ownership interest  Ownership interest
1                2019                2020                2019
2                   %                $000                $000
3                 NaN                 NaN                 NaN
4              52.95%               47672               54535
index dict = {2020: {'row_indices': [4], 'col_indices': [4]}, 2019: {'row_indices': [4], 'col_indices': [5]}}
prev_column_number=[2, 3, 4, 5]
prev_row_number=[[1], [1], [1], [1]]
validate with previosu results
prev_col_number=[2, 3, 4, 5]
col_lst_unique=[4, 5]
inter_sect={4, 5}
prev_row_unique={1}
mod_df:                    0                   1                   2  \
0                NaN                 NaN  Ownership interest
1                NaN                 NaN                2020
2     Name of entity  Principal activity                   %
3     Southern Cross                 NaN                 NaN
4  Aluminium Pty Ltd          Investment              52.95%

                    3                   4                   5
0  Ownership interest  Ownership interest  Ownership interest
1                2019                2020                2019
2                   %                $000                $000
3                 NaN                 NaN                 NaN
4              52.95%               47672               54535
column_numbr_s = [2, 3, 4, 5], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [2, 3, 4, 5] ,([[1], [1], [1], [1]], [['2020'], ['2019'], ['2020'], ['2019']], [[2020], [2019], [2020], [2019]])
data_row_coords: (4, 4) , particular_end_col: 1 ,particular_start_row: 3
header indices : [0, 1, 2]
key :11__932dd513-b7c2-3455-803e-d22432f4362f
 date cords : [1, 2] ,([[1], [1]], [['2020'], ['2019']], [[2020], [2019]])
main_page_year_values: {2020: 47672.0, 2019: 54535.0}
df =                                                    0        1        2
0                                                 b)      NaN      NaN
1                                                NaN     2020     2019
2                                                NaN     $000     $000
3                                      At 1. January    54535    59249
4  Share of gain/(loss) of joint venture, net of tax     1586  (7,587)
5    Share of other comprehensive income, net of tax  (8,448)     2873
6        Carrying value of investment at end of year    47672    54535
index dict = {2020: {'row_indices': [6], 'col_indices': [1]}, 2019: {'row_indices': [3, 6], 'col_indices': [1, 2]}}
main_page_year_values: {2020: 1586, 2019: -7587.0}
df =                                                    0        1        2
0                                                 b)      NaN      NaN
1                                                NaN     2020     2019
2                                                NaN     $000     $000
3                                      At 1. January    54535    59249
4  Share of gain/(loss) of joint venture, net of tax     1586  (7,587)
5    Share of other comprehensive income, net of tax  (8,448)     2873
6        Carrying value of investment at end of year    47672    54535
index dict = {2020: {'row_indices': [6, 4], 'col_indices': [1, 1]}, 2019: {'row_indices': [3, 6], 'col_indices': [1, 2]}}
prev_column_number=[1, 2]
prev_row_number=[[1], [1]]
validate with previosu results
prev_col_number=[1, 2]
col_lst_unique=[1, 2]
inter_sect={1, 2}
prev_row_unique={1}
mod_df:                                                    0        1        2
0                                                 b)      NaN      NaN
1                                                NaN     2020     2019
2                                                NaN     $000     $000
3                                      At 1. January    54535    59249
4  Share of gain/(loss) of joint venture, net of tax     1586  (7,587)
5    Share of other comprehensive income, net of tax  (8,448)     2873
6        Carrying value of investment at end of year    47672    54535
column_numbr_s = [1, 2], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[1], [1]], [['2020'], ['2019']], [[2020], [2019]])
data_row_coords: (1, 3) , particular_end_col: 0 ,particular_start_row: 3
header indices : [1, 2]
key :11__ae9d7085-f39d-30c4-bc30-81afe4906dc7
 date cords : [1, 2] ,([[1], [1]], [['2020'], ['2019']], [[2020], [2019]])
main_page_year_values: {2020: 47672.0, 2019: 54535.0}
df =                                                    0      1      2
0                    11. Investment in joint venture    NaN    NaN
1                                                NaN   2020   2019
2                                                NaN   $000   $000
3  Investment in joint venture (Southern Cross Al...  47672  54535
index dict = {2020: {'row_indices': [3], 'col_indices': [1]}, 2019: {'row_indices': [3], 'col_indices': [2]}}
main_page_year_values: {2020: 1586, 2019: -7587.0}
df =                                                    0      1      2
0                    11. Investment in joint venture    NaN    NaN
1                                                NaN   2020   2019
2                                                NaN   $000   $000
3  Investment in joint venture (Southern Cross Al...  47672  54535
index dict = {2020: {'row_indices': [3], 'col_indices': [1]}, 2019: {'row_indices': [3], 'col_indices': [2]}}
prev_column_number=[1, 2]
prev_row_number=[[1], [1]]
validate with previosu results
prev_col_number=[1, 2]
col_lst_unique=[1, 2]
inter_sect={1, 2}
prev_row_unique={1}
mod_df:                                                    0      1      2
0                    11. Investment in joint venture    NaN    NaN
1                                                NaN   2020   2019
2                                                NaN   $000   $000
3  Investment in joint venture (Southern Cross Al...  47672  54535
column_numbr_s = [1, 2], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[1], [1]], [['2020'], ['2019']], [[2020], [2019]])
data_row_coords: (1, 3) , particular_end_col: 0 ,particular_start_row: 3
header indices : [1, 2]
key :12__635bc213-ff15-3cc2-b1f2-cc9772cb371f
 date cords : [0] ,([[4, 8, 10, 14, 16, 17]], [['At 1 January 2020', 'At 31 December 2020', 'At1 January 2020', 'At 31 December 2020', 'At 31 December 2020', 'At 31 December 2019']], [[2020, 2020, 2020, 2020, 2020, 2019]])
main_page_year_values: {2020: 17531.0, 2019: 3731.0}
df =                                           0                            1  \
0         12. Property, plant and equipment                          NaN
1                                       NaN  Freehold land and buildings
2                                       NaN                         $000
3                                      Cost                          NaN
4                         At 1 January 2020                        90430
5                                 Additions                          376
6                                 Disposals                        (149)
7                                  Transfer                           74
8                       At 31 December 2020                        90731
9   Accumulated depreciation and impairment                          NaN
10                         At1 January 2020                        90235
11         Depreciation charge for the year                           57
12                              Impairment*                          351
13                                Disposals                        (154)
14                      At 31 December 2020                        90489
15                           Net book value                          NaN
16                      At 31 December 2020                          242
17                      At 31 December 2019                          195

                      2                              3  \
0                   NaN                            NaN
1   Plant and equipment  Asset Retirement Obligation**
2                  $000                           $000
3                   NaN                            NaN
4                314181                           1628
5                  5232                          34643
6               (1,122)                            NaN
7                  (74)                            NaN
8                318217                          36271
9                   NaN                            NaN
10               312388                           1628
11                  827                            NaN
12                 4618                          20598
13              (1,182)                            NaN
14               316651                          22226
15                  NaN                            NaN
16                 1566                          14045
17                 1793                           1743

                           4        5
0                        NaN      NaN
1   Construction in progress    Total
2                       $000     $000
3                        NaN      NaN
4                       2538   408777
5                        NaN    40251
6                       (65)  (1,336)
7                        NaN      NaN
8                       2473   447692
9                        NaN      NaN
10                       795   405046
11                       NaN      884
12                       NaN    25567
13                       NaN  (1,336)

/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:609: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():

data_row_coords: (1, 3) , particular_end_col: 0 ,particular_start_row: 3
header indices : [0, 1, 2]
key :16__71beeaeb-102d-3b4c-9b48-e2cd37345b0a
 date cords : [1, 2] ,([[1], [1]], [['2020'], ['2019']], [[2020], [2019]])
main_page_year_values: {2020: 0.0, 2019: 4000.0}
df =                  0     1     2
0   16. Borrowings   NaN   NaN
1              NaN  2020  2019
2              NaN  $000  $000
3  Bank borrowings   NaN  4000
index dict = {2020: {'row_indices': [], 'col_indices': []}, 2019: {'row_indices': [3], 'col_indices': [2]}}
prev_column_number=[1, 2]
prev_row_number=[[1], [1]]
validate with previosu results
prev_col_number=[1, 2]
col_lst_unique=[2]
inter_sect={2}
prev_row_unique={1}
mod_df:                  0     1     2
0   16. Borrowings   NaN   NaN
1              NaN  2020  2019
2              NaN  $000  $000
3  Bank borrowings   NaN  4000
column_numbr_s = [1, 2], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[1], [1]], [['2020'], ['2019']], [[2020], [2019]])
data_row_coords: (2, 3) , particular_end_col: 0 ,particular_start_row: 3
header indices : [1, 2]
key :16__61a3a5a3-7245-3dbb-908d-9aaa1a2ce543
 date cords : [2, 4] ,([[0], [0]], [['2020'], ['2019']], [[2020], [2019]])
main_page_year_values: {2020: 0.0, 2019: 4000.0}
df =                         0                       1                        2  \
0                     NaN                     NaN                     2020
1                     NaN                     NaN  Multi-option facilities
2                     NaN                     NaN                     $000
3        Total facilities        Total facilities                    52100
4                Utilised                     NaN                      NaN
5                Utilised         bank guarantees                     3273
6  Balance at 31 December  Balance at 31 December                    48827

                           3                        4  \
0                        NaN                     2019
1  Bank guarantee facilities  Multi-option facilities
2                       $000                     $000
3                      13500                    52100
4                        NaN                     4000
5                      13500                     1023
6                        NaN                    47077

                           5
0                        NaN
1  Bank guarantee facilities
2                       $000
3                      13500
4                        NaN
5                      13500
6                        NaN
index dict = {2020: {'row_indices': [], 'col_indices': []}, 2019: {'row_indices': [4], 'col_indices': [4]}}
prev_column_number=[2, 4]
prev_row_number=[[0], [0]]
validate with previosu results
prev_col_number=[2, 4]
col_lst_unique=[4]
inter_sect={4}
prev_row_unique={0}
mod_df:                         0                       1                        2  \
0                     NaN                     NaN                     2020
1                     NaN                     NaN  Multi-option facilities
2                     NaN                     NaN                     $000
3        Total facilities        Total facilities                    52100
4                Utilised                     NaN                      NaN
5                Utilised         bank guarantees                     3273
6  Balance at 31 December  Balance at 31 December                    48827

                           3                        4  \
0                        NaN                     2019
1  Bank guarantee facilities  Multi-option facilities
2                       $000                     $000
3                      13500                    52100
4                        NaN                     4000
5                      13500                     1023
6                        NaN                    47077

                           5
0                        NaN
1  Bank guarantee facilities
2                       $000
3                      13500
4                        NaN
5                      13500
6                        NaN
column_numbr_s = [2, 4], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [2, 4] ,([[0], [0]], [['2020'], ['2019']], [[2020], [2019]])
data_row_coords: (2, 3) , particular_end_col: 1 ,particular_start_row: 3
header indices : [0, 1, 2]
key :17__f6e17640-659f-3e41-9661-02365947127a
 date cords : [0] ,([[1, 4]], [['At 1 January 2020', 'At31 December 2020']], [[2020, 2020]])
main_page_year_values: {2020: 9459.0, 2019: 9228.0}
df =                          0                  1                     2  \
0                      NaN  Employee benefits  Workers compensation
1        At 1 January 2020               4343                  3725
2  Arising during the year                541                   159
3    Unwinding of discount                NaN                   NaN
4       At31 December 2020               4884                  3884
5                  Current               4846                  3884
6              Non-current                 38                   NaN

                 3                                          4  \
0  Defined Benefit  Provision for asset retirement obligation
1              NaN                                       4806
2              865                                      36032
3            (518)                                      (336)
4              347                                      40502
5              NaN                                        NaN
6              347                                      40502

                                     5       6
0  Provision for carbon dust and other  Totals
1                                 6983   19857
2                                 1286   38883
3                                  NaN   (854)
4                                 8269   57886
5                                  729    9459
6                                 7540   48427
index dict = {2020: {'row_indices': [5], 'col_indices': [6]}, 2019: {'row_indices': [], 'col_indices': []}}
main_page_year_values: {2020: 48427.0, 2019: 10629.0}
df =                          0                  1                     2  \
0                      NaN  Employee benefits  Workers compensation
1        At 1 January 2020               4343                  3725
2  Arising during the year                541                   159
3    Unwinding of discount                NaN                   NaN
4       At31 December 2020               4884                  3884
5                  Current               4846                  3884
6              Non-current                 38                   NaN

                 3                                          4  \
0  Defined Benefit  Provision for asset retirement obligation
1              NaN                                       4806
2              865                                      36032
3            (518)                                      (336)
4              347                                      40502
5              NaN                                        NaN
6              347                                      40502

                                     5       6
0  Provision for carbon dust and other  Totals
1                                 6983   19857
2                                 1286   38883
3                                  NaN   (854)
4                                 8269   57886
5                                  729    9459
6                                 7540   48427
index dict = {2020: {'row_indices': [5, 6], 'col_indices': [6, 6]}, 2019: {'row_indices': [], 'col_indices': []}}
prev_column_number=[0]
prev_row_number=[[1, 4]]
validate with previosu results
prev_col_number=[0]
col_lst_unique=[6]
inter_sect=set()
prev_row_unique={1, 4}
mod_df:                          0                  1                     2  \
0                      NaN  Employee benefits  Workers compensation
1        At 1 January 2020               4343                  3725
2  Arising during the year                541                   159
3    Unwinding of discount                NaN                   NaN
4       At31 December 2020               4884                  3884
5             2020 Current               4846                  3884
6         2020 Non-current                 38                   NaN

                 3                                          4  \
0  Defined Benefit  Provision for asset retirement obligation
1              NaN                                       4806
2              865                                      36032
3            (518)                                      (336)
4              347                                      40502
5              NaN                                        NaN
6              347                                      40502

                                     5       6
0  Provision for carbon dust and other  Totals
1                                 6983   19857
2                                 1286   38883
3                                  NaN   (854)
4                                 8269   57886
5                                  729    9459
6                                 7540   48427
column_numbr_s = [0], row_number_s = [5, 6], raw_text_s = ['2020 Current', '2020 Non-current'] , extracted_year_s = [[2020], [2020]]
 date cords : [0] ,([5, 6], ['2020 Current', '2020 Non-current'], [[2020], [2020]])
data_row_coords: (1, 1) , particular_end_col: 0 ,particular_start_row: 1
header indices : [0]
key :15__71beeaeb-102d-3b4c-9b48-e2cd37345b0a
 date cords : [1] ,([[1]], [['2020']], [[2020]])
main_page_year_values: {2020: 2935.0, 2019: 0.0}
df =                                                    0      1
0                          15. Financial liabilities    NaN
1                                                NaN   2020
2                                                NaN   $000
3                           Trade and other payables  25569
4  Electricity derivatives at fair value through OCI   2935
5                                  Lease liabilities   1053
6                                                NaN  29557
7                                            Current  25662
8                                        Non-current   3895
9                                     16. Borrowings    NaN
index dict = {2020: {'row_indices': [4], 'col_indices': [1]}, 2019: {'row_indices': [], 'col_indices': []}}
prev_column_number=[1]
prev_row_number=[[1]]
validate with previosu results
prev_col_number=[1]
col_lst_unique=[1]
inter_sect={1}
prev_row_unique={1}
mod_df:                                                    0      1
0                          15. Financial liabilities    NaN
1                                                NaN   2020
2                                                NaN   $000
3                           Trade and other payables  25569
4  Electricity derivatives at fair value through OCI   2935
5                                  Lease liabilities   1053
6                                                NaN  29557
7                                            Current  25662
8                                        Non-current   3895
9                                     16. Borrowings    NaN
column_numbr_s = [1], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1] ,([[1]], [['2020']], [[2020]])
data_row_coords: (1, 3) , particular_end_col: 0 ,particular_start_row: 3
header indices : [1, 2]
key :18__8c00bbe0-2bcb-39ad-9239-afc9d5d0f075
 date cords : [1, 2] ,([[0], [0]], [['2020'], ['2019']], [[2020], [2019]])
main_page_year_values: {2020: 150997.0, 2019: 150997.0}
df =                                                    0       1       2
0                                                NaN    2020    2019
1                                                NaN    $000    $000
2  155,299,534 ordinary shares issued and fully p...  150997  150997
index dict = {2020: {'row_indices': [2, 2], 'col_indices': [1, 2]}, 2019: {'row_indices': [2, 2], 'col_indices': [1, 2]}}
prev_column_number=[1, 2]
prev_row_number=[[0], [0]]
validate with previosu results
prev_col_number=[1, 2]
col_lst_unique=[1, 2]
inter_sect={1, 2}
prev_row_unique={0}
mod_df:                                                    0       1       2
0                                                NaN    2020    2019
1                                                NaN    $000    $000
2  155,299,534 ordinary shares issued and fully p...  150997  150997
column_numbr_s = [1, 2], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[0], [0]], [['2020'], ['2019']], [[2020], [2019]])
data_row_coords: (1, 2) , particular_end_col: 0 ,particular_start_row: 2
header indices : [0, 1]
key :19__ea539ccd-6c49-3b68-b625-b59860a98d12
 date cords : [1, 2] ,([[1], [1]], [['2020'], ['2019']], [[2020], [2019]])
main_page_year_values: {2020: -4256.0, 2019: 35790.0}
df =                                                     0         1         2
0                                        19. Reserves       NaN       NaN
1                                                 NaN      2020      2019
2                                                 NaN      $000      $000
3                             Cash flow hedge reserve       NaN       NaN
4                                Balance at 1 January     29543     41448
5           Net other comprehensive loss for the year  (31,598)  (11,905)
6                              Balance at 31 December   (2,055)     29543
7                                                 NaN      2020      2019
8                                                 NaN      $000      $000
9                            Reserve in joint venture       NaN       NaN
10                               Balance at 1 January      5922      3049
11  Net other comprehensive (loss)/income for the ...   (8,448)      2873
12                             Balance at 31 December   (2,526)      5922
13                                                NaN      2020      2019
14                                                NaN      $000      $000
15                                      Other reserve       NaN       NaN
16                               Balance at 1 January       325       325
17                             Balance at 31 December       325       325
18                                                NaN      2020      2019
19                                                NaN      $000      $000
20                                              Total       NaN       NaN
21                               Balance at 1 January     35790     44822
22          Net other comprehensive loss for the year  (40,046)   (9,032)
23                             Balance at 31 December   (4,256)     35790
index dict = {2020: {'row_indices': [], 'col_indices': []}, 2019: {'row_indices': [21, 23], 'col_indices': [1, 2]}}
prev_column_number=[1, 2]
prev_row_number=[[1], [1]]
validate with previosu results
prev_col_number=[1, 2]
col_lst_unique=[1, 2]
inter_sect={1, 2}
prev_row_unique={1}
mod_df:                                                     0         1         2
0                                        19. Reserves       NaN       NaN
1                                                 NaN      2020      2019
2                                                 NaN      $000      $000
3                             Cash flow hedge reserve       NaN       NaN
4                                Balance at 1 January     29543     41448
5           Net other comprehensive loss for the year  (31,598)  (11,905)
6                              Balance at 31 December   (2,055)     29543
7                                                 NaN      2020      2019
8                                                 NaN      $000      $000
9                            Reserve in joint venture       NaN       NaN
10                               Balance at 1 January      5922      3049
11  Net other comprehensive (loss)/income for the ...   (8,448)      2873
12                             Balance at 31 December   (2,526)      5922
13                                                NaN      2020      2019
14                                                NaN      $000      $000
15                                      Other reserve       NaN       NaN
16                               Balance at 1 January       325       325
17                             Balance at 31 December       325       325
18                                                NaN      2020      2019
19                                                NaN      $000      $000
20                                              Total       NaN       NaN
21                               Balance at 1 January     35790     44822
22          Net other comprehensive loss for the year  (40,046)   (9,032)
23                             Balance at 31 December   (4,256)     35790
column_numbr_s = [1, 2], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[1], [1]], [['2020'], ['2019']], [[2020], [2019]])
data_row_coords: (1, 4) , particular_end_col: 0 ,particular_start_row: 3
header indices : [1, 2]
key :4_1_5ecaa179-38b1-3174-894a-95022e287906
 date cords : [1, 2] ,([[3], [3]], [['2020'], ['2019']], [[2020], [2019]])
main_page_year_values: {2020: 214911, 2019: 229785.0}
df =                                                     0       1       2
0           4.1 Revenue from contracts with customers     NaN     NaN
1                   Disaggregated revenue information     NaN     NaN
2   Set out below is the disaggregation of the Com...     NaN     NaN
3                                                 NaN    2020    2019
4                                                 NaN    $000    $000
5                                       Type of goods     NaN     NaN
6                                       Sale of goods  214911  229785
7         Total revenue from contracts with customers  214911  229785
8                                Geographical markets     NaN     NaN
9                                               Japan  190814  197789
10                                          Australia   24097   31996
11        Total revenue from contracts with customers  214911  229785
12                              Timing of recognition     NaN     NaN
13               Goods transferred at a point in time  214911  229785
14                Total from contracts with customers  214911  229785
15                                  4.2 Other revenue     NaN     NaN
index dict = {2020: {'row_indices': [6, 7, 11, 13, 14], 'col_indices': [1, 1, 1, 1, 1]}, 2019: {'row_indices': [6, 7, 11, 13, 14], 'col_indices': [2, 2, 2, 2, 2]}}
main_page_year_values: {2020: 775, 2019: 780.0}
df =                                                     0       1       2
0           4.1 Revenue from contracts with customers     NaN     NaN
1                   Disaggregated revenue information     NaN     NaN
2   Set out below is the disaggregation of the Com...     NaN     NaN
3                                                 NaN    2020    2019
4                                                 NaN    $000    $000
5                                       Type of goods     NaN     NaN
6                                       Sale of goods  214911  229785
7         Total revenue from contracts with customers  214911  229785
8                                Geographical markets     NaN     NaN
9                                               Japan  190814  197789
10                                          Australia   24097   31996
11        Total revenue from contracts with customers  214911  229785
12                              Timing of recognition     NaN     NaN
13               Goods transferred at a point in time  214911  229785

/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:609: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():

In [25]:
mp.standardised_cropped_dict

{'6__3a4f44ff-5a7c-3dab-ade6-dd0aa624fd72':                 line_item_0 row_header  value header_col_0 header_col_1  year
 0  Cash at bank and on hand       None  19589         $000         2020  2020
 1  Cash at bank and on hand       None  28259         $000         2019  2019,
 '7__3a4f44ff-5a7c-3dab-ade6-dd0aa624fd72':                            line_item_0 row_header  value header_col_0  \
 0                       GST receivable       None   1697         $000
 1  Related party receivables (Note 20)       None  11927         $000
 2                                Total       None  13624         $000
 3                       GST receivable       None   1390         $000
 4  Related party receivables (Note 20)       None  10609         $000
 5                                Total       None  11999         $000

   header_col_1  year
 0         2020  2020
 1         2020  2020
 2         2020  2020
 3         2019  2019
 4         2019  2019
 5         2019  2019  ,
 '8__3a4f44ff-5a7c-3dab-ade6-dd0aa624fd72':       line_item_0 row_header  value header_col_0 header_col_1  year
 0   Raw materials       None  18547         $000         2020  2020
 1  Finished goods       None   8651         $000         2020  2020
 2           Total       None  27198         $000         2020  2020
 3   Raw materials       None  19816         $000         2019  2019
 4  Finished goods       None   7137         $000         2019  2019
 5           Total       None  26953         $000         2019  2019,
 '9__cb8e6cec-5687-3927-a967-8e037ca2c839':                                   line_item_0   row_header    value  \
 0  Foreign exchange derivatives at fair value      Current      0.0
 1       Electricity derivatives at fair value      Current      0.0
 2                                       Total      Current      0.0
 3       Electricity derivatives at fair value  Non-current      0.0
 4  Foreign exchange derivatives at fair value      Current     51.0
 5       Electricity derivatives at fair value      Current  29702.0
 6                                       Total      Current  29753.0
 7       Electricity derivatives at fair value  Non-current  12453.0

   header_col_0 header_col_1  year
 0         $000         2020  2020
 1         $000         2020  2020
 2         $000         2020  2020
 3         $000         2020  2020
 4         $000         2019  2019
 5         $000         2019  2019
 6         $000         2019  2019
 7         $000         2019  2019  ,
 '11__7e2b209a-fe1c-3f33-a063-f949d7a26f20':          line_item_0 line_item_1      row_header    value header_col_0  \
 0  Aluminium Pty Ltd  Investment  Southern Cross      0.0            %
 1  Aluminium Pty Ltd  Investment  Southern Cross      0.0            %
 2  Aluminium Pty Ltd  Investment  Southern Cross  47672.0         $000
 3  Aluminium Pty Ltd  Investment  Southern Cross  54535.0         $000

   header_col_1        header_col_2  year
 0         2020  Ownership interest  2020
 1         2019  Ownership interest  2019
 2         2020  Ownership interest  2020
 3         2019  Ownership interest  2019  ,
 '11__932dd513-b7c2-3455-803e-d22432f4362f':                                          line_item_0 row_header  value  \
 0                                      At 1. January       None  54535
 1  Share of gain/(loss) of joint venture, net of tax       None   1586
 2    Share of other comprehensive income, net of tax       None  -8448
 3        Carrying value of investment at end of year       None  47672
 4                                      At 1. January       None  59249
 5  Share of gain/(loss) of joint venture, net of tax       None  -7587
 6    Share of other comprehensive income, net of tax       None   2873
 7        Carrying value of investment at end of year       None  54535

   header_col_0 header_col_1  year
 0         $000         2020  2020
 1         $000         2020  2020
 2         $000         2020  2020
 3         $000         2020  2020
 4         $000         2019  2019
 5         $000         2019  2019
 6         $000         2019  2019
 7         $000         2019  2019  ,
 '11__ae9d7085-f39d-30c4-bc30-81afe4906dc7':                                          line_item_0 row_header  value  \
 0  Investment in joint venture (Southern Cross Al...       None  47672
 1  Investment in joint venture (Southern Cross Al...       None  54535

   header_col_0 header_col_1  year
 0         $000         2020  2020
 1         $000         2019  2019  ,
 '12__635bc213-ff15-3cc2-b1f2-cc9772cb371f':                          line_item_0                               row_header  \
 0                  At 1 January 2020                                     Cost
 1                          Additions                                     Cost
 2                          Disposals                                     Cost
 3                           Transfer                                     Cost
 4                At 31 December 2020                                     Cost
 5                   At1 January 2020  Accumulated depreciation and impairment
 6   Depreciation charge for the year  Accumulated depreciation and impairment
 7                        Impairment*  Accumulated depreciation and impairment
 8                          Disposals  Accumulated depreciation and impairment
 9                At 31 December 2020  Accumulated depreciation and impairment
 10               At 31 December 2020                           Net book value
 11               At 31 December 2019                           Net book value
 12                 At 1 January 2020                                     Cost
 13                         Additions                                     Cost
 14                         Disposals                                     Cost
 15                          Transfer                                     Cost
 16               At 31 December 2020                                     Cost
 17                  At1 January 2020  Accumulated depreciation and impairment
 18  Depreciation charge for the year  Accumulated depreciation and impairment
 19                       Impairment*  Accumulated depreciation and impairment
 20                         Disposals  Accumulated depreciation and impairment
 21               At 31 December 2020  Accumulated depreciation and impairment
 22               At 31 December 2020                           Net book value
 23               At 31 December 2019                           Net book value
 24                 At 1 January 2020                                     Cost
 25                         Additions                                     Cost
 26                         Disposals                                     Cost
 27                          Transfer                                     Cost
 28               At 31 December 2020                                     Cost
 29                  At1 January 2020  Accumulated depreciation and impairment
 30  Depreciation charge for the year  Accumulated depreciation and impairment
 31                       Impairment*  Accumulated depreciation and impairment
 32                         Disposals  Accumulated depreciation and impairment
 33               At 31 December 2020  Accumulated depreciation and impairment
 34               At 31 December 2020                           Net book value
 35               At 31 December 2019                           Net book value
 36                 At 1 January 2020                                     Cost
 37                         Additions                                     Cost
 38                         Disposals                                     Cost
 39                          Transfer                                     Cost
 40               At 31 December 2020                                     Cost
 41                  At1 January 2020  Accumulated depreciation and impairment
 42  Depreciation charge for the year  Accumulated depreciation and impairment
 43                       Impairment*  Accumulated depreciation and impairment
 44                         Disposals  Accumulated depreciation and impairment
 45               At 31 December 2020  Accumulated depreciation and impairment
 46               At 31 December 2020                           Net book value
 47               At 31 December 2019                           Net book value
 48                 At 1 January 2020                                     Cost
 49                         Additions                                     Cost
 50                         Disposals                                     Cost
 51                          Transfer                                     Cost
 52               At 31 December 2020                                     Cost
 53                  At1 January 2020  Accumulated depreciation and impairment
 54  Depreciation charge for the year  Accumulated depreciation and impairment
 55                       Impairment*  Accumulated depreciation and impairment
 56                         Disposals  Accumulated depreciation and impairment
 57               At 31 December 2020  Accumulated depreciation and impairment
 58               At 31 December 2020                           Net book value
 59               At 31 December 2019                           Net book value

        value header_col_0                   header_col_1  year
 0    90430.0         $000    Freehold land and buildings   NaN
 1      376.0         $000    Freehold land and buildings   NaN
 2     -149.0         $000    Freehold land and buildings   NaN
 3       74.0         $000    Freehold land and buildings   NaN
 4    90731.0         $000    Freehold land and buildings   NaN
 5    90235.0         $000    Freehold land and buildings   NaN
 6       57.0         $000    Freehold land and buildings   NaN
 7      351.0         $000    Freehold land and buildings   NaN
 8     -154.0         $000    Freehold land and buildings   NaN
 9    90489.0         $000    Freehold land and buildings   NaN
 10     242.0         $000    Freehold land and buildings   NaN
 11     195.0         $000    Freehold land and buildings   NaN
 12  314181.0         $000            Plant and equipment   NaN
 13    5232.0         $000            Plant and equipment   NaN
 14   -1122.0         $000            Plant and equipment   NaN
 15     -74.0         $000            Plant and equipment   NaN
 16  318217.0         $000            Plant and equipment   NaN
 17  312388.0         $000            Plant and equipment   NaN
 18     827.0         $000            Plant and equipment   NaN
 19    4618.0         $000            Plant and equipment   NaN
 20   -1182.0         $000            Plant and equipment   NaN
 21  316651.0         $000            Plant and equipment   NaN
 22    1566.0         $000            Plant and equipment   NaN
 23    1793.0         $000            Plant and equipment   NaN
 24    1628.0         $000  Asset Retirement Obligation**   NaN
 25   34643.0         $000  Asset Retirement Obligation**   NaN
 26       0.0         $000  Asset Retirement Obligation**   NaN
 27       0.0         $000  Asset Retirement Obligation**   NaN
 28   36271.0         $000  Asset Retirement Obligation**   NaN
 29    1628.0         $000  Asset Retirement Obligation**   NaN
 30       0.0         $000  Asset Retirement Obligation**   NaN
 31   20598.0         $000  Asset Retirement Obligation**   NaN
 32       0.0         $000  Asset Retirement Obligation**   NaN
 33   22226.0         $000  Asset Retirement Obligation**   NaN
 34   14045.0         $000  Asset Retirement Obligation**   NaN
 35    1743.0         $000  Asset Retirement Obligation**   NaN
 36    2538.0         $000       Construction in progress   NaN
 37       0.0         $000       Construction in progress   NaN
 38     -65.0         $000       Construction in progress   NaN
 39       0.0         $000       Construction in progress   NaN
 40    2473.0         $000       Construction in progress   NaN
 41     795.0         $000       Construction in progress   NaN
 42       0.0         $000       Construction in progress   NaN
 43       0.0         $000       Construction in progress   NaN
 44       0.0         $000       Construction in progress   NaN
 45     795.0         $000       Construction in progress   NaN
 46    1678.0         $000       Construction in progress   NaN
 47       0.0         $000       Construction in progress   NaN
 48  408777.0         $000                          Total   NaN
 49   40251.0         $000                          Total   NaN
 50   -1336.0         $000                          Total   NaN
 51       0.0         $000                          Total   NaN
 52  447692.0         $000                          Total   NaN
 53  405046.0         $000                          Total   NaN
 54     884.0         $000                          Total   NaN
 55   25567.0         $000                          Total   NaN
 56   -1336.0         $000                          Total   NaN
 57  430161.0         $000                          Total   NaN
 58   17531.0         $000                          Total   NaN
 59    3731.0         $000                          Total   NaN  ,
 '5__847077db-c866-3632-abc5-acb7e81815d7':                                          line_item_0  \
 0                         Current income tax benefit
 1  Adjustments in respect of current income tax o...
 2  Origination and reversal of temporary differences
 3                               comprehensive income
 4                         Current income tax benefit
 5  Adjustments in respect of current income tax o...
 6  Origination and reversal of temporary differences
 7                               comprehensive income

                                           row_header   value header_col_0  \
 0                                Current income tax:  5119.0         $000
 1                                Current income tax:    71.0         $000
 2                               Deferred income tax:  3027.0         $000
 3  Income tax benefit reported in the statement o...  8217.0         $000
 4                                Current income tax:  5473.0         $000
 5                                Current income tax:     0.0         $000
 6                               Deferred income tax: -1529.0         $000
 7  Income tax benefit reported in the statement o...  3944.0         $000

   header_col_1  year
 0         2020  2020
 1         2020  2020
 2         2020  2020
 3         2020  2020
 4         2019  2019
 5         2019  2019
 6         2019  2019
 7         2019  2019  ,
 '5__27f4d3f8-ae13-3c09-923c-8d755799b5cd':                                           line_item_0 row_header    value  \
 0                   Accounting loss before income tax       None -28082.0
 1   At Australia's statutory income tax rate of 30...       None   8425.0
 2             Amounts not deductible for tax purposes       None   -192.0
 3   Adjustments in respect of current income tax o...       None     71.0
 4                                              Others       None    -87.0
 5       Income tax benefit reported in profit or loss       None  -8217.0
 6                   Accounting loss before income tax       None -20678.0
 7   At Australia's statutory income tax rate of 30...       None   6203.0
 8             Amounts not deductible for tax purposes       None  -2276.0
 9   Adjustments in respect of current income tax o...       None      0.0
 10                                             Others       None     17.0
 11      Income tax benefit reported in profit or loss       None  -3944.0

    header_col_0 header_col_1  year
 0          $000         2020  2020
 1          $000         2020  2020
 2          $000         2020  2020
 3          $000         2020  2020
 4          $000         2020  2020
 5          $000         2020  2020
 6          $000         2019  2019
 7          $000         2019  2019
 8          $000         2019  2019
 9          $000         2019  2019
 10         $000         2019  2019
 11         $000         2019  2019  ,
 '5__89972ffe-3cfc-3aac-a84f-158e988630df':                                          line_item_0 row_header  value  \
 0                                    As of 1 January       None -11017
 1  Income tax benefit during the year recognised ...       None   3027
 2  Income tax benefit during the year recognised ...       None  13747
 3                                  As at 31 December       None   5757
 4                                    As of 1 January       None -14534
 5  Income tax benefit during the year recognised ...       None  -1529
 6  Income tax benefit during the year recognised ...       None   5046
 7                                  As at 31 December       None -11017

   header_col_0 header_col_1  year
 0         $000         2020  2020
 1         $000         2020  2020
 2         $000         2020  2020
 3         $000         2020  2020
 4         $000         2019  2019
 5         $000         2019  2019
 6         $000         2019  2019
 7         $000         2019  2019  ,
 '5__b272e5cf-a6ec-3c7b-b161-cb543e85033e':                                line_item_0   row_header    value header_col_0  \
 0              Trade and other receivables         None     40.0         $000
 1                         Financial assets         None      0.0         $000
 2            Property, plant and equipment         None   6559.0         $000
 3                      Right-of-use assets         None   -302.0         $000
 4                             Other assets         None -13952.0         $000
 ..                                     ...          ...      ...          ...
 59                    Deferred tax benefit         None   3517.0         $000
 60   Net deferred tax assets/(liabilities)         None      0.0         $000
 61                     Deferred tax assets  as follows:      0.0         $000
 62                Deferred tax liabilities  as follows:      0.0         $000
 63  Deferred tax assets/(liabilities), net  as follows:      0.0         $000

    header_col_1                                       header_col_2  year
 0          2020  Statement of profit or loss Statement of finan...  2020
 1          2020  Statement of profit or loss Statement of finan...  2020
 2          2020  Statement of profit or loss Statement of finan...  2020
 3          2020  Statement of profit or loss Statement of finan...  2020
 4          2020  Statement of profit or loss Statement of finan...  2020
 ..          ...                                                ...   ...
 59         2019  Statement of profit or loss Statement of finan...  2019
 60         2019  Statement of profit or loss Statement of finan...  2019
 61         2019  Statement of profit or loss Statement of finan...  2019
 62         2019  Statement of profit or loss Statement of finan...  2019
 63         2019  Statement of profit or loss Statement of finan...  2019

 [64 rows x 7 columns],
 '16__71beeaeb-102d-3b4c-9b48-e2cd37345b0a':        line_item_0 row_header   value header_col_0 header_col_1  year
 0  Bank borrowings       None     0.0         $000         2020  2020
 1  Bank borrowings       None  4000.0         $000         2019  2019,
 '16__61a3a5a3-7245-3dbb-908d-9aaa1a2ce543':                line_item_0             line_item_1 row_header    value  \
 0         Total facilities        Total facilities       None  52100.0
 1                 Utilised                     NaN       None      0.0
 2                 Utilised         bank guarantees       None   3273.0
 3   Balance at 31 December  Balance at 31 December       None  48827.0
 4         Total facilities        Total facilities       None  13500.0
 5                 Utilised                     NaN       None      0.0
 6                 Utilised         bank guarantees       None  13500.0

In [21]:
cbs_dict.keys()

dict_keys([7])

In [22]:
cbs_page = list(cbs_dict.keys())[0]

In [23]:
cbs_dict[cbs_page].columns = cbs_dict[cbs_page].columns.map(str)

In [24]:
obj_cbs_mapping = CBSMapping(cbs_df=cbs_dict[cbs_page],notes_ref_dict=mp.notes_ref_dict,notes_region_meta_data=mp.notes_region_meta_data,standardised_cropped_dict=mp.standardised_cropped_dict,standard_note_meta_dict=mp.standard_note_meta_dict,transformed_standardised_cropped_dict=mp.transformed_standardised_cropped_dict,month=mp.month)

In [12]:
obj_cbs_mapping.trigger_job()

/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)

/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)

/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/mgsuser01/AI/testing_code/main_page_processing_service/DataBucketingUtils.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)

In [13]:
obj_cbs_mapping.standard_note_meta_dict

{'9__2907c6e1-c5af-3a2c-9386-8e928a5b4856': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 4,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [3],
  'year_column_header_name': 'header_col_1'},
 '10__337809a3-e747-3365-b7af-3e12761343fa': {'date_column_number': [2, 3],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 2,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '10__2ecaa2bc-d99e-3faf-b49f-9361813860bf': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 5,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [3, 4, 11],
  'year_column_header_name': 'header_col_1'},
 '11__e24b7a82-38f4-3ff3-b543-f3b4139dc216': {'date_column_number': [0, 1],
  'date_row_number': [[3], [1]],
  'date_raw_text': [['2022 2021']],
  'date_extracted_year': [[2022]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [1, 2],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '12__3387dc3c-d5df-344a-9c7d-1139bed0f1fd': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 4,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [3],
  'year_column_header_name': 'header_col_1'},
 '13__dc5f73c6-7457-3bd1-80b2-8a9296eb3fad': {'date_column_number': [0, 0, 1],
  'date_row_number': [[1], [1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [1, 2],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '14__a5b71f98-b1e1-368e-a683-4d2530e07242': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '14__246af9d8-17fb-38ca-8a55-9a9305ee9410': {'date_column_number': [0],
  'date_row_number': [10, 2],
  'date_raw_text': ['2022 Balance at 31 December 2022',
   '2021 Balance at 1 January 2022'],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 2,
  'data_particular_end_col': 0,
  'data_particular_start_row': 1,
  'header_indices': [0],
  'row_header_indices': [1, 4],
  'year_column_header_name': ''},
 '15__825c2d5e-c9a0-3ba0-b638-eb87f77ee600': {'date_column_number': [0],
  'date_row_number': [8, 3],
  'date_raw_text': ['2022 Balance at 31 December 2022',
   '2021 Balance at 1 January 2022'],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [],
  'year_column_header_name': ''},
 '15__0b5acc8b-a47d-3895-a8fa-afbf54eac683': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '16__ea457c17-127a-34d7-b893-8c308f93b94b': {'date_column_number': [0],
  'date_row_number': [7, 1],
  'date_raw_text': ['2022 Balance at 31 December 2022',
   '2021 Balance at 1 January 2022'],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 1,
  'data_particular_end_col': 0,
  'data_particular_start_row': 1,
  'header_indices': [0],
  'row_header_indices': [3],
  'year_column_header_name': ''},
 '16__f442e2e6-be4b-39cc-aa76-98dc4afbee12': {'date_column_number': [2, 3],
  'date_row_number': [[2], [2]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 2,
  'data_first_row': 4,
  'data_particular_end_col': 0,
  'data_particular_start_row': 4,
  'header_indices': [1, 2, 3],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '17__50050983-9b51-373b-8439-20304adcd2a5': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 5,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [3, 4, 14, 18],
  'year_column_header_name': 'header_col_1'},
 '18__987e9f24-b5e8-3af2-92d2-835e37df6cdc': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '20__0d3d40be-5493-38cf-ace1-16506aad7960': {'date_column_number': [0, 0, 1],
  'date_row_number': [[1], [1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [1, 2],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '21__fab23a5b-fc39-3927-8053-120fd17f91b4': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [4],
  'year_column_header_name': 'header_col_1'},
 '22__fab23a5b-fc39-3927-8053-120fd17f91b4': {'date_column_number': [1, 2],
  'date_row_number': [[2], [2]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 4,
  'data_particular_end_col': 0,
  'data_particular_start_row': 4,
  'header_indices': [1, 2, 3],
  'row_header_indices': [5, 6, 11],
  'year_column_header_name': 'header_col_1'},
 '23__fab23a5b-fc39-3927-8053-120fd17f91b4': {'date_column_number': [1, 2],
  'date_row_number': [[2], [2]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 6,
  'data_particular_end_col': 0,
  'data_particular_start_row': 4,
  'header_indices': [1, 2, 3],
  'row_header_indices': [4, 5, 14],
  'year_column_header_name': 'header_col_1'},
 '24__43be20d6-4739-3014-b925-b7a7694d52f3': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 4,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [3],
  'year_column_header_name': 'header_col_1'},
 '24__72bfe071-86b1-3773-9a7b-00a8b43c0195': {'date_column_number': [],
  'date_row_number': [],
  'date_raw_text': [],
  'date_extracted_year': [],
  'data_first_column': 1,
  'data_first_row': 2,
  'data_particular_end_col': 0,
  'data_particular_start_row': 2,
  'header_indices': [0, 1],
  'row_header_indices': [6, 7],
  'year_column_header_name': ''},
 '25__72bfe071-86b1-3773-9a7b-00a8b43c0195': {'date_column_number': [1,
   2,
   3,
   4],
  'date_row_number': [[2], [2], [2], [2]],
  'date_raw_text': [['2022'], ['2021'], ['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021], [2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 4,
  'data_particular_end_col': 0,
  'data_particular_start_row': 4,
  'header_indices': [1, 2, 3],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '26__7944247c-4e65-3846-9c57-8f0b9d75ebf0': {'date_column_number': [1, 3],
  'date_row_number': [[0], [0]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 4,
  'data_particular_end_col': 0,
  'data_particular_start_row': 4,
  'header_indices': [0, 1, 2, 3],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_3'},
 '26__a8ef77f5-2141-33aa-8a1c-d28f6229de4a': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '5__92a39055-a2bc-3148-b588-b548abb15265': {'date_column_number': [1, 2],
  'date_row_number': [[2], [2]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 5,
  'data_particular_end_col': 0,
  'data_particular_start_row': 4,
  'header_indices': [1, 2, 3],
  'row_header_indices': [4, 8],
  'year_column_header_name': 'header_col_1'},
 '8__58425885-756c-3f02-b3ef-03d03ffaa334': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 4,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [3, 8, 12, 15],
  'year_column_header_name': 'header_col_1'},
 '27__f241d4c7-1a79-3978-b2c6-863f995dfc53': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '27__36738e79-7a3a-3c13-bf4b-5dac110a090c': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'}}

In [13]:
list(mp.notes_ref_dict.get('cbs')[0]["year_values"].keys())

TypeError: 'NoneType' object is not subscriptable

In [14]:
mp.notes_ref_dict

{}

In [14]:
obj_cbs_mapping.bs_bucket_dict

{'ca_cash_and_cash_equivalents': {'main_page_row_indices': [2],
  'main_page_year_total': [119092.0, 76310.0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Cash and cash equivalents'],
  'main_page_value_list': [[119092.0], [76310.0]],
  'main_page_cropped_df': [],
  'notes_table_df': [],
  'notes_horizontal_table_df':                                            line_item    2021   2022
  0       Consolidated $'000 Cash on hand Cash at bank   43482  18283
  1  Consolidated $'000 Cash on hand Short-term dep...   75609  58026
  2              Consolidated $'000 Cash on hand Total  119092  76310},
 'ca_inventories': {'main_page_row_indices': [5],
  'main_page_year_total': [67918.0, 105830.0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Inventories'],
  'main_page_value_list': [[67918.0], [105830.0]],
  'main_page_cropped_df': [],
  'notes_table_df': [],
  'notes_horizontal_table_df':                   line_item   2022
  0   $'000 $'000 None 112774  73348
  1  $'000 $'000 None (6,944)  -5430
  2   $'000 $'000 None 105830  67918},
 'ca_prepaid_expenses': {'main_page_row_indices': [1],
  'main_page_year_total': [0.0, 0.0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Current assets'],
  'main_page_value_list': [[0.0], [0.0]],
  'main_page_cropped_df': [],
  'notes_table_df': [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'ca_other_current_assets': {'main_page_row_indices': [1, 3],
  'main_page_year_total': [186308.0, 263120.0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Current assets',
   'Trade and other receivables'],
  'main_page_value_list': [[0.0, 186308.0], [0.0, 263120.0]],
  'main_page_cropped_df': [],
  'notes_table_df': [],
  'notes_horizontal_table_df':                                            line_item      2021      2022
  0  Consolidated $'000 Committed at the reporting ...    108325    100117
  1  Consolidated $'000 Committed at the reporting ...    144322    143549
  2  Consolidated $'000 Committed at the reporting ...       827       799
  3  Consolidated $'000 Committed at the reporting ...    253474    244465
  4  Consolidated $'000 Committed at the reporting ...    -48261    -48360
  5  Consolidated $'000 Committed at the reporting ...    205213    196105
  6  Consolidated $'000 Representing: Lease receiva...     91600     86029
  7  Consolidated $'000 Representing: Finance lease...    113613    109942
  8             Consolidated $'000 Representing: Total    205213    195971
  0          Consolidated $'000 None Trade receivables   97921.0  118961.0
  1  Consolidated $'000 None Less: Allowance for ex...   -1646.0   -1765.0
  2                      Consolidated $'000 None Total  186308.0  263120.0
  3          Consolidated $'000 None Lease receivables   91600.0   86029.0
  4  Consolidated $'000 None Receivable from relate...     360.0    1329.0
  5          Consolidated $'000 None Other receivables    3132.0    2422.0
  6  Consolidated $'000 None Loans receivable (note...       0.0   60000.0
  0                                  $'000 None 109942    113613       NaN
  1                                 $'000 None (2,584)     -2317       NaN
  2                                  $'000 None 107358    111296       NaN},
 'ca_total_current_assets': {'main_page_row_indices': [1],
  'main_page_year_total': [0.0, 0.0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Current assets'],
  'main_page_value_list': [[0.0], [0.0]],
  'main_page_cropped_df': [],
  'notes_table_df': [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'nca_accumulated_depreciation': {'main_page_row_indices': [10],
  'main_page_year_total': [28627.0, 27543.0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Property, plant and equipment'],
  'main_page_value_list': [[28627.0], [27543.0]],
  'main_page_cropped_df': [],
  'notes_table_df': [],
  'notes_horizontal_table_df':                                            line_item     2021     2022
  0  Consolidated $'000 None Less: Accumulated depr... -13642.0 -12685.0},
 'nca_net_ppe': {'main_page_row_indices': [10],
  'main_page_year_total': [28627.0, 27543.0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Property, plant and equipment'],
  'main_page_value_list': [[28627.0], [27543.0]],
  'main_page_cropped_df': [],
  'notes_table_df': [],
  'notes_horizontal_table_df':                                             line_item     2021     2022
  0   Consolidated $'000 None Leasehold improvements...  32454.0  33573.0
  1   Consolidated $'000 None Less: Accumulated depr... -13642.0 -12685.0
  2                       Consolidated $'000 None Total  28627.0  27543.0
  3      Consolidated $'000 None Motor vehicles at cost      0.0   3687.0
  4   Consolidated $'000 None Office equipment - at ...  39131.0  39604.0
  5       Consolidated $'000 None Rental assets at cost  19696.0  17069.0
  6   Consolidated $'000 None Construction in progre...    631.0   3211.0
  0   Leasehold improvements $'000 Total 2021 Balanc...  13552.0      NaN
  1        Leasehold improvements $'000 Total Additions      NaN   3392.0
  2   Leasehold improvements $'000 Additions through...      NaN      1.0
  3   Leasehold improvements $'000 Additions through...      NaN    -63.0
  4   Leasehold improvements $'000 Additions through...      NaN    -24.0
  5   Leasehold improvements $'000 Additions through...      NaN   -290.0
  6   Leasehold improvements $'000 Additions through...      NaN  -3610.0
  7   Leasehold improvements $'000 Additions through...      NaN  12958.0
  8   Motor vehicles $'000 Total 2021 Balance at 1 J...    986.0     None
  9                Motor vehicles $'000 Total Additions      NaN    815.0
  10  Motor vehicles $'000 Additions through busines...      NaN      0.0
  11  Motor vehicles $'000 Additions through busines...      NaN      0.0
  12  Motor vehicles $'000 Additions through busines...      NaN    -13.0
  13  Motor vehicles $'000 Additions through busines...      NaN    -23.0
  14  Motor vehicles $'000 Additions through busines...      NaN   -694.0
  15  Motor vehicles $'000 Additions through busines...      NaN   1071.0
  16  Office equipment $'000 Total 2021 Balance at 1...   7404.0     None
  17             Office equipment $'000 Total Additions      NaN   1815.0
  18  Office equipment $'000 Additions through busin...      NaN      0.0
  19  Office equipment $'000 Additions through busin...      NaN    -42.0
  20  Office equipment $'000 Additions through busin...      NaN    -21.0
  21  Office equipment $'000 Additions through busin...      NaN   -105.0
  22  Office equipment $'000 Additions through busin...      NaN  -3132.0
  23  Office equipment $'000 Additions through busin...      NaN   5919.0
  24  Rental assets $'000 Total 2021 Balance at 1 Ja...   6054.0     None
  25                Rental assets $'000 Total Additions      NaN   1257.0
  26  Rental assets $'000 Additions through business...      NaN      0.0
  27  Rental assets $'000 Additions through business...      NaN      0.0
  28  Rental assets $'000 Additions through business...      NaN    -44.0
  29  Rental assets $'000 Additions through business...      NaN   -258.0
  30  Rental assets $'000 Additions through business...      NaN  -2625.0
  31  Rental assets $'000 Additions through business...      NaN   4384.0
  32  Construction in progress $'000 Total 2021 Bala...    631.0     None
  33     Construction in progress $'000 Total Additions      NaN   2560.0
  34  Construction in progress $'000 Additions throu...      NaN      0.0
  35  Construction in progress $'000 Additions throu...      NaN      0.0
  36  Construction in progress $'000 Additions throu...      NaN     20.0
  37  Construction in progress $'000 Additions throu...      NaN      0.0
  38  Construction in progress $'000 Additions throu...      NaN      0.0
  39  Construction in progress $'000 Additions throu...      NaN   3211.0
  40   Total $'000 Total 2021 Balance at 1 January 2022  28627.0     None
  41                        Total $'000 Total Additions      NaN   9839.0
  42  Total $'000 Additions through business combina...      NaN      0.0
  43   Total $'000 Additions through business Disposals      NaN   -105.0
  44  Total $'000 Additions through business Foreign...      NaN    -82.0
  45  Total $'000 Additions through business Write o...      NaN   -676.0
  46  Total $'000 Additions through business Depreci...      NaN -10061.0
  47  Total $'000 Additions through business 2022 Ba...      NaN  27543.0},
 'nca_other_tangible_assets': {'main_page_row_indices': [11],
  'main_page_year_total': [34198.0, 52057.0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Right-of-use assets'],
  'main_page_value_list': [[34198.0], [52057.0]],
  'main_page_cropped_df': [],
  'notes_table_df': [],
  'notes_horizontal_table_df':                                             line_item     2021     2022
  0   Consolidated $'000 None Land and buildings rig...    71337    89247
  1   Consolidated $'000 None Less: Accumulated depr...   -37433   -39640
  2                       Consolidated $'000 None Total    34198    52057
  3   Consolidated $'000 None Plant and equipment ri...     -694    -3730
  0   Land and buildings $'000 None 2021 Balance at ...  33904.0      NaN
  1             Land and buildings $'000 None Additions      NaN  28348.0
  2   Land and buildings $'000 None Lease modifications      NaN   3123.0
  3    Land and buildings $'000 None Lease terminations      NaN  -2830.0
  4   Land and buildings $'000 None Depreciation exp...      NaN -12938.0
  5   Land and buildings $'000 None 2022 Balance at ...      NaN  49607.0
  6   Plant and equipment $'000 None 2021 Balance at...    294.0     None
  7            Plant and equipment $'000 None Additions      NaN   1038.0
  8   Plant and equipment $'000 None Lease modificat...      NaN   2535.0
  9   Plant and equipment $'000 None Lease terminations      NaN      0.0
  10  Plant and equipment $'000 None Depreciation ex...      NaN  -1417.0
  11  Plant and equipment $'000 None 2022 Balance at...      NaN   2450.0
  12  Plant and Total $'000 None 2021 Balance at 1 J...  34198.0     None
  13               Plant and Total $'000 None Additions      NaN  29386.0
  14     Plant and Total $'000 None Lease modifications      NaN   5658.0
  15      Plant and Total $'000 None Lease terminations      NaN  -2830.0
  16    Plant and Total $'000 None Depreciation expense      NaN -14355.0
  17  Plant and Total $'000 None 2022 Balance at 31 ...      NaN  52057.0},
 'nca_tangible_assets': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'main_page_cropped_df': [],
  'notes_table_df': [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'nca_goodwill': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'main_page_cropped_df': [],
  'notes_table_df': [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'nca_other_intangible_assets': {'main_page_row_indices': [12],
  'main_page_year_total': [95613.0, 92689.0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Intangibles'],
  'main_page_value_list': [[95613.0], [92689.0]],
  'main_page_cropped_df': [],
  'notes_table_df': [],
  'notes_horizontal_table_df':                                             line_item     2021     2022
  0   Goodwill $'000 None 2021 Balance at 1 January ...  81052.0      NaN
  1                       Goodwill $'000 None Additions      NaN      0.0
  2   Goodwill $'000 Additions through business comb...      NaN   3767.0
  3   Goodwill $'000 Additions through business comb...      NaN      0.0
  4   Goodwill $'000 Additions through business comb...      NaN      0.0
  5   Goodwill $'000 Additions through business comb...      NaN  84819.0
  6   Software $'000 None 2021 Balance at 1 January ...   8386.0     None
  7                       Software $'000 None Additions      NaN    798.0
  8   Software $'000 Additions through business comb...      NaN      0.0
  9   Software $'000 Additions through business comb...      NaN     -5.0
  10  Software $'000 Additions through business comb...      NaN  -6622.0
  11  Software $'000 Additions through business comb...      NaN   2557.0
  12   Brands $'000 None 2021 Balance at 1 January 2022      0.0     None
  13                        Brands $'000 None Additions      NaN      0.0
  14  Brands $'000 Additions through business combin...      NaN    226.0
  15  Brands $'000 Additions through business combin...      NaN      0.0
  16  Brands $'000 Additions through business combin...      NaN   -113.0
  17  Brands $'000 Additions through business combin...      NaN    113.0
  18  contracts $'000 None 2021 Balance at 1 January...   6175.0     None
  19                     contracts $'000 None Additions      NaN      0.0
  20  contracts $'000 Additions through business com...      NaN    999.0
  21  contracts $'000 Additions through business com...      NaN      0.0
  22  contracts $'000 Additions through business com...      NaN  -1974.0
  23  contracts $'000 Additions through business com...      NaN   5200.0
  24    Total $'000 None 2021 Balance at 1 January 2022  95613.0     None
  25                         Total $'000 None Additions      NaN    798.0
  26  Total $'000 Additions through business combina...      NaN   4992.0
  27  Total $'000 Additions through business combina...      NaN     -5.0
  28  Total $'000 Additions through business combina...      NaN  -8709.0
  29  Total $'000 Additions through business combina...      NaN  92689.0
  0          Consolidated $'000 None Goodwill - at cost  81052.0  84819.0
  1            Consolidated $'000 None Software at cost      0.0      0.0
  2   Consolidated $'000 None Less: Accumulated amor... -11703.0 -13677.0
  3                       Consolidated $'000 None Total  95613.0  92689.0
  4              Consolidated $'000 None Brands at cost    649.0    875.0
  5   Consolidated $'000 None Customer contracts at ...  17878.0  18877.0},
 'nca_intangible_assets': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'main_page_cropped_df': [],
  'notes_table_df': [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'nca_investments': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'main_page_cropped_df': [],
  'notes_table_df': [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'nca_deffered_charges': {'main_page_row_indices': [13],
  'main_page_year_total': [1850.0, 1918.0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Deferred tax assets'],
  'main_page_value_list': [[1850.0], [1918.0]],
  'main_page_cropped_df': [],
  'notes_table_df': [],
  'notes_horizontal_table_df':                                             line_item    2021    2022
  0   Consolidated $'000 Amounts recognised in profi...    1085    1755
  1   Consolidated $'000 Amounts recognised in profi...    1625    1775
  2   Consolidated $'000 Amounts recognised in profi...    8291    9284
  3   Consolidated $'000 Amounts recognised in profi...    2606    1884
  4   Consolidated $'000 Amounts recognised in profi...    1340    1266
  5   Consolidated $'000 Amounts recognised in profi...    4446    4366
  6   Consolidated $'000 Amounts recognised in profi...   14236   15617
  7   Consolidated $'000 Amounts recognised in profi...  -31779  -34029
  8   Consolidated $'000 Amounts recognised in profi...    1850    1918
  9       Consolidated $'000 Movements: Opening balance    1362    1850
  10  Consolidated $'000 Movements: Credited to prof...     488      68
  11      Consolidated $'000 Movements: Closing balance    1850    1918},
 'nca_other_assets': {'main_page_row_indices': [8],
  'main_page_year_total': [0.0, 0.0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Non-current assets'],
  'main_page_value_list': [[0.0], [0.0]],
  'main_page_cropped_df': [],
  'notes_table_df': [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'nca_total_non_current_assets': {'main_page_row_indices': [8],
  'main_page_year_total': [0.0, 0.0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Non-current assets'],
  'main_page_value_list': [[0.0], [0.0]],
  'main_page_cropped_df': [],
  'notes_table_df': [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'cl_short_term_debt': {'main_page_row_indices': [21],
  'main_page_year_total': [12196.0, 13803.0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Lease liabilities'],
  'main_page_value_list': [[12196.0], [13803.0]],
  'main_page_cropped_df': [],
  'notes_table_df': [],
  'notes_horizontal_table_df':                                            line_item   2021   2022
  0            Consolidated $'000 None Lease liability  24944  39474
  1  Consolidated $'000 Future lease payments are d...  12147  13803
  2  Consolidated $'000 Future lease payments are d...  23015  19850
  3  Consolidated $'000 Future lease payments are d...   1929  19624
  4  Consolidated $'000 Future lease payments are d...  37091  53277},
 'cl_long_term_debt_due_in_year': {'main_page_row_indices': [18],
  'main_page_year_total': [0.0, 0.0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Current liabilities'],
  'main_page_value_list': [[0.0], [0.0]],
  'main_page_cropped_df': [],
  'notes_table_df': [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'cl_note_payable_debt': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'main_page_cropped_df': [],
  'notes_table_df': [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'cl_accounts_payable': {'main_page_row_indices': [19],
  'main_page_year_total': [79504.0, 164686.0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Trade and other payables'],
  'main_page_value_list': [[79504.0], [164686.0]],
  'main_page_cropped_df': [],
  'notes_table_df': [],
  'notes_horizontal_table_df':                                            line_item   2021    2022
  0             Consolidated $'000 None Trade payables   7526   11624
  1  Consolidated $'000 None Payables to related party  17137   91986
  2  Consolidated $'000 None Other payables and acc...  50564   57125
  3                Consolidated $'000 None BAS payable   4277    3951
  4                      Consolidated $'000 None Total  79504  164686

In [13]:
from IPython.display import display
display(obj_cbs_mapping.bs_bucket_dict.get("nca_accumulated_depreciation")["notes_horizontal_table_df"])

                                            line_item      2020
0   Freehold land and buildings  Accumulated depre...   90235.0
1   Freehold land and buildings  Accumulated depre...      57.0
2   Freehold land and buildings  Accumulated depre...     351.0
3   Freehold land and buildings  Accumulated depre...    -154.0
4   Freehold land and buildings  Accumulated depre...   90489.0
5   Plant and equipment  Accumulated depreciation ...  312388.0
6   Plant and equipment  Accumulated depreciation ...     827.0
7   Plant and equipment  Accumulated depreciation ...    4618.0
8   Plant and equipment  Accumulated depreciation ...   -1182.0
9   Plant and equipment  Accumulated depreciation ...  316651.0
10  Asset Retirement Obligation**  Accumulated dep...    1628.0
11  Asset Retirement Obligation**  Accumulated dep...   20598.0
12  Asset Retirement Obligation**  Accumulated dep...   22226.0

In [20]:
from TechMagicFuzzy import TechMagicFuzzy
obj_tm = TechMagicFuzzy()

In [21]:
str_tetx = "Freehold land and buildings Cost At 1 January 2020"

In [24]:
res_fuzz_match = obj_tm.partial_ratio_pro(str_tetx, ["cost","gross"])

In [15]:
# obj_cbs_mapping.bs_bucket_dict

In [22]:
strin

'  Related party receivables (Note 20)'

In [91]:
display(obj_cbs_mapping.bs_bucket_dict['nca_investments']['notes_table_df'])

,raw_note_no,note_no,subnote_no,line_item,year,value
0,11,11,,$000 At 1 January,2020,54535
1,11,11,,"$000 Share of gain/(loss) of joint venture, n...",2020,1586
2,11,11,,"$000 Share of other comprehensive income, net...",2020,-8448
3,11,11,,$000 Carrying value of investment at end of year,2020,47672
4,11,11,,$000 At 1 January,2019,59249
5,11,11,,"$000 Share of gain/(loss) of joint venture, n...",2019,-7587
6,11,11,,"$000 Share of other comprehensive income, net...",2019,2873
7,11,11,,$000 Carrying value of investment at end of year,2019,54535
8,11,11,,$000 Investment in joint venture (Southern Cr...,2020,47672
9,11,11,,$000 Investment in joint venture (Southern Cr...,2019,54535
10,11,11,,Ownership interest % Southern Cross Southern C...,2020,0.0
11,11,11,,Ownership interest % Southern Cross Aluminium ...,2020,0.0
12,11,11,,Ownership interest % Southern Cross Southern C...,2019,0.0
13,11,11,,Ownership interest % Southern Cross Aluminium ...,2019,0.0
14,11,11,,Ownership interest $000 Southern Cross Souther...,2020,0.0
15,11,11,,Ownership interest $000 Southern Cross Alumini...,2020,47672.0
16,11,11,,Ownership interest $000 Southern Cross Souther...,2019,0.0
17,11,11,,Ownership interest $000 Southern Cross Alumini...,2019,54535.0

In [12]:
a = ['ada','iii']
b = ['adad','ppp']
for x,y in zip(a,b):
    print(x)
    print(y)

ada
adad
iii
ppp

In [13]:
##dev code

In [14]:
from TechMagicFuzzy import TechMagicFuzzy

In [15]:
obj_techfuzzy = TechMagicFuzzy()

In [16]:
text1 = "Trade and Other receivabkles"
keywords1 = ["current"]
text2 = " Trade and Other receivabkles add ada"

In [17]:
obj_techfuzzy.partial_ratio_pro(text1, keywords1)

[('current', 43)]

In [18]:
obj_techfuzzy.token_sort_pro(text1, keywords1)

[('current', 24)]

In [19]:
from fuzzywuzzy import fuzz

In [20]:
fuzz.ratio(text1,text2)

86

In [21]:
from itertools import chain

list(chain.from_iterable([[2,4,6]]))

[2, 4, 6]

In [22]:
list(chain.from_iterable([2,4,6]))

TypeError: 'int' object is not iterable

In [ ]:
list(chain(*[[2,4,6]]))

In [ ]:
list(chain(*[2,4,6]))

In [ ]:
from operator import add
import functools

In [ ]:
functools.reduce(add, [[2,4,6]])

In [ ]:
import numpy as np

In [ ]:
import uuid
from uuid import UUID

In [ ]:
b = [list([UUID('6354e3c7-4619-3a07-b336-df681451d867'), UUID('6354e3c7-4619-3a07-b336-df681451d867')])]

In [ ]:
len(b)

In [ ]:
b

In [102]:
test_notetable = obj_cbs_mapping.bs_bucket_dict['nca_net_ppe']['notes_table_df']

In [103]:
test_notetable

,raw_note_no,note_no,subnote_no,line_item,year,value
0,12,12,,Freehold land and buildings $000 Cost Cost,2020.0,0.0
1,12,12,,Freehold land and buildings $000 Cost At 1 Jan...,2020.0,90430.0
2,12,12,,Freehold land and buildings $000 Cost Additions,2020.0,376.0
3,12,12,,Freehold land and buildings $000 Cost Disposals,2020.0,-149.0
4,12,12,,Freehold land and buildings $000 Cost Transfer,2020.0,74.0
...,...,...,...,...,...,...
70,12,12,,Total $000 Accumulated depreciation and impair...,2020.0,-1336.0
71,12,12,,Total $000 Accumulated depreciation and impair...,2020.0,430161.0
72,12,12,,Total $000 Net book value Net book value,2020.0,0.0
73,12,12,,Total $000 Net book value At 31 December 2020,2020.0,17531.0
74,12,12,,Total $000 Net book value At 31 December 2019,2019.0,3731.0

In [104]:
sorted(list(test_notetable.year.unique()))

[2019.0, 2020.0]

In [112]:
years = sorted(list(test_notetable.year.unique()))
years = map(int, years)

In [113]:
col_list = ["line_item"]
col_list.extend(years)

In [114]:
col_list

['line_item', 2019, 2020]

In [115]:
new_horizontal_note_df

                                            line_item  2019.0    2020.0
0          Freehold land and buildings $000 Cost Cost     NaN       0.0
1   Freehold land and buildings $000 Cost At 1 Jan...     NaN   90430.0
2     Freehold land and buildings $000 Cost Additions     NaN     376.0
3     Freehold land and buildings $000 Cost Disposals     NaN    -149.0
4      Freehold land and buildings $000 Cost Transfer     NaN      74.0
..                                                ...     ...       ...
70  Total $000 Accumulated depreciation and impair...     NaN   -1336.0
71  Total $000 Accumulated depreciation and impair...     NaN  430161.0
72           Total $000 Net book value Net book value     NaN       0.0
73      Total $000 Net book value At 31 December 2020     NaN   17531.0
74      Total $000 Net book value At 31 December 2019  3731.0      None

[75 rows x 3 columns]

In [116]:
new_horizontal_note_df = pd.DataFrame(columns=col_list)
for idx,row in test_notetable.iterrows():
    # print(row)
    if row["line_item"] in set(new_horizontal_note_df['line_item']):
        new_horizontal_note_df.loc[new_horizontal_note_df.line_item == row["line_item"],row["year"]] = row["value"]
    else:
        tmp_df = dict.fromkeys(col_list)
        tmp_df["line_item"] =  row["line_item"]
        tmp_df[row["year"]] = row["value"]
        display(tmp_df)
        # print(tmp_df)
        new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Cost Cost',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Cost At 1 January 2020',
 2019: None,
 2020: 90430.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Cost Additions',
 2019: None,
 2020: 376.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Cost Disposals',
 2019: None,
 2020: -149.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Cost Transfer',
 2019: None,
 2020: 74.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Cost At 31 December 2020',
 2019: None,
 2020: 90731.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Accumulated depreciation and impairment Accumulated depreciation and impairment',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Accumulated depreciation and impairment At1 January 2020',
 2019: None,
 2020: 90235.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Accumulated depreciation and impairment Depreciation charge for the year',
 2019: None,
 2020: 57.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Accumulated depreciation and impairment Impairment*',
 2019: None,
 2020: 351.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Accumulated depreciation and impairment Disposals',
 2019: None,
 2020: -154.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Accumulated depreciation and impairment At 31 December 2020',
 2019: None,
 2020: 90489.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Net book value Net book value',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Net book value At 31 December 2020',
 2019: None,
 2020: 242.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Net book value At 31 December 2019',
 2019: 195.0,
 2020: None}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Cost Cost', 2019: None, 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Cost At 1 January 2020',
 2019: None,
 2020: 314181.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Cost Additions',
 2019: None,
 2020: 5232.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Cost Disposals',
 2019: None,
 2020: -1122.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Cost Transfer',
 2019: None,
 2020: -74.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Cost At 31 December 2020',
 2019: None,
 2020: 318217.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Accumulated depreciation and impairment Accumulated depreciation and impairment',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Accumulated depreciation and impairment At1 January 2020',
 2019: None,
 2020: 312388.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Accumulated depreciation and impairment Depreciation charge for the year',
 2019: None,
 2020: 827.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Accumulated depreciation and impairment Impairment*',
 2019: None,
 2020: 4618.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Accumulated depreciation and impairment Disposals',
 2019: None,
 2020: -1182.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Accumulated depreciation and impairment At 31 December 2020',
 2019: None,
 2020: 316651.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Net book value Net book value',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Net book value At 31 December 2020',
 2019: None,
 2020: 1566.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Net book value At 31 December 2019',
 2019: 1793.0,
 2020: None}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Cost Cost',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Cost At 1 January 2020',
 2019: None,
 2020: 1628.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Cost Additions',
 2019: None,
 2020: 34643.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Cost Disposals',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Cost Transfer',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Cost At 31 December 2020',
 2019: None,
 2020: 36271.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Accumulated depreciation and impairment Accumulated depreciation and impairment',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Accumulated depreciation and impairment At1 January 2020',
 2019: None,
 2020: 1628.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Accumulated depreciation and impairment Depreciation charge for the year',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Accumulated depreciation and impairment Impairment*',
 2019: None,
 2020: 20598.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Accumulated depreciation and impairment Disposals',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Accumulated depreciation and impairment At 31 December 2020',
 2019: None,
 2020: 22226.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Net book value Net book value',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Net book value At 31 December 2020',
 2019: None,
 2020: 14045.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Net book value At 31 December 2019',
 2019: 1743.0,
 2020: None}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Cost Cost',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Cost At 1 January 2020',
 2019: None,
 2020: 2538.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Cost Additions',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Cost Disposals',
 2019: None,
 2020: -65.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Cost Transfer',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Cost At 31 December 2020',
 2019: None,
 2020: 2473.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Accumulated depreciation and impairment Accumulated depreciation and impairment',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Accumulated depreciation and impairment At1 January 2020',
 2019: None,
 2020: 795.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Accumulated depreciation and impairment Depreciation charge for the year',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Accumulated depreciation and impairment Impairment*',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Accumulated depreciation and impairment Disposals',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Accumulated depreciation and impairment At 31 December 2020',
 2019: None,
 2020: 795.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Net book value Net book value',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Net book value At 31 December 2020',
 2019: None,
 2020: 1678.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Net book value At 31 December 2019',
 2019: 0.0,
 2020: None}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Cost Cost', 2019: None, 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Cost At 1 January 2020', 2019: None, 2020: 408777.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Cost Additions', 2019: None, 2020: 40251.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Cost Disposals', 2019: None, 2020: -1336.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Cost Transfer', 2019: None, 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Cost At 31 December 2020',
 2019: None,
 2020: 447692.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Accumulated depreciation and impairment Accumulated depreciation and impairment',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Accumulated depreciation and impairment At1 January 2020',
 2019: None,
 2020: 405046.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Accumulated depreciation and impairment Depreciation charge for the year',
 2019: None,
 2020: 884.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Accumulated depreciation and impairment Impairment*',
 2019: None,
 2020: 25567.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Accumulated depreciation and impairment Disposals',
 2019: None,
 2020: -1336.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Accumulated depreciation and impairment At 31 December 2020',
 2019: None,
 2020: 430161.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Net book value Net book value',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Net book value At 31 December 2020',
 2019: None,
 2020: 17531.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Net book value At 31 December 2019',
 2019: 3731.0,
 2020: None}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

In [119]:
pd.set_option('display.max_rows', 500)

In [11]:
# new_horizontal_note_df

In [12]:
# test_notetable

In [13]:
### raw dump to excels

In [39]:
from openpyxl.utils import get_column_letter

In [40]:
get_column_letter(1)

'A'

In [41]:
from openpyxl import Workbook
from openpyxl.worksheet.table import Table, TableStyleInfo
wb = Workbook()

In [42]:
wb.create_sheet('cbs')
wb.create_sheet('cpl')
wb.create_sheet('ccf')

In [43]:
wb.active = wb['cbs']

In [44]:
ws  = wb.active

In [45]:
for meta_key, val in obj_cbs_mapping.bs_bucket_dict.items():
    print(meta_key)
    ws.append([meta_key])
    ws.append(["Main Page Selected line items"])
    if len(val['main_page_cropped_df']) > 0:
        ws.append(list(val['main_page_cropped_df'].columns))
        for idx,row in val['main_page_cropped_df'].iterrows():
            ws.append(row.tolist())
    ws.append(["Notes Data"])
    if len(val['notes_horizontal_table_df'])>0:
        ws.append(list(val['notes_horizontal_table_df'].columns))
        for idx,row in val['notes_horizontal_table_df'].iterrows():
            ws.append(row.tolist())
    ws.append([])

ca_cash_and_cash_equivalents
ca_inventories
ca_prepaid_expenses
ca_other_current_assets
ca_total_current_assets
nca_net_ppe
nca_gross_ppe
nca_other_tangible_assets
nca_tangible_assets
nca_goodwill
nca_other_intangible_assets
nca_intangible_assets
nca_investments
nca_deffered_charges
nca_other_assets
nca_total_non_current_assets
cl_short_term_debt
cl_long_term_debt_due_in_year
cl_note_payable_debt
cl_accounts_payable
cl_accrued_expenses
cl_tax_payable
cl_other_current_liabilities
cl_total_current_liabilities
ncl_long_term_debt
ncl_long_term_borrowing
ncl_bond
ncl_suboardinate_debt
ncl_deferred_taxes
ncl_other_long_term_liabilities
ncl_minority_interest
ncl_long_term_liabilities
eqt_common_stock
eqt_additional_paid_in_capital
eqt_other_reserves
eqt_retained_earnings
eqt_others
eqt_shareholder_equity
total_liability_equity
lbt_total_liability
ast_total_assets
nca_accumulated_depreciation
ca_account_receivables

In [46]:
wb.save('rawdump.xlsx')