In [1]:
import pandas as pd
import numpy as np
import IPython
from IPython.display import display

In [2]:
from process_core import mainPageProcess

/home/jayesh/anaconda3/envs/crm_syd/lib/python3.9/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [3]:
from CBS_mapping import CBSMapping

In [4]:
fileid = "599060e9-8b46-46ec-87b9-c79cde8a82b7"

In [5]:
mp = mainPageProcess()

In [6]:
cbs_dict,cpl_dict,ccf_dict,meta_dict,final_notes_dict,ref_notes_list, notes_region_meta_data,cropped_table_dict = mp.process_main_pages(fileid=fileid)

/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:54: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:54: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:54: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:466: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:466: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')

In [7]:
cbs_dict[7].columns = cbs_dict[7].columns.map(str)

In [8]:
obj_cbs_mapping = CBSMapping(cbs_df=cbs_dict[7],notes_ref_dict=mp.notes_ref_dict,notes_region_meta_data=mp.notes_region_meta_data,standardised_cropped_dict=mp.standardised_cropped_dict,standard_note_meta_dict=mp.standard_note_meta_dict,transformed_standardised_cropped_dict=mp.transformed_standardised_cropped_dict)

In [9]:
obj_cbs_mapping.trigger_job()

In [10]:
obj_cbs_mapping.bs_bucket_dict

{'ca_cash_and_cash_equivalents': {'main_page_row_indices': [2],
  'main_page_year_total': [28259.0, 19589.0],
  'main_page_raw_note': ['6'],
  'notes_table_df':   raw_note_no note_no subnote_no  \
  0           6       6
  1           6       6
  2           6       6
  3           6       6

                                             line_item  year    value
  0                     $000  Cash at bank and on hand  2020  19589.0
  1  $000 Cash at banks earns interest at floating ...  2020      0.0
  2                     $000  Cash at bank and on hand  2019  28259.0
  3  $000 Cash at banks earns interest at floating ...  2019      0.0  },
 'ca_inventories': {'main_page_row_indices': [4],
  'main_page_year_total': [26953.0, 27198.0],
  'main_page_raw_note': ['8'],
  'notes_table_df':   raw_note_no note_no subnote_no             line_item  year  value
  0           8       8              $000  Raw materials  2020  18547
  1           8       8             $000  Finished goods  2020   8651
  2           8       8                           $000    2020  27198
  3           8       8              $000  Raw materials  2019  19816
  4           8       8             $000  Finished goods  2019   7137
  5           8       8                           $000    2019  26953},
 'ca_prepaid_expenses': {'main_page_row_indices': [0, 1, 5, 7, 8, 13, 15, 33],
  'main_page_year_total': [260205.0, 119449.0],
  'main_page_raw_note': ['9'],
  'notes_table_df':    raw_note_no note_no subnote_no  \
  0            9       9
  1            9       9
  2            9       9
  3            9       9
  4            9       9
  5            9       9
  6            9       9
  7            9       9
  8            9       9
  9            9       9
  10           9       9
  11           9       9

                                              line_item  year    value
  0                                $000 Current Current  2020      0.0
  1   $000 Current Foreign exchange derivatives at f...  2020      0.0
  2   $000 Current Electricity derivatives at fair v...  2020      0.0
  3                                       $000 Current   2020      0.0
  4                        $000 Non-current Non-current  2020      0.0
  5   $000 Non-current Electricity derivatives at fa...  2020      0.0
  6                                $000 Current Current  2019      0.0
  7   $000 Current Foreign exchange derivatives at f...  2019     51.0
  8   $000 Current Electricity derivatives at fair v...  2019  29702.0
  9                                       $000 Current   2019  29753.0
  10                       $000 Non-current Non-current  2019      0.0
  11  $000 Non-current Electricity derivatives at fa...  2019  12453.0  },
 'ca_other_current_assets': {'main_page_row_indices': [0, 1, 7, 8, 15, 33],
  'main_page_year_total': [217999.0, 119449.0],
  'main_page_raw_note': [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'ca_total_current_assets': {'main_page_row_indices': [0,
   1,
   7,
   8,
   9,
   15,
   16,
   33],
  'main_page_year_total': [303181.0, 209882.0],
  'main_page_raw_note': [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'nca_net_ppe': {'main_page_row_indices': [11],
  'main_page_year_total': [3731.0, 17531.0],
  'main_page_raw_note': ['12'],
  'notes_table_df':    raw_note_no note_no subnote_no  \
  0           12      12
  1           12      12
  2           12      12
  3           12      12
  4           12      12
  ..         ...     ...        ...
  70          12      12
  71          12      12
  72          12      12
  73          12      12
  74          12      12

                                              line_item    year     value
  0          Freehold land and buildings $000 Cost Cost  2020.0       0.0
  1   Freehold land and buildings $000 Cost At 1 Jan...  2020.0   90430.0
  2     Freehold land and buildings $000 Cost Additions  2020.0     376.0
  3     Freehold land and buildings $000 Cost Disposals  2020.0    -149.0
  4      Freehold land and buildings $000 Cost Transfer  2020.0      74.0
  ..                                                ...     ...       ...
  70  Total $000 Accumulated depreciation and impair...  2020.0   -1336.0
  71  Total $000 Accumulated depreciation and impair...  2020.0  430161.0
  72           Total $000 Net book value Net book value  2020.0       0.0
  73      Total $000 Net book value At 31 December 2020  2020.0   17531.0
  74      Total $000 Net book value At 31 December 2019  2019.0    3731.0

  [75 rows x 6 columns]},
 'nca_gross_ppe': {'main_page_row_indices': [11],
  'main_page_year_total': [3731.0, 17531.0],
  'main_page_raw_note': ['12'],
  'notes_table_df':    raw_note_no note_no subnote_no  \
  0           12      12
  1           12      12
  2           12      12
  3           12      12
  4           12      12
  ..         ...     ...        ...
  70          12      12
  71          12      12
  72          12      12
  73          12      12
  74          12      12

                                              line_item    year     value
  0          Freehold land and buildings $000 Cost Cost  2020.0       0.0
  1   Freehold land and buildings $000 Cost At 1 Jan...  2020.0   90430.0
  2     Freehold land and buildings $000 Cost Additions  2020.0     376.0
  3     Freehold land and buildings $000 Cost Disposals  2020.0    -149.0
  4      Freehold land and buildings $000 Cost Transfer  2020.0      74.0
  ..                                                ...     ...       ...
  70  Total $000 Accumulated depreciation and impair...  2020.0   -1336.0
  71  Total $000 Accumulated depreciation and impair...  2020.0  430161.0
  72           Total $000 Net book value Net book value  2020.0       0.0
  73      Total $000 Net book value At 31 December 2020  2020.0   17531.0
  74      Total $000 Net book value At 31 December 2019  2019.0    3731.0

  [75 rows x 6 columns]},
 'nca_other_tangible_assets': {'main_page_row_indices': [12],
  'main_page_year_total': [1476.0, 1007.0],
  'main_page_raw_note': [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'nca_tangible_assets': {'main_page_row_indices': [0],
  'main_page_year_total': [0.0, 0.0],
  'main_page_raw_note': [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'nca_goodwill': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_raw_note': [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'nca_other_intangible_assets': {'main_page_row_indices': [0],
  'main_page_year_total': [0.0, 0.0],
  'main_page_raw_note': [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'nca_intangible_assets': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_raw_note': [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'nca_investments': {'main_page_row_indices': [4, 10],
  'main_page_year_total': [81488.0, 74870.0],
  'main_page_raw_note': ['8', '11', '11', '11'],
  'notes_table_df':    raw_note_no note_no subnote_no  \
  0            8       8
  1            8       8
  2            8       8
  3            8       8
  4            8       8
  5            8       8
  6           11      11
  7           11      11
  8           11      11
  9           11      11
  10          11      11
  11          11      11
  12          11      11
  13          11      11
  14          11      11
  15          11      11
  16          11      11
  17          11      11
  18          11      11
  19          11      11
  20          11      11
  21          11      11
  22          11      11
  23          11      11

                                              line_item  year    value
  0                                 $000  Raw materials  2020    18547
  1                                $000  Finished goods  2020     8651
  2                                              $000    2020    27198
  3                                 $000  Raw materials  2019    19816
  4                                $000  Finished goods  2019     7137
  5                                              $000    2019    26953
  6                                  $000  At 1 January  2020    54535
  7   $000  Share of gain/(loss) of joint venture, n...  2020     1586
  8   $000  Share of other comprehensive income, net...  2020    -8448
  9   $000  Carrying value of investment at end of year  2020    47672
  10                                 $000  At 1 January  2019    59249
  11  $000  Share of gain/(loss) of joint venture, n...  2019    -7587
  12  $000  Share of other comprehensive income, net...  2019     2873
  13  $000  Carrying value of investment at end of year  2019    54535
  14  $000  Investment in joint venture (Southern Cr...  2020    47672
  15  $000  Investment in joint venture (Southern Cr...  2019    54535
  16  Ownership interest % Southern Cross Southern C...  2020      0.0
  17  Ownership interest % Southern Cross Aluminium ...  2020      0.0
  18  Ownership interest % Southern Cross Southern C...  2019      0.0
  19  Ownership interest % Southern Cross Aluminium ...  2019      0.0
  20  Ownership interest $000 Southern Cross Souther...  2020      0.0
  21  Ownership interest $000 Southern Cross Alumini...  2020  47672.0
  22  Ownership interest $000 Southern Cross Souther...  2019      0.0
  23  Ownership interest $000 Southern Cross Alumini...  2019  54535.0  },
 'nca_deffered_charges': {'main_page_row_indices': [0, 14, 30],
  'main_page_year_total': [35635.0, 42689.0],
  'main_page_raw_note': [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'nca_other_assets': {'main_page_row_indices': [0],
  'main_page_year_total': [0.0, 0.0],
  'main_page_raw_note': [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'nca_total_non_current_assets': {'main_page_row_indices': [0, 9, 15, 16],
  'main_page_year_total': [85860.0, 90433.0],
  'main_page_raw_note': [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'cl_short_term_debt': {'main_page_row_indices': [18, 21, 24, 29, 32],
  'main_page_year_total': [83346.0, 106962.0],
  'main_page_raw_note': ['16', '16'],
  'notes_table_df':    raw_note_no note_no subnote_no  \
  0           16      16
  1           16      16
  2           16      16
  3           16      16
  4           16      16
  5           16      16
  6           16      16
  7           16      16
  8           16      16
  9           16      16
  10          16      16
  11          16      16
  12          16      16
  13          16      16
  14          16      16
  15          16      16
  16          16      16
  17          16      16

                                              line_item  year    value
  0                               $000  Bank borrowings  2020      0.0
  1                               $000  Bank borrowings  2019   4000.0
  2   Multi-option facilities $000  facilities facil...  2020  52100.0
  3             Multi-option facilities $000  Utilised   2020      0.0
  4   Multi-option facilities $000  Utilised bank gu...  2020   3273.0
  5   Multi-option facilities $000  Balance at 31 De...  2020  48827.0
  6   Bank guarantee facilities $000  facilities fac...  2020  13500.0
  7           Bank guarantee facilities $000  Utilised   2020      0.0
  8   Bank guarantee facilities $000  Utilised bank ...  2020  13500.0
  9   Bank guarantee facilities $000  Balance at 31 ...  2020      0.0
  10  Multi-option facilities $000  facilities facil...  2019  52100.0
  11            Multi-option facilities $000  Utilised   2019   4000.0
  12  Multi-option facilities $000  Utilised bank gu...  2019   1023.0
  13  Multi-option facilities $000  Balance at 31 De...  2019  47077.0
  14  Bank guarantee facilities $000  facilities fac...  2019  13500.0
  15          Bank guarantee facilities $000  Utilised   2019      0.0
  16  Bank guarantee facilities $000  Utilised bank ...  2019  13500.0
  17  Bank guarantee facilities $000  Balance at 31 ...  2019      0.0  },
 'cl_long_term_debt_due_in_year': {'main_page_row_indices': [18, 19, 23, 25],
  'main_page_year_total': [39800.0, 38056.0],
  'main_page_raw_note': ['15'],
  'notes_table_df':   raw_note_no note_no subnote_no  \
  0          15      15
  1          15      15
  2          15      15
  3          15      15
  4          15      15
  5          15      15

                                             line_item  year  value
  0                     $000  Trade and other payables  2020  25569
  1  $000  Electricity derivatives at fair value th...  2020   2935
  2                            $000  Lease liabilities  2020   1053
  3                                             $000    2020  29557
  4                                      $000  Current  2020  25662
  5                                  $000  Non-current  2020   3895  },
 'cl_note_payable_debt': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_raw_note': [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'cl_accounts_payable': {'main_page_row_indices': [20, 22, 27, 28],
  'main_page_year_total': [48994.0, 83455.0],
  'main_page_raw_note': ['17'],
  'notes_table_df':    raw_note_no note_no subnote_no  \
  0           17      17
  1           17      17
  2           17      17
  3           17      17
  4           17      17
  5           17      17
  6           17      17
  7           17      17
  8           17      17
  9           17      17
  10          17      17
  11          17      17
  12          17      17
  13          17      17
  14          17      17
  15          17      17
  16          17      17
  17          17      17
  18          17      17
  19          17      17
  20          17      17
  21          17      17
  22          17      17
  23          17      17
  24          17      17
  25          17      17
  26          17      17
  27          17      17
  28          17      17
  29          17      17
  30          17      17
  31          17      17
  32          17      17
  33          17      17
  34          17      17
  35          17      17

                                              line_item    year    value
  0                Employee benefits  At 1 January 2020  2020.0   4343.0
  1          Employee benefits  Arising during the year  2020.0    541.0
  2            Employee benefits  Unwinding of discount  2020.0      0.0
  3               Employee benefits  At31 December 2020  2020.0   4884.0
  4                          Employee benefits  Current  2020.0   4846.0
  5                      Employee benefits  Non-current  2020.0     38.0
  6             Workers compensation  At 1 January 2020  2020.0   3725.0
  7       Workers compensation  Arising during the year  2020.0    159.0
  8         Workers compensation  Unwinding of discount  2020.0      0.0
  9            Workers compensation  At31 December 2020  2020.0   3884.0
  10                      Workers compensation  Current  2020.0   3884.0
  11                  Workers compensation  Non-current  2020.0      0.0
  12                 Defined Benefit  At 1 January 2020  2020.0      0.0
  13           Defined Benefit  Arising during the year  2020.0    865.0
  14             Defined Benefit  Unwinding of discount  2020.0   -518.0
  15                Defined Benefit  At31 December 2020  2020.0    347.0
  16                           Defined Benefit  Current  2020.0      0.0
  17                       Defined Benefit  Non-current  2020.0    347.0
  18  Provision for asset retirement obligation  At ...  2020.0   4806.0
  19  Provision for asset retirement obligation  Ari...  2020.0  36032.0
  20  Provision for asset retirement obligation  Unw...  2020.0   -336.0
  21  Provision for asset retirement obligation  At3...  2020.0  40502.0
  22  Provision for asset retirement obligation  Cur...  2020.0      0.0
  23  Provision for asset retirement obligation  Non...  2020.0  40502.0
  24  Provision for carbon dust and other  At 1 Janu...  2020.0   6983.0
  25  Provision for carbon dust and other  Arising d...  2020.0   1286.0
  26  Provision for carbon dust and other  Unwinding...  2020.0      0.0
  27  Provision for carbon dust and other  At31 Dece...  2020.0   8269.0
  28       Provision for carbon dust and other  Current  2020.0    729.0
  29   Provision for carbon dust and other  Non-current  2020.0   7540.0
  30                          Totals  At 1 January 2020  2020.0  19857.0
  31                    Totals  Arising during the year  2020.0  38883.0
  32                      Totals  Unwinding of discount  2020.0   -854.0
  33                         Totals  At31 December 2020  2020.0  57886.0
  34                                    Totals  Current  2020.0   9459.0
  35                                Totals  Non-current  2020.0  48427.0  },
 'cl_accrued_expenses': {'main_page_row_indices': [18, 19, 23, 25],
  'main_page_year_total': [39800.0, 38056.0],
  'main_page_raw_note': ['15'],
  'notes_table_df':   raw_note_no note_no subnote_no  \
  0          15      15
  1          15      15
  2          15      15
  3          15      15
  4          15      15
  5          15      15

                                             line_item  year  value
  0                     $000  Trade and other payables  2020  25569
  1  $000  Electricity derivatives at fair value th...  2020   2935
  2                            $000  Lease liabilities  2020   1053
  3                                             $000    2020  29557
  4                                      $000  Current  2020  25662
  5                                  $000  Non-current  2020   3895  },
 'cl_tax_payable': {'main_page_row_indices': [6, 14, 30],
  'main_page_year_total': [43165.0, 49007.0],
  'main_page_raw_note': [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'cl_other_current_liabilities': {'main_page_row_indices': [18, 19, 25],
  'main_page_year_total': [39800.0, 35121.0],
  'main_page_raw_note': [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'cl_total_current_liabilities': {'main_page_row_indices': [18,
   19,
   25,
   26,
   31,
   32],
  'main_page_year_total': [155666.0, 211818.0],
  'main_page_raw_note': [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'ncl_long_term_debt': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_raw_note': [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'ncl_long_term_borrowing': {'main_page_row_indices': [21],
  'main_page_year_total': [4000.0, 0.0],
  'main_page_raw_note': ['16', '16'],
  'notes_table_df':    raw_note_no note_no subnote_no  \
  0           16      16
  1           16      16
  2           16      16
  3           16      16
  4           16      16
  5           16      16
  6           16      16
  7           16      16
  8           16      16
  9           16      16
  10          16      16
  11          16      16
  12          16      16
  13          16      16
  14          16      16

In [11]:
display(obj_cbs_mapping.bs_bucket_dict['ca_cash_and_cash_equivalents']['notes_table_df'])

,raw_note_no,note_no,subnote_no,line_item,year,value
0,6,6,,$000 Cash at bank and on hand,2020,19589.0
1,6,6,,$000 Cash at banks earns interest at floating ...,2020,0.0
2,6,6,,$000 Cash at bank and on hand,2019,28259.0
3,6,6,,$000 Cash at banks earns interest at floating ...,2019,0.0

In [12]:
a = ['ada','iii']
b = ['adad','ppp']
for x,y in zip(a,b):
    print(x)
    print(y)

ada
adad
iii
ppp

In [13]:
##dev code

In [14]:
from TechMagicFuzzy import TechMagicFuzzy

In [15]:
obj_techfuzzy = TechMagicFuzzy()

In [16]:
text1 = "Trade and Other receivabkles"
keywords1 = ["current"]
text2 = " Trade and Other receivabkles add ada"

In [17]:
obj_techfuzzy.partial_ratio_pro(text1, keywords1)

[('current', 43)]

In [18]:
obj_techfuzzy.token_sort_pro(text1, keywords1)

[('current', 24)]

In [19]:
from fuzzywuzzy import fuzz

In [20]:
fuzz.ratio(text1,text2)

86

In [21]:
from itertools import chain

list(chain.from_iterable([[2,4,6]]))

[2, 4, 6]

In [22]:
list(chain.from_iterable([2,4,6]))

TypeError: 'int' object is not iterable

In [ ]:
list(chain(*[[2,4,6]]))

In [ ]:
list(chain(*[2,4,6]))

In [ ]:
from operator import add
import functools

In [ ]:
functools.reduce(add, [[2,4,6]])

In [ ]:
import numpy as np

In [ ]:
import uuid
from uuid import UUID

In [ ]:
b = [list([UUID('6354e3c7-4619-3a07-b336-df681451d867'), UUID('6354e3c7-4619-3a07-b336-df681451d867')])]

In [ ]:
len(b)

In [ ]:
b