In [1]:
import pandas as pd
import numpy as np
import IPython
from IPython.display import display

In [2]:
from process_core import mainPageProcess

/home/jayesh/anaconda3/envs/crm_syd/lib/python3.9/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [3]:
from CBS_mapping import CBSMapping

In [4]:
fileid = "18980a3a-9b5e-4f37-b8ee-0b812401070a"

In [5]:
mp = mainPageProcess()

In [6]:
cbs_dict,cpl_dict,ccf_dict,meta_dict,final_notes_dict,ref_notes_list, notes_region_meta_data,cropped_table_dict = mp.process_main_pages(fileid=fileid)

/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:54: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:54: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:54: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():

Assets | [('assets', 100), ('current assets', 56), ('noncurrent assets', 56), ('equity', 36), ('equity and liabilities', 27), ('equity liabilities', 22), ('current liabilities', 21), ('liabilities', 18), ('noncurrent liabilities', 11)]
Cash and cash equivalents | [('equity and liabilities', 47), ('assets', 31), ('equity', 30), ('current assets', 29), ('noncurrent assets', 29), ('equity liabilities', 29), ('current liabilities', 17), ('liabilities', 7), ('noncurrent liabilities', 6)]
Trade and other receivables | [('equity and liabilities', 41), ('current assets', 34), ('current liabilities', 28), ('noncurrent assets', 23), ('equity liabilities', 23), ('assets', 22), ('equity', 21), ('liabilities', 14), ('noncurrent liabilities', 11)]
Inventories | [('noncurrent assets', 36), ('current liabilities', 35), ('assets', 29), ('current assets', 27), ('liabilities', 27), ('equity', 27), ('equity and liabilities', 23), ('equity liabilities', 18), ('noncurrent liabilities', 17)]
Current tax assets | [('current assets', 87), ('noncurrent assets', 67), ('current liabilities', 58), ('assets', 45), ('noncurrent liabilities', 39), ('equity liabilities', 33), ('equity and liabilities', 29), ('equity', 26), ('liabilities', 9)]
Deferred tax assets | [('current assets', 57), ('assets', 50), ('noncurrent assets', 50), ('equity and liabilities', 31), ('equity liabilities', 29), ('current liabilities', 28), ('noncurrent liabilities', 21), ('equity', 19), ('liabilities', 10)]
Contract asset | [('current assets', 67), ('noncurrent assets', 67), ('assets', 53), ('noncurrent liabilities', 36), ('equity liabilities', 30), ('current liabilities', 29), ('equity and liabilities', 26), ('equity', 20), ('liabilities', 10)]
Property plant and equipment | [('equity and liabilities', 49), ('equity', 40), ('current assets', 38), ('noncurrent assets', 32), ('equity liabilities', 32), ('current liabilities', 26), ('assets', 21), ('liabilities', 13), ('noncurrent liabilities', 11)]
Rightofuse assets | [('noncurrent assets', 57), ('assets', 50), ('current assets', 50), ('current liabilities', 28), ('noncurrent liabilities', 21), ('equity', 19), ('equity and liabilities', 19), ('equity liabilities', 14), ('liabilities', 10)]
Total assets | [('assets', 62), ('current assets', 58), ('noncurrent assets', 58), ('equity liabilities', 33), ('current liabilities', 32), ('equity and liabilities', 29), ('equity', 24), ('liabilities', 12), ('noncurrent liabilities', 8)]
Liabilities | [('liabilities', 100), ('equity liabilities', 63), ('current liabilities', 60), ('noncurrent liabilities', 60), ('equity and liabilities', 52), ('equity', 33), ('assets', 18), ('current assets', 11), ('noncurrent assets', 11)]
Trade and other payables | [('equity and liabilities', 46), ('current assets', 29), ('equity liabilities', 29), ('current liabilities', 28), ('noncurrent liabilities', 28), ('noncurrent assets', 23), ('assets', 22), ('liabilities', 21), ('equity', 14)]
Borrowings | [('noncurrent liabilities', 40), ('noncurrent assets', 32), ('current assets', 21), ('current liabilities', 20), ('liabilities', 17), ('equity liabilities', 11), ('equity and liabilities', 9), ('assets', 0), ('equity', 0)]
Contract Liabilities | [('current liabilities', 69), ('liabilities', 57), ('equity liabilities', 57), ('equity and liabilities', 56), ('noncurrent liabilities', 41), ('current assets', 21), ('noncurrent assets', 21), ('assets', 20), ('equity', 19)]
Lease Liabilities  rightofuse assets | [('equity and liabilities', 45), ('equity liabilities', 45), ('current liabilities', 44), ('noncurrent liabilities', 44), ('noncurrent assets', 40), ('liabilities', 36), ('current assets', 35), ('assets', 31), ('equity', 12)]
Provisions | [('current liabilities', 20), ('assets', 18), ('liabilities', 17), ('equity', 17), ('current assets', 11), ('noncurrent assets', 11), ('equity liabilities', 11), ('noncurrent liabilities', 10), ('equity and liabilities', 9)]
Deferred tax liabilities | [('liabilities', 55), ('equity and liabilities', 55), ('equity liabilities', 55), ('current liabilities', 53), ('noncurrent liabilities', 47), ('equity', 27), ('assets', 19), ('current assets', 14), ('noncurrent assets', 14)]
Total liabilities | [('liabilities', 67), ('noncurrent liabilities', 62), ('equity liabilities', 48), ('current liabilities', 46), ('equity and liabilities', 41), ('assets', 24), ('current assets', 24), ('noncurrent assets', 24), ('equity', 22)]
Net assets | [('current assets', 73), ('assets', 71), ('noncurrent assets', 64), ('equity and liabilities', 31), ('equity', 27), ('equity liabilities', 27), ('current liabilities', 26), ('noncurrent liabilities', 26), ('liabilities', 13)]
Equity | [('equity', 100), ('equity liabilities', 63), ('equity and liabilities', 52), ('assets', 36), ('liabilities', 33), ('current liabilities', 30), ('current assets', 21), ('noncurrent assets', 21), ('noncurrent liabilities', 20)]
Issued capital | [('assets', 40), ('equity', 38), ('current assets', 35), ('noncurrent assets', 35), ('current liabilities', 33), ('equity and liabilities', 30), ('equity liabilities', 26), ('liabilities', 25), ('noncurrent liabilities', 25)]
Retained earnings | [('assets', 38), ('equity and liabilities', 36), ('current assets', 33), ('noncurrent assets', 33), ('current liabilities', 32), ('equity', 24), ('equity liabilities', 17), ('noncurrent liabilities', 16), ('liabilities', 12)]
Total equity | [('equity', 67), ('equity liabilities', 64), ('equity and liabilities', 55), ('current liabilities', 31), ('assets', 12), ('liabilities', 11), ('current assets', 8), ('noncurrent assets', 8), ('noncurrent liabilities', 8)]

/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:301: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:301: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:301: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:301: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:301: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:301: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:301: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:301: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:301: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:301: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:301: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:301: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')

'value'

/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:301: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:301: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:301: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')

In [9]:
cbs_dict.keys()

dict_keys([5])

In [10]:
cbs_page = list(cbs_dict.keys())[0]

In [11]:
cbs_dict[cbs_page].columns = cbs_dict[cbs_page].columns.map(str)

In [12]:
obj_cbs_mapping = CBSMapping(cbs_df=cbs_dict[cbs_page],notes_ref_dict=mp.notes_ref_dict,notes_region_meta_data=mp.notes_region_meta_data,standardised_cropped_dict=mp.standardised_cropped_dict,standard_note_meta_dict=mp.standard_note_meta_dict,transformed_standardised_cropped_dict=mp.transformed_standardised_cropped_dict)

In [13]:
obj_cbs_mapping.trigger_job()

/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/DataBucketingUtils.py:287: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/DataBucketingUtils.py:287: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/DataBucketingUtils.py:266: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/DataBucketingUtils.py:287: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/DataBucketingUtils.py:287: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/DataBucketingUtils.py:287: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/DataBucketingUtils.py:287: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/DataBucketingUtils.py:287: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/DataBucketingUtils.py:287: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/DataBucketingUtils.py:287: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/DataBucketingUtils.py:287: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/DataBucketingUtils.py:287: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/DataBucketingUtils.py:287: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/DataBucketingUtils.py:287: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/DataBucketingUtils.py:266: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/DataBucketingUtils.py:287: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/DataBucketingUtils.py:287: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/DataBucketingUtils.py:287: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/DataBucketingUtils.py:287: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/DataBucketingUtils.py:287: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/DataBucketingUtils.py:266: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_horizontal_df = temp_horizontal_df.append(horizontal_note_df)

In [14]:
obj_cbs_mapping.bs_bucket_dict

{'ca_cash_and_cash_equivalents': {'main_page_row_indices': [1],
  'main_page_year_total': [6056.0, 7114.0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Cash and cash equivalents'],
  'main_page_value_list': [[6056.0], [7114.0]],
  'main_page_cropped_df':                  Particulars Notes    2022    2021 statement_section  \
  1  Cash and cash equivalents   NaN  7114.0  6056.0            assets

    statement_sub_section
  1               current  ,
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'ca_inventories': {'main_page_row_indices': [3],
  'main_page_year_total': [52.0, 233.0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': ['7'],
  'main_page_particular_text_list': ['Inventories'],
  'main_page_value_list': [[52.0], [233.0]],
  'main_page_cropped_df':    Particulars Notes   2022  2021 statement_section statement_sub_section
  3  Inventories     7  233.0  52.0            assets               current,
  'notes_table_df':   raw_note_no note_no subnote_no  \
  0           7       7
  1           7       7
  2           7       7
  3           7       7

                                             line_item  year  value
  0          Likely to recovered in the next 12 months  2022  233.0
  1   Property, plant and equipment Property, plant...  2022    0.0
  2          Likely to recovered in the next 12 months  2021   51.0
  3   Property, plant and equipment Property, plant...  2021    0.0  ,
  'notes_horizontal_table_df':                                            line_item  2021   2022
  0          Likely to recovered in the next 12 months  51.0  233.0
  1   Property, plant and equipment Property, plant...   0.0    0.0},
 'ca_prepaid_expenses': {'main_page_row_indices': [4],
  'main_page_year_total': [0.0, 0.0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Current tax assets'],
  'main_page_value_list': [[0.0], [0.0]],
  'main_page_cropped_df':           Particulars Notes  2022  2021 statement_section  \
  4  Current tax assets   NaN   0.0   0.0            assets

    statement_sub_section
  4               current  ,
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'ca_other_current_assets': {'main_page_row_indices': [4],
  'main_page_year_total': [0.0, 0.0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Current tax assets'],
  'main_page_value_list': [[0.0], [0.0]],
  'main_page_cropped_df':           Particulars Notes  2022  2021 statement_section  \
  4  Current tax assets   NaN   0.0   0.0            assets

    statement_sub_section
  4               current  ,
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'ca_total_current_assets': {'main_page_row_indices': [4],
  'main_page_year_total': [0.0, 0.0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Current tax assets'],
  'main_page_value_list': [[0.0], [0.0]],
  'main_page_cropped_df':           Particulars Notes  2022  2021 statement_section  \
  4  Current tax assets   NaN   0.0   0.0            assets

    statement_sub_section
  4               current  ,
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'nca_net_ppe': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'main_page_cropped_df': Empty DataFrame
  Columns: [Particulars, Notes, 2022, 2021, statement_section, statement_sub_section]
  Index: [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'nca_gross_ppe': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'main_page_cropped_df': Empty DataFrame
  Columns: [Particulars, Notes, 2022, 2021, statement_section, statement_sub_section]
  Index: [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'nca_other_tangible_assets': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'main_page_cropped_df': Empty DataFrame
  Columns: [Particulars, Notes, 2022, 2021, statement_section, statement_sub_section]
  Index: [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'nca_tangible_assets': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'main_page_cropped_df': Empty DataFrame
  Columns: [Particulars, Notes, 2022, 2021, statement_section, statement_sub_section]
  Index: [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'nca_goodwill': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'main_page_cropped_df': Empty DataFrame
  Columns: [Particulars, Notes, 2022, 2021, statement_section, statement_sub_section]
  Index: [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'nca_other_intangible_assets': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'main_page_cropped_df': Empty DataFrame
  Columns: [Particulars, Notes, 2022, 2021, statement_section, statement_sub_section]
  Index: [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'nca_intangible_assets': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'main_page_cropped_df': Empty DataFrame
  Columns: [Particulars, Notes, 2022, 2021, statement_section, statement_sub_section]
  Index: [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'nca_investments': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'main_page_cropped_df': Empty DataFrame
  Columns: [Particulars, Notes, 2022, 2021, statement_section, statement_sub_section]
  Index: [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'nca_deffered_charges': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'main_page_cropped_df': Empty DataFrame
  Columns: [Particulars, Notes, 2022, 2021, statement_section, statement_sub_section]
  Index: [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'nca_other_assets': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'main_page_cropped_df': Empty DataFrame
  Columns: [Particulars, Notes, 2022, 2021, statement_section, statement_sub_section]
  Index: [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'nca_total_non_current_assets': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'main_page_cropped_df': Empty DataFrame
  Columns: [Particulars, Notes, 2022, 2021, statement_section, statement_sub_section]
  Index: [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'cl_short_term_debt': {'main_page_row_indices': [12],
  'main_page_year_total': [150000.0, 150000.0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': ['10'],
  'main_page_particular_text_list': ['Borrowings'],
  'main_page_value_list': [[150000.0], [150000.0]],
  'main_page_cropped_df':    Particulars Notes      2022      2021   statement_section  \
  12  Borrowings    10  150000.0  150000.0  equity_liabilities

     statement_sub_section
  12               current  ,
  'notes_table_df':    raw_note_no note_no subnote_no  \
  0           10      10
  1           10      10
  2           10      10
  3           10      10
  4           10      10
  5           10      10
  6           10      10
  7           10      10
  8           10      10
  9           10      10
  10          10      10
  11          10      10
  12          10      10
  13          10      10
  14          10      10
  15          10      10
  16          10      10
  17          10      10
  18          10      10
  19          10      10
  20          10      10
  21          10      10
  22          10      10
  23          10      10
  24          10      10
  25          10      10
  26          10      10
  27          10      10
  28          10      10
  29          10      10
  30          10      10
  31          10      10
  32          10      10
  33          10      10

                                              line_item  year     value
  0             Secured liabilities Secured liabilities  1970       0.0
  1    Secured liabilities The Bank of Tokyo - Mitsu...  1970   16000.0
  2    Secured liabilities Mizuho Corporate Bank Lim...  1970   17000.0
  3    Secured liabilities Sumitomo Mitsui Trust Ban...  1970    7500.0
  4    Secured liabilities Sumitomo Mitsui Banking C...  1970   15500.0
  5      Secured liabilities Sumitomo Australia Pty Ltd  1970    4500.0
  6                                Secured liabilities   1970   60500.0
  7             In thousands of AUD In thousands of AUD  1970       0.0
  8    In thousands of AUD Unlikely to be settled in...  1970    2022.0
  9             Secured liabilities Secured liabilities  1970       0.0
  10   Secured liabilities The Bank of Tokyo - Mitsu...  1970   19000.0
  11   Secured liabilities Mizuho Corporate Bank Lim...  1970   34500.0
  12   Secured liabilities Sumitomo Mitsui Trust Ban...  1970   22000.0
  13   Secured liabilities Sumitomo Mitsui Banking C...  1970    7000.0
  14   Secured liabilities Sumitomo Australia Pty Li...  1970    7000.0
  15                               Secured liabilities   1970   89500.0
  16               Secured liabilities Total borrowings  1970  150000.0
  17            Secured liabilities Secured liabilities  1970       0.0
  18   Secured liabilities The Bank of Tokyo - Mitsu...  1970       0.0
  19   Secured liabilities Mizuho Corporate Bank Lim...  1970    8000.0
  20   Secured liabilities Sumitomo Mitsui Trust Ban...  1970   21000.0
  21   Secured liabilities Sumitomo Mitsui Banking C...  1970   11500.0
  22     Secured liabilities Sumitomo Australia Pty Ltd  1970    3500.0
  23                               Secured liabilities   1970   43500.0
  24            In thousands of AUD In thousands of AUD  1970       0.0
  25   In thousands of AUD Unlikely to be settled in...  1970    2021.0
  26            Secured liabilities Secured liabilities  1970       0.0
  27   Secured liabilities The Bank of Tokyo - Mitsu...  1970   20000.0
  28   Secured liabilities Mizuho Corporate Bank Lim...  1970   33000.0
  29   Secured liabilities Sumitomo Mitsui Trust Ban...  1970   22500.0
  30   Secured liabilities Sumitomo Mitsui Banking C...  1970   19500.0
  31   Secured liabilities Sumitomo Australia Pty Li...  1970   11500.0
  32                               Secured liabilities   1970  106500.0
  33               Secured liabilities Total borrowings  1970  150000.0  ,
  'notes_horizontal_table_df':                                             line_item      1970
  0             Secured liabilities Secured liabilities       0.0
  1    Secured liabilities The Bank of Tokyo - Mitsu...   20000.0
  2    Secured liabilities Mizuho Corporate Bank Lim...   33000.0
  3    Secured liabilities Sumitomo Mitsui Trust Ban...   22500.0
  4    Secured liabilities Sumitomo Mitsui Banking C...   19500.0
  5      Secured liabilities Sumitomo Australia Pty Ltd    3500.0
  6                                Secured liabilities   106500.0
  7             In thousands of AUD In thousands of AUD       0.0
  8    In thousands of AUD Unlikely to be settled in...    2021.0
  9    Secured liabilities Sumitomo Australia Pty Li...   11500.0
  10               Secured liabilities Total borrowings  150000.0},
 'cl_long_term_debt_due_in_year': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'main_page_cropped_df': Empty DataFrame
  Columns: [Particulars, Notes, 2022, 2021, statement_section, statement_sub_section]
  Index: [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'cl_note_payable_debt': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'main_page_cropped_df': Empty DataFrame
  Columns: [Particulars, Notes, 2022, 2021, statement_section, statement_sub_section]
  Index: [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'cl_accounts_payable': {'main_page_row_indices': [11],
  'main_page_year_total': [18368.0, 24635.0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': ['9'],
  'main_page_particular_text_list': ['Trade and other payables'],
  'main_page_value_list': [[18368.0], [24635.0]],
  'main_page_cropped_df':                  Particulars Notes     2022     2021   statement_section  \
  11  Trade and other payables     9  24635.0  18368.0  equity_liabilities

     statement_sub_section
  11               current  ,
  'notes_table_df':   raw_note_no note_no subnote_no  \
  0           9       9
  1           9       9
  2           9       9
  3           9       9
  4           9       9
  5           9       9
  6           9       9
  7           9       9
  8           9       9
  9           9       9

                                        line_item  year    value
  0   Unsecured liabilities Unsecured liabilities  1970      0.0
  1          Unsecured liabilities Trade payables  1970  21332.0
  2          Unsecured liabilities Other payables  1970   3303.0
  3                        Unsecured liabilities   1970  24635.0
  4                         Borrowings Borrowings  1970      0.0
  5   Unsecured liabilities Unsecured liabilities  1970      0.0
  6          Unsecured liabilities Trade payables  1970  14895.0
  7          Unsecured liabilities Other payables  1970   3473.0
  8                        Unsecured liabilities   1970  18368.0
  9                         Borrowings Borrowings  1970      0.0  ,
  'notes_horizontal_table_df':                                       line_item     1970
  0   Unsecured liabilities Unsecured liabilities      0.0
  1          Unsecured liabilities Trade payables  14895.0
  2          Unsecured liabilities Other payables   3473.0
  3                        Unsecured liabilities   18368.0
  4                         Borrowings Borrowings      0.0},
 'cl_accrued_expenses': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'main_page_cropped_df': Empty DataFrame
  Columns: [Particulars, Notes, 2022, 2021, statement_section, statement_sub_section]
  Index: [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'cl_tax_payable': {'main_page_row_indices': [16],
  'main_page_year_total': [11106.0, 32277.0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Deferred tax liabilities'],
  'main_page_value_list': [[11106.0], [32277.0]],
  'main_page_cropped_df':                  Particulars Notes     2022     2021   statement_section  \
  16  Deferred tax liabilities     4  32277.0  11106.0  equity_liabilities

     statement_sub_section
  16               current  ,
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'cl_other_current_liabilities': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_year_list': ['2021', '2022'],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'main_page_cropped_df': Empty DataFrame
  Columns: [Particulars, Notes, 2022, 2021, statement_section, statement_sub_section]
  Index: [],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: [],
  'notes_horizontal_table_df': Empty DataFrame
  Columns: []
  Index: []},
 'cl_total_current_liabilities': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_year_list': ['2021', '2022'],

In [7]:
cbs_dict[5]

,Particulars,Notes,2022,2021,statement_section,statement_sub_section
0,Assets,NaN,0.0,0.0,assets,current
1,Cash and cash equivalents,NaN,7114.0,6056.0,assets,current
2,Trade and other receivables,NaN,59529.0,51177.0,assets,current
3,Inventories,7,233.0,52.0,assets,current
4,Current tax assets,NaN,0.0,0.0,assets,current
5,Deferred tax assets,4,18442.0,3619.0,assets,current
6,Contract asset,17,8810.0,6677.0,assets,current
7,"Property, plant and equipment",8,182268.0,177177.0,assets,current
8,Right-of-use assets,15,1127.0,1592.0,assets,current
9,Total assets,NaN,277523.0,246350.0,assets,current
10,Liabilities,NaN,0.0,0.0,assets,current
11,Trade and other payables,9,24635.0,18368.0,assets,current
12,Borrowings,10,150000.0,150000.0,assets,current
13,Contract Liabilities,18,91.0,73.0,assets,current
14,Lease Liabilities - right-of-use assets,16,1270.0,1771.0,assets,current
15,Provisions,11,792.0,768.0,assets,current
16,Deferred tax liabilities,4,32277.0,11106.0,assets,current
17,Total liabilities,NaN,209065.0,182086.0,assets,current
18,Net assets,NaN,68458.0,64264.0,assets,current
19,Equity,NaN,0.0,0.0,equity_liabilities,equity
20,Issued capital,12,32000.0,32000.0,equity_liabilities,equity
21,Retained earnings,NaN,36458.0,32264.0,equity_liabilities,equity
22,Total equity,NaN,68458.0,64264.0,equity_liabilities,equity

In [11]:
obj_cbs_mapping.bs_bucket_dict

{'ca_cash_and_cash_equivalents': {'main_page_row_indices': [2],
  'main_page_year_total': [28259.0, 19589.0],
  'main_page_raw_note': ['6'],
  'main_page_particular_text_list': ['Cash and cash equivalents'],
  'main_page_value_list': [[28259.0], [19589.0]],
  'notes_table_df':   raw_note_no note_no subnote_no  \
  0           6       6
  1           6       6
  2           6       6
  3           6       6

                                             line_item  year    value
  0                     $000  Cash at bank and on hand  2020  19589.0
  1  $000 Cash at banks earns interest at floating ...  2020      0.0
  2                     $000  Cash at bank and on hand  2019  28259.0
  3  $000 Cash at banks earns interest at floating ...  2019      0.0  },
 'ca_inventories': {'main_page_row_indices': [4],
  'main_page_year_total': [26953.0, 27198.0],
  'main_page_raw_note': ['8'],
  'main_page_particular_text_list': ['Inventories'],
  'main_page_value_list': [[26953.0], [27198.0]],
  'notes_table_df':   raw_note_no note_no subnote_no             line_item  year  value
  0           8       8              $000  Raw materials  2020  18547
  1           8       8             $000  Finished goods  2020   8651
  2           8       8                           $000    2020  27198
  3           8       8              $000  Raw materials  2019  19816
  4           8       8             $000  Finished goods  2019   7137
  5           8       8                           $000    2019  26953},
 'ca_prepaid_expenses': {'main_page_row_indices': [1, 5, 7, 8],
  'main_page_year_total': [134903.0, 67707.0],
  'main_page_raw_note': ['9'],
  'main_page_particular_text_list': ['Current assets',
   'Financial assets',
   'Other current assets',
   'Total current assets'],
  'main_page_value_list': [[0.0, 29753.0, 328.0, 104822.0],
   [0.0, 0.0, 489.0, 67218.0]],
  'notes_table_df':    raw_note_no note_no subnote_no  \
  0            9       9
  1            9       9
  2            9       9
  3            9       9
  4            9       9
  5            9       9
  6            9       9
  7            9       9
  8            9       9
  9            9       9
  10           9       9
  11           9       9

                                              line_item  year    value
  0                                $000 Current Current  2020      0.0
  1   $000 Current Foreign exchange derivatives at f...  2020      0.0
  2   $000 Current Electricity derivatives at fair v...  2020      0.0
  3                                       $000 Current   2020      0.0
  4                        $000 Non-current Non-current  2020      0.0
  5   $000 Non-current Electricity derivatives at fa...  2020      0.0
  6                                $000 Current Current  2019      0.0
  7   $000 Current Foreign exchange derivatives at f...  2019     51.0
  8   $000 Current Electricity derivatives at fair v...  2019  29702.0
  9                                       $000 Current   2019  29753.0
  10                       $000 Non-current Non-current  2019      0.0
  11  $000 Non-current Electricity derivatives at fa...  2019  12453.0  },
 'ca_other_current_assets': {'main_page_row_indices': [1, 7, 8],
  'main_page_year_total': [105150.0, 67707.0],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Current assets',
   'Other current assets',
   'Total current assets'],
  'main_page_value_list': [[0.0, 328.0, 104822.0], [0.0, 489.0, 67218.0]],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'ca_total_current_assets': {'main_page_row_indices': [1, 7, 8],
  'main_page_year_total': [105150.0, 67707.0],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Current assets',
   'Other current assets',
   'Total current assets'],
  'main_page_value_list': [[0.0, 328.0, 104822.0], [0.0, 489.0, 67218.0]],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'nca_net_ppe': {'main_page_row_indices': [11],
  'main_page_year_total': [3731.0, 17531.0],
  'main_page_raw_note': ['12'],
  'main_page_particular_text_list': ['Property, plant and equipment'],
  'main_page_value_list': [[3731.0], [17531.0]],
  'notes_table_df':    raw_note_no note_no subnote_no  \
  0           12      12
  1           12      12
  2           12      12
  3           12      12
  4           12      12
  ..         ...     ...        ...
  70          12      12
  71          12      12
  72          12      12
  73          12      12
  74          12      12

                                              line_item    year     value
  0          Freehold land and buildings $000 Cost Cost  2020.0       0.0
  1   Freehold land and buildings $000 Cost At 1 Jan...  2020.0   90430.0
  2     Freehold land and buildings $000 Cost Additions  2020.0     376.0
  3     Freehold land and buildings $000 Cost Disposals  2020.0    -149.0
  4      Freehold land and buildings $000 Cost Transfer  2020.0      74.0
  ..                                                ...     ...       ...
  70  Total $000 Accumulated depreciation and impair...  2020.0   -1336.0
  71  Total $000 Accumulated depreciation and impair...  2020.0  430161.0
  72           Total $000 Net book value Net book value  2020.0       0.0
  73      Total $000 Net book value At 31 December 2020  2020.0   17531.0
  74      Total $000 Net book value At 31 December 2019  2019.0    3731.0

  [75 rows x 6 columns]},
 'nca_gross_ppe': {'main_page_row_indices': [11],
  'main_page_year_total': [3731.0, 17531.0],
  'main_page_raw_note': ['12'],
  'main_page_particular_text_list': ['Property, plant and equipment'],
  'main_page_value_list': [[3731.0], [17531.0]],
  'notes_table_df':    raw_note_no note_no subnote_no  \
  0           12      12
  1           12      12
  2           12      12
  3           12      12
  4           12      12
  ..         ...     ...        ...
  70          12      12
  71          12      12
  72          12      12
  73          12      12
  74          12      12

                                              line_item    year     value
  0          Freehold land and buildings $000 Cost Cost  2020.0       0.0
  1   Freehold land and buildings $000 Cost At 1 Jan...  2020.0   90430.0
  2     Freehold land and buildings $000 Cost Additions  2020.0     376.0
  3     Freehold land and buildings $000 Cost Disposals  2020.0    -149.0
  4      Freehold land and buildings $000 Cost Transfer  2020.0      74.0
  ..                                                ...     ...       ...
  70  Total $000 Accumulated depreciation and impair...  2020.0   -1336.0
  71  Total $000 Accumulated depreciation and impair...  2020.0  430161.0
  72           Total $000 Net book value Net book value  2020.0       0.0
  73      Total $000 Net book value At 31 December 2020  2020.0   17531.0
  74      Total $000 Net book value At 31 December 2019  2019.0    3731.0

  [75 rows x 6 columns]},
 'nca_other_tangible_assets': {'main_page_row_indices': [12],
  'main_page_year_total': [1476.0, 1007.0],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Right-of-use assets'],
  'main_page_value_list': [[1476.0], [1007.0]],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'nca_tangible_assets': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'nca_goodwill': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'nca_other_intangible_assets': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'nca_intangible_assets': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'nca_investments': {'main_page_row_indices': [10],
  'main_page_year_total': [54535.0, 47672.0],
  'main_page_raw_note': ['11', '11', '11'],
  'main_page_particular_text_list': ['Investment in joint ventures'],
  'main_page_value_list': [[54535.0], [47672.0]],
  'notes_table_df':    raw_note_no note_no subnote_no  \
  0           11      11
  1           11      11
  2           11      11
  3           11      11
  4           11      11
  5           11      11
  6           11      11
  7           11      11
  8           11      11
  9           11      11
  10          11      11
  11          11      11
  12          11      11
  13          11      11
  14          11      11
  15          11      11
  16          11      11
  17          11      11

                                              line_item  year    value
  0                                  $000  At 1 January  2020    54535
  1   $000  Share of gain/(loss) of joint venture, n...  2020     1586
  2   $000  Share of other comprehensive income, net...  2020    -8448
  3   $000  Carrying value of investment at end of year  2020    47672
  4                                  $000  At 1 January  2019    59249
  5   $000  Share of gain/(loss) of joint venture, n...  2019    -7587
  6   $000  Share of other comprehensive income, net...  2019     2873
  7   $000  Carrying value of investment at end of year  2019    54535
  8   $000  Investment in joint venture (Southern Cr...  2020    47672
  9   $000  Investment in joint venture (Southern Cr...  2019    54535
  10  Ownership interest % Southern Cross Southern C...  2020      0.0
  11  Ownership interest % Southern Cross Aluminium ...  2020      0.0
  12  Ownership interest % Southern Cross Southern C...  2019      0.0
  13  Ownership interest % Southern Cross Aluminium ...  2019      0.0
  14  Ownership interest $000 Southern Cross Souther...  2020      0.0
  15  Ownership interest $000 Southern Cross Alumini...  2020  47672.0
  16  Ownership interest $000 Southern Cross Souther...  2019      0.0
  17  Ownership interest $000 Southern Cross Alumini...  2019  54535.0  },
 'nca_deffered_charges': {'main_page_row_indices': [14],
  'main_page_year_total': [12309.0, 24223.0],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Deferred tax assets'],
  'main_page_value_list': [[12309.0], [24223.0]],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'nca_other_assets': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'nca_total_non_current_assets': {'main_page_row_indices': [9, 15, 16],
  'main_page_year_total': [85860.0, 90433.0],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Non-current assets',
   'Other non-current assets',
   'Total non-current assets'],
  'main_page_value_list': [[0.0, 678.0, 85182.0], [0.0, 0.0, 90433.0]],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'cl_short_term_debt': {'main_page_row_indices': [21, 24],
  'main_page_year_total': [4471.0, 412.0],
  'main_page_raw_note': ['16', '16'],
  'main_page_particular_text_list': ['Borrowings', 'Lease liabilities'],
  'main_page_value_list': [[4000.0, 471.0], [0.0, 412.0]],
  'notes_table_df':    raw_note_no note_no subnote_no  \
  0           16      16
  1           16      16
  2           16      16
  3           16      16
  4           16      16
  5           16      16
  6           16      16
  7           16      16
  8           16      16
  9           16      16
  10          16      16
  11          16      16
  12          16      16
  13          16      16
  14          16      16
  15          16      16
  16          16      16
  17          16      16

                                              line_item  year    value
  0                               $000  Bank borrowings  2020      0.0
  1                               $000  Bank borrowings  2019   4000.0
  2   Multi-option facilities $000  facilities facil...  2020  52100.0
  3             Multi-option facilities $000  Utilised   2020      0.0
  4   Multi-option facilities $000  Utilised bank gu...  2020   3273.0
  5   Multi-option facilities $000  Balance at 31 De...  2020  48827.0
  6   Bank guarantee facilities $000  facilities fac...  2020  13500.0
  7           Bank guarantee facilities $000  Utilised   2020      0.0
  8   Bank guarantee facilities $000  Utilised bank ...  2020  13500.0
  9   Bank guarantee facilities $000  Balance at 31 ...  2020      0.0
  10  Multi-option facilities $000  facilities facil...  2019  52100.0
  11            Multi-option facilities $000  Utilised   2019   4000.0
  12  Multi-option facilities $000  Utilised bank gu...  2019   1023.0
  13  Multi-option facilities $000  Balance at 31 De...  2019  47077.0
  14  Bank guarantee facilities $000  facilities fac...  2019  13500.0
  15          Bank guarantee facilities $000  Utilised   2019      0.0
  16  Bank guarantee facilities $000  Utilised bank ...  2019  13500.0
  17  Bank guarantee facilities $000  Balance at 31 ...  2019      0.0  },
 'cl_long_term_debt_due_in_year': {'main_page_row_indices': [19, 23, 25],
  'main_page_year_total': [39800.0, 38056.0],
  'main_page_raw_note': ['15'],
  'main_page_particular_text_list': ['Current liabilities',
   'Financial liabilities',
   'Total current liabilities'],
  'main_page_value_list': [[0.0, 0.0, 39800.0], [0.0, 2935.0, 35121.0]],
  'notes_table_df':   raw_note_no note_no subnote_no  \
  0          15      15
  1          15      15
  2          15      15
  3          15      15
  4          15      15
  5          15      15

                                             line_item  year  value
  0                     $000  Trade and other payables  2020  25569
  1  $000  Electricity derivatives at fair value th...  2020   2935
  2                            $000  Lease liabilities  2020   1053
  3                                             $000    2020  29557
  4                                      $000  Current  2020  25662
  5                                  $000  Non-current  2020   3895  },
 'cl_note_payable_debt': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'cl_accounts_payable': {'main_page_row_indices': [20],
  'main_page_year_total': [26101.0, 22315.0],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Trade and other payables'],
  'main_page_value_list': [[26101.0], [22315.0]],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'cl_accrued_expenses': {'main_page_row_indices': [19, 23, 25],
  'main_page_year_total': [39800.0, 38056.0],
  'main_page_raw_note': ['15'],
  'main_page_particular_text_list': ['Current liabilities',
   'Financial liabilities',
   'Total current liabilities'],
  'main_page_value_list': [[0.0, 0.0, 39800.0], [0.0, 2935.0, 35121.0]],
  'notes_table_df':   raw_note_no note_no subnote_no  \
  0          15      15
  1          15      15
  2          15      15
  3          15      15
  4          15      15
  5          15      15

                                             line_item  year  value
  0                     $000  Trade and other payables  2020  25569
  1  $000  Electricity derivatives at fair value th...  2020   2935
  2                            $000  Lease liabilities  2020   1053
  3                                             $000    2020  29557
  4                                      $000  Current  2020  25662
  5                                  $000  Non-current  2020   3895  },
 'cl_tax_payable': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'cl_other_current_liabilities': {'main_page_row_indices': [19, 25],
  'main_page_year_total': [39800.0, 35121.0],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Current liabilities',
   'Total current liabilities'],
  'main_page_value_list': [[0.0, 39800.0], [0.0, 35121.0]],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'cl_total_current_liabilities': {'main_page_row_indices': [19, 25],
  'main_page_year_total': [39800.0, 35121.0],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Current liabilities',
   'Total current liabilities'],
  'main_page_value_list': [[0.0, 39800.0], [0.0, 35121.0]],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'ncl_long_term_debt': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'ncl_long_term_borrowing': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'ncl_bond': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'ncl_suboardinate_debt': {'main_page_row_indices': [29],
  'main_page_year_total': [1042.0, 641.0],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Lease liabilities'],
  'main_page_value_list': [[1042.0], [641.0]],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'ncl_deferred_taxes': {'main_page_row_indices': [30],
  'main_page_year_total': [23326.0, 18466.0],
  'main_page_raw_note': [],
  'main_page_particular_text_list': ['Deferred tax liabilities'],
  'main_page_value_list': [[23326.0], [18466.0]],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'ncl_other_long_term_liabilities': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],
  'main_page_raw_note': [],
  'main_page_particular_text_list': [],
  'main_page_value_list': [[], []],
  'notes_table_df': Empty DataFrame
  Columns: [raw_note_no, note_no, subnote_no, line_item, year, value]
  Index: []},
 'ncl_minority_interest': {'main_page_row_indices': [],
  'main_page_year_total': [0, 0],

In [91]:
display(obj_cbs_mapping.bs_bucket_dict['nca_investments']['notes_table_df'])

,raw_note_no,note_no,subnote_no,line_item,year,value
0,11,11,,$000 At 1 January,2020,54535
1,11,11,,"$000 Share of gain/(loss) of joint venture, n...",2020,1586
2,11,11,,"$000 Share of other comprehensive income, net...",2020,-8448
3,11,11,,$000 Carrying value of investment at end of year,2020,47672
4,11,11,,$000 At 1 January,2019,59249
5,11,11,,"$000 Share of gain/(loss) of joint venture, n...",2019,-7587
6,11,11,,"$000 Share of other comprehensive income, net...",2019,2873
7,11,11,,$000 Carrying value of investment at end of year,2019,54535
8,11,11,,$000 Investment in joint venture (Southern Cr...,2020,47672
9,11,11,,$000 Investment in joint venture (Southern Cr...,2019,54535
10,11,11,,Ownership interest % Southern Cross Southern C...,2020,0.0
11,11,11,,Ownership interest % Southern Cross Aluminium ...,2020,0.0
12,11,11,,Ownership interest % Southern Cross Southern C...,2019,0.0
13,11,11,,Ownership interest % Southern Cross Aluminium ...,2019,0.0
14,11,11,,Ownership interest $000 Southern Cross Souther...,2020,0.0
15,11,11,,Ownership interest $000 Southern Cross Alumini...,2020,47672.0
16,11,11,,Ownership interest $000 Southern Cross Souther...,2019,0.0
17,11,11,,Ownership interest $000 Southern Cross Alumini...,2019,54535.0

In [12]:
a = ['ada','iii']
b = ['adad','ppp']
for x,y in zip(a,b):
    print(x)
    print(y)

ada
adad
iii
ppp

In [13]:
##dev code

In [14]:
from TechMagicFuzzy import TechMagicFuzzy

In [15]:
obj_techfuzzy = TechMagicFuzzy()

In [16]:
text1 = "Trade and Other receivabkles"
keywords1 = ["current"]
text2 = " Trade and Other receivabkles add ada"

In [17]:
obj_techfuzzy.partial_ratio_pro(text1, keywords1)

[('current', 43)]

In [18]:
obj_techfuzzy.token_sort_pro(text1, keywords1)

[('current', 24)]

In [19]:
from fuzzywuzzy import fuzz

In [20]:
fuzz.ratio(text1,text2)

86

In [21]:
from itertools import chain

list(chain.from_iterable([[2,4,6]]))

[2, 4, 6]

In [22]:
list(chain.from_iterable([2,4,6]))

TypeError: 'int' object is not iterable

In [ ]:
list(chain(*[[2,4,6]]))

In [ ]:
list(chain(*[2,4,6]))

In [ ]:
from operator import add
import functools

In [ ]:
functools.reduce(add, [[2,4,6]])

In [ ]:
import numpy as np

In [ ]:
import uuid
from uuid import UUID

In [ ]:
b = [list([UUID('6354e3c7-4619-3a07-b336-df681451d867'), UUID('6354e3c7-4619-3a07-b336-df681451d867')])]

In [ ]:
len(b)

In [ ]:
b

In [102]:
test_notetable = obj_cbs_mapping.bs_bucket_dict['nca_net_ppe']['notes_table_df']

In [103]:
test_notetable

,raw_note_no,note_no,subnote_no,line_item,year,value
0,12,12,,Freehold land and buildings $000 Cost Cost,2020.0,0.0
1,12,12,,Freehold land and buildings $000 Cost At 1 Jan...,2020.0,90430.0
2,12,12,,Freehold land and buildings $000 Cost Additions,2020.0,376.0
3,12,12,,Freehold land and buildings $000 Cost Disposals,2020.0,-149.0
4,12,12,,Freehold land and buildings $000 Cost Transfer,2020.0,74.0
...,...,...,...,...,...,...
70,12,12,,Total $000 Accumulated depreciation and impair...,2020.0,-1336.0
71,12,12,,Total $000 Accumulated depreciation and impair...,2020.0,430161.0
72,12,12,,Total $000 Net book value Net book value,2020.0,0.0
73,12,12,,Total $000 Net book value At 31 December 2020,2020.0,17531.0
74,12,12,,Total $000 Net book value At 31 December 2019,2019.0,3731.0

In [104]:
sorted(list(test_notetable.year.unique()))

[2019.0, 2020.0]

In [112]:
years = sorted(list(test_notetable.year.unique()))
years = map(int, years)

In [113]:
col_list = ["line_item"]
col_list.extend(years)

In [114]:
col_list

['line_item', 2019, 2020]

In [115]:
new_horizontal_note_df

                                            line_item  2019.0    2020.0
0          Freehold land and buildings $000 Cost Cost     NaN       0.0
1   Freehold land and buildings $000 Cost At 1 Jan...     NaN   90430.0
2     Freehold land and buildings $000 Cost Additions     NaN     376.0
3     Freehold land and buildings $000 Cost Disposals     NaN    -149.0
4      Freehold land and buildings $000 Cost Transfer     NaN      74.0
..                                                ...     ...       ...
70  Total $000 Accumulated depreciation and impair...     NaN   -1336.0
71  Total $000 Accumulated depreciation and impair...     NaN  430161.0
72           Total $000 Net book value Net book value     NaN       0.0
73      Total $000 Net book value At 31 December 2020     NaN   17531.0
74      Total $000 Net book value At 31 December 2019  3731.0      None

[75 rows x 3 columns]

In [116]:
new_horizontal_note_df = pd.DataFrame(columns=col_list)
for idx,row in test_notetable.iterrows():
    # print(row)
    if row["line_item"] in set(new_horizontal_note_df['line_item']):
        new_horizontal_note_df.loc[new_horizontal_note_df.line_item == row["line_item"],row["year"]] = row["value"]
    else:
        tmp_df = dict.fromkeys(col_list)
        tmp_df["line_item"] =  row["line_item"]
        tmp_df[row["year"]] = row["value"]
        display(tmp_df)
        # print(tmp_df)
        new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Cost Cost',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Cost At 1 January 2020',
 2019: None,
 2020: 90430.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Cost Additions',
 2019: None,
 2020: 376.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Cost Disposals',
 2019: None,
 2020: -149.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Cost Transfer',
 2019: None,
 2020: 74.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Cost At 31 December 2020',
 2019: None,
 2020: 90731.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Accumulated depreciation and impairment Accumulated depreciation and impairment',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Accumulated depreciation and impairment At1 January 2020',
 2019: None,
 2020: 90235.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Accumulated depreciation and impairment Depreciation charge for the year',
 2019: None,
 2020: 57.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Accumulated depreciation and impairment Impairment*',
 2019: None,
 2020: 351.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Accumulated depreciation and impairment Disposals',
 2019: None,
 2020: -154.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Accumulated depreciation and impairment At 31 December 2020',
 2019: None,
 2020: 90489.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Net book value Net book value',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Net book value At 31 December 2020',
 2019: None,
 2020: 242.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Freehold land and buildings $000 Net book value At 31 December 2019',
 2019: 195.0,
 2020: None}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Cost Cost', 2019: None, 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Cost At 1 January 2020',
 2019: None,
 2020: 314181.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Cost Additions',
 2019: None,
 2020: 5232.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Cost Disposals',
 2019: None,
 2020: -1122.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Cost Transfer',
 2019: None,
 2020: -74.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Cost At 31 December 2020',
 2019: None,
 2020: 318217.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Accumulated depreciation and impairment Accumulated depreciation and impairment',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Accumulated depreciation and impairment At1 January 2020',
 2019: None,
 2020: 312388.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Accumulated depreciation and impairment Depreciation charge for the year',
 2019: None,
 2020: 827.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Accumulated depreciation and impairment Impairment*',
 2019: None,
 2020: 4618.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Accumulated depreciation and impairment Disposals',
 2019: None,
 2020: -1182.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Accumulated depreciation and impairment At 31 December 2020',
 2019: None,
 2020: 316651.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Net book value Net book value',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Net book value At 31 December 2020',
 2019: None,
 2020: 1566.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Plant and equipment $000 Net book value At 31 December 2019',
 2019: 1793.0,
 2020: None}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Cost Cost',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Cost At 1 January 2020',
 2019: None,
 2020: 1628.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Cost Additions',
 2019: None,
 2020: 34643.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Cost Disposals',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Cost Transfer',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Cost At 31 December 2020',
 2019: None,
 2020: 36271.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Accumulated depreciation and impairment Accumulated depreciation and impairment',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Accumulated depreciation and impairment At1 January 2020',
 2019: None,
 2020: 1628.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Accumulated depreciation and impairment Depreciation charge for the year',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Accumulated depreciation and impairment Impairment*',
 2019: None,
 2020: 20598.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Accumulated depreciation and impairment Disposals',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Accumulated depreciation and impairment At 31 December 2020',
 2019: None,
 2020: 22226.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Net book value Net book value',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Net book value At 31 December 2020',
 2019: None,
 2020: 14045.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Asset Retirement Obligation** $000 Net book value At 31 December 2019',
 2019: 1743.0,
 2020: None}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Cost Cost',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Cost At 1 January 2020',
 2019: None,
 2020: 2538.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Cost Additions',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Cost Disposals',
 2019: None,
 2020: -65.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Cost Transfer',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Cost At 31 December 2020',
 2019: None,
 2020: 2473.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Accumulated depreciation and impairment Accumulated depreciation and impairment',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Accumulated depreciation and impairment At1 January 2020',
 2019: None,
 2020: 795.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Accumulated depreciation and impairment Depreciation charge for the year',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Accumulated depreciation and impairment Impairment*',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Accumulated depreciation and impairment Disposals',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Accumulated depreciation and impairment At 31 December 2020',
 2019: None,
 2020: 795.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Net book value Net book value',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Net book value At 31 December 2020',
 2019: None,
 2020: 1678.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Construction inj progress $000 Net book value At 31 December 2019',
 2019: 0.0,
 2020: None}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Cost Cost', 2019: None, 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Cost At 1 January 2020', 2019: None, 2020: 408777.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Cost Additions', 2019: None, 2020: 40251.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Cost Disposals', 2019: None, 2020: -1336.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Cost Transfer', 2019: None, 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Cost At 31 December 2020',
 2019: None,
 2020: 447692.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Accumulated depreciation and impairment Accumulated depreciation and impairment',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Accumulated depreciation and impairment At1 January 2020',
 2019: None,
 2020: 405046.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Accumulated depreciation and impairment Depreciation charge for the year',
 2019: None,
 2020: 884.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Accumulated depreciation and impairment Impairment*',
 2019: None,
 2020: 25567.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Accumulated depreciation and impairment Disposals',
 2019: None,
 2020: -1336.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Accumulated depreciation and impairment At 31 December 2020',
 2019: None,
 2020: 430161.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Net book value Net book value',
 2019: None,
 2020: 0.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Net book value At 31 December 2020',
 2019: None,
 2020: 17531.0}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

{'line_item': 'Total $000 Net book value At 31 December 2019',
 2019: 3731.0,
 2020: None}

/tmp/ipykernel_603/394880500.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_horizontal_note_df = new_horizontal_note_df.append(tmp_df, ignore_index=True)

In [119]:
pd.set_option('display.max_rows', 500)

In [11]:
# new_horizontal_note_df

In [12]:
# test_notetable

In [13]:
### raw dump to excels

In [39]:
from openpyxl.utils import get_column_letter

In [40]:
get_column_letter(1)

'A'

In [41]:
from openpyxl import Workbook
from openpyxl.worksheet.table import Table, TableStyleInfo
wb = Workbook()

In [42]:
wb.create_sheet('cbs')
wb.create_sheet('cpl')
wb.create_sheet('ccf')

In [43]:
wb.active = wb['cbs']

In [44]:
ws  = wb.active

In [45]:
for meta_key, val in obj_cbs_mapping.bs_bucket_dict.items():
    print(meta_key)
    ws.append([meta_key])
    ws.append(["Main Page Selected line items"])
    if len(val['main_page_cropped_df']) > 0:
        ws.append(list(val['main_page_cropped_df'].columns))
        for idx,row in val['main_page_cropped_df'].iterrows():
            ws.append(row.tolist())
    ws.append(["Notes Data"])
    if len(val['notes_horizontal_table_df'])>0:
        ws.append(list(val['notes_horizontal_table_df'].columns))
        for idx,row in val['notes_horizontal_table_df'].iterrows():
            ws.append(row.tolist())
    ws.append([])

ca_cash_and_cash_equivalents
ca_inventories
ca_prepaid_expenses
ca_other_current_assets
ca_total_current_assets
nca_net_ppe
nca_gross_ppe
nca_other_tangible_assets
nca_tangible_assets
nca_goodwill
nca_other_intangible_assets
nca_intangible_assets
nca_investments
nca_deffered_charges
nca_other_assets
nca_total_non_current_assets
cl_short_term_debt
cl_long_term_debt_due_in_year
cl_note_payable_debt
cl_accounts_payable
cl_accrued_expenses
cl_tax_payable
cl_other_current_liabilities
cl_total_current_liabilities
ncl_long_term_debt
ncl_long_term_borrowing
ncl_bond
ncl_suboardinate_debt
ncl_deferred_taxes
ncl_other_long_term_liabilities
ncl_minority_interest
ncl_long_term_liabilities
eqt_common_stock
eqt_additional_paid_in_capital
eqt_other_reserves
eqt_retained_earnings
eqt_others
eqt_shareholder_equity
total_liability_equity
lbt_total_liability
ast_total_assets
nca_accumulated_depreciation
ca_account_receivables

In [46]:
wb.save('rawdump.xlsx')