In [1]:
import pandas as pd
import os
from os import path
import json

In [2]:
from process_core import mainPageProcess

/home/jayesh/anaconda3/envs/crm_syd/lib/python3.9/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [3]:
from CCF_mapping import CCFMapping

In [4]:
fileid = "599060e9-8b46-46ec-87b9-c79cde8a82b7"

In [5]:
mp = mainPageProcess()

In [8]:
cbs_dict,cpl_dict,ccf_dict,meta_dict,final_notes_dict,ref_notes_list, notes_region_meta_data,cropped_table_dict = mp.process_main_pages(fileid=fileid)

/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:54: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:54: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:54: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:466: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:466: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')

In [9]:
ccf_dict

{9:                                           Particulars Notes      2020  \
 0                                Operating activities   NaN       0.0
 1                             Receipts from customers   NaN  236072.0
 2                 Payments to suppliers and employees   NaN -254965.0
 3                     Receipts from government grants   NaN   14395.0
 4                                   Interest received   NaN      60.0
 5                                       Interest paid   NaN    -203.0
 6         Receipts of income tax (from related party)   NaN    6420.0
 7            Net cash flows from operating activities   NaN    1779.0
 8                                Investing activities   NaN       0.0
 9           Purchase of property, plant and equipment   NaN   -5608.0
 10        Net cash flows used in investing activities   NaN   -5608.0
 11                               Financing activities   NaN       0.0
 12  Repayments of principal portion lease liabilities   NaN    -841.0
 13                      Proceeds from bank borrowings   NaN       0.0
 14                      Repayments of bank borrowings   NaN   -4000.0
 15        Net cash flows used in financing activities   NaN   -4841.0
 16  Net (decrease/increase in cash and cash equiva...   NaN   -8670.0
 17  Cash and cash equivalents at beginning of the ...   NaN   28259.0
 18           Cash and cash equivalents at 31 December     6   19589.0

         2019     statement_section statement_sub_section
 0        0.0  operating_activities                  None
 1   239654.0  operating_activities                  None
 2  -239897.0  operating_activities                  None
 3     8475.0  operating_activities                  None
 4      170.0  operating_activities                  None
 5     -303.0  operating_activities                  None
 6     3977.0  operating_activities                  None
 7    12076.0  operating_activities                  None
 8        0.0  investing_activities                  None
 9    -4012.0  investing_activities                  None
 10   -4012.0  investing_activities                  None
 11       0.0  financing_activities                  None
 12    -582.0  financing_activities                  None
 13   33500.0  financing_activities                  None
 14  -36500.0  financing_activities                  None
 15   -3582.0  financing_activities                  None
 16    4482.0  financing_activities                  None
 17   23777.0  financing_activities                  None
 18   28259.0  financing_activities                  None  }

In [10]:
ccf_dict[9].columns = ccf_dict[9].columns.map(str)

In [11]:
obj_ccf_mapping = CCFMapping(ccf_df=ccf_dict[9])

In [12]:
obj_ccf_mapping.trigger_job()

report_data_tuning
get_section_subtotal
process_operating_bucket
FINANCIAL_YEAR : 2019
Bucket Keyword : Net Income
Bucket Keyword : Depreciation & Amortization(+)
Bucket Keyword : Taxes(Deferred etc)
Bucket Keyword : (Gain)/Loss from PP&E Sales
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Net Working Capital
Bucket Keyword : Other Operating Cashflow
Bucket Keyword : Cash from Operating Activities
BALANCING INDEX FOUND AT: 5
SUBTOTAL INDEX FOUND AT: 6
TOTAL SUM: 12076.0 | VALUE ADJUSTED: 0.0 | BALANCING FIGURE : 12076.0
-------------------------
FINANCIAL_YEAR : 2020
Bucket Keyword : Net Income
Bucket Keyword : Depreciation & Amortization(+)
Bucket Keyword : Taxes(Deferred etc)
Bucket Keyword : (Gain)/Loss from PP&E Sales
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Net Working Capital
Bucket Keyword : Other Operating Cashflow
Bucket Keyword : Cash from Operating Activities
BALANCING INDEX FOUND AT: 5
SUBTOTAL INDEX FOUND AT: 6
TOTAL SUM: 1779.0 | VALUE ADJUSTED: 0.0 | BALANCING FIGURE : 1779.0
-------------------------
=========================================================
NET SUBTOTAL : {'2019': 12076.0, '2020': 1779.0}
----- AFTER PROCESSING BUCKET DATA -----
    id statement_type     statement_section statement_sub_section  \
0  100            ccf  operating_activities  operating_activities
1  101            ccf  operating_activities  operating_activities
2  102            ccf  operating_activities  operating_activities
3  103            ccf  operating_activities  operating_activities
4  104            ccf  operating_activities  operating_activities
5  105            ccf  operating_activities  operating_activities
6  106            ccf  operating_activities  operating_activities

                 primary_keywords  \
0                      Net Income
1  Depreciation & Amortization(+)
2             Taxes(Deferred etc)
3     (Gain)/Loss from PP&E Sales
4             Net Working Capital
5        Other Operating Cashflow
6  Cash from Operating Activities

                                      target_keyword exclude_target_keyword  \
0                                         net_income                   NULL
1                           depreciation_amortizatio                   NULL
2                                              taxes                   NULL
3  loss on sales of property|plant and equipment|...                   NULL
4                                net_working_capital                   NULL
5                                               NULL                   NULL
6                                               NULL                   NULL

  fetch_type note_keyword exclude_note_keyword  ... custom_formula remarks  \
0       skip         NULL                 NULL  ...           NULL    NULL
1       skip         NULL                 NULL  ...           NULL    NULL
2       skip         NULL                 NULL  ...           NULL    NULL
3     Direct         NULL                 NULL  ...           NULL    NULL
4    Formula         NULL                 NULL  ...           NULL    NULL
5    Formula         NULL                 NULL  ...           NULL    NULL
6    Formula         NULL                 NULL  ...           NULL    NULL

  ref_notes_key template_row_map sequence_view match_type  \
0          NULL             NULL            82       NULL
1          NULL             NULL            83       NULL
2          NULL                8            84       NULL
3          NULL                9            85       NULL
4          NULL               10            86       NULL
5          NULL             NULL            87       NULL
6          NULL               12            88       NULL

         cdm_keyword_name     2019    2020 score
0             CF_NET_INCM      0.0     0.0     0
1     CF_DEPRE_AMORTZATIO      0.0     0.0     0
2                CF_TAXES      0.0     0.0     0
3   CF_GAIN_FROM_PP_AND_E      0.0     0.0     0
4  CF_NET_WORKING_CAPITAL      0.0     0.0     0
5   CF_OTHER_OPE_CASHFLOW  12076.0  1779.0    95
6   CF_CASH_FROM_OPE_ACVT  12076.0  1779.0    95

[7 rows x 23 columns]
process_investing_bucket
FINANCIAL_YEAR : 2019
Bucket Keyword : CAPEX(-)
BEST MATCH: {'data_index': [9], 'score': 100, 'value': -4012.0, 'label': 'Purchase of property, plant and equipment'}
MATCH FOUND {'data_index': [9], 'score': 100, 'value': -4012.0, 'label': 'Purchase of property, plant and equipment'}
Bucket Keyword : Investment(-)
BEST MATCH: {'data_index': [8], 'score': 100, 'value': 0.0, 'label': 'Investing activities'}
MATCH FOUND {'data_index': [8], 'score': 100, 'value': 0.0, 'label': 'Investing activities'}
Bucket Keyword : Acquisitions(-)
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Proceeds from PP&E Sales(+)
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Other Investment Cashflow
Bucket Keyword : Cash from Investments Activities
BALANCING INDEX FOUND AT: 11
SUBTOTAL INDEX FOUND AT: 12
TOTAL SUM: -4012.0 | VALUE ADJUSTED: -4012.0 | BALANCING FIGURE : 0.0
-------------------------
FINANCIAL_YEAR : 2020
Bucket Keyword : CAPEX(-)
BEST MATCH: {'data_index': [9], 'score': 100, 'value': -5608.0, 'label': 'Purchase of property, plant and equipment'}
MATCH FOUND {'data_index': [9], 'score': 100, 'value': -5608.0, 'label': 'Purchase of property, plant and equipment'}
Bucket Keyword : Investment(-)
BEST MATCH: {'data_index': [8], 'score': 100, 'value': 0.0, 'label': 'Investing activities'}
MATCH FOUND {'data_index': [8], 'score': 100, 'value': 0.0, 'label': 'Investing activities'}
Bucket Keyword : Acquisitions(-)
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Proceeds from PP&E Sales(+)
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Other Investment Cashflow
Bucket Keyword : Cash from Investments Activities
BALANCING INDEX FOUND AT: 11
SUBTOTAL INDEX FOUND AT: 12
TOTAL SUM: -5608.0 | VALUE ADJUSTED: -5608.0 | BALANCING FIGURE : 0.0
-------------------------
=========================================================
NET SUBTOTAL : {'2019': -4012.0, '2020': -5608.0}
----- AFTER PROCESSING BUCKET DATA -----
     id statement_type     statement_section statement_sub_section  \
7   107            ccf  investing_activities  investing_activities
8   108            ccf  investing_activities  investing_activities
9   109            ccf  investing_activities  investing_activities
10  110            ccf  investing_activities  investing_activities
11  111            ccf  investing_activities  investing_activities
12  112            ccf  investing_activities  investing_activities

                    primary_keywords  \
7                           CAPEX(-)
8                      Investment(-)
9                    Acquisitions(-)
10       Proceeds from PP&E Sales(+)
11         Other Investment Cashflow
12  Cash from Investments Activities

                                       target_keyword exclude_target_keyword  \
7   plant and equipment|ppe|pp&e|plant property eq...                   NULL
8   investments|purchase of non current investment...                   NULL
9                                        acquisitions                   NULL
10  proceeds from sale of property plant and equip...                   NULL
11                                               NULL                   NULL
12                                               NULL                   NULL

   fetch_type note_keyword exclude_note_keyword  ... custom_formula remarks  \
7      Direct         NULL                 NULL  ...           NULL    NULL
8      Direct         NULL                 NULL  ...           NULL    NULL
9      Direct         NULL                 NULL  ...           NULL    NULL
10     Direct         NULL                 NULL  ...           NULL    NULL
11    Formula         NULL                 NULL  ...           NULL    NULL
12    Formula         NULL                 NULL  ...           NULL    NULL

   ref_notes_key template_row_map sequence_view match_type  \
7           NULL               13            89       NULL
8           NULL               14            90       NULL
9           NULL               15            91       NULL
10          NULL               16            92       NULL
11          NULL             NULL            93       NULL
12          NULL               18            94       NULL

             cdm_keyword_name    2019    2020 score
7                    CF_CAPEX -4012.0 -5608.0   100
8                    CF_INVST     0.0     0.0   100
9             CF_ACQUISITIONS     0.0     0.0     0
10  CF_PROCEEDS_FROM_PP_AND_E     0.0     0.0     0
11    CF_OTHER_INVST_CASHFLOW     0.0     0.0    95
12    CF_CASH_FROM_INVST_ACVT -4012.0 -5608.0    95

[6 rows x 23 columns]
process_financing_bucket
FINANCIAL_YEAR : 2019
Bucket Keyword : Sale of Stock(+)
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Purchase of Stock(-)
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Cash Dividends(-)
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Debt Borrowing(+)
BEST MATCH: {'data_index': [13], 'score': 100, 'value': 33500.0, 'label': 'Proceeds from bank borrowings'}
MATCH FOUND {'data_index': [13], 'score': 100, 'value': 33500.0, 'label': 'Proceeds from bank borrowings'}
Bucket Keyword : Debt Repayment(-)
BEST MATCH: {'data_index': [12, 14], 'score': 100, 'value': -37082.0, 'label': 'Repayments of bank borrowings'}
MATCH FOUND {'data_index': [12, 14], 'score': 100, 'value': -37082.0, 'label': 'Repayments of bank borrowings'}
Bucket Keyword : Other Financing Cashflow *
Bucket Keyword : Cash from Financing Activities
BALANCING INDEX FOUND AT: 18
SUBTOTAL INDEX FOUND AT: 19
TOTAL SUM: -3582.0 | VALUE ADJUSTED: -3582.0 | BALANCING FIGURE : 0.0
-------------------------
FINANCIAL_YEAR : 2020
Bucket Keyword : Sale of Stock(+)
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Purchase of Stock(-)
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Cash Dividends(-)
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Debt Borrowing(+)
BEST MATCH: {'data_index': [13], 'score': 100, 'value': 0.0, 'label': 'Proceeds from bank borrowings'}
MATCH FOUND {'data_index': [13], 'score': 100, 'value': 0.0, 'label': 'Proceeds from bank borrowings'}
Bucket Keyword : Debt Repayment(-)
BEST MATCH: {'data_index': [12, 14], 'score': 100, 'value': -4841.0, 'label': 'Repayments of bank borrowings'}
MATCH FOUND {'data_index': [12, 14], 'score': 100, 'value': -4841.0, 'label': 'Repayments of bank borrowings'}
Bucket Keyword : Other Financing Cashflow *
Bucket Keyword : Cash from Financing Activities
BALANCING INDEX FOUND AT: 18
SUBTOTAL INDEX FOUND AT: 19
TOTAL SUM: -4841.0 | VALUE ADJUSTED: -4841.0 | BALANCING FIGURE : 0.0
-------------------------
=========================================================
NET SUBTOTAL : {'2019': -3582.0, '2020': -4841.0}
----- AFTER PROCESSING BUCKET DATA -----
     id statement_type     statement_section statement_sub_section  \
13  113            ccf  financing_activities  financing_activities
14  114            ccf  financing_activities  financing_activities
15  115            ccf  financing_activities  financing_activities
16  116            ccf  financing_activities  financing_activities
17  117            ccf  financing_activities  financing_activities
18  118            ccf  financing_activities  financing_activities
19  119            ccf  financing_activities  financing_activities

                  primary_keywords  \
13                Sale of Stock(+)
14            Purchase of Stock(-)
15               Cash Dividends(-)
16               Debt Borrowing(+)
17               Debt Repayment(-)
18      Other Financing Cashflow *
19  Cash from Financing Activities

                                       target_keyword exclude_target_keyword  \
13  issue of share capital|issue of equity share c...                   NULL
14  buy back of share captial|treasury shares|shar...                   NULL
15                                           dividend                   NULL
16                                     borrowings|loa                   NULL
17                                   borrowings|lease                   NULL
18                                               NULL                   NULL
19                                               NULL                   NULL

   fetch_type note_keyword exclude_note_keyword  ... custom_formula remarks  \
13     Direct         NULL                 NULL  ...           NULL    NULL
14     Direct         NULL                 NULL  ...           NULL    NULL
15     Direct         NULL                 NULL  ...           NULL    NULL
16     Direct         NULL                 NULL  ...           NULL    NULL
17     Direct         NULL                 NULL  ...           NULL    NULL
18    Formula         NULL                 NULL  ...           NULL    NULL
19    Formula         NULL                 NULL  ...           NULL    NULL

   ref_notes_key template_row_map sequence_view match_type  \
13          NULL               19            95       NULL
14          NULL               20            96       NULL
15          NULL               21            97       NULL
16          NULL               22            98       NULL
17          NULL               23            99       NULL
18          NULL             NULL           100       NULL
19          NULL               25           101       NULL

            cdm_keyword_name     2019    2020 score
13          CF_SALE_OF_STOCK      0.0     0.0     0
14      CF_PURCHASE_OF_STOCK      0.0     0.0     0
15          CF_CASH_DIVIDNDS      0.0     0.0     0
16         CF_DEBT_BORROWING  33500.0     0.0   100
17         CF_DEBT_REPAYMENT -37082.0 -4841.0   100
18  CF_OTHER_FINCNG_CASHFLOW      0.0     0.0    95
19  CF_CASH_FROM_FINCNG_ACVT  -3582.0 -4841.0    95

[7 rows x 23 columns]

/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/CashFlowDataBucketing.py:267: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data['flg_processed'] = False
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/CashFlowDataBucketing.py:331: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.df_response = self.df_response.append(df_bucket, ignore_index=True)
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/CashFlowDataBucketing.py:267: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data['flg_processed'] = False
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/CashFlowDataBucketing.py:404: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.df_drilldown_gen = self.df_drilldown_gen.append(dict_row, ignore_index=True)
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/CashFlowDataBucketing.py:404: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.df_drilldown_gen = self.df_drilldown_gen.append(dict_row, ignore_index=True)
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/CashFlowDataBucketing.py:267: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data['flg_processed'] = False
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/CashFlowDataBucketing.py:331: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.df_response = self.df_response.append(df_bucket, ignore_index=True)
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/CashFlowDataBucketing.py:267: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data['flg_processed'] = False
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/CashFlowDataBucketing.py:404: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.df_drilldown_gen = self.df_drilldown_gen.append(dict_row, ignore_index=True)
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/CashFlowDataBucketing.py:404: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.df_drilldown_gen = self.df_drilldown_gen.append(dict_row, ignore_index=True)
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/CashFlowDataBucketing.py:404: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.df_drilldown_gen = self.df_drilldown_gen.append(dict_row, ignore_index=True)
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/CashFlowDataBucketing.py:267: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data['flg_processed'] = False
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/CashFlowDataBucketing.py:331: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.df_response = self.df_response.append(df_bucket, ignore_index=True)

In [13]:
obj_ccf_mapping.df_response

,Particulars,exclude_target_keyword,exclude_note_keyword,meta_keyword,cdm_keyword_name,2019,2020,score
0,Net Income,NULL,NULL,net_income,CF_NET_INCM,0.0,0.0,0
1,Depreciation & Amortization(+),NULL,NULL,depreciation_amortizatio,CF_DEPRE_AMORTZATIO,0.0,0.0,0
2,Taxes(Deferred etc),NULL,NULL,taxes,CF_TAXES,0.0,0.0,0
3,(Gain)/Loss from PP&E Sales,NULL,NULL,ppe_sales_gain_loss,CF_GAIN_FROM_PP_AND_E,0.0,0.0,0
4,Net Working Capital,NULL,NULL,net_working_capital,CF_NET_WORKING_CAPITAL,0.0,0.0,0
5,Other Operating Cashflow,NULL,NULL,other_operating_cashflow,CF_OTHER_OPE_CASHFLOW,12076.0,1779.0,95
6,Cash from Operating Activities,NULL,NULL,cash_from_operating_acts,CF_CASH_FROM_OPE_ACVT,12076.0,1779.0,95
7,CAPEX(-),NULL,NULL,capex,CF_CAPEX,-4012.0,-5608.0,100
8,Investment(-),NULL,NULL,investment,CF_INVST,0.0,0.0,100
9,Acquisitions(-),NULL,NULL,acquisitions,CF_ACQUISITIONS,0.0,0.0,0
10,Proceeds from PP&E Sales(+),NULL,NULL,proceeds_from_ppe_sales,CF_PROCEEDS_FROM_PP_AND_E,0.0,0.0,0
11,Other Investment Cashflow,NULL,NULL,other_investment_cashflow,CF_OTHER_INVST_CASHFLOW,0.0,0.0,95
12,Cash from Investments Activities,NULL,NULL,cash_from_investments_acts,CF_CASH_FROM_INVST_ACVT,-4012.0,-5608.0,95
13,Sale of Stock(+),NULL,NULL,sale_of_stock,CF_SALE_OF_STOCK,0.0,0.0,0
14,Purchase of Stock(-),NULL,NULL,purchase_of_stock,CF_PURCHASE_OF_STOCK,0.0,0.0,0
15,Cash Dividends(-),NULL,NULL,cash_dividends,CF_CASH_DIVIDNDS,0.0,0.0,0
16,Debt Borrowing(+),NULL,NULL,debt_borrowing,CF_DEBT_BORROWING,33500.0,0.0,100
17,Debt Repayment(-),NULL,NULL,debt_repayment,CF_DEBT_REPAYMENT,-37082.0,-4841.0,100
18,Other Financing Cashflow *,NULL,NULL,other_financing_cashflow,CF_OTHER_FINCNG_CASHFLOW,0.0,0.0,95
19,Cash from Financing Activities,NULL,NULL,cash_from_financing_acts,CF_CASH_FROM_FINCNG_ACVT,-3582.0,-4841.0,95

In [30]:
ccf_dict[9]

,Particulars,Notes,2020,2019,statement_section,statement_sub_section,flg_processed
0,Operating activities,NaN,NaN,NaN,operating_activities,None,False
1,Receipts from customers,NaN,236072.0,239654.0,operating_activities,None,False
2,Payments to suppliers and employees,NaN,-254965.0,-239897.0,operating_activities,None,False
3,Receipts from government grants,NaN,14395.0,8475.0,operating_activities,None,False
4,Interest received,NaN,60.0,170.0,operating_activities,None,False
5,Interest paid,NaN,-203.0,-303.0,operating_activities,None,False
6,Receipts of income tax (from related party),NaN,6420.0,3977.0,operating_activities,None,False
8,Investing activities,NaN,NaN,NaN,investing_activities,None,False
9,"Purchase of property, plant and equipment",NaN,-5608.0,-4012.0,investing_activities,None,False
11,Financing activities,NaN,NaN,NaN,financing_activities,None,False
12,Repayments of principal portion lease liabilities,NaN,-841.0,-582.0,financing_activities,None,False
13,Proceeds from bank borrowings,NaN,NaN,33500.0,financing_activities,None,False
14,Repayments of bank borrowings,NaN,-4000.0,-36500.0,financing_activities,None,False
16,Net (decrease )increase in cash and cash equiv...,NaN,-8670.0,4482.0,financing_activities,None,False
17,Cash and cash equivalents at beginning of the ...,NaN,28259.0,23777.0,financing_activities,None,False
18,Cash and cash equivalents at 31 December,6,19589.0,28259.0,financing_activities,None,False

In [31]:
obj_ccf_mapping.df_nlp_bucket_master

,id,statement_type,statement_section,statement_sub_section,primary_keywords,target_keyword,fetch_type,note_keyword,flag_model_training,field_tage,...,custom_formula,remarks,ref_notes_key,template_row_map,sequence_view,match_type,cdm_keyword_name,2019,2020,score
0,100,ccf,operating_activities,operating_activities,Net Income,net_income,skip,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,82,NULL,CF_NET_INCM,0.0,0.0,0
1,101,ccf,operating_activities,operating_activities,Depreciation & Amortization(+),depreciation_amortizatio,skip,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,83,NULL,CF_DEPRE_AMORTZATIO,0.0,0.0,0
2,102,ccf,operating_activities,operating_activities,Taxes(Deferred etc),taxes,skip,NULL,NULL,NULL,...,NULL,NULL,NULL,8,84,NULL,CF_TAXES,0.0,0.0,0
3,103,ccf,operating_activities,operating_activities,(Gain)/Loss from PP&E Sales,loss on sales of property|plant and equipment|...,Direct,NULL,NULL,NULL,...,NULL,NULL,NULL,9,85,NULL,CF_GAIN_FROM_PP_AND_E,0.0,0.0,0
4,104,ccf,operating_activities,operating_activities,Net Working Capital,net_working_capital,Formula,NULL,NULL,NULL,...,NULL,NULL,NULL,10,86,NULL,CF_NET_WORKING_CAPITAL,0.0,0.0,0
5,105,ccf,operating_activities,operating_activities,Other Operating Cashflow,NULL,Formula,NULL,NULL,balancing_value,...,NULL,NULL,NULL,NULL,87,NULL,CF_OTHER_OPE_CASHFLOW,0.0,0.0,0
6,106,ccf,operating_activities,operating_activities,Cash from Operating Activities,NULL,Formula,NULL,NULL,subtotal,...,NULL,NULL,NULL,12,88,NULL,CF_CASH_FROM_OPE_ACVT,0.0,0.0,0
7,107,ccf,investing_activities,investing_activities,CAPEX(-),plant and equipment|ppe|pp&e|plant property eq...,Direct,NULL,NULL,negative,...,NULL,NULL,NULL,13,89,NULL,CF_CAPEX,0.0,0.0,0
8,108,ccf,investing_activities,investing_activities,Investment(-),investments|purchase of non current investment...,Direct,NULL,NULL,negative,...,NULL,NULL,NULL,14,90,NULL,CF_INVST,0.0,0.0,0
9,109,ccf,investing_activities,investing_activities,Acquisitions(-),acquisitions,Direct,NULL,NULL,negative,...,NULL,NULL,NULL,15,91,NULL,CF_ACQUISITIONS,0.0,0.0,0
10,110,ccf,investing_activities,investing_activities,Proceeds from PP&E Sales(+),proceeds from sale of property plant and equip...,Direct,NULL,NULL,positive,...,NULL,NULL,NULL,16,92,NULL,CF_PROCEEDS_FROM_PP_AND_E,0.0,0.0,0
11,111,ccf,investing_activities,investing_activities,Other Investment Cashflow,NULL,Formula,NULL,NULL,balancing_value,...,NULL,NULL,NULL,NULL,93,NULL,CF_OTHER_INVST_CASHFLOW,0.0,0.0,0
12,112,ccf,investing_activities,investing_activities,Cash from Investments Activities,NULL,Formula,NULL,NULL,subtotal,...,NULL,NULL,NULL,18,94,NULL,CF_CASH_FROM_INVST_ACVT,0.0,0.0,0
13,113,ccf,financing_activities,financing_activities,Sale of Stock(+),issue of share capital|issue of equity share c...,Direct,NULL,NULL,positive,...,NULL,NULL,NULL,19,95,NULL,CF_SALE_OF_STOCK,0.0,0.0,0
14,114,ccf,financing_activities,financing_activities,Purchase of Stock(-),buy back of share captial|treasury shares|shar...,Direct,NULL,NULL,negative,...,NULL,NULL,NULL,20,96,NULL,CF_PURCHASE_OF_STOCK,0.0,0.0,0
15,115,ccf,financing_activities,financing_activities,Cash Dividends(-),dividend,Direct,NULL,NULL,negative,...,NULL,NULL,NULL,21,97,NULL,CF_CASH_DIVIDNDS,0.0,0.0,0
16,116,ccf,financing_activities,financing_activities,Debt Borrowing(+),borrowings|loa,Direct,NULL,NULL,positive,...,NULL,NULL,NULL,22,98,NULL,CF_DEBT_BORROWING,0.0,0.0,0
17,117,ccf,financing_activities,financing_activities,Debt Repayment(-),borrowings|lease,Direct,NULL,NULL,negative,...,NULL,NULL,NULL,23,99,NULL,CF_DEBT_REPAYMENT,0.0,0.0,0
18,118,ccf,financing_activities,financing_activities,Other Financing Cashflow *,NULL,Formula,NULL,NULL,balancing_value,...,NULL,NULL,NULL,NULL,100,NULL,CF_OTHER_FINCNG_CASHFLOW,0.0,0.0,0
19,119,ccf,financing_activities,financing_activities,Cash from Financing Activities,NULL,Formula,NULL,NULL,subtotal,...,NULL,NULL,NULL,25,101,NULL,CF_CASH_FROM_FINCNG_ACVT,0.0,0.0,0

In [10]:
from database import get_db, get_db1

In [11]:
db = get_db1()

In [12]:
import db_models

In [13]:
crm_nlp_query = db.query(db_models.CRM_nlp_bucketing).filter(db_models.CRM_nlp_bucketing.statement_type == "ccf")

In [14]:
df_nlp_bucket_master = pd.read_sql(crm_nlp_query.statement, crm_nlp_query.session.bind)

In [15]:
df_nlp_bucket_master

,id,statement_type,statement_section,statement_sub_section,primary_keywords,target_keyword,fetch_type,note_keyword,flag_model_training,field_tage,meta_keyword,custom_formula,remarks,ref_notes_key,template_row_map,sequence_view,match_type,cdm_keyword_name
0,100,ccf,operating_activities,operating_activities,Net Income,net_income,skip,NULL,NULL,NULL,net_income,NULL,NULL,NULL,NULL,82,NULL,CF_NET_INCM
1,101,ccf,operating_activities,operating_activities,Depreciation & Amortization(+),depreciation_amortizatio,skip,NULL,NULL,NULL,depreciation_amortizatio,NULL,NULL,NULL,NULL,83,NULL,CF_DEPRE_AMORTZATIO
2,102,ccf,operating_activities,operating_activities,Taxes(Deferred etc),taxes,skip,NULL,NULL,NULL,taxes,NULL,NULL,NULL,8,84,NULL,CF_TAXES
3,103,ccf,operating_activities,operating_activities,(Gain)/Loss from PP&E Sales,loss on sales of property|plant and equipment|...,Direct,NULL,NULL,NULL,ppe_sales_gain_loss,NULL,NULL,NULL,9,85,NULL,CF_GAIN_FROM_PP_AND_E
4,104,ccf,operating_activities,operating_activities,Net Working Capital,net_working_capital,Formula,NULL,NULL,NULL,net_working_capital,NULL,NULL,NULL,10,86,NULL,CF_NET_WORKING_CAPITAL
5,105,ccf,operating_activities,operating_activities,Other Operating Cashflow,NULL,Formula,NULL,NULL,balancing_value,other_operating_cashflow,NULL,NULL,NULL,NULL,87,NULL,CF_OTHER_OPE_CASHFLOW
6,106,ccf,operating_activities,operating_activities,Cash from Operating Activities,NULL,Formula,NULL,NULL,subtotal,cash_from_operating_acts,NULL,NULL,NULL,12,88,NULL,CF_CASH_FROM_OPE_ACVT
7,107,ccf,investing_activities,investing_activities,CAPEX(-),plant and equipment|ppe|pp&e|plant property eq...,Direct,NULL,NULL,negative,capex,NULL,NULL,NULL,13,89,NULL,CF_CAPEX
8,108,ccf,investing_activities,investing_activities,Investment(-),investments|purchase of non current investment...,Direct,NULL,NULL,negative,investment,NULL,NULL,NULL,14,90,NULL,CF_INVST
9,109,ccf,investing_activities,investing_activities,Acquisitions(-),acquisitions,Direct,NULL,NULL,negative,acquisitions,NULL,NULL,NULL,15,91,NULL,CF_ACQUISITIONS
10,110,ccf,investing_activities,investing_activities,Proceeds from PP&E Sales(+),proceeds from sale of property plant and equip...,Direct,NULL,NULL,positive,proceeds_from_ppe_sales,NULL,NULL,NULL,16,92,NULL,CF_PROCEEDS_FROM_PP_AND_E
11,111,ccf,investing_activities,investing_activities,Other Investment Cashflow,NULL,Formula,NULL,NULL,balancing_value,other_investment_cashflow,NULL,NULL,NULL,NULL,93,NULL,CF_OTHER_INVST_CASHFLOW
12,112,ccf,investing_activities,investing_activities,Cash from Investments Activities,NULL,Formula,NULL,NULL,subtotal,cash_from_investments_acts,NULL,NULL,NULL,18,94,NULL,CF_CASH_FROM_INVST_ACVT
13,113,ccf,financing_activities,financing_activities,Sale of Stock(+),issue of share capital|issue of equity share c...,Direct,NULL,NULL,positive,sale_of_stock,NULL,NULL,NULL,19,95,NULL,CF_SALE_OF_STOCK
14,114,ccf,financing_activities,financing_activities,Purchase of Stock(-),buy back of share captial|treasury shares|shar...,Direct,NULL,NULL,negative,purchase_of_stock,NULL,NULL,NULL,20,96,NULL,CF_PURCHASE_OF_STOCK
15,115,ccf,financing_activities,financing_activities,Cash Dividends(-),dividend,Direct,NULL,NULL,negative,cash_dividends,NULL,NULL,NULL,21,97,NULL,CF_CASH_DIVIDNDS
16,116,ccf,financing_activities,financing_activities,Debt Borrowing(+),borrowings|loa,Direct,NULL,NULL,positive,debt_borrowing,NULL,NULL,NULL,22,98,NULL,CF_DEBT_BORROWING
17,117,ccf,financing_activities,financing_activities,Debt Repayment(-),borrowings|lease,Direct,NULL,NULL,negative,debt_repayment,NULL,NULL,NULL,23,99,NULL,CF_DEBT_REPAYMENT
18,118,ccf,financing_activities,financing_activities,Other Financing Cashflow *,NULL,Formula,NULL,NULL,balancing_value,other_financing_cashflow,NULL,NULL,NULL,NULL,100,NULL,CF_OTHER_FINCNG_CASHFLOW
19,119,ccf,financing_activities,financing_activities,Cash from Financing Activities,NULL,Formula,NULL,NULL,subtotal,cash_from_financing_acts,NULL,NULL,NULL,25,101,NULL,CF_CASH_FROM_FINCNG_ACVT

In [19]:
df_nlp_bucket_master['custom_formula']

0     NULL
1     NULL
2     NULL
3     NULL
4     NULL
5     NULL
6     NULL
7     NULL
8     NULL
9     NULL
10    NULL
11    NULL
12    NULL
13    NULL
14    NULL
15    NULL
16    NULL
17    NULL
18    NULL
19    NULL
Name: custom_formula, dtype: object