In [12]:
import pandas as pd
import os
from os import path
import json

In [13]:
from process_core import mainPageProcess

In [14]:
from CCF_mapping import CCFMapping

In [15]:
fileid = "1990cc10-c828-49f0-b312-a71ab3a541da"

In [16]:
mp = mainPageProcess()

In [17]:
cbs_dict,cpl_dict,ccf_dict,meta_dict,final_notes_dict,ref_notes_list, notes_region_meta_data,cropped_table_dict = mp.process_main_pages(fileid=fileid)

1 is not in list

In [19]:
ccf_dict

,Particulars,Notes,2022,2021,statement_section,statement_sub_section
0,"Payments for property, plant and equipment",13,-912530.0,-907966.0,None,None
1,of,NaN,NaN,20815.0,None,None
2,nan,NaN,NaN,-891715.0,None,None
3,nan,NaN,NaN,NaN,None,None
4,nan,NaN,NaN,-1761681.0,None,None
5,nan,NaN,NaN,NaN,None,None
6,nan,NaN,NaN,-619285.0,None,None
7,nan,NaN,NaN,-2380966.0,None,None
8,nan,NaN,NaN,NaN,None,None
9,Cash and cash equivalents at the beginning of ...,NaN,2441545.0,3356926.0,None,None
10,Cash and cash equivalents at the end of the fi...,7,242796.0,2441545.0,None,None

In [7]:
ccf_dict[8].columns = ccf_dict[8].columns.map(str)

In [8]:
obj_ccf_mapping = CCFMapping(ccf_df=ccf_dict[8])

In [9]:
obj_ccf_mapping.trigger_job()

report_data_tuning
get_section_subtotal
process_operating_bucket
FINANCIAL_YEAR : 2021
Bucket Keyword : Net Income
Bucket Keyword : Depreciation & Amortization(+)
Bucket Keyword : Taxes(Deferred etc)
Bucket Keyword : (Gain)/Loss from PP&E Sales
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Net Working Capital
Bucket Keyword : Other Operating Cashflow
Bucket Keyword : Cash from Operating Activities
BALANCING INDEX FOUND AT: 5
SUBTOTAL INDEX FOUND AT: 6
TOTAL SUM: 0 | VALUE ADJUSTED: 0.0 | BALANCING FIGURE : 0.0
-------------------------
FINANCIAL_YEAR : 2022
Bucket Keyword : Net Income
Bucket Keyword : Depreciation & Amortization(+)
Bucket Keyword : Taxes(Deferred etc)
Bucket Keyword : (Gain)/Loss from PP&E Sales
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Net Working Capital
Bucket Keyword : Other Operating Cashflow
Bucket Keyword : Cash from Operating Activities
BALANCING INDEX FOUND AT: 5
SUBTOTAL INDEX FOUND AT: 6
TOTAL SUM: 0 | VALUE ADJUSTED: 0.0 | BALANCING FIGURE : 0.0
-------------------------
=========================================================
NET SUBTOTAL : {'2021': 0, '2022': 0}
----- AFTER PROCESSING BUCKET DATA -----
    id statement_type     statement_section statement_sub_section  \
0  100            ccf  operating_activities  operating_activities
1  101            ccf  operating_activities  operating_activities
2  102            ccf  operating_activities  operating_activities
3  103            ccf  operating_activities  operating_activities
4  104            ccf  operating_activities  operating_activities
5  105            ccf  operating_activities  operating_activities
6  106            ccf  operating_activities  operating_activities

                 primary_keywords  \
0                      Net Income
1  Depreciation & Amortization(+)
2             Taxes(Deferred etc)
3     (Gain)/Loss from PP&E Sales
4             Net Working Capital
5        Other Operating Cashflow
6  Cash from Operating Activities

                                      target_keyword fetch_type note_keyword  \
0                                         net_income       skip         NULL
1                           depreciation_amortizatio       skip         NULL
2                                              taxes       skip         NULL
3  loss on sales of property|plant and equipment|...     Direct         NULL
4                                net_working_capital    Formula         NULL
5                                               NULL    Formula         NULL
6                                               NULL    Formula         NULL

  flag_model_training       field_tage  ... custom_formula remarks  \
0                NULL             NULL  ...           NULL    NULL
1                NULL             NULL  ...           NULL    NULL
2                NULL             NULL  ...           NULL    NULL
3                NULL             NULL  ...           NULL    NULL
4                NULL             NULL  ...           NULL    NULL
5                NULL  balancing_value  ...           NULL    NULL
6                NULL         subtotal  ...           NULL    NULL

  ref_notes_key template_row_map sequence_view match_type  \
0          NULL             NULL            82       NULL
1          NULL             NULL            83       NULL
2          NULL                8            84       NULL
3          NULL                9            85       NULL
4          NULL               10            86       NULL
5          NULL             NULL            87       NULL
6          NULL               12            88       NULL

         cdm_keyword_name 2021  2022  score
0             CF_NET_INCM  0.0   0.0      0
1     CF_DEPRE_AMORTZATIO  0.0   0.0      0
2                CF_TAXES  0.0   0.0      0
3   CF_GAIN_FROM_PP_AND_E  0.0   0.0      0
4  CF_NET_WORKING_CAPITAL  0.0   0.0      0
5   CF_OTHER_OPE_CASHFLOW  0.0   0.0     95
6   CF_CASH_FROM_OPE_ACVT  0.0   0.0     95

[7 rows x 21 columns]
process_investing_bucket
FINANCIAL_YEAR : 2021
Bucket Keyword : CAPEX(-)
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Investment(-)
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Acquisitions(-)
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Proceeds from PP&E Sales(+)
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Other Investment Cashflow
Bucket Keyword : Cash from Investments Activities
BALANCING INDEX FOUND AT: 11
SUBTOTAL INDEX FOUND AT: 12
TOTAL SUM: 0 | VALUE ADJUSTED: 0.0 | BALANCING FIGURE : 0.0
-------------------------
FINANCIAL_YEAR : 2022
Bucket Keyword : CAPEX(-)
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Investment(-)
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Acquisitions(-)
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Proceeds from PP&E Sales(+)
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Other Investment Cashflow
Bucket Keyword : Cash from Investments Activities
BALANCING INDEX FOUND AT: 11
SUBTOTAL INDEX FOUND AT: 12
TOTAL SUM: 0 | VALUE ADJUSTED: 0.0 | BALANCING FIGURE : 0.0
-------------------------
=========================================================
NET SUBTOTAL : {'2021': 0, '2022': 0}
----- AFTER PROCESSING BUCKET DATA -----
     id statement_type     statement_section statement_sub_section  \
7   107            ccf  investing_activities  investing_activities
8   108            ccf  investing_activities  investing_activities
9   109            ccf  investing_activities  investing_activities
10  110            ccf  investing_activities  investing_activities
11  111            ccf  investing_activities  investing_activities
12  112            ccf  investing_activities  investing_activities

                    primary_keywords  \
7                           CAPEX(-)
8                      Investment(-)
9                    Acquisitions(-)
10       Proceeds from PP&E Sales(+)
11         Other Investment Cashflow
12  Cash from Investments Activities

                                       target_keyword fetch_type note_keyword  \
7   plant and equipment|ppe|pp&e|plant property eq...     Direct         NULL
8   investments|purchase of non current investment...     Direct         NULL
9                                        acquisitions     Direct         NULL
10  proceeds from sale of property plant and equip...     Direct         NULL
11                                               NULL    Formula         NULL
12                                               NULL    Formula         NULL

   flag_model_training       field_tage  ... custom_formula remarks  \
7                 NULL         negative  ...           NULL    NULL
8                 NULL         negative  ...           NULL    NULL
9                 NULL         negative  ...           NULL    NULL
10                NULL         positive  ...           NULL    NULL
11                NULL  balancing_value  ...           NULL    NULL
12                NULL         subtotal  ...           NULL    NULL

   ref_notes_key template_row_map sequence_view match_type  \
7           NULL               13            89       NULL
8           NULL               14            90       NULL
9           NULL               15            91       NULL
10          NULL               16            92       NULL
11          NULL             NULL            93       NULL
12          NULL               18            94       NULL

             cdm_keyword_name 2021  2022  score
7                    CF_CAPEX  0.0   0.0      0
8                    CF_INVST  0.0   0.0      0
9             CF_ACQUISITIONS  0.0   0.0      0
10  CF_PROCEEDS_FROM_PP_AND_E  0.0   0.0      0
11    CF_OTHER_INVST_CASHFLOW  0.0   0.0     95
12    CF_CASH_FROM_INVST_ACVT  0.0   0.0     95

[6 rows x 21 columns]
process_financing_bucket
FINANCIAL_YEAR : 2021
Bucket Keyword : Sale of Stock(+)
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Purchase of Stock(-)
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Cash Dividends(-)
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Debt Borrowing(+)
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Debt Repayment(-)
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Other Financing Cashflow *
Bucket Keyword : Cash from Financing Activities
BALANCING INDEX FOUND AT: 18
SUBTOTAL INDEX FOUND AT: 19
TOTAL SUM: 0 | VALUE ADJUSTED: 0.0 | BALANCING FIGURE : 0.0
-------------------------
FINANCIAL_YEAR : 2022
Bucket Keyword : Sale of Stock(+)
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Purchase of Stock(-)
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Cash Dividends(-)
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Debt Borrowing(+)
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Debt Repayment(-)
BEST MATCH: {'data_index': [], 'score': 0, 'value': 0, 'label': ''}
Bucket Keyword : Other Financing Cashflow *
Bucket Keyword : Cash from Financing Activities
BALANCING INDEX FOUND AT: 18
SUBTOTAL INDEX FOUND AT: 19
TOTAL SUM: 0 | VALUE ADJUSTED: 0.0 | BALANCING FIGURE : 0.0
-------------------------
=========================================================
NET SUBTOTAL : {'2021': 0, '2022': 0}
----- AFTER PROCESSING BUCKET DATA -----
     id statement_type     statement_section statement_sub_section  \
13  113            ccf  financing_activities  financing_activities
14  114            ccf  financing_activities  financing_activities
15  115            ccf  financing_activities  financing_activities
16  116            ccf  financing_activities  financing_activities
17  117            ccf  financing_activities  financing_activities
18  118            ccf  financing_activities  financing_activities
19  119            ccf  financing_activities  financing_activities

                  primary_keywords  \
13                Sale of Stock(+)
14            Purchase of Stock(-)
15               Cash Dividends(-)
16               Debt Borrowing(+)
17               Debt Repayment(-)
18      Other Financing Cashflow *
19  Cash from Financing Activities

                                       target_keyword fetch_type note_keyword  \
13  issue of share capital|issue of equity share c...     Direct         NULL
14  buy back of share captial|treasury shares|shar...     Direct         NULL
15                                           dividend     Direct         NULL
16                                     borrowings|loa     Direct         NULL
17                                   borrowings|lease     Direct         NULL
18                                               NULL    Formula         NULL
19                                               NULL    Formula         NULL

   flag_model_training       field_tage  ... custom_formula remarks  \
13                NULL         positive  ...           NULL    NULL
14                NULL         negative  ...           NULL    NULL
15                NULL         negative  ...           NULL    NULL
16                NULL         positive  ...           NULL    NULL
17                NULL         negative  ...           NULL    NULL
18                NULL  balancing_value  ...           NULL    NULL
19                NULL         subtotal  ...           NULL    NULL

   ref_notes_key template_row_map sequence_view match_type  \
13          NULL               19            95       NULL
14          NULL               20            96       NULL
15          NULL               21            97       NULL
16          NULL               22            98       NULL
17          NULL               23            99       NULL
18          NULL             NULL           100       NULL
19          NULL               25           101       NULL

            cdm_keyword_name 2021  2022  score
13          CF_SALE_OF_STOCK  0.0   0.0      0
14      CF_PURCHASE_OF_STOCK  0.0   0.0      0
15          CF_CASH_DIVIDNDS  0.0   0.0      0
16         CF_DEBT_BORROWING  0.0   0.0      0
17         CF_DEBT_REPAYMENT  0.0   0.0      0
18  CF_OTHER_FINCNG_CASHFLOW  0.0   0.0     95
19  CF_CASH_FROM_FINCNG_ACVT  0.0   0.0     95

[7 rows x 21 columns]

In [10]:
obj_ccf_mapping.df_response

,Particulars,meta_keyword,cdm_keyword_name,2021,2022,score
0,Net Income,net_income,CF_NET_INCM,0.0,0.0,0
1,Depreciation & Amortization(+),depreciation_amortizatio,CF_DEPRE_AMORTZATIO,0.0,0.0,0
2,Taxes(Deferred etc),taxes,CF_TAXES,0.0,0.0,0
3,(Gain)/Loss from PP&E Sales,ppe_sales_gain_loss,CF_GAIN_FROM_PP_AND_E,0.0,0.0,0
4,Net Working Capital,net_working_capital,CF_NET_WORKING_CAPITAL,0.0,0.0,0
5,Other Operating Cashflow,other_operating_cashflow,CF_OTHER_OPE_CASHFLOW,0.0,0.0,95
6,Cash from Operating Activities,cash_from_operating_acts,CF_CASH_FROM_OPE_ACVT,0.0,0.0,95
7,CAPEX(-),capex,CF_CAPEX,0.0,0.0,0
8,Investment(-),investment,CF_INVST,0.0,0.0,0
9,Acquisitions(-),acquisitions,CF_ACQUISITIONS,0.0,0.0,0
10,Proceeds from PP&E Sales(+),proceeds_from_ppe_sales,CF_PROCEEDS_FROM_PP_AND_E,0.0,0.0,0
11,Other Investment Cashflow,other_investment_cashflow,CF_OTHER_INVST_CASHFLOW,0.0,0.0,95
12,Cash from Investments Activities,cash_from_investments_acts,CF_CASH_FROM_INVST_ACVT,0.0,0.0,95
13,Sale of Stock(+),sale_of_stock,CF_SALE_OF_STOCK,0.0,0.0,0
14,Purchase of Stock(-),purchase_of_stock,CF_PURCHASE_OF_STOCK,0.0,0.0,0
15,Cash Dividends(-),cash_dividends,CF_CASH_DIVIDNDS,0.0,0.0,0
16,Debt Borrowing(+),debt_borrowing,CF_DEBT_BORROWING,0.0,0.0,0
17,Debt Repayment(-),debt_repayment,CF_DEBT_REPAYMENT,0.0,0.0,0
18,Other Financing Cashflow *,other_financing_cashflow,CF_OTHER_FINCNG_CASHFLOW,0.0,0.0,95
19,Cash from Financing Activities,cash_from_financing_acts,CF_CASH_FROM_FINCNG_ACVT,0.0,0.0,95

In [11]:
ccf_dict[8]

,Particulars,Notes,2022,2021,statement_section,statement_sub_section,flg_processed
0,"Payments for property, plant and equipment",13,-912530.0,-907966.0,None,None,False
1,of,NaN,NaN,20815.0,None,None,False
2,nan,NaN,NaN,-891715.0,None,None,False
3,nan,NaN,NaN,NaN,None,None,False
4,nan,NaN,NaN,-1761681.0,None,None,False
5,nan,NaN,NaN,NaN,None,None,False
6,nan,NaN,NaN,-619285.0,None,None,False
7,nan,NaN,NaN,-2380966.0,None,None,False
8,nan,NaN,NaN,NaN,None,None,False
9,Cash and cash equivalents at the beginning of ...,NaN,2441545.0,3356926.0,None,None,False
10,Cash and cash equivalents at the end of the fi...,7,242796.0,2441545.0,None,None,False

In [10]:
from database import get_db, get_db1

In [11]:
db = get_db1()

In [12]:
import db_models

In [13]:
crm_nlp_query = db.query(db_models.CRM_nlp_bucketing).filter(db_models.CRM_nlp_bucketing.statement_type == "ccf")

In [14]:
df_nlp_bucket_master = pd.read_sql(crm_nlp_query.statement, crm_nlp_query.session.bind)

In [15]:
df_nlp_bucket_master

,id,statement_type,statement_section,statement_sub_section,primary_keywords,target_keyword,fetch_type,note_keyword,flag_model_training,field_tage,meta_keyword,custom_formula,remarks,ref_notes_key,template_row_map,sequence_view,match_type,cdm_keyword_name
0,100,ccf,operating_activities,operating_activities,Net Income,net_income,skip,NULL,NULL,NULL,net_income,NULL,NULL,NULL,NULL,82,NULL,CF_NET_INCM
1,101,ccf,operating_activities,operating_activities,Depreciation & Amortization(+),depreciation_amortizatio,skip,NULL,NULL,NULL,depreciation_amortizatio,NULL,NULL,NULL,NULL,83,NULL,CF_DEPRE_AMORTZATIO
2,102,ccf,operating_activities,operating_activities,Taxes(Deferred etc),taxes,skip,NULL,NULL,NULL,taxes,NULL,NULL,NULL,8,84,NULL,CF_TAXES
3,103,ccf,operating_activities,operating_activities,(Gain)/Loss from PP&E Sales,loss on sales of property|plant and equipment|...,Direct,NULL,NULL,NULL,ppe_sales_gain_loss,NULL,NULL,NULL,9,85,NULL,CF_GAIN_FROM_PP_AND_E
4,104,ccf,operating_activities,operating_activities,Net Working Capital,net_working_capital,Formula,NULL,NULL,NULL,net_working_capital,NULL,NULL,NULL,10,86,NULL,CF_NET_WORKING_CAPITAL
5,105,ccf,operating_activities,operating_activities,Other Operating Cashflow,NULL,Formula,NULL,NULL,balancing_value,other_operating_cashflow,NULL,NULL,NULL,NULL,87,NULL,CF_OTHER_OPE_CASHFLOW
6,106,ccf,operating_activities,operating_activities,Cash from Operating Activities,NULL,Formula,NULL,NULL,subtotal,cash_from_operating_acts,NULL,NULL,NULL,12,88,NULL,CF_CASH_FROM_OPE_ACVT
7,107,ccf,investing_activities,investing_activities,CAPEX(-),plant and equipment|ppe|pp&e|plant property eq...,Direct,NULL,NULL,negative,capex,NULL,NULL,NULL,13,89,NULL,CF_CAPEX
8,108,ccf,investing_activities,investing_activities,Investment(-),investments|purchase of non current investment...,Direct,NULL,NULL,negative,investment,NULL,NULL,NULL,14,90,NULL,CF_INVST
9,109,ccf,investing_activities,investing_activities,Acquisitions(-),acquisitions,Direct,NULL,NULL,negative,acquisitions,NULL,NULL,NULL,15,91,NULL,CF_ACQUISITIONS
10,110,ccf,investing_activities,investing_activities,Proceeds from PP&E Sales(+),proceeds from sale of property plant and equip...,Direct,NULL,NULL,positive,proceeds_from_ppe_sales,NULL,NULL,NULL,16,92,NULL,CF_PROCEEDS_FROM_PP_AND_E
11,111,ccf,investing_activities,investing_activities,Other Investment Cashflow,NULL,Formula,NULL,NULL,balancing_value,other_investment_cashflow,NULL,NULL,NULL,NULL,93,NULL,CF_OTHER_INVST_CASHFLOW
12,112,ccf,investing_activities,investing_activities,Cash from Investments Activities,NULL,Formula,NULL,NULL,subtotal,cash_from_investments_acts,NULL,NULL,NULL,18,94,NULL,CF_CASH_FROM_INVST_ACVT
13,113,ccf,financing_activities,financing_activities,Sale of Stock(+),issue of share capital|issue of equity share c...,Direct,NULL,NULL,positive,sale_of_stock,NULL,NULL,NULL,19,95,NULL,CF_SALE_OF_STOCK
14,114,ccf,financing_activities,financing_activities,Purchase of Stock(-),buy back of share captial|treasury shares|shar...,Direct,NULL,NULL,negative,purchase_of_stock,NULL,NULL,NULL,20,96,NULL,CF_PURCHASE_OF_STOCK
15,115,ccf,financing_activities,financing_activities,Cash Dividends(-),dividend,Direct,NULL,NULL,negative,cash_dividends,NULL,NULL,NULL,21,97,NULL,CF_CASH_DIVIDNDS
16,116,ccf,financing_activities,financing_activities,Debt Borrowing(+),borrowings|loa,Direct,NULL,NULL,positive,debt_borrowing,NULL,NULL,NULL,22,98,NULL,CF_DEBT_BORROWING
17,117,ccf,financing_activities,financing_activities,Debt Repayment(-),borrowings|lease,Direct,NULL,NULL,negative,debt_repayment,NULL,NULL,NULL,23,99,NULL,CF_DEBT_REPAYMENT
18,118,ccf,financing_activities,financing_activities,Other Financing Cashflow *,NULL,Formula,NULL,NULL,balancing_value,other_financing_cashflow,NULL,NULL,NULL,NULL,100,NULL,CF_OTHER_FINCNG_CASHFLOW
19,119,ccf,financing_activities,financing_activities,Cash from Financing Activities,NULL,Formula,NULL,NULL,subtotal,cash_from_financing_acts,NULL,NULL,NULL,25,101,NULL,CF_CASH_FROM_FINCNG_ACVT

In [19]:
df_nlp_bucket_master['custom_formula']

0     NULL
1     NULL
2     NULL
3     NULL
4     NULL
5     NULL
6     NULL
7     NULL
8     NULL
9     NULL
10    NULL
11    NULL
12    NULL
13    NULL
14    NULL
15    NULL
16    NULL
17    NULL
18    NULL
19    NULL
Name: custom_formula, dtype: object