In [1]:
import pandas as pd
import os
from os import path
import json
from IPython.display import display

In [2]:
from process_core import mainPageProcess

/home/jayesh/anaconda3/envs/crm_syd/lib/python3.9/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [23]:
fileid = "0678b526-ef1a-4a5c-8a56-ab18bbef4dec"

In [24]:
mp = mainPageProcess()

In [25]:
cbs_dict,cpl_dict,ccf_dict,meta_dict,final_notes_dict,ref_notes_list, notes_region_meta_data,cropped_table_dict = mp.process_main_pages(fileid=fileid)

/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:92: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:54: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:54: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():

In [28]:
mp.final_notes_dict

{'7': {'': ['Cash and cash equivalents']}, '25': {'': ['Receivables from related parties']}, '13': {'': ['Income tax', 'Deferred tax asset']}, '10': {'': ['Other assets']}, '11': {'': ['Investments accounted for using the equity method']}, '12': {'': ['Property, plant and equipment', 'Intangible assets']}, '23': {'': ['Right-of-use assets']}, '14': {'': ['Trade and other payables']}, '15': {'': ['Borrowings', 'Borrowings']}, '16': {'': ['Provisions', 'Provisions']}, '24': {'': ['Lease Liability', 'Lease Liability']}, '17': {'': ['Issued capital']}, '18': {'': ['Non-controlling interest']}, '2': {'': ['Revenue']}, '4': {'': ['Administration expenses', 'Marketing and sales expenses', 'Other expenses']}}

In [34]:
mp.cbs_df_dict[7]

,Particulars,Notes,2021,2020,statement_section,statement_sub_section
0,CURRENT ASSETS,NaN,0.0,0.0,assets,current
1,Cash and cash equivalents,7,52428.0,60435.0,assets,current
2,Trade and other receivables,NaN,13920.0,8835.0,assets,current
3,Receivables from related parties,25,0.0,3916.0,assets,current
4,Inventories,NaN,119217.0,101202.0,assets,current
5,Income tax,13,0.0,1419.0,assets,current
6,Other assets,10,5758.0,18919.0,assets,current
7,TOTAL CURRENT ASSETS,NaN,191323.0,194726.0,assets,current
8,NON-CURRENT ASSETS,NaN,0.0,0.0,assets,noncurrent
9,Inventories,NaN,56993.0,50499.0,assets,noncurrent
10,Investments accounted for using the equity method,11,7520.0,12223.0,assets,noncurrent
11,"Property, plant and equipment",12,8875.0,9641.0,assets,noncurrent
12,Intangible assets,12,4259.0,3221.0,assets,noncurrent
13,Right-of-use assets,23,10223.0,9252.0,assets,noncurrent
14,Deferred tax asset,13,17259.0,10745.0,assets,noncurrent
15,TOTAL NON-CURRENT ASSETS,NaN,105128.0,95581.0,assets,noncurrent
16,TOTAL ASSETS,NaN,296451.0,290307.0,assets,noncurrent
17,CURRENT LIABILITIES,NaN,0.0,0.0,equity_liabilities,current
18,Trade and other payables,14,50802.0,42904.0,equity_liabilities,current
19,Borrowings,15,40280.0,13208.0,equity_liabilities,current
20,Provisions,16,3194.0,3779.0,equity_liabilities,current
21,Lease Liability,24,4023.0,2690.0,equity_liabilities,current
22,TOTAL CURRENT LIABILITIES,NaN,98298.0,62581.0,equity_liabilities,current
23,NON-CURRENT LIABILITIES,NaN,0.0,0.0,equity_liabilities,noncurrent
24,Borrowings,15,125090.0,138833.0,equity_liabilities,noncurrent
25,Provisions,16,730.0,583.0,equity_liabilities,noncurrent
26,Lease Liability,24,6635.0,6213.0,equity_liabilities,noncurrent
27,TOTAL NON-CURRENT LIABILITIES,NaN,132455.0,145629.0,equity_liabilities,noncurrent
28,TOTAL LIABILITIES,NaN,230753.0,208210.0,equity_liabilities,noncurrent
29,NET ASSETS,NaN,65698.0,82097.0,equity_liabilities,noncurrent
30,EQUITY,NaN,0.0,0.0,equity_liabilities,equity
31,Issued capital,17,2710.0,2710.0,equity_liabilities,equity
32,Retained profits,NaN,62507.0,78521.0,equity_liabilities,equity
33,Equity attributable to the owners of Rawson Gr...,NaN,65218.0,81231.0,equity_liabilities,equity
34,Non-controlling interest,18,480.0,866.0,equity_liabilities,equity
35,TOTAL EQUITY,NaN,65698.0,82097.0,equity_liabilities,equity

In [12]:
output_folder = './output/'
file_folder = os.path.join(output_folder,fileid)

In [13]:
try:
    os.mkdir(file_folder)
except:
    pass

In [14]:
with open(os.path.join(file_folder,f"{fileid}_notes_account_dict.json"),"w") as f:
        json.dump(mp.final_notes_dict,f)

In [15]:
notes_region_meta_data.to_csv(os.path.join(file_folder,f"{fileid}_notes_region_meta_data.csv"),index=False)

In [16]:
with open(os.path.join(file_folder,f"{fileid}_notes_ref_list.json"),"w") as f:
    json.dump(mp.notes_ref_dict,f)

In [17]:
with open(os.path.join(file_folder,f"{fileid}_standradrd_notes_meta_dict.json"),"w") as f:
    json.dump(mp.standard_note_meta_dict,f)

In [18]:
writer = pd.ExcelWriter(os.path.join(file_folder,f"{fileid}_notes_cropped_df.xlsx"), engine='xlsxwriter')
for key,value in mp.cropped_table_dict.items():
    value.to_excel(writer, sheet_name=key[:20],index=False)
writer.save()

/tmp/ipykernel_9746/2270965984.py:4: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [19]:
writer = pd.ExcelWriter(os.path.join(file_folder,f"{fileid}_main_pages.xlsx"), engine='xlsxwriter')
for key,value in cbs_dict.items():
    value.to_excel(writer, sheet_name=f"cbs_{key}",index=False)
for key,value in cpl_dict.items():
    value.to_excel(writer, sheet_name=f"cpl_{key}",index=False)
for key,value in ccf_dict.items():
    value.to_excel(writer, sheet_name=f"ccf_{key}",index=False)
writer.save()

/tmp/ipykernel_9746/4159104238.py:8: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [20]:
writer = pd.ExcelWriter(os.path.join(file_folder,f"{fileid}_notes_standard_cropped_df.xlsx"), engine='xlsxwriter')
for key,value in mp.standardised_cropped_dict.items():
    if value is not None:
            value.to_excel(writer, sheet_name=key[:20],index=False)
    else:
            temp_df = pd.DataFrame()
            temp_df.to_excel(writer, sheet_name=key[:20],index=False)

writer.save()

/tmp/ipykernel_9746/2538549668.py:9: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [21]:
writer = pd.ExcelWriter(os.path.join(file_folder,f"{fileid}_notes_transformed_standard_cropped_df.xlsx"), engine='xlsxwriter')
for key,value in mp.transformed_standardised_cropped_dict.items():
    if value is not None:
            value.to_excel(writer, sheet_name=key[:20],index=False)
    else:
            temp_df = pd.DataFrame()
            temp_df.to_excel(writer, sheet_name=key[:20],index=False)

writer.save()

/tmp/ipykernel_9746/4069446321.py:9: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [22]:
len(mp.standardised_cropped_dict)

18

In [20]:
mp.notes_region_meta_data

,note,subnote,start_page,star_bbox,next_note_pattern,end_page,end_bbox,tableid,row_numbers,tableslist,raw_note_number
0,6,,[29],"[[145, 319, 457, 338]]",7,[29],"[[145, 507, 465, 521]]",[783d1f36-c06c-3414-ac20-69f7abffe2dd],"[[0, 1, 2, 3, 4]]",[<db_models.TableLogs object at 0x7fd1a5c881f0>],"[6, 6]"
1,7,,[29],"[[145, 507, 465, 521]]",8,[29],"[[145, 703, 306, 717]]",[783d1f36-c06c-3414-ac20-69f7abffe2dd],"[[5, 6, 7, 8, 9, 10]]",[<db_models.TableLogs object at 0x7fd1a5c881f0>],[7]
2,8,,[29],"[[145, 703, 306, 717]]",9,[29],"[[144, 995, 354, 1009]]",[783d1f36-c06c-3414-ac20-69f7abffe2dd],"[[11, 12, 13, 14, 15, 16]]",[<db_models.TableLogs object at 0x7fd1a5c881f0>],[8]
3,9,,[29],"[[144, 995, 354, 1009]]",10,[30],"[[145, 319, 321, 334]]",[6354e3c7-4619-3a07-b336-df681451d867],"[[0, 1, 2, 3, 4, 5, 6, 7, 8]]",[<db_models.TableLogs object at 0x7fd1a6bd4760>],"[9, 9]"
4,11,,[30],"[[145, 630, 455, 648]]",12,[31],"[[145, 320, 489, 338]]","[09af3f09-68b9-3555-9536-3587a02264e5, e360143...","[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4, 5, 6], [10, ...",[<db_models.TableLogs object at 0x7fd1a5c9fdf0...,"[11, 11]"
5,12,,[31],"[[145, 320, 489, 338]]",13,[31],"[[145, 1066, 267, 1080]]",[24662bf7-9672-32e9-9ab2-f84001ad12ef],"[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7fd1a5cc8d60>],"[12, 12]"
6,16,,[32],"[[145, 1227, 311, 1246]]",17,[33],"[[145, 697, 302, 711]]","[2307c038-33fd-3bed-83eb-a45eb8e72b90, 6bafd8f...","[[26, 27, 28, 29], [0, 1, 2, 3, 4, 5, 6]]",[<db_models.TableLogs object at 0x7fd1a7b72ee0...,[16]
7,17,,[33],"[[145, 697, 302, 711]]",18,[33],"[[145, 1043, 378, 1062]]",[65990df0-8285-3b32-87b4-6eebe133f883],"[[0, 1, 2, 3, 4, 5, 6]]",[<db_models.TableLogs object at 0x7fd1a5cbc460>],"[17, 17]"
8,15,,[32],"[[145, 922, 378, 936]]",16,[32],"[[145, 1227, 311, 1246]]",[2307c038-33fd-3bed-83eb-a45eb8e72b90],"[[17, 18, 19, 20, 21, 22, 23, 24, 25]]",[<db_models.TableLogs object at 0x7fd1a7b72ee0>],[15]
9,18,,[33],"[[145, 1043, 378, 1062]]",19,[34],"[[145, 320, 288, 334]]",[8a5d8593-402f-3237-9f10-7aeb81d494f1],"[[0, 1, 2]]",[<db_models.TableLogs object at 0x7fd1a5c9f130>],[18]
10,19,,[34],"[[145, 320, 288, 334]]",20,[35],"[[144, 320, 443, 338]]",[85574d29-1138-3d46-afab-d55cdd155e74],"[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7fd1a5cc0820>],[19]
11,4,1,[26],"[[144, 356, 581, 371]]",4.2,[26],"[[144, 826, 335, 841]]",[e8b583fe-7a0d-3304-9c51-b1ed80b890f6],"[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 1...",[<db_models.TableLogs object at 0x7fd1a6bdc760>],[4.1]
12,4,2,[26],"[[144, 826, 335, 841]]",4.3,[26],"[[144, 967, 329, 982]]",[e8b583fe-7a0d-3304-9c51-b1ed80b890f6],"[[16, 17, 18, 19]]",[<db_models.TableLogs object at 0x7fd1a6bdc760>],[4.2]
13,4,3,[26],"[[144, 967, 329, 982]]",4.4,[27],"[[144, 357, 351, 371]]",[e8b583fe-7a0d-3304-9c51-b1ed80b890f6],"[[20, 21, 22, 23, 24, 25, 26, 27]]",[<db_models.TableLogs object at 0x7fd1a6bdc760>],[4.3]
14,4,4,[27],"[[144, 357, 351, 371]]",4.5,[27],"[[144, 498, 333, 512]]",[dfb38738-8ae6-3592-8b2f-3162f73b28b9],"[[0, 1, 2]]",[<db_models.TableLogs object at 0x7fd1a6bd01f0>],[4.4]
15,4,5,[27],"[[144, 498, 333, 512]]",4.6,[27],"[[144, 695, 417, 713]]",[dfb38738-8ae6-3592-8b2f-3162f73b28b9],"[[3, 4, 5, 6, 7, 8]]",[<db_models.TableLogs object at 0x7fd1a6bd01f0>],[4.5]

In [8]:
mp.notes_region_meta_data

,note,subnote,start_page,star_bbox,next_note_pattern,end_page,end_bbox,tableid,row_numbers,tableslist,raw_note_number
0,6,,[29],"[[145, 319, 457, 338]]",7,[29],"[[145, 507, 465, 521]]",[783d1f36-c06c-3414-ac20-69f7abffe2dd],"[[0, 1, 2, 3, 4]]",[<db_models.TableLogs object at 0x7f19499a3550>],"[6, 6]"
1,7,,[29],"[[145, 507, 465, 521]]",8,[29],"[[145, 703, 306, 717]]",[783d1f36-c06c-3414-ac20-69f7abffe2dd],"[[5, 6, 7, 8, 9, 10]]",[<db_models.TableLogs object at 0x7f19499a3550>],[7]
2,8,,[29],"[[145, 703, 306, 717]]",9,[29],"[[144, 995, 354, 1009]]",[783d1f36-c06c-3414-ac20-69f7abffe2dd],"[[11, 12, 13, 14, 15, 16]]",[<db_models.TableLogs object at 0x7f19499a3550>],[8]
3,9,,[29],"[[144, 995, 354, 1009]]",10,[30],"[[145, 319, 321, 334]]",[6354e3c7-4619-3a07-b336-df681451d867],"[[0, 1, 2, 3, 4, 5, 6, 7, 8]]",[<db_models.TableLogs object at 0x7f194ab53970>],"[9, 9]"
4,11,,[30],"[[145, 630, 455, 648]]",12,[31],"[[145, 320, 489, 338]]","[09af3f09-68b9-3555-9536-3587a02264e5, e360143...","[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4, 5, 6], [10, ...",[<db_models.TableLogs object at 0x7f1948aa3e80...,"[11, 11]"
5,12,,[31],"[[145, 320, 489, 338]]",13,[31],"[[145, 1066, 267, 1080]]",[24662bf7-9672-32e9-9ab2-f84001ad12ef],"[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f1948a74100>],"[12, 12]"
6,16,,[32],"[[145, 1227, 311, 1246]]",17,[33],"[[145, 697, 302, 711]]","[2307c038-33fd-3bed-83eb-a45eb8e72b90, 6bafd8f...","[[26, 27, 28, 29], [0, 1, 2, 3, 4, 5, 6]]",[<db_models.TableLogs object at 0x7f1948a8c3a0...,[16]
7,17,,[33],"[[145, 697, 302, 711]]",18,[33],"[[145, 1043, 378, 1062]]",[65990df0-8285-3b32-87b4-6eebe133f883],"[[0, 1, 2, 3, 4, 5, 6]]",[<db_models.TableLogs object at 0x7f194a953c70>],"[17, 17]"
8,15,,[32],"[[145, 922, 378, 936]]",16,[32],"[[145, 1227, 311, 1246]]",[2307c038-33fd-3bed-83eb-a45eb8e72b90],"[[17, 18, 19, 20, 21, 22, 23, 24, 25]]",[<db_models.TableLogs object at 0x7f1948a8c3a0>],[15]
9,18,,[33],"[[145, 1043, 378, 1062]]",19,[34],"[[145, 320, 288, 334]]",[8a5d8593-402f-3237-9f10-7aeb81d494f1],"[[0, 1, 2]]",[<db_models.TableLogs object at 0x7f19499cbd90>],[18]
10,19,,[34],"[[145, 320, 288, 334]]",20,[35],"[[144, 320, 443, 338]]",[85574d29-1138-3d46-afab-d55cdd155e74],"[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f1948aa8760>],[19]
11,4,1,[26],"[[144, 356, 581, 371]]",4.2,[26],"[[144, 826, 335, 841]]",[e8b583fe-7a0d-3304-9c51-b1ed80b890f6],"[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 1...",[<db_models.TableLogs object at 0x7f194a7fc4c0>],[4.1]
12,4,2,[26],"[[144, 826, 335, 841]]",4.3,[26],"[[144, 967, 329, 982]]",[e8b583fe-7a0d-3304-9c51-b1ed80b890f6],"[[16, 17, 18, 19]]",[<db_models.TableLogs object at 0x7f194a7fc4c0>],[4.2]
13,4,3,[26],"[[144, 967, 329, 982]]",4.4,[27],"[[144, 357, 351, 371]]",[e8b583fe-7a0d-3304-9c51-b1ed80b890f6],"[[20, 21, 22, 23, 24, 25, 26, 27]]",[<db_models.TableLogs object at 0x7f194a7fc4c0>],[4.3]
14,4,4,[27],"[[144, 357, 351, 371]]",4.5,[27],"[[144, 498, 333, 512]]",[dfb38738-8ae6-3592-8b2f-3162f73b28b9],"[[0, 1, 2]]",[<db_models.TableLogs object at 0x7f19499b0220>],[4.4]
15,4,5,[27],"[[144, 498, 333, 512]]",4.6,[27],"[[144, 695, 417, 713]]",[dfb38738-8ae6-3592-8b2f-3162f73b28b9],"[[3, 4, 5, 6, 7, 8]]",[<db_models.TableLogs object at 0x7f19499b0220>],[4.5]

In [53]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5')

,line_item_0,line_item_1,row_header,value,header_col_0,header_col_1,header_col_2,year
0,Southern Cross,NaN,Southern Cross,NaN,%,2020,Ownership interest,2020
1,Aluminium Pty Ltd,Investment,Southern Cross,52.95%,%,2020,Ownership interest,2020
2,Southern Cross,NaN,Southern Cross,NaN,%,2019,Ownership interest,2019
3,Aluminium Pty Ltd,Investment,Southern Cross,52.95%,%,2019,Ownership interest,2019
4,Southern Cross,NaN,Southern Cross,NaN,$000,2020,Ownership interest,2020
5,Aluminium Pty Ltd,Investment,Southern Cross,47672,$000,2020,Ownership interest,2020
6,Southern Cross,NaN,Southern Cross,NaN,$000,2019,Ownership interest,2019
7,Aluminium Pty Ltd,Investment,Southern Cross,54535,$000,2019,Ownership interest,2019

In [60]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5').filter(like="line_item", axis=1).columns.to_list()

['line_item_0', 'line_item_1']

In [68]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5')['year'].max()

2020

In [57]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5').filter(like="header_col", axis=1).sort_index(axis=1, ascending=False)

         header_col_2 header_col_1 header_col_0
0  Ownership interest         2020            %
1  Ownership interest         2020            %
2  Ownership interest         2019            %
3  Ownership interest         2019            %
4  Ownership interest         2020         $000
5  Ownership interest         2020         $000
6  Ownership interest         2019         $000
7  Ownership interest         2019         $000

In [62]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5').filter(like="header_col", axis=1).sort_index(axis=1, ascending=True).columns.to_list()

['header_col_0', 'header_col_1', 'header_col_2']

In [54]:
mp.standardised_cropped_dict.keys()

dict_keys(['7__9b316d08-5ae0-39fe-a28a-67d9a303905f', '7__f985ef4b-2e5e-3fbe-917a-e798773075bc', '8__328c7752-13d9-3808-8e4a-884989e835c4', '11__4b16b375-a5e0-36e0-94ee-3388b572444a', '12__21e918f8-5d24-3b2f-851e-f4f2003124af', '13__5833a5d1-c09c-3154-8002-4ad74d57e34c', '13__7508670f-8802-3425-8da8-ca9c3aff7cee', '14__385d71fd-e98a-3fc9-96ec-2e0adb3636cd', '15__690bde78-8180-3e6b-80e6-bc87b543a2f1', '16__690bde78-8180-3e6b-80e6-bc87b543a2f1', '17__14ab6223-1d71-31ca-8386-b7340c3a26f8', '18__a129ee86-9aee-3d8c-b67a-e080a024291d', '20__69680d68-0499-3b0a-b916-1d9e0421eee0', '21__e5adf9da-1ce8-3e27-a978-2db47a93e8b8', '22__f55109bd-d498-3d16-a908-a5172c3a75a9', '23__f55109bd-d498-3d16-a908-a5172c3a75a9', '24__f55109bd-d498-3d16-a908-a5172c3a75a9', '25__6ad081c9-6281-3b76-bac7-c22369b34a8b', '26__7fdc5704-8f0c-3783-a16f-9b5ea6695fe9', '27__56aa5dbe-5af6-3af8-8e0d-81d7ad85128e', '4__a43afe4a-0070-3dde-a3c9-9d5860d3947d', '6__959cff20-072d-31e5-8b4d-ec7ae2b01aca'])

In [56]:
# cbs_dict

In [57]:
data_column_names = cbs_dict[6]

# ignore these columns to fetch years list
filter_headers = ['Notes', 'Particulars', 'statement_section', 'statement_sub_section']

# get years list
years_list = ([int(i) for i in data_column_names if i not in filter_headers])
years_list.sort()
years_list = [str(i) for i in years_list]

In [65]:
def convert_standaradised_notes_to_column_row_year(note_df,year_list,standard_note_meta_dict_item):
    ## this function converts standradised note df into 4 columns. rows will be combination of row header + line item 1 + line item 0
    ## cols will be combination of col_header_1 + col_header_0 etc. column which contains year value will be dropped based on standard_note_meta_dict_item
    converted_standardised_df = pd.DataFrame(columns=["rows","columns","year","value"])
    note_df["year"] = pd.to_numeric(note_df["year"],errors='coerce')
    note_df["year"] = note_df["year"].fillna(note_df["year"].max())
    # for curr_year in year_list:
    #         converted_standardised_df[str(curr_year)] = float(0)

    year_column_header_name = standard_note_meta_dict_item.get('year_column_header_name')
    # print(year_column_header_name)
    if year_column_header_name:
         note_df = note_df.drop(year_column_header_name,axis=1)
    line_item_colnames = note_df.filter(like="line_item", axis=1).columns.to_list()
    col_header_colnames = note_df.filter(like="header_col", axis=1).sort_index(axis=1, ascending=False).columns.to_list()
    row_header_available = False
    # print(line_item_colnames)
    if "row_header" in note_df.columns.to_list():
        row_header_available = True
        row_colmns = ["row_header"]
        row_colmns.extend(line_item_colnames)
        # print(row_colmns)
        converted_standardised_df["rows"] = note_df[row_colmns].fillna('').apply(" ".join, axis=1)
    else:
        converted_standardised_df["rows"] = note_df[line_item_colnames].fillna('').apply(" ".join, axis=1)
    converted_standardised_df["columns"] = note_df[col_header_colnames].fillna('').apply(" ".join, axis=1)
    converted_standardised_df["year"] = note_df["year"]
    converted_standardised_df["value"] = note_df["value"]
    return converted_standardised_df

In [66]:
mp.standardised_cropped_dict.get('13__5833a5d1-c09c-3154-8002-4ad74d57e34c')

,line_item_0,row_header,value,header_col_0,header_col_1,header_col_2,header_col_3,year
0,Consolidated,Consolidated,NaN,improvements,Leasehold,assets,Low value,None
1,Balance at 1 April 2021,Consolidated,116059,improvements,Leasehold,assets,Low value,2021
2,Additions,Consolidated,52292,improvements,Leasehold,assets,Low value,None
3,Disposals,Consolidated,NaN,improvements,Leasehold,assets,Low value,None
4,Depreciation expense,Consolidated,"(41,492)",improvements,Leasehold,assets,Low value,None
5,Balance at 31 March 2022,Consolidated,126859,improvements,Leasehold,assets,Low value,2022
6,Consolidated,Consolidated,NaN,Plantand equipment,Plantand equipment,assets,Low value,None
7,Balance at 1 April 2021,Consolidated,365374,Plantand equipment,Plantand equipment,assets,Low value,2021
8,Additions,Consolidated,86255,Plantand equipment,Plantand equipment,assets,Low value,None
9,Disposals,Consolidated,NaN,Plantand equipment,Plantand equipment,assets,Low value,None
10,Depreciation expense,Consolidated,"(60,638)",Plantand equipment,Plantand equipment,assets,Low value,None
11,Balance at 31 March 2022,Consolidated,390991,Plantand equipment,Plantand equipment,assets,Low value,2022
12,Consolidated,Consolidated,NaN,and fittings,Fixtures,assets,Low value,None
13,Balance at 1 April 2021,Consolidated,112265,and fittings,Fixtures,assets,Low value,2021
14,Additions,Consolidated,8789,and fittings,Fixtures,assets,Low value,None
15,Disposals,Consolidated,NaN,and fittings,Fixtures,assets,Low value,None
16,Depreciation expense,Consolidated,"(26,530)",and fittings,Fixtures,assets,Low value,None
17,Balance at 31 March 2022,Consolidated,94524,and fittings,Fixtures,assets,Low value,2022
18,Consolidated,Consolidated,NaN,vehicles,Motor,assets,Low value,None
19,Balance at 1 April 2021,Consolidated,5135623,vehicles,Motor,assets,Low value,2021
20,Additions,Consolidated,2452,vehicles,Motor,assets,Low value,None
21,Disposals,Consolidated,"(46,956)",vehicles,Motor,assets,Low value,None
22,Depreciation expense,Consolidated,"(943,835)",vehicles,Motor,assets,Low value,None
23,Balance at 31 March 2022,Consolidated,4147284,vehicles,Motor,assets,Low value,2022
24,Consolidated,Consolidated,NaN,equipment,Computer,assets,Low value,None
25,Balance at 1 April 2021,Consolidated,1160011,equipment,Computer,assets,Low value,2021
26,Additions,Consolidated,762742,equipment,Computer,assets,Low value,None
27,Disposals,Consolidated,NaN,equipment,Computer,assets,Low value,None
28,Depreciation expense,Consolidated,"(458,542)",equipment,Computer,assets,Low value,None
29,Balance at 31 March 2022,Consolidated,1464211,equipment,Computer,assets,Low value,2022
30,Consolidated,Consolidated,NaN,equipment),(Plant and,assets,Low value,None
31,Balance at 1 April 2021,Consolidated,92905,equipment),(Plant and,assets,Low value,2021
32,Additions,Consolidated,NaN,equipment),(Plant and,assets,Low value,None
33,Disposals,Consolidated,NaN,equipment),(Plant and,assets,Low value,None
34,Depreciation expense,Consolidated,"(31,909)",equipment),(Plant and,assets,Low value,None
35,Balance at 31 March 2022,Consolidated,60996,equipment),(Plant and,assets,Low value,2022
36,Consolidated,Consolidated,NaN,Total,(Plant and,assets,Low value,None
37,Balance at 1 April 2021,Consolidated,6982237,Total,(Plant and,assets,Low value,2021
38,Additions,Consolidated,912530,Total,(Plant and,assets,Low value,None
39,Disposals,Consolidated,"(46,956)",Total,(Plant and,assets,Low value,None
40,Depreciation expense,Consolidated,"(1,562,946)",Total,(Plant and,assets,Low value,None
41,Balance at 31 March 2022,Consolidated,6284865,Total,(Plant and,assets,Low value,2022

In [67]:
convert_standaradised_notes_to_column_row_year(mp.standardised_cropped_dict.get('13__5833a5d1-c09c-3154-8002-4ad74d57e34c'),years_list,mp.standard_note_meta_dict.get('13__5833a5d1-c09c-3154-8002-4ad74d57e34c'))

,rows,columns,year,value
0,Consolidated Consolidated,Low value assets Leasehold improvements,2022.0,NaN
1,Consolidated Balance at 1 April 2021,Low value assets Leasehold improvements,2021.0,116059
2,Consolidated Additions,Low value assets Leasehold improvements,2022.0,52292
3,Consolidated Disposals,Low value assets Leasehold improvements,2022.0,NaN
4,Consolidated Depreciation expense,Low value assets Leasehold improvements,2022.0,"(41,492)"
5,Consolidated Balance at 31 March 2022,Low value assets Leasehold improvements,2022.0,126859
6,Consolidated Consolidated,Low value assets Plantand equipment Plantand e...,2022.0,NaN
7,Consolidated Balance at 1 April 2021,Low value assets Plantand equipment Plantand e...,2021.0,365374
8,Consolidated Additions,Low value assets Plantand equipment Plantand e...,2022.0,86255
9,Consolidated Disposals,Low value assets Plantand equipment Plantand e...,2022.0,NaN
10,Consolidated Depreciation expense,Low value assets Plantand equipment Plantand e...,2022.0,"(60,638)"
11,Consolidated Balance at 31 March 2022,Low value assets Plantand equipment Plantand e...,2022.0,390991
12,Consolidated Consolidated,Low value assets Fixtures and fittings,2022.0,NaN
13,Consolidated Balance at 1 April 2021,Low value assets Fixtures and fittings,2021.0,112265
14,Consolidated Additions,Low value assets Fixtures and fittings,2022.0,8789
15,Consolidated Disposals,Low value assets Fixtures and fittings,2022.0,NaN
16,Consolidated Depreciation expense,Low value assets Fixtures and fittings,2022.0,"(26,530)"
17,Consolidated Balance at 31 March 2022,Low value assets Fixtures and fittings,2022.0,94524
18,Consolidated Consolidated,Low value assets Motor vehicles,2022.0,NaN
19,Consolidated Balance at 1 April 2021,Low value assets Motor vehicles,2021.0,5135623
20,Consolidated Additions,Low value assets Motor vehicles,2022.0,2452
21,Consolidated Disposals,Low value assets Motor vehicles,2022.0,"(46,956)"
22,Consolidated Depreciation expense,Low value assets Motor vehicles,2022.0,"(943,835)"
23,Consolidated Balance at 31 March 2022,Low value assets Motor vehicles,2022.0,4147284
24,Consolidated Consolidated,Low value assets Computer equipment,2022.0,NaN
25,Consolidated Balance at 1 April 2021,Low value assets Computer equipment,2021.0,1160011
26,Consolidated Additions,Low value assets Computer equipment,2022.0,762742
27,Consolidated Disposals,Low value assets Computer equipment,2022.0,NaN
28,Consolidated Depreciation expense,Low value assets Computer equipment,2022.0,"(458,542)"
29,Consolidated Balance at 31 March 2022,Low value assets Computer equipment,2022.0,1464211
30,Consolidated Consolidated,Low value assets (Plant and equipment),2022.0,NaN
31,Consolidated Balance at 1 April 2021,Low value assets (Plant and equipment),2021.0,92905
32,Consolidated Additions,Low value assets (Plant and equipment),2022.0,NaN
33,Consolidated Disposals,Low value assets (Plant and equipment),2022.0,NaN
34,Consolidated Depreciation expense,Low value assets (Plant and equipment),2022.0,"(31,909)"
35,Consolidated Balance at 31 March 2022,Low value assets (Plant and equipment),2022.0,60996
36,Consolidated Consolidated,Low value assets (Plant and Total,2022.0,NaN
37,Consolidated Balance at 1 April 2021,Low value assets (Plant and Total,2021.0,6982237
38,Consolidated Additions,Low value assets (Plant and Total,2022.0,912530
39,Consolidated Disposals,Low value assets (Plant and Total,2022.0,"(46,956)"
40,Consolidated Depreciation expense,Low value assets (Plant and Total,2022.0,"(1,562,946)"
41,Consolidated Balance at 31 March 2022,Low value assets (Plant and Total,2022.0,6284865

In [2]:
# for key,value in mp.standardised_cropped_dict.items():
#     display("standardised raw dict:= ",mp.standardised_cropped_dict.get(key))
#     conv_std_df = convert_standaradised_notes_to_column_row_year(mp.standardised_cropped_dict.get(key),years_list,mp.standard_note_meta_dict.get(key))
#     display("converted _dict : ",conv_std_df)

In [1]:
# for key,value in mp.standardised_cropped_dict.items():
#     display("standardised raw dict:= ",mp.standardised_cropped_dict.get(key))
#     conv_std_df = mp.transformed_standardised_cropped_dict.get(key)
#     display("converted _dict : ",conv_std_df)

In [6]:
mp.transformed_standardised_cropped_dict.get('13__5833a5d1-c09c-3154-8002-4ad74d57e34c')

,rows,columns,year,value
0,Consolidated Consolidated,Low value assets Leasehold improvements,2022.0,NaN
1,Consolidated Balance at 1 April 2021,Low value assets Leasehold improvements,2021.0,116059
2,Consolidated Additions,Low value assets Leasehold improvements,2022.0,52292
3,Consolidated Disposals,Low value assets Leasehold improvements,2022.0,NaN
4,Consolidated Depreciation expense,Low value assets Leasehold improvements,2022.0,"(41,492)"
5,Consolidated Balance at 31 March 2022,Low value assets Leasehold improvements,2022.0,126859
6,Consolidated Consolidated,Low value assets Plantand equipment Plantand e...,2022.0,NaN
7,Consolidated Balance at 1 April 2021,Low value assets Plantand equipment Plantand e...,2021.0,365374
8,Consolidated Additions,Low value assets Plantand equipment Plantand e...,2022.0,86255
9,Consolidated Disposals,Low value assets Plantand equipment Plantand e...,2022.0,NaN
10,Consolidated Depreciation expense,Low value assets Plantand equipment Plantand e...,2022.0,"(60,638)"
11,Consolidated Balance at 31 March 2022,Low value assets Plantand equipment Plantand e...,2022.0,390991
12,Consolidated Consolidated,Low value assets Fixtures and fittings,2022.0,NaN
13,Consolidated Balance at 1 April 2021,Low value assets Fixtures and fittings,2021.0,112265
14,Consolidated Additions,Low value assets Fixtures and fittings,2022.0,8789
15,Consolidated Disposals,Low value assets Fixtures and fittings,2022.0,NaN
16,Consolidated Depreciation expense,Low value assets Fixtures and fittings,2022.0,"(26,530)"
17,Consolidated Balance at 31 March 2022,Low value assets Fixtures and fittings,2022.0,94524
18,Consolidated Consolidated,Low value assets Motor vehicles,2022.0,NaN
19,Consolidated Balance at 1 April 2021,Low value assets Motor vehicles,2021.0,5135623
20,Consolidated Additions,Low value assets Motor vehicles,2022.0,2452
21,Consolidated Disposals,Low value assets Motor vehicles,2022.0,"(46,956)"
22,Consolidated Depreciation expense,Low value assets Motor vehicles,2022.0,"(943,835)"
23,Consolidated Balance at 31 March 2022,Low value assets Motor vehicles,2022.0,4147284
24,Consolidated Consolidated,Low value assets Computer equipment,2022.0,NaN
25,Consolidated Balance at 1 April 2021,Low value assets Computer equipment,2021.0,1160011
26,Consolidated Additions,Low value assets Computer equipment,2022.0,762742
27,Consolidated Disposals,Low value assets Computer equipment,2022.0,NaN
28,Consolidated Depreciation expense,Low value assets Computer equipment,2022.0,"(458,542)"
29,Consolidated Balance at 31 March 2022,Low value assets Computer equipment,2022.0,1464211
30,Consolidated Consolidated,Low value assets (Plant and equipment),2022.0,NaN
31,Consolidated Balance at 1 April 2021,Low value assets (Plant and equipment),2021.0,92905
32,Consolidated Additions,Low value assets (Plant and equipment),2022.0,NaN
33,Consolidated Disposals,Low value assets (Plant and equipment),2022.0,NaN
34,Consolidated Depreciation expense,Low value assets (Plant and equipment),2022.0,"(31,909)"
35,Consolidated Balance at 31 March 2022,Low value assets (Plant and equipment),2022.0,60996
36,Consolidated Consolidated,Low value assets (Plant and Total,2022.0,NaN
37,Consolidated Balance at 1 April 2021,Low value assets (Plant and Total,2021.0,6982237
38,Consolidated Additions,Low value assets (Plant and Total,2022.0,912530
39,Consolidated Disposals,Low value assets (Plant and Total,2022.0,"(46,956)"
40,Consolidated Depreciation expense,Low value assets (Plant and Total,2022.0,"(1,562,946)"
41,Consolidated Balance at 31 March 2022,Low value assets (Plant and Total,2022.0,6284865