In [1]:
import pandas as pd
import os
from os import path
import json
from IPython.display import display

In [2]:
from process_core import mainPageProcess

/home/jayesh/anaconda3/envs/crm_syd/lib/python3.9/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [3]:
fileid = "599060e9-8b46-46ec-87b9-c79cde8a82b7"

In [4]:
mp = mainPageProcess()

In [5]:
cbs_dict,cpl_dict,ccf_dict,meta_dict,final_notes_dict,ref_notes_list, notes_region_meta_data,cropped_table_dict = mp.process_main_pages(fileid=fileid)

/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:54: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:54: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:54: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:466: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:466: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')

In [7]:
# mp.standardised_cropped_dict

In [30]:
output_folder = './output/'
file_folder = os.path.join(output_folder,fileid)

In [31]:
try:
    os.mkdir(file_folder)
except:
    pass

In [32]:
with open(os.path.join(file_folder,f"{fileid}_notes_account_dict.json"),"w") as f:
        json.dump(mp.final_notes_dict,f)

In [33]:
notes_region_meta_data.to_csv(os.path.join(file_folder,f"{fileid}_notes_region_meta_data.csv"),index=False)

In [34]:
with open(os.path.join(file_folder,f"{fileid}_notes_ref_list.json"),"w") as f:
    json.dump(mp.notes_ref_dict,f)

In [35]:
with open(os.path.join(file_folder,f"{fileid}_standradrd_notes_meta_dict.json"),"w") as f:
    json.dump(mp.standard_note_meta_dict,f)

In [36]:
writer = pd.ExcelWriter(os.path.join(file_folder,f"{fileid}_notes_cropped_df.xlsx"), engine='xlsxwriter')
for key,value in mp.cropped_table_dict.items():
    value.to_excel(writer, sheet_name=key[:20],index=False)
writer.save()

In [37]:
writer = pd.ExcelWriter(os.path.join(file_folder,f"{fileid}_main_pages.xlsx"), engine='xlsxwriter')
for key,value in cbs_dict.items():
    value.to_excel(writer, sheet_name=f"cbs_{key}",index=False)
for key,value in cpl_dict.items():
    value.to_excel(writer, sheet_name=f"cpl_{key}",index=False)
for key,value in ccf_dict.items():
    value.to_excel(writer, sheet_name=f"ccf_{key}",index=False)
writer.save()

In [38]:
writer = pd.ExcelWriter(os.path.join(file_folder,f"{fileid}_notes_standard_cropped_df.xlsx"), engine='xlsxwriter')
for key,value in mp.standardised_cropped_dict.items():
    if value is not None:
            value.to_excel(writer, sheet_name=key[:20],index=False)
    else:
            temp_df = pd.DataFrame()
            temp_df.to_excel(writer, sheet_name=key[:20],index=False)

writer.save()

In [7]:
len(mp.standardised_cropped_dict)

13

In [9]:
mp.notes_ref_dict.get('cbs')[0]

{'particular': 'Cash and cash equivalents',
 'raw_note_no': '6',
 'processed_raw_note': ['6'],
 'main_note_number': ['6'],
 'subnote_number': ['']}

In [8]:
mp.notes_region_meta_data

,note,subnote,start_page,star_bbox,next_note_pattern,end_page,end_bbox,tableid,row_numbers,tableslist,raw_note_number
0,6,,[29],"[[145, 319, 457, 338]]",7,[29],"[[145, 507, 465, 521]]",[783d1f36-c06c-3414-ac20-69f7abffe2dd],"[[0, 1, 2, 3, 4]]",[<db_models.TableLogs object at 0x7f19499a3550>],"[6, 6]"
1,7,,[29],"[[145, 507, 465, 521]]",8,[29],"[[145, 703, 306, 717]]",[783d1f36-c06c-3414-ac20-69f7abffe2dd],"[[5, 6, 7, 8, 9, 10]]",[<db_models.TableLogs object at 0x7f19499a3550>],[7]
2,8,,[29],"[[145, 703, 306, 717]]",9,[29],"[[144, 995, 354, 1009]]",[783d1f36-c06c-3414-ac20-69f7abffe2dd],"[[11, 12, 13, 14, 15, 16]]",[<db_models.TableLogs object at 0x7f19499a3550>],[8]
3,9,,[29],"[[144, 995, 354, 1009]]",10,[30],"[[145, 319, 321, 334]]",[6354e3c7-4619-3a07-b336-df681451d867],"[[0, 1, 2, 3, 4, 5, 6, 7, 8]]",[<db_models.TableLogs object at 0x7f194ab53970>],"[9, 9]"
4,11,,[30],"[[145, 630, 455, 648]]",12,[31],"[[145, 320, 489, 338]]","[09af3f09-68b9-3555-9536-3587a02264e5, e360143...","[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4, 5, 6], [10, ...",[<db_models.TableLogs object at 0x7f1948aa3e80...,"[11, 11]"
5,12,,[31],"[[145, 320, 489, 338]]",13,[31],"[[145, 1066, 267, 1080]]",[24662bf7-9672-32e9-9ab2-f84001ad12ef],"[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f1948a74100>],"[12, 12]"
6,16,,[32],"[[145, 1227, 311, 1246]]",17,[33],"[[145, 697, 302, 711]]","[2307c038-33fd-3bed-83eb-a45eb8e72b90, 6bafd8f...","[[26, 27, 28, 29], [0, 1, 2, 3, 4, 5, 6]]",[<db_models.TableLogs object at 0x7f1948a8c3a0...,[16]
7,17,,[33],"[[145, 697, 302, 711]]",18,[33],"[[145, 1043, 378, 1062]]",[65990df0-8285-3b32-87b4-6eebe133f883],"[[0, 1, 2, 3, 4, 5, 6]]",[<db_models.TableLogs object at 0x7f194a953c70>],"[17, 17]"
8,15,,[32],"[[145, 922, 378, 936]]",16,[32],"[[145, 1227, 311, 1246]]",[2307c038-33fd-3bed-83eb-a45eb8e72b90],"[[17, 18, 19, 20, 21, 22, 23, 24, 25]]",[<db_models.TableLogs object at 0x7f1948a8c3a0>],[15]
9,18,,[33],"[[145, 1043, 378, 1062]]",19,[34],"[[145, 320, 288, 334]]",[8a5d8593-402f-3237-9f10-7aeb81d494f1],"[[0, 1, 2]]",[<db_models.TableLogs object at 0x7f19499cbd90>],[18]
10,19,,[34],"[[145, 320, 288, 334]]",20,[35],"[[144, 320, 443, 338]]",[85574d29-1138-3d46-afab-d55cdd155e74],"[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f1948aa8760>],[19]
11,4,1,[26],"[[144, 356, 581, 371]]",4.2,[26],"[[144, 826, 335, 841]]",[e8b583fe-7a0d-3304-9c51-b1ed80b890f6],"[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 1...",[<db_models.TableLogs object at 0x7f194a7fc4c0>],[4.1]
12,4,2,[26],"[[144, 826, 335, 841]]",4.3,[26],"[[144, 967, 329, 982]]",[e8b583fe-7a0d-3304-9c51-b1ed80b890f6],"[[16, 17, 18, 19]]",[<db_models.TableLogs object at 0x7f194a7fc4c0>],[4.2]
13,4,3,[26],"[[144, 967, 329, 982]]",4.4,[27],"[[144, 357, 351, 371]]",[e8b583fe-7a0d-3304-9c51-b1ed80b890f6],"[[20, 21, 22, 23, 24, 25, 26, 27]]",[<db_models.TableLogs object at 0x7f194a7fc4c0>],[4.3]
14,4,4,[27],"[[144, 357, 351, 371]]",4.5,[27],"[[144, 498, 333, 512]]",[dfb38738-8ae6-3592-8b2f-3162f73b28b9],"[[0, 1, 2]]",[<db_models.TableLogs object at 0x7f19499b0220>],[4.4]
15,4,5,[27],"[[144, 498, 333, 512]]",4.6,[27],"[[144, 695, 417, 713]]",[dfb38738-8ae6-3592-8b2f-3162f73b28b9],"[[3, 4, 5, 6, 7, 8]]",[<db_models.TableLogs object at 0x7f19499b0220>],[4.5]

In [53]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5')

,line_item_0,line_item_1,row_header,value,header_col_0,header_col_1,header_col_2,year
0,Southern Cross,NaN,Southern Cross,NaN,%,2020,Ownership interest,2020
1,Aluminium Pty Ltd,Investment,Southern Cross,52.95%,%,2020,Ownership interest,2020
2,Southern Cross,NaN,Southern Cross,NaN,%,2019,Ownership interest,2019
3,Aluminium Pty Ltd,Investment,Southern Cross,52.95%,%,2019,Ownership interest,2019
4,Southern Cross,NaN,Southern Cross,NaN,$000,2020,Ownership interest,2020
5,Aluminium Pty Ltd,Investment,Southern Cross,47672,$000,2020,Ownership interest,2020
6,Southern Cross,NaN,Southern Cross,NaN,$000,2019,Ownership interest,2019
7,Aluminium Pty Ltd,Investment,Southern Cross,54535,$000,2019,Ownership interest,2019

In [60]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5').filter(like="line_item", axis=1).columns.to_list()

['line_item_0', 'line_item_1']

In [68]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5')['year'].max()

2020

In [57]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5').filter(like="header_col", axis=1).sort_index(axis=1, ascending=False)

         header_col_2 header_col_1 header_col_0
0  Ownership interest         2020            %
1  Ownership interest         2020            %
2  Ownership interest         2019            %
3  Ownership interest         2019            %
4  Ownership interest         2020         $000
5  Ownership interest         2020         $000
6  Ownership interest         2019         $000
7  Ownership interest         2019         $000

In [62]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5').filter(like="header_col", axis=1).sort_index(axis=1, ascending=True).columns.to_list()

['header_col_0', 'header_col_1', 'header_col_2']

In [11]:
cbs_dict[7]

,Particulars,Notes,2020,2019,statement_section,statement_sub_section
0,Assets,NaN,NaN,NaN,assets,current
1,Current assets,NaN,NaN,NaN,assets,current
2,Cash and cash equivalents,6,19589.0,28259.0,assets,current
3,Trade and other receivables,7,13624.0,11999.0,assets,current
4,Inventories,8,27198.0,26953.0,assets,current
5,Financial assets,9,NaN,29753.0,assets,current
6,Income tax receivable from related parties,20,6318.0,7530.0,assets,current
7,Other current assets,10,489.0,328.0,assets,current
8,Total current assets,NaN,67218.0,104822.0,assets,current
9,Non-current assets,NaN,NaN,NaN,assets,noncurrent
10,Investment in joint ventures,11,47672.0,54535.0,assets,noncurrent
11,"Property, plant and equipment",12,17531.0,3731.0,assets,noncurrent
12,Right-of-use assets,13,1007.0,1476.0,assets,noncurrent
13,Financial assets,9,NaN,12453.0,assets,noncurrent
14,Deferred tax assets,5,24223.0,12309.0,assets,noncurrent
15,Other non-current assets,10,NaN,678.0,assets,noncurrent
16,Total non-current assets,NaN,90433.0,85182.0,assets,noncurrent
17,Total assets,NaN,157651.0,190004.0,assets,noncurrent
18,Liabilities,NaN,NaN,NaN,assets,current
19,Current liabilities,NaN,NaN,NaN,equity_liabilities,current
20,Trade and other payables,NaN,22315.0,26101.0,equity_liabilities,current
21,Borrowings,16,NaN,4000.0,equity_liabilities,current
22,Provisions,17,9459.0,9228.0,equity_liabilities,current
23,Financial liabilities,15,2935.0,NaN,equity_liabilities,current
24,Lease liabilities,13,412.0,471.0,equity_liabilities,current
25,Total current liabilities,NaN,35121.0,39800.0,equity_liabilities,current
26,Non-current liabilities,NaN,NaN,NaN,equity_liabilities,noncurrent
27,Trade and other payables,NaN,3254.0,3036.0,equity_liabilities,noncurrent
28,Provisions,17,48427.0,10629.0,equity_liabilities,noncurrent
29,Lease liabilities,13,641.0,1042.0,equity_liabilities,noncurrent
30,Deferred tax liabilities,5,18466.0,23326.0,equity_liabilities,noncurrent
31,Total non-current liabilities,NaN,70788.0,38033.0,equity_liabilities,noncurrent
32,Total liabilities,NaN,105909.0,77833.0,equity_liabilities,noncurrent
33,Net assets,NaN,51742.0,112171.0,equity_liabilities,noncurrent
34,Equity,NaN,NaN,NaN,equity_liabilities,equity
35,Contributed equity,18,150997.0,150997.0,equity_liabilities,equity
36,Accumulated losses,NaN,-94999.0,-74616.0,equity_liabilities,equity
37,Reserves,19,-4256.0,35790.0,equity_liabilities,equity
38,Total equity,NaN,51742.0,112171.0,equity_liabilities,equity

In [25]:
data_column_names = cbs_dict[7]

# ignore these columns to fetch years list
filter_headers = ['Notes', 'Particulars', 'statement_section', 'statement_sub_section']

# get years list
years_list = ([int(i) for i in data_column_names if i not in filter_headers])
years_list.sort()
years_list = [str(i) for i in years_list]

In [41]:
def convert_standaradised_notes_to_column_row_year(note_df,year_list,standard_note_meta_dict_item):
    ## this function converts standradised note df into 4 columns. rows will be combination of row header + line item 1 + line item 0
    ## cols will be combination of col_header_1 + col_header_0 etc. column which contains year value will be dropped based on standard_note_meta_dict_item
    converted_standardised_df = pd.DataFrame(columns=["rows","columns","year","value"])
    note_df["year"] = note_df["year"].fillna(note_df["year"].max())
    # for curr_year in year_list:
    #         converted_standardised_df[str(curr_year)] = float(0)

    year_column_header_name = standard_note_meta_dict_item.get('year_column_header_name')
    # print(year_column_header_name)
    if year_column_header_name:
         note_df = note_df.drop(year_column_header_name,axis=1)
    line_item_colnames = note_df.filter(like="line_item", axis=1).columns.to_list()
    col_header_colnames = note_df.filter(like="header_col", axis=1).sort_index(axis=1, ascending=False).columns.to_list()
    row_header_available = False
    # print(line_item_colnames)
    if "row_header" in note_df.columns.to_list():
        row_header_available = True
        row_colmns = ["row_header"]
        row_colmns.extend(line_item_colnames)
        # print(row_colmns)
        converted_standardised_df["rows"] = note_df[row_colmns].fillna('').apply(" ".join, axis=1)
    else:
        converted_standardised_df["rows"] = note_df[line_item_colnames].fillna('').apply(" ".join, axis=1)
    converted_standardised_df["columns"] = note_df[col_header_colnames].fillna('').apply(" ".join, axis=1)
    converted_standardised_df["year"] = note_df["year"]
    converted_standardised_df["value"] = note_df["value"]
    return converted_standardised_df

In [42]:
mp.standardised_cropped_dict.get('783d1f36-c06c-3414-ac20-69f7abffe2dd')

      line_item_0 row_header  value header_col_0 header_col_1  year
0   Raw materials       None  18547         $000         2020  2020
1  Finished goods       None   8651         $000         2020  2020
2             NaN       None  27198         $000         2020  2020
3   Raw materials       None  19816         $000         2019  2019
4  Finished goods       None   7137         $000         2019  2019
5             NaN       None  26953         $000         2019  2019

In [44]:
convert_standaradised_notes_to_column_row_year(mp.standardised_cropped_dict.get('783d1f36-c06c-3414-ac20-69f7abffe2dd'),years_list,mp.standard_note_meta_dict.get('783d1f36-c06c-3414-ac20-69f7abffe2dd'))

header_col_1

              rows columns  year  value
0    Raw materials    $000  2020  18547
1   Finished goods    $000  2020   8651
2                     $000  2020  27198
3    Raw materials    $000  2019  19816
4   Finished goods    $000  2019   7137
5                     $000  2019  26953

In [47]:
for key,value in mp.standardised_cropped_dict.items():
    display("standardised raw dict:= ",mp.standardised_cropped_dict.get(key))
    conv_std_df = convert_standaradised_notes_to_column_row_year(mp.standardised_cropped_dict.get(key),years_list,mp.standard_note_meta_dict.get(key))
    display("converted _dict : ",conv_std_df)

'standardised raw dict:= '

      line_item_0 row_header  value header_col_0 header_col_1  year
0   Raw materials       None  18547         $000         2020  2020
1  Finished goods       None   8651         $000         2020  2020
2             NaN       None  27198         $000         2020  2020
3   Raw materials       None  19816         $000         2019  2019
4  Finished goods       None   7137         $000         2019  2019
5             NaN       None  26953         $000         2019  2019

header_col_1

'converted _dict : '

              rows columns  year  value
0    Raw materials    $000  2020  18547
1   Finished goods    $000  2020   8651
2                     $000  2020  27198
3    Raw materials    $000  2019  19816
4   Finished goods    $000  2019   7137
5                     $000  2019  26953

'standardised raw dict:= '

,line_item_0,row_header,value,header_col_0,header_col_1,year
0,Current,Current,NaN,$000,2020,2020
1,Foreign exchange derivatives at fair value,Current,NaN,$000,2020,2020
2,Electricity derivatives at fair value,Current,NaN,$000,2020,2020
3,NaN,Current,NaN,$000,2020,2020
4,Non-current,Non-current,NaN,$000,2020,2020
5,Electricity derivatives at fair value,Non-current,NaN,$000,2020,2020
6,Current,Current,NaN,$000,2019,2019
7,Foreign exchange derivatives at fair value,Current,51,$000,2019,2019
8,Electricity derivatives at fair value,Current,29702,$000,2019,2019
9,NaN,Current,29753,$000,2019,2019
10,Non-current,Non-current,NaN,$000,2019,2019
11,Electricity derivatives at fair value,Non-current,12453,$000,2019,2019

header_col_1

'converted _dict : '

                                                 rows columns  year  value
0                                     Current Current    $000  2020    NaN
1   Current Foreign exchange derivatives at fair v...    $000  2020    NaN
2       Current Electricity derivatives at fair value    $000  2020    NaN
3                                            Current     $000  2020    NaN
4                             Non-current Non-current    $000  2020    NaN
5   Non-current Electricity derivatives at fair value    $000  2020    NaN
6                                     Current Current    $000  2019    NaN
7   Current Foreign exchange derivatives at fair v...    $000  2019     51
8       Current Electricity derivatives at fair value    $000  2019  29702
9                                            Current     $000  2019  29753
10                            Non-current Non-current    $000  2019    NaN
11  Non-current Electricity derivatives at fair value    $000  2019  12453

'standardised raw dict:= '

,line_item_0,line_item_1,row_header,value,header_col_0,header_col_1,header_col_2,year
0,Southern Cross,NaN,Southern Cross,NaN,%,2020,Ownership interest,2020
1,Aluminium Pty Ltd,Investment,Southern Cross,52.95%,%,2020,Ownership interest,2020
2,Southern Cross,NaN,Southern Cross,NaN,%,2019,Ownership interest,2019
3,Aluminium Pty Ltd,Investment,Southern Cross,52.95%,%,2019,Ownership interest,2019
4,Southern Cross,NaN,Southern Cross,NaN,$000,2020,Ownership interest,2020
5,Aluminium Pty Ltd,Investment,Southern Cross,47672,$000,2020,Ownership interest,2020
6,Southern Cross,NaN,Southern Cross,NaN,$000,2019,Ownership interest,2019
7,Aluminium Pty Ltd,Investment,Southern Cross,54535,$000,2019,Ownership interest,2019

header_col_1

'converted _dict : '

,rows,columns,year,value
0,Southern Cross Southern Cross,Ownership interest %,2020,NaN
1,Southern Cross Aluminium Pty Ltd Investment,Ownership interest %,2020,52.95%
2,Southern Cross Southern Cross,Ownership interest %,2019,NaN
3,Southern Cross Aluminium Pty Ltd Investment,Ownership interest %,2019,52.95%
4,Southern Cross Southern Cross,Ownership interest $000,2020,NaN
5,Southern Cross Aluminium Pty Ltd Investment,Ownership interest $000,2020,47672
6,Southern Cross Southern Cross,Ownership interest $000,2019,NaN
7,Southern Cross Aluminium Pty Ltd Investment,Ownership interest $000,2019,54535

'standardised raw dict:= '

,line_item_0,row_header,value,header_col_0,header_col_1,year
0,At 1 January,None,54535,$000,2020,2020
1,"Share of gain/(loss) of joint venture, net of tax",None,1586,$000,2020,2020
2,"Share of other comprehensive income, net of tax",None,"(8,448)",$000,2020,2020
3,Carrying value of investment at end of year,None,47672,$000,2020,2020
4,At 1 January,None,59249,$000,2019,2019
5,"Share of gain/(loss) of joint venture, net of tax",None,"(7,587)",$000,2019,2019
6,"Share of other comprehensive income, net of tax",None,2873,$000,2019,2019
7,Carrying value of investment at end of year,None,54535,$000,2019,2019

header_col_1

'converted _dict : '

                                                rows columns  year    value
0                                       At 1 January    $000  2020    54535
1   Share of gain/(loss) of joint venture, net of...    $000  2020     1586
2    Share of other comprehensive income, net of tax    $000  2020  (8,448)
3        Carrying value of investment at end of year    $000  2020    47672
4                                       At 1 January    $000  2019    59249
5   Share of gain/(loss) of joint venture, net of...    $000  2019  (7,587)
6    Share of other comprehensive income, net of tax    $000  2019     2873
7        Carrying value of investment at end of year    $000  2019    54535

'standardised raw dict:= '

,line_item_0,row_header,value,header_col_0,header_col_1,year
0,Investment in joint venture (Southern Cross Al...,None,47672,$000,2020,2020
1,Investment in joint venture (Southern Cross Al...,None,54535,$000,2019,2019

header_col_1

'converted _dict : '

                                                rows columns  year  value
0   Investment in joint venture (Southern Cross A...    $000  2020  47672
1   Investment in joint venture (Southern Cross A...    $000  2019  54535

'standardised raw dict:= '

,line_item_0,row_header,value,header_col_0,header_col_1,year
0,Cost,Cost,NaN,$000,Freehold land and buildings,2020.0
1,At 1 January 2020,Cost,90430,$000,Freehold land and buildings,2020.0
2,Additions,Cost,376,$000,Freehold land and buildings,2020.0
3,Disposals,Cost,(149),$000,Freehold land and buildings,2020.0
4,Transfer,Cost,74,$000,Freehold land and buildings,2020.0
...,...,...,...,...,...,...
70,Disposals,Accumulated depreciation and impairment,"(1,336)",$000,Total,2020.0
71,At 31 December 2020,Accumulated depreciation and impairment,430161,$000,Total,2020.0
72,Net book value,Net book value,NaN,$000,Total,2020.0
73,At 31 December 2020,Net book value,17531,$000,Total,2020.0
74,At 31 December 2019,Net book value,3731,$000,Total,2019.0

None

'converted _dict : '

,rows,columns,year,value
0,Cost Cost,Freehold land and buildings $000,2020.0,NaN
1,Cost At 1 January 2020,Freehold land and buildings $000,2020.0,90430
2,Cost Additions,Freehold land and buildings $000,2020.0,376
3,Cost Disposals,Freehold land and buildings $000,2020.0,(149)
4,Cost Transfer,Freehold land and buildings $000,2020.0,74
...,...,...,...,...
70,Accumulated depreciation and impairment Disposals,Total $000,2020.0,"(1,336)"
71,Accumulated depreciation and impairment At 31 ...,Total $000,2020.0,430161
72,Net book value Net book value,Total $000,2020.0,NaN
73,Net book value At 31 December 2020,Total $000,2020.0,17531
74,Net book value At 31 December 2019,Total $000,2019.0,3731

'standardised raw dict:= '

,line_item_0,row_header,value,header_col_0,header_col_1,year
0,Trade and other payables,None,25569,$000,2020,2020
1,Electricity derivatives at fair value through OCI,None,2935,$000,2020,2020
2,Lease liabilities,None,1053,$000,2020,2020
3,NaN,None,29557,$000,2020,2020
4,Current,None,25662,$000,2020,2020
5,Non-current,None,3895,$000,2020,2020

header_col_1

'converted _dict : '

                                                rows columns  year  value
0                           Trade and other payables    $000  2020  25569
1   Electricity derivatives at fair value through...    $000  2020   2935
2                                  Lease liabilities    $000  2020   1053
3                                                       $000  2020  29557
4                                            Current    $000  2020  25662
5                                        Non-current    $000  2020   3895

'standardised raw dict:= '

,line_item_0,line_item_1,row_header,value,header_col_0,header_col_1,header_col_2,year
0,facilities,facilities,None,52100,$000,Multi-option facilities,2020,2020
1,Utilised,NaN,None,NaN,$000,Multi-option facilities,2020,2020
2,Utilised,bank guarantees,None,3273,$000,Multi-option facilities,2020,2020
3,Balance at 31 December,Balance at 31 December,None,48827,$000,Multi-option facilities,2020,2020
4,facilities,facilities,None,13500,$000,Bank guarantee facilities,2020,2020
5,Utilised,NaN,None,NaN,$000,Bank guarantee facilities,2020,2020
6,Utilised,bank guarantees,None,13500,$000,Bank guarantee facilities,2020,2020
7,Balance at 31 December,Balance at 31 December,None,NaN,$000,Bank guarantee facilities,2020,2020
8,facilities,facilities,None,52100,$000,Multi-option facilities,2019,2019
9,Utilised,NaN,None,4000,$000,Multi-option facilities,2019,2019
10,Utilised,bank guarantees,None,1023,$000,Multi-option facilities,2019,2019
11,Balance at 31 December,Balance at 31 December,None,47077,$000,Multi-option facilities,2019,2019
12,facilities,facilities,None,13500,$000,Bank guarantee facilities,2019,2019
13,Utilised,NaN,None,NaN,$000,Bank guarantee facilities,2019,2019
14,Utilised,bank guarantees,None,13500,$000,Bank guarantee facilities,2019,2019
15,Balance at 31 December,Balance at 31 December,None,NaN,$000,Bank guarantee facilities,2019,2019

header_col_2

'converted _dict : '

,rows,columns,year,value
0,facilities facilities,Multi-option facilities $000,2020,52100
1,Utilised,Multi-option facilities $000,2020,NaN
2,Utilised bank guarantees,Multi-option facilities $000,2020,3273
3,Balance at 31 December Balance at 31 December,Multi-option facilities $000,2020,48827
4,facilities facilities,Bank guarantee facilities $000,2020,13500
5,Utilised,Bank guarantee facilities $000,2020,NaN
6,Utilised bank guarantees,Bank guarantee facilities $000,2020,13500
7,Balance at 31 December Balance at 31 December,Bank guarantee facilities $000,2020,NaN
8,facilities facilities,Multi-option facilities $000,2019,52100
9,Utilised,Multi-option facilities $000,2019,4000
10,Utilised bank guarantees,Multi-option facilities $000,2019,1023
11,Balance at 31 December Balance at 31 December,Multi-option facilities $000,2019,47077
12,facilities facilities,Bank guarantee facilities $000,2019,13500
13,Utilised,Bank guarantee facilities $000,2019,NaN
14,Utilised bank guarantees,Bank guarantee facilities $000,2019,13500
15,Balance at 31 December Balance at 31 December,Bank guarantee facilities $000,2019,NaN

'standardised raw dict:= '

,line_item_0,row_header,value,header_col_0,year
0,At 1 January 2020,None,4343,Employee benefits,2020.0
1,Arising during the year,None,541,Employee benefits,2020.0
2,Unwinding of discount,None,NaN,Employee benefits,2020.0
3,At31 December 2020,None,4884,Employee benefits,2020.0
4,Current,None,4846,Employee benefits,2020.0
5,Non-current,None,38,Employee benefits,2020.0
6,At 1 January 2020,None,3725,Workers compensation,2020.0
7,Arising during the year,None,159,Workers compensation,2020.0
8,Unwinding of discount,None,NaN,Workers compensation,2020.0
9,At31 December 2020,None,3884,Workers compensation,2020.0
10,Current,None,3884,Workers compensation,2020.0
11,Non-current,None,NaN,Workers compensation,2020.0
12,At 1 January 2020,None,NaN,Defined Benefit,2020.0
13,Arising during the year,None,865,Defined Benefit,2020.0
14,Unwinding of discount,None,(518),Defined Benefit,2020.0
15,At31 December 2020,None,347,Defined Benefit,2020.0
16,Current,None,NaN,Defined Benefit,2020.0
17,Non-current,None,347,Defined Benefit,2020.0
18,At 1 January 2020,None,4806,Provision for asset retirement obligation,2020.0
19,Arising during the year,None,36032,Provision for asset retirement obligation,2020.0
20,Unwinding of discount,None,(336),Provision for asset retirement obligation,2020.0
21,At31 December 2020,None,40502,Provision for asset retirement obligation,2020.0
22,Current,None,NaN,Provision for asset retirement obligation,2020.0
23,Non-current,None,40502,Provision for asset retirement obligation,2020.0
24,At 1 January 2020,None,6983,Provision for carbon dust and other,2020.0
25,Arising during the year,None,1286,Provision for carbon dust and other,2020.0
26,Unwinding of discount,None,NaN,Provision for carbon dust and other,2020.0
27,At31 December 2020,None,8269,Provision for carbon dust and other,2020.0
28,Current,None,729,Provision for carbon dust and other,2020.0
29,Non-current,None,7540,Provision for carbon dust and other,2020.0
30,At 1 January 2020,None,19857,Totals,2020.0
31,Arising during the year,None,38883,Totals,2020.0
32,Unwinding of discount,None,(854),Totals,2020.0
33,At31 December 2020,None,57886,Totals,2020.0
34,Current,None,9459,Totals,2020.0
35,Non-current,None,48427,Totals,2020.0

None

'converted _dict : '

,rows,columns,year,value
0,At 1 January 2020,Employee benefits,2020.0,4343
1,Arising during the year,Employee benefits,2020.0,541
2,Unwinding of discount,Employee benefits,2020.0,NaN
3,At31 December 2020,Employee benefits,2020.0,4884
4,Current,Employee benefits,2020.0,4846
5,Non-current,Employee benefits,2020.0,38
6,At 1 January 2020,Workers compensation,2020.0,3725
7,Arising during the year,Workers compensation,2020.0,159
8,Unwinding of discount,Workers compensation,2020.0,NaN
9,At31 December 2020,Workers compensation,2020.0,3884
10,Current,Workers compensation,2020.0,3884
11,Non-current,Workers compensation,2020.0,NaN
12,At 1 January 2020,Defined Benefit,2020.0,NaN
13,Arising during the year,Defined Benefit,2020.0,865
14,Unwinding of discount,Defined Benefit,2020.0,(518)
15,At31 December 2020,Defined Benefit,2020.0,347
16,Current,Defined Benefit,2020.0,NaN
17,Non-current,Defined Benefit,2020.0,347
18,At 1 January 2020,Provision for asset retirement obligation,2020.0,4806
19,Arising during the year,Provision for asset retirement obligation,2020.0,36032
20,Unwinding of discount,Provision for asset retirement obligation,2020.0,(336)
21,At31 December 2020,Provision for asset retirement obligation,2020.0,40502
22,Current,Provision for asset retirement obligation,2020.0,NaN
23,Non-current,Provision for asset retirement obligation,2020.0,40502
24,At 1 January 2020,Provision for carbon dust and other,2020.0,6983
25,Arising during the year,Provision for carbon dust and other,2020.0,1286
26,Unwinding of discount,Provision for carbon dust and other,2020.0,NaN
27,At31 December 2020,Provision for carbon dust and other,2020.0,8269
28,Current,Provision for carbon dust and other,2020.0,729
29,Non-current,Provision for carbon dust and other,2020.0,7540
30,At 1 January 2020,Totals,2020.0,19857
31,Arising during the year,Totals,2020.0,38883
32,Unwinding of discount,Totals,2020.0,(854)
33,At31 December 2020,Totals,2020.0,57886
34,Current,Totals,2020.0,9459
35,Non-current,Totals,2020.0,48427

'standardised raw dict:= '

,line_item_0,row_header,value,header_col_0,header_col_1,year
0,"155,299,534 ordinary shares issued and fully p...",None,150997,$000,2020,2020
1,"155,299,534 ordinary shares issued and fully p...",None,150997,$000,2019,2019

header_col_1

'converted _dict : '

                                                rows columns  year   value
0   155,299,534 ordinary shares issued and fully ...    $000  2020  150997
1   155,299,534 ordinary shares issued and fully ...    $000  2019  150997

'standardised raw dict:= '

,line_item_0,row_header,value,header_col_0,header_col_1,year
0,Cash flow hedge reserve,Cash flow hedge reserve,NaN,$000,2020,2020
1,Balance at 1 January,Cash flow hedge reserve,29543,$000,2020,2020
2,Net other comprehensive loss for the year,Cash flow hedge reserve,"(31,598)",$000,2020,2020
3,Balance at 31 December,Cash flow hedge reserve,"(2,055)",$000,2020,2020
4,NaN,Cash flow hedge reserve,2020,$000,2020,2020
5,NaN,Cash flow hedge reserve,$000,$000,2020,2020
6,Reserve in joint venture,Reserve in joint venture,NaN,$000,2020,2020
7,Balance at 1 January,Reserve in joint venture,5922,$000,2020,2020
8,Net other comprehensive (loss)/income for the ...,Reserve in joint venture,"(8,448)",$000,2020,2020
9,Balance at 31 December,Reserve in joint venture,"(2,526)",$000,2020,2020
10,NaN,Reserve in joint venture,2020,$000,2020,2020
11,NaN,Reserve in joint venture,$000,$000,2020,2020
12,Other reserve,Other reserve,NaN,$000,2020,2020
13,Balance at 1 January,Other reserve,325,$000,2020,2020
14,Balance at 31 December,Other reserve,325,$000,2020,2020
15,NaN,Other reserve,2020,$000,2020,2020
16,NaN,Other reserve,$000,$000,2020,2020
17,Total,Total,NaN,$000,2020,2020
18,Balance at 1 January,Total,35790,$000,2020,2020
19,Net other comprehensive loss for the year,Total,"(40,046)",$000,2020,2020
20,Balance at 31 December,Total,"(4,256)",$000,2020,2020
21,Cash flow hedge reserve,Cash flow hedge reserve,NaN,$000,2019,2019
22,Balance at 1 January,Cash flow hedge reserve,41448,$000,2019,2019
23,Net other comprehensive loss for the year,Cash flow hedge reserve,"(11,905)",$000,2019,2019
24,Balance at 31 December,Cash flow hedge reserve,29543,$000,2019,2019
25,NaN,Cash flow hedge reserve,2019,$000,2019,2019
26,NaN,Cash flow hedge reserve,$000,$000,2019,2019
27,Reserve in joint venture,Reserve in joint venture,NaN,$000,2019,2019
28,Balance at 1 January,Reserve in joint venture,3049,$000,2019,2019
29,Net other comprehensive (loss)/income for the ...,Reserve in joint venture,2873,$000,2019,2019
30,Balance at 31 December,Reserve in joint venture,5922,$000,2019,2019
31,NaN,Reserve in joint venture,2019,$000,2019,2019
32,NaN,Reserve in joint venture,$000,$000,2019,2019
33,Other reserve,Other reserve,NaN,$000,2019,2019
34,Balance at 1 January,Other reserve,325,$000,2019,2019
35,Balance at 31 December,Other reserve,325,$000,2019,2019
36,NaN,Other reserve,2019,$000,2019,2019
37,NaN,Other reserve,$000,$000,2019,2019
38,Total,Total,NaN,$000,2019,2019
39,Balance at 1 January,Total,44822,$000,2019,2019
40,Net other comprehensive loss for the year,Total,"(9,032)",$000,2019,2019
41,Balance at 31 December,Total,35790,$000,2019,2019

header_col_1

'converted _dict : '

                                                 rows columns  year     value
0     Cash flow hedge reserve Cash flow hedge reserve    $000  2020       NaN
1        Cash flow hedge reserve Balance at 1 January    $000  2020     29543
2   Cash flow hedge reserve Net other comprehensiv...    $000  2020  (31,598)
3      Cash flow hedge reserve Balance at 31 December    $000  2020   (2,055)
4                            Cash flow hedge reserve     $000  2020      2020
5                            Cash flow hedge reserve     $000  2020      $000
6   Reserve in joint venture Reserve in joint venture    $000  2020       NaN
7       Reserve in joint venture Balance at 1 January    $000  2020      5922
8   Reserve in joint venture Net other comprehensi...    $000  2020   (8,448)
9     Reserve in joint venture Balance at 31 December    $000  2020   (2,526)
10                          Reserve in joint venture     $000  2020      2020
11                          Reserve in joint venture     $000  2020      $000
12                        Other reserve Other reserve    $000  2020       NaN
13                 Other reserve Balance at 1 January    $000  2020       325
14               Other reserve Balance at 31 December    $000  2020       325
15                                     Other reserve     $000  2020      2020
16                                     Other reserve     $000  2020      $000
17                                        Total Total    $000  2020       NaN
18                         Total Balance at 1 January    $000  2020     35790
19    Total Net other comprehensive loss for the year    $000  2020  (40,046)
20                       Total Balance at 31 December    $000  2020   (4,256)
21    Cash flow hedge reserve Cash flow hedge reserve    $000  2019       NaN
22       Cash flow hedge reserve Balance at 1 January    $000  2019     41448
23  Cash flow hedge reserve Net other comprehensiv...    $000  2019  (11,905)
24     Cash flow hedge reserve Balance at 31 December    $000  2019     29543
25                           Cash flow hedge reserve     $000  2019      2019
26                           Cash flow hedge reserve     $000  2019      $000
27  Reserve in joint venture Reserve in joint venture    $000  2019       NaN
28      Reserve in joint venture Balance at 1 January    $000  2019      3049
29  Reserve in joint venture Net other comprehensi...    $000  2019      2873
30    Reserve in joint venture Balance at 31 December    $000  2019      5922
31                          Reserve in joint venture     $000  2019      2019
32                          Reserve in joint venture     $000  2019      $000
33                        Other reserve Other reserve    $000  2019       NaN
34                 Other reserve Balance at 1 January    $000  2019       325
35               Other reserve Balance at 31 December    $000  2019       325
36                                     Other reserve     $000  2019      2019
37                                     Other reserve     $000  2019      $000
38                                        Total Total    $000  2019       NaN
39                         Total Balance at 1 January    $000  2019     44822
40    Total Net other comprehensive loss for the year    $000  2019   (9,032)
41                       Total Balance at 31 December    $000  2019     35790

'standardised raw dict:= '

             line_item_0 row_header  value header_col_0 header_col_1  year
0      Government grants       None  13054         $000         2020  2020
1     Insurance proceeds       None    NaN         $000         2020  2020
2  Foreign exchange gain       None    NaN         $000         2020  2020
3                  Other       None    577         $000         2020  2020
4                    NaN       None  13631         $000         2020  2020
5      Government grants       None   5350         $000         2019  2019
6     Insurance proceeds       None   4202         $000         2019  2019
7  Foreign exchange gain       None     95         $000         2019  2019
8                  Other       None    497         $000         2019  2019
9                    NaN       None  10144         $000         2019  2019

header_col_1

'converted _dict : '

                     rows columns  year  value
0       Government grants    $000  2020  13054
1      Insurance proceeds    $000  2020    NaN
2   Foreign exchange gain    $000  2020    NaN
3                   Other    $000  2020    577
4                            $000  2020  13631
5       Government grants    $000  2019   5350
6      Insurance proceeds    $000  2019   4202
7   Foreign exchange gain    $000  2019     95
8                   Other    $000  2019    497
9                            $000  2019  10144

'standardised raw dict:= '

,line_item_0,row_header,value,header_col_0,header_col_1,year
0,Interest expenses,None,(203),$000,2020,2020
1,Discount unwind on the provision for asset ret...,None,(336),$000,2020,2020
2,NaN,None,(539),$000,2020,2020
3,Interest expenses,None,(303),$000,2019,2019
4,Discount unwind on the provision for asset ret...,None,(315),$000,2019,2019
5,NaN,None,(618),$000,2019,2019

header_col_1

'converted _dict : '

                                                rows columns  year  value
0                                  Interest expenses    $000  2020  (203)
1   Discount unwind on the provision for asset re...    $000  2020  (336)
2                                                       $000  2020  (539)
3                                  Interest expenses    $000  2019  (303)
4   Discount unwind on the provision for asset re...    $000  2019  (315)
5                                                       $000  2019  (618)

In [6]:
for key,value in mp.standardised_cropped_dict.items():
    display("standardised raw dict:= ",mp.standardised_cropped_dict.get(key))
    conv_std_df = mp.transformed_standardised_cropped_dict.get(key)
    display("converted _dict : ",conv_std_df)

'standardised raw dict:= '

      line_item_0 row_header  value header_col_0 header_col_1  year
0   Raw materials       None  18547         $000         2020  2020
1  Finished goods       None   8651         $000         2020  2020
2             NaN       None  27198         $000         2020  2020
3   Raw materials       None  19816         $000         2019  2019
4  Finished goods       None   7137         $000         2019  2019
5             NaN       None  26953         $000         2019  2019

'converted _dict : '

              rows columns  year  value
0    Raw materials    $000  2020  18547
1   Finished goods    $000  2020   8651
2                     $000  2020  27198
3    Raw materials    $000  2019  19816
4   Finished goods    $000  2019   7137
5                     $000  2019  26953

'standardised raw dict:= '

,line_item_0,row_header,value,header_col_0,header_col_1,year
0,Current,Current,NaN,$000,2020,2020
1,Foreign exchange derivatives at fair value,Current,NaN,$000,2020,2020
2,Electricity derivatives at fair value,Current,NaN,$000,2020,2020
3,NaN,Current,NaN,$000,2020,2020
4,Non-current,Non-current,NaN,$000,2020,2020
5,Electricity derivatives at fair value,Non-current,NaN,$000,2020,2020
6,Current,Current,NaN,$000,2019,2019
7,Foreign exchange derivatives at fair value,Current,51,$000,2019,2019
8,Electricity derivatives at fair value,Current,29702,$000,2019,2019
9,NaN,Current,29753,$000,2019,2019
10,Non-current,Non-current,NaN,$000,2019,2019
11,Electricity derivatives at fair value,Non-current,12453,$000,2019,2019

'converted _dict : '

                                                 rows columns  year  value
0                                     Current Current    $000  2020    NaN
1   Current Foreign exchange derivatives at fair v...    $000  2020    NaN
2       Current Electricity derivatives at fair value    $000  2020    NaN
3                                            Current     $000  2020    NaN
4                             Non-current Non-current    $000  2020    NaN
5   Non-current Electricity derivatives at fair value    $000  2020    NaN
6                                     Current Current    $000  2019    NaN
7   Current Foreign exchange derivatives at fair v...    $000  2019     51
8       Current Electricity derivatives at fair value    $000  2019  29702
9                                            Current     $000  2019  29753
10                            Non-current Non-current    $000  2019    NaN
11  Non-current Electricity derivatives at fair value    $000  2019  12453

'standardised raw dict:= '

,line_item_0,line_item_1,row_header,value,header_col_0,header_col_1,header_col_2,year
0,Southern Cross,NaN,Southern Cross,NaN,%,2020,Ownership interest,2020
1,Aluminium Pty Ltd,Investment,Southern Cross,52.95%,%,2020,Ownership interest,2020
2,Southern Cross,NaN,Southern Cross,NaN,%,2019,Ownership interest,2019
3,Aluminium Pty Ltd,Investment,Southern Cross,52.95%,%,2019,Ownership interest,2019
4,Southern Cross,NaN,Southern Cross,NaN,$000,2020,Ownership interest,2020
5,Aluminium Pty Ltd,Investment,Southern Cross,47672,$000,2020,Ownership interest,2020
6,Southern Cross,NaN,Southern Cross,NaN,$000,2019,Ownership interest,2019
7,Aluminium Pty Ltd,Investment,Southern Cross,54535,$000,2019,Ownership interest,2019

'converted _dict : '

,rows,columns,year,value
0,Southern Cross Southern Cross,Ownership interest %,2020,NaN
1,Southern Cross Aluminium Pty Ltd Investment,Ownership interest %,2020,52.95%
2,Southern Cross Southern Cross,Ownership interest %,2019,NaN
3,Southern Cross Aluminium Pty Ltd Investment,Ownership interest %,2019,52.95%
4,Southern Cross Southern Cross,Ownership interest $000,2020,NaN
5,Southern Cross Aluminium Pty Ltd Investment,Ownership interest $000,2020,47672
6,Southern Cross Southern Cross,Ownership interest $000,2019,NaN
7,Southern Cross Aluminium Pty Ltd Investment,Ownership interest $000,2019,54535

'standardised raw dict:= '

,line_item_0,row_header,value,header_col_0,header_col_1,year
0,At 1 January,None,54535,$000,2020,2020
1,"Share of gain/(loss) of joint venture, net of tax",None,1586,$000,2020,2020
2,"Share of other comprehensive income, net of tax",None,"(8,448)",$000,2020,2020
3,Carrying value of investment at end of year,None,47672,$000,2020,2020
4,At 1 January,None,59249,$000,2019,2019
5,"Share of gain/(loss) of joint venture, net of tax",None,"(7,587)",$000,2019,2019
6,"Share of other comprehensive income, net of tax",None,2873,$000,2019,2019
7,Carrying value of investment at end of year,None,54535,$000,2019,2019

'converted _dict : '

                                                rows columns  year    value
0                                       At 1 January    $000  2020    54535
1   Share of gain/(loss) of joint venture, net of...    $000  2020     1586
2    Share of other comprehensive income, net of tax    $000  2020  (8,448)
3        Carrying value of investment at end of year    $000  2020    47672
4                                       At 1 January    $000  2019    59249
5   Share of gain/(loss) of joint venture, net of...    $000  2019  (7,587)
6    Share of other comprehensive income, net of tax    $000  2019     2873
7        Carrying value of investment at end of year    $000  2019    54535

'standardised raw dict:= '

,line_item_0,row_header,value,header_col_0,header_col_1,year
0,Investment in joint venture (Southern Cross Al...,None,47672,$000,2020,2020
1,Investment in joint venture (Southern Cross Al...,None,54535,$000,2019,2019

'converted _dict : '

                                                rows columns  year  value
0   Investment in joint venture (Southern Cross A...    $000  2020  47672
1   Investment in joint venture (Southern Cross A...    $000  2019  54535

'standardised raw dict:= '

,line_item_0,row_header,value,header_col_0,header_col_1,year
0,Cost,Cost,NaN,$000,Freehold land and buildings,2020.0
1,At 1 January 2020,Cost,90430,$000,Freehold land and buildings,2020.0
2,Additions,Cost,376,$000,Freehold land and buildings,2020.0
3,Disposals,Cost,(149),$000,Freehold land and buildings,2020.0
4,Transfer,Cost,74,$000,Freehold land and buildings,2020.0
...,...,...,...,...,...,...
70,Disposals,Accumulated depreciation and impairment,"(1,336)",$000,Total,2020.0
71,At 31 December 2020,Accumulated depreciation and impairment,430161,$000,Total,2020.0
72,Net book value,Net book value,NaN,$000,Total,2020.0
73,At 31 December 2020,Net book value,17531,$000,Total,2020.0
74,At 31 December 2019,Net book value,3731,$000,Total,2019.0

'converted _dict : '

,rows,columns,year,value
0,Cost Cost,Freehold land and buildings $000,2020.0,NaN
1,Cost At 1 January 2020,Freehold land and buildings $000,2020.0,90430
2,Cost Additions,Freehold land and buildings $000,2020.0,376
3,Cost Disposals,Freehold land and buildings $000,2020.0,(149)
4,Cost Transfer,Freehold land and buildings $000,2020.0,74
...,...,...,...,...
70,Accumulated depreciation and impairment Disposals,Total $000,2020.0,"(1,336)"
71,Accumulated depreciation and impairment At 31 ...,Total $000,2020.0,430161
72,Net book value Net book value,Total $000,2020.0,NaN
73,Net book value At 31 December 2020,Total $000,2020.0,17531
74,Net book value At 31 December 2019,Total $000,2019.0,3731

'standardised raw dict:= '

,line_item_0,row_header,value,header_col_0,header_col_1,year
0,Trade and other payables,None,25569,$000,2020,2020
1,Electricity derivatives at fair value through OCI,None,2935,$000,2020,2020
2,Lease liabilities,None,1053,$000,2020,2020
3,NaN,None,29557,$000,2020,2020
4,Current,None,25662,$000,2020,2020
5,Non-current,None,3895,$000,2020,2020

'converted _dict : '

                                                rows columns  year  value
0                           Trade and other payables    $000  2020  25569
1   Electricity derivatives at fair value through...    $000  2020   2935
2                                  Lease liabilities    $000  2020   1053
3                                                       $000  2020  29557
4                                            Current    $000  2020  25662
5                                        Non-current    $000  2020   3895

'standardised raw dict:= '

,line_item_0,line_item_1,row_header,value,header_col_0,header_col_1,header_col_2,year
0,facilities,facilities,None,52100,$000,Multi-option facilities,2020,2020
1,Utilised,NaN,None,NaN,$000,Multi-option facilities,2020,2020
2,Utilised,bank guarantees,None,3273,$000,Multi-option facilities,2020,2020
3,Balance at 31 December,Balance at 31 December,None,48827,$000,Multi-option facilities,2020,2020
4,facilities,facilities,None,13500,$000,Bank guarantee facilities,2020,2020
5,Utilised,NaN,None,NaN,$000,Bank guarantee facilities,2020,2020
6,Utilised,bank guarantees,None,13500,$000,Bank guarantee facilities,2020,2020
7,Balance at 31 December,Balance at 31 December,None,NaN,$000,Bank guarantee facilities,2020,2020
8,facilities,facilities,None,52100,$000,Multi-option facilities,2019,2019
9,Utilised,NaN,None,4000,$000,Multi-option facilities,2019,2019
10,Utilised,bank guarantees,None,1023,$000,Multi-option facilities,2019,2019
11,Balance at 31 December,Balance at 31 December,None,47077,$000,Multi-option facilities,2019,2019
12,facilities,facilities,None,13500,$000,Bank guarantee facilities,2019,2019
13,Utilised,NaN,None,NaN,$000,Bank guarantee facilities,2019,2019
14,Utilised,bank guarantees,None,13500,$000,Bank guarantee facilities,2019,2019
15,Balance at 31 December,Balance at 31 December,None,NaN,$000,Bank guarantee facilities,2019,2019

'converted _dict : '

,rows,columns,year,value
0,facilities facilities,Multi-option facilities $000,2020,52100
1,Utilised,Multi-option facilities $000,2020,NaN
2,Utilised bank guarantees,Multi-option facilities $000,2020,3273
3,Balance at 31 December Balance at 31 December,Multi-option facilities $000,2020,48827
4,facilities facilities,Bank guarantee facilities $000,2020,13500
5,Utilised,Bank guarantee facilities $000,2020,NaN
6,Utilised bank guarantees,Bank guarantee facilities $000,2020,13500
7,Balance at 31 December Balance at 31 December,Bank guarantee facilities $000,2020,NaN
8,facilities facilities,Multi-option facilities $000,2019,52100
9,Utilised,Multi-option facilities $000,2019,4000
10,Utilised bank guarantees,Multi-option facilities $000,2019,1023
11,Balance at 31 December Balance at 31 December,Multi-option facilities $000,2019,47077
12,facilities facilities,Bank guarantee facilities $000,2019,13500
13,Utilised,Bank guarantee facilities $000,2019,NaN
14,Utilised bank guarantees,Bank guarantee facilities $000,2019,13500
15,Balance at 31 December Balance at 31 December,Bank guarantee facilities $000,2019,NaN

'standardised raw dict:= '

,line_item_0,row_header,value,header_col_0,year
0,At 1 January 2020,None,4343,Employee benefits,2020.0
1,Arising during the year,None,541,Employee benefits,2020.0
2,Unwinding of discount,None,NaN,Employee benefits,2020.0
3,At31 December 2020,None,4884,Employee benefits,2020.0
4,Current,None,4846,Employee benefits,2020.0
5,Non-current,None,38,Employee benefits,2020.0
6,At 1 January 2020,None,3725,Workers compensation,2020.0
7,Arising during the year,None,159,Workers compensation,2020.0
8,Unwinding of discount,None,NaN,Workers compensation,2020.0
9,At31 December 2020,None,3884,Workers compensation,2020.0
10,Current,None,3884,Workers compensation,2020.0
11,Non-current,None,NaN,Workers compensation,2020.0
12,At 1 January 2020,None,NaN,Defined Benefit,2020.0
13,Arising during the year,None,865,Defined Benefit,2020.0
14,Unwinding of discount,None,(518),Defined Benefit,2020.0
15,At31 December 2020,None,347,Defined Benefit,2020.0
16,Current,None,NaN,Defined Benefit,2020.0
17,Non-current,None,347,Defined Benefit,2020.0
18,At 1 January 2020,None,4806,Provision for asset retirement obligation,2020.0
19,Arising during the year,None,36032,Provision for asset retirement obligation,2020.0
20,Unwinding of discount,None,(336),Provision for asset retirement obligation,2020.0
21,At31 December 2020,None,40502,Provision for asset retirement obligation,2020.0
22,Current,None,NaN,Provision for asset retirement obligation,2020.0
23,Non-current,None,40502,Provision for asset retirement obligation,2020.0
24,At 1 January 2020,None,6983,Provision for carbon dust and other,2020.0
25,Arising during the year,None,1286,Provision for carbon dust and other,2020.0
26,Unwinding of discount,None,NaN,Provision for carbon dust and other,2020.0
27,At31 December 2020,None,8269,Provision for carbon dust and other,2020.0
28,Current,None,729,Provision for carbon dust and other,2020.0
29,Non-current,None,7540,Provision for carbon dust and other,2020.0
30,At 1 January 2020,None,19857,Totals,2020.0
31,Arising during the year,None,38883,Totals,2020.0
32,Unwinding of discount,None,(854),Totals,2020.0
33,At31 December 2020,None,57886,Totals,2020.0
34,Current,None,9459,Totals,2020.0
35,Non-current,None,48427,Totals,2020.0

'converted _dict : '

,rows,columns,year,value
0,At 1 January 2020,Employee benefits,2020.0,4343
1,Arising during the year,Employee benefits,2020.0,541
2,Unwinding of discount,Employee benefits,2020.0,NaN
3,At31 December 2020,Employee benefits,2020.0,4884
4,Current,Employee benefits,2020.0,4846
5,Non-current,Employee benefits,2020.0,38
6,At 1 January 2020,Workers compensation,2020.0,3725
7,Arising during the year,Workers compensation,2020.0,159
8,Unwinding of discount,Workers compensation,2020.0,NaN
9,At31 December 2020,Workers compensation,2020.0,3884
10,Current,Workers compensation,2020.0,3884
11,Non-current,Workers compensation,2020.0,NaN
12,At 1 January 2020,Defined Benefit,2020.0,NaN
13,Arising during the year,Defined Benefit,2020.0,865
14,Unwinding of discount,Defined Benefit,2020.0,(518)
15,At31 December 2020,Defined Benefit,2020.0,347
16,Current,Defined Benefit,2020.0,NaN
17,Non-current,Defined Benefit,2020.0,347
18,At 1 January 2020,Provision for asset retirement obligation,2020.0,4806
19,Arising during the year,Provision for asset retirement obligation,2020.0,36032
20,Unwinding of discount,Provision for asset retirement obligation,2020.0,(336)
21,At31 December 2020,Provision for asset retirement obligation,2020.0,40502
22,Current,Provision for asset retirement obligation,2020.0,NaN
23,Non-current,Provision for asset retirement obligation,2020.0,40502
24,At 1 January 2020,Provision for carbon dust and other,2020.0,6983
25,Arising during the year,Provision for carbon dust and other,2020.0,1286
26,Unwinding of discount,Provision for carbon dust and other,2020.0,NaN
27,At31 December 2020,Provision for carbon dust and other,2020.0,8269
28,Current,Provision for carbon dust and other,2020.0,729
29,Non-current,Provision for carbon dust and other,2020.0,7540
30,At 1 January 2020,Totals,2020.0,19857
31,Arising during the year,Totals,2020.0,38883
32,Unwinding of discount,Totals,2020.0,(854)
33,At31 December 2020,Totals,2020.0,57886
34,Current,Totals,2020.0,9459
35,Non-current,Totals,2020.0,48427

'standardised raw dict:= '

,line_item_0,row_header,value,header_col_0,header_col_1,year
0,"155,299,534 ordinary shares issued and fully p...",None,150997,$000,2020,2020
1,"155,299,534 ordinary shares issued and fully p...",None,150997,$000,2019,2019

'converted _dict : '

                                                rows columns  year   value
0   155,299,534 ordinary shares issued and fully ...    $000  2020  150997
1   155,299,534 ordinary shares issued and fully ...    $000  2019  150997

'standardised raw dict:= '

,line_item_0,row_header,value,header_col_0,header_col_1,year
0,Cash flow hedge reserve,Cash flow hedge reserve,NaN,$000,2020,2020
1,Balance at 1 January,Cash flow hedge reserve,29543,$000,2020,2020
2,Net other comprehensive loss for the year,Cash flow hedge reserve,"(31,598)",$000,2020,2020
3,Balance at 31 December,Cash flow hedge reserve,"(2,055)",$000,2020,2020
4,NaN,Cash flow hedge reserve,2020,$000,2020,2020
5,NaN,Cash flow hedge reserve,$000,$000,2020,2020
6,Reserve in joint venture,Reserve in joint venture,NaN,$000,2020,2020
7,Balance at 1 January,Reserve in joint venture,5922,$000,2020,2020
8,Net other comprehensive (loss)/income for the ...,Reserve in joint venture,"(8,448)",$000,2020,2020
9,Balance at 31 December,Reserve in joint venture,"(2,526)",$000,2020,2020
10,NaN,Reserve in joint venture,2020,$000,2020,2020
11,NaN,Reserve in joint venture,$000,$000,2020,2020
12,Other reserve,Other reserve,NaN,$000,2020,2020
13,Balance at 1 January,Other reserve,325,$000,2020,2020
14,Balance at 31 December,Other reserve,325,$000,2020,2020
15,NaN,Other reserve,2020,$000,2020,2020
16,NaN,Other reserve,$000,$000,2020,2020
17,Total,Total,NaN,$000,2020,2020
18,Balance at 1 January,Total,35790,$000,2020,2020
19,Net other comprehensive loss for the year,Total,"(40,046)",$000,2020,2020
20,Balance at 31 December,Total,"(4,256)",$000,2020,2020
21,Cash flow hedge reserve,Cash flow hedge reserve,NaN,$000,2019,2019
22,Balance at 1 January,Cash flow hedge reserve,41448,$000,2019,2019
23,Net other comprehensive loss for the year,Cash flow hedge reserve,"(11,905)",$000,2019,2019
24,Balance at 31 December,Cash flow hedge reserve,29543,$000,2019,2019
25,NaN,Cash flow hedge reserve,2019,$000,2019,2019
26,NaN,Cash flow hedge reserve,$000,$000,2019,2019
27,Reserve in joint venture,Reserve in joint venture,NaN,$000,2019,2019
28,Balance at 1 January,Reserve in joint venture,3049,$000,2019,2019
29,Net other comprehensive (loss)/income for the ...,Reserve in joint venture,2873,$000,2019,2019
30,Balance at 31 December,Reserve in joint venture,5922,$000,2019,2019
31,NaN,Reserve in joint venture,2019,$000,2019,2019
32,NaN,Reserve in joint venture,$000,$000,2019,2019
33,Other reserve,Other reserve,NaN,$000,2019,2019
34,Balance at 1 January,Other reserve,325,$000,2019,2019
35,Balance at 31 December,Other reserve,325,$000,2019,2019
36,NaN,Other reserve,2019,$000,2019,2019
37,NaN,Other reserve,$000,$000,2019,2019
38,Total,Total,NaN,$000,2019,2019
39,Balance at 1 January,Total,44822,$000,2019,2019
40,Net other comprehensive loss for the year,Total,"(9,032)",$000,2019,2019
41,Balance at 31 December,Total,35790,$000,2019,2019

'converted _dict : '

                                                 rows columns  year     value
0     Cash flow hedge reserve Cash flow hedge reserve    $000  2020       NaN
1        Cash flow hedge reserve Balance at 1 January    $000  2020     29543
2   Cash flow hedge reserve Net other comprehensiv...    $000  2020  (31,598)
3      Cash flow hedge reserve Balance at 31 December    $000  2020   (2,055)
4                            Cash flow hedge reserve     $000  2020      2020
5                            Cash flow hedge reserve     $000  2020      $000
6   Reserve in joint venture Reserve in joint venture    $000  2020       NaN
7       Reserve in joint venture Balance at 1 January    $000  2020      5922
8   Reserve in joint venture Net other comprehensi...    $000  2020   (8,448)
9     Reserve in joint venture Balance at 31 December    $000  2020   (2,526)
10                          Reserve in joint venture     $000  2020      2020
11                          Reserve in joint venture     $000  2020      $000
12                        Other reserve Other reserve    $000  2020       NaN
13                 Other reserve Balance at 1 January    $000  2020       325
14               Other reserve Balance at 31 December    $000  2020       325
15                                     Other reserve     $000  2020      2020
16                                     Other reserve     $000  2020      $000
17                                        Total Total    $000  2020       NaN
18                         Total Balance at 1 January    $000  2020     35790
19    Total Net other comprehensive loss for the year    $000  2020  (40,046)
20                       Total Balance at 31 December    $000  2020   (4,256)
21    Cash flow hedge reserve Cash flow hedge reserve    $000  2019       NaN
22       Cash flow hedge reserve Balance at 1 January    $000  2019     41448
23  Cash flow hedge reserve Net other comprehensiv...    $000  2019  (11,905)
24     Cash flow hedge reserve Balance at 31 December    $000  2019     29543
25                           Cash flow hedge reserve     $000  2019      2019
26                           Cash flow hedge reserve     $000  2019      $000
27  Reserve in joint venture Reserve in joint venture    $000  2019       NaN
28      Reserve in joint venture Balance at 1 January    $000  2019      3049
29  Reserve in joint venture Net other comprehensi...    $000  2019      2873
30    Reserve in joint venture Balance at 31 December    $000  2019      5922
31                          Reserve in joint venture     $000  2019      2019
32                          Reserve in joint venture     $000  2019      $000
33                        Other reserve Other reserve    $000  2019       NaN
34                 Other reserve Balance at 1 January    $000  2019       325
35               Other reserve Balance at 31 December    $000  2019       325
36                                     Other reserve     $000  2019      2019
37                                     Other reserve     $000  2019      $000
38                                        Total Total    $000  2019       NaN
39                         Total Balance at 1 January    $000  2019     44822
40    Total Net other comprehensive loss for the year    $000  2019   (9,032)
41                       Total Balance at 31 December    $000  2019     35790

'standardised raw dict:= '

             line_item_0 row_header  value header_col_0 header_col_1  year
0      Government grants       None  13054         $000         2020  2020
1     Insurance proceeds       None    NaN         $000         2020  2020
2  Foreign exchange gain       None    NaN         $000         2020  2020
3                  Other       None    577         $000         2020  2020
4                    NaN       None  13631         $000         2020  2020
5      Government grants       None   5350         $000         2019  2019
6     Insurance proceeds       None   4202         $000         2019  2019
7  Foreign exchange gain       None     95         $000         2019  2019
8                  Other       None    497         $000         2019  2019
9                    NaN       None  10144         $000         2019  2019

'converted _dict : '

                     rows columns  year  value
0       Government grants    $000  2020  13054
1      Insurance proceeds    $000  2020    NaN
2   Foreign exchange gain    $000  2020    NaN
3                   Other    $000  2020    577
4                            $000  2020  13631
5       Government grants    $000  2019   5350
6      Insurance proceeds    $000  2019   4202
7   Foreign exchange gain    $000  2019     95
8                   Other    $000  2019    497
9                            $000  2019  10144

'standardised raw dict:= '

,line_item_0,row_header,value,header_col_0,header_col_1,year
0,Interest expenses,None,(203),$000,2020,2020
1,Discount unwind on the provision for asset ret...,None,(336),$000,2020,2020
2,NaN,None,(539),$000,2020,2020
3,Interest expenses,None,(303),$000,2019,2019
4,Discount unwind on the provision for asset ret...,None,(315),$000,2019,2019
5,NaN,None,(618),$000,2019,2019

'converted _dict : '

                                                rows columns  year  value
0                                  Interest expenses    $000  2020  (203)
1   Discount unwind on the provision for asset re...    $000  2020  (336)
2                                                       $000  2020  (539)
3                                  Interest expenses    $000  2019  (303)
4   Discount unwind on the provision for asset re...    $000  2019  (315)
5                                                       $000  2019  (618)