In [1]:
import pandas as pd

In [2]:
from process_core import mainPageProcess

/home/jayesh/anaconda3/envs/crm_syd/lib/python3.9/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [3]:

#599060e9-8b46-46ec-87b9-c79cde8a82b7

In [4]:
mp = mainPageProcess()

In [5]:
cbs_dict,cpl_dict,ccf_dict,meta_dict,final_notes_dict,ref_notes_list, notes_region_meta_data,cropped_table_dict = mp.process_main_pages(fileid="2c4aedd7-c500-454f-9298-2283d27aefab")

/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:54: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:54: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:54: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:463: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:463: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:463: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:463: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:463: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:463: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:463: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:463: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:463: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:463: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:463: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:463: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:463: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:463: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:463: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:463: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:463: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:463: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:463: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:463: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():

In [6]:
mp.final_notes_dict

{'9': {'': ['Cash and cash equivalents', 'Cash and cash equivalents at the end of the financial year']}, '10': {'': ['Trade and other receivables']}, '11': {'': ['Inventories']}, '12': {'': ['Other']}, '13': {'': ['Trade and other receivables']}, '14': {'': ['Property, plant and equipment', 'Payments for property, plant and equipment']}, '15': {'': ['Right-of-use assets']}, '16': {'': ['Intangibles', 'Payments for intangibles']}, '17': {'': ['Deferred tax assets']}, '18': {'': ['Trade and other payables']}, '19': {'': ['Borrowings']}, '20': {'': ['Provisions']}, '21': {'': ['Trade and other payables']}, '22': {'': ['Deferred tax liabilities']}, '23': {'': ['Provisions']}, '24': {'': ['Issued capital']}, '25': {'': ['Reserves', 'Actuarial gain on defined benefit plans, net of tax', 'Foreign currency translation']}, '4': {'': ['Revenue from sale of goods', 'Revenue from rendering of services']}, '5': {'': ['Revenue from leasing activities']}, '6': {'': ['Other income']}, '7': {'': ['Finance costs']}, '8': {'': ['Income tax expense']}}

In [7]:
mp.standardised_cropped_dict

{'cb5390e4-3929-3cda-b767-e367f62a0a2c':                                    line_item_0 row_header    value  \
 0                                          NaN       None     2021
 1                                          NaN       None    $'000
 2                            Trade receivables       None    97921
 3   Less: Allowance for expected credit losses       None  (5,059)
 4                                          NaN       None    92862
 5                            Lease receivables       None    91600
 6   Less: Allowance for expected credit losses       None  (1,646)
 7                                          NaN       None    89954
 8                Receivable from related party       None      360
 9                            Other receivables       None     3132
 10                                         NaN       None   186308
 11                                         NaN       None     2020
 12                                         NaN       None    $'000
 13                           Trade receivables       None   112025
 14  Less: Allowance for expected credit losses       None  (4,684)
 15                                         NaN       None   107341
 16                           Lease receivables       None   101672
 17  Less: Allowance for expected credit losses       None  (1,829)
 18                                         NaN       None    99843
 19               Receivable from related party       None     1158
 20                           Other receivables       None     3041
 21                                         NaN       None   211383

     header_col_0  year
 0   Consolidated  None
 1   Consolidated  None
 2   Consolidated  None
 3   Consolidated  None
 4   Consolidated  None
 5   Consolidated  None
 6   Consolidated  None
 7   Consolidated  None
 8   Consolidated  None
 9   Consolidated  None
 10  Consolidated  None
 11  Consolidated  None
 12  Consolidated  None
 13  Consolidated  None
 14  Consolidated  None
 15  Consolidated  None
 16  Consolidated  None
 17  Consolidated  None
 18  Consolidated  None
 19  Consolidated  None
 20  Consolidated  None
 21  Consolidated  None  ,
 'cfe1d1e4-c0f2-38de-8241-a79ed64627b4':                                           line_item_0  \
 0                                                 NaN
 1                                                 NaN
 2                                  Lessor commitments
 3   Committed at the reporting date and recognised...
 4                                      1 year or less
 5                               Between 1 and 2 years
 6                               Between 2 and 3 years
 7                               Between 3 and 4 years
 8                               Between 4 and 5 years
 9                                        Over 5 years
 10                                   Total commitment
 11                       Less: Future finance charges
 12                Net commitment recognised as assets
 13                                      Representing:
 14                           Lease receivable current
 15   Finance lease receivable - non-current (note 13)
 16                                                NaN
 17                                                NaN
 18                                                NaN
 19                                 Lessor commitments
 20  Committed at the reporting date and recognised...
 21                                     1 year or less
 22                              Between 1 and 2 years
 23                              Between 2 and 3 years
 24                              Between 3 and 4 years
 25                              Between 4 and 5 years
 26                                       Over 5 years
 27                                   Total commitment
 28                       Less: Future finance charges
 29                Net commitment recognised as assets
 30                                      Representing:
 31                           Lease receivable current
 32   Finance lease receivable - non-current (note 13)
 33                                                NaN

                                            row_header     value  header_col_0  \
 0                                                None      2021  Consolidated
 1                                                None     $'000  Consolidated
 2                                  Lessor commitments       NaN  Consolidated
 3   Committed at the reporting date and recognised...       NaN  Consolidated
 4   Committed at the reporting date and recognised...    108325  Consolidated
 5   Committed at the reporting date and recognised...     71096  Consolidated
 6   Committed at the reporting date and recognised...     42275  Consolidated
 7   Committed at the reporting date and recognised...     23014  Consolidated
 8   Committed at the reporting date and recognised...      7937  Consolidated
 9   Committed at the reporting date and recognised...       827  Consolidated
 10  Committed at the reporting date and recognised...    253474  Consolidated
 11  Committed at the reporting date and recognised...  (48,261)  Consolidated
 12  Committed at the reporting date and recognised...    205213  Consolidated
 13                                      Representing:       NaN  Consolidated
 14                                      Representing:     91600  Consolidated
 15                                      Representing:    113613  Consolidated
 16                                      Representing:    205213  Consolidated
 17                                               None      2020  Consolidated
 18                                               None     $'000  Consolidated
 19                                 Lessor commitments       NaN  Consolidated
 20  Committed at the reporting date and recognised...       NaN  Consolidated
 21  Committed at the reporting date and recognised...       118  Consolidated
 22  Committed at the reporting date and recognised...        81  Consolidated
 23  Committed at the reporting date and recognised...        51  Consolidated
 24  Committed at the reporting date and recognised...        24  Consolidated
 25  Committed at the reporting date and recognised...       NaN  Consolidated
 26  Committed at the reporting date and recognised...       NaN  Consolidated
 27  Committed at the reporting date and recognised...       284  Consolidated
 28  Committed at the reporting date and recognised...       (52  Consolidated
 29  Committed at the reporting date and recognised...       231  Consolidated
 30                                      Representing:       NaN  Consolidated
 31                                      Representing:       101  Consolidated
 32                                      Representing:       130  Consolidated
 33                                      Representing:     23178  Consolidated

     year
 0   None
 1   None
 2   None
 3   None
 4   None
 5   None
 6   None
 7   None
 8   None
 9   None
 10  None
 11  None
 12  None
 13  None
 14  None
 15  None
 16  None
 17  None
 18  None
 19  None
 20  None
 21  None
 22  None
 23  None
 24  None
 25  None
 26  None
 27  None
 28  None
 29  None
 30  None
 31  None
 32  None
 33  None  ,
 '44919019-e3b6-31d2-afc8-5210cfe543be':                        line_item_0 row_header                           value  \
 0                              NaN       None                             NaN
 1                              NaN       None                             NaN
 2                   Finished goods       None                             NaN
 3   Less: Provision for impairment       None  Less: Provision for impairment
 4                              NaN       None                             NaN
 5                              NaN       None                            2021
 6                              NaN       None                           $'000
 7                   Finished goods       None                           73348
 8   Less: Provision for impairment       None                         (5,430)
 9                              NaN       None                           67918
 10                             NaN       None                            2020
 11                             NaN       None                           $'000
 12                  Finished goods       None                           76211
 13  Less: Provision for impairment       None                         (8,594)
 14                             NaN       None                           67617

     header_col_0  year
 0   Consolidated  None
 1   Consolidated  None
 2   Consolidated  None
 3   Consolidated  None
 4   Consolidated  None
 5   Consolidated  None
 6   Consolidated  None
 7   Consolidated  None
 8   Consolidated  None
 9   Consolidated  None
 10  Consolidated  None
 11  Consolidated  None
 12  Consolidated  None
 13  Consolidated  None
 14  Consolidated  None  ,
 '3872878c-60ed-3aa2-953f-0e89b48f066a':              line_item_0 row_header  value  header_col_0  year
 0                    NaN       None   2021  Consolidated  None
 1                    NaN       None  $'000  Consolidated  None
 2            Prepayments       None   5031  Consolidated  None
 3      Security deposits       None    580  Consolidated  None
 4         Other deposits       None    741  Consolidated  None
 5   Other current assets       None   2231  Consolidated  None
 6                    NaN       None   8583  Consolidated  None
 7                    NaN       None   2020  Consolidated  None
 8                    NaN       None  $'000  Consolidated  None
 9            Prepayments       None   5034  Consolidated  None
 10     Security deposits       None    578  Consolidated  None
 11        Other deposits       None    637  Consolidated  None
 12  Other current assets       None    542  Consolidated  None
 13                   NaN       None   6791  Consolidated  None,
 '718dd4ac-3148-3209-bedb-83ba434846df':                                   line_item_0 row_header    value  \
 0                                         NaN       None     2021
 1                                         NaN       None    $'000
 2                           Lease receivables       None   113613
 3  Less: Allowance for expected credit losses       None  (2,317)
 4                                         NaN       None   111296
 5                                         NaN       None     2020
 6                                         NaN       None    $'000
 7                           Lease receivables       None   130113
 8  Less: Allowance for expected credit losses       None  (2,636)
 9                                         NaN       None   127477

    header_col_0  year
 0  Consolidated  None
 1  Consolidated  None
 2  Consolidated  None
 3  Consolidated  None
 4  Consolidated  None
 5  Consolidated  None
 6  Consolidated  None
 7  Consolidated  None
 8  Consolidated  None
 9  Consolidated  None  ,
 '2db10173-fce5-38d5-b447-e325009ef2bd':                      line_item_0 row_header    value  \
 0      Balance at 1 January 2021       None    16420
 1                      Additions       None      271
 2                      Disposals       None      NaN
 3   Foreign exchange differences       None        1
 4             Transfers in/(out)       None        5
 5           Depreciation expense       None  (3,145)
 6    Balance at 31 December 2021       None    13552
 7      Balance at 1 January 2021       None     1591
 8                      Additions       None       38
 9                      Disposals       None     (12)
 10  Foreign exchange differences       None        4
 11            Transfers in/(out)       None       38
 12          Depreciation expense       None    (673)
 13   Balance at 31 December 2021       None      986
 14     Balance at 1 January 2021       None     9946
 15                     Additions       None      796
 16                     Disposals       None    (469)
 17  Foreign exchange differences       None        4
 18            Transfers in/(out)       None      219
 19          Depreciation expense       None  (3,092)
 20   Balance at 31 December 2021       None     7404
 21     Balance at 1 January 2021       None     8683
 22                     Additions       None      974
 23                     Disposals       None    (460)
 24  Foreign exchange differences       None      NaN
 25            Transfers in/(out)       None    (215)
 26          Depreciation expense       None  (2,928)
 27   Balance at 31 December 2021       None     6054
 28     Balance at 1 January 2021       None     1421
 29                     Additions       None      NaN
 30                     Disposals       None      NaN
 31  Foreign exchange differences       None      NaN
 32            Transfers in/(out)       None    (790)
 33          Depreciation expense       None      NaN
 34   Balance at 31 December 2021       None      631
 35     Balance at 1 January 2021       None     3806
 36                     Additions       None       20
 37                     Disposals       None      NaN
 38  Foreign exchange differences       None      NaN
 39            Transfers in/(out)       None      NaN
 40          Depreciation expense       None    (9,83
 41   Balance at 31 December 2021       None       28

                       header_col_0  year
 0     Leasehold improvements $'000  2021
 1     Leasehold improvements $'000  None
 2     Leasehold improvements $'000  None
 3     Leasehold improvements $'000  None
 4     Leasehold improvements $'000  None
 5     Leasehold improvements $'000  None
 6     Leasehold improvements $'000  2021
 7             Motor vehicles $'000  2021
 8             Motor vehicles $'000  None
 9             Motor vehicles $'000  None
 10            Motor vehicles $'000  None
 11            Motor vehicles $'000  None
 12            Motor vehicles $'000  None
 13            Motor vehicles $'000  2021
 14          Office equipment $'000  2021
 15          Office equipment $'000  None
 16          Office equipment $'000  None
 17          Office equipment $'000  None
 18          Office equipment $'000  None
 19          Office equipment $'000  None
 20          Office equipment $'000  2021
 21             Rental assets $'000  2021
 22             Rental assets $'000  None
 23             Rental assets $'000  None
 24             Rental assets $'000  None
 25             Rental assets $'000  None
 26             Rental assets $'000  None
 27             Rental assets $'000  2021
 28  Construction in progress $'000  2021
 29  Construction in progress $'000  None
 30  Construction in progress $'000  None
 31  Construction in progress $'000  None
 32  Construction in progress $'000  None
 33  Construction in progress $'000  None
 34  Construction in progress $'000  2021
 35                     Total $'000  2021
 36                     Total $'000  None
 37                     Total $'000  None
 38                     Total $'000  None
 39                     Total $'000  None
 40                     Total $'000  None
 41                     Total $'000  2021  ,
 'e0db3805-d2a7-316a-bf9c-19b14706bf00':                          line_item_0 row_header     value  header_col_0  year
 0                                NaN       None      2021  Consolidated  None
 1                                NaN       None     $'000  Consolidated  None
 2   Leasehold improvements - at cost       None     32454  Consolidated  None
 3     Less: Accumulated depreciation       None  (18,902)  Consolidated  None
 4                                NaN       None     13552  Consolidated  None
 5             Motor vehicles at cost       None      3207  Consolidated  None
 6     Less: Accumulated depreciation       None   (2,221)  Consolidated  None
 7                                NaN       None       986  Consolidated  None
 8         Office equipment - at cost       None     39131  Consolidated  None
 9     Less: Accumulated depreciation       None  (31,727)  Consolidated  None
 10                               NaN       None      7404  Consolidated  None
 11           Rental assets - at cost       None     19696  Consolidated  None
 12    Less: Accumulated depreciation       None  (13,642)  Consolidated  None
 13                               NaN       None      6054  Consolidated  None
 14  Construction in progress at cost       None       631  Consolidated  None
 15                               NaN       None     28627  Consolidated  None
 16                               NaN       None      2020  Consolidated  None
 17                               NaN       None     $'000  Consolidated  None
 18  Leasehold improvements - at cost       None     32241  Consolidated  None
 19    Less: Accumulated depreciation       None  (15,821)  Consolidated  None
 20                               NaN       None     16420  Consolidated  None
 21            Motor vehicles at cost       None      3332  Consolidated  None
 22    Less: Accumulated depreciation       None   (1,741)  Consolidated  None
 23                               NaN       None      1591  Consolidated  None
 24        Office equipment - at cost       None     43357  Consolidated  None
 25    Less: Accumulated depreciation       None  (33,411)  Consolidated  None
 26                               NaN       None      9946  Consolidated  None
 27           Rental assets - at cost       None     20771  Consolidated  None
 28    Less: Accumulated depreciation       None  (12,088)  Consolidated  None
 29                               NaN       None      8683  Consolidated  None
 30  Construction in progress at cost       None      1421  Consolidated  None
 31                               NaN       None     38061  Consolidated  None,
 '0252b552-5c7c-37ad-8623-8f6ba06ab221':            line_item_0 row_header                               value  \
 0                  NaN       None                                 NaN
 1                  NaN       None                                 NaN
 2   Land and buildings       None                  Land and buildings
 3                  NaN       None      Less: Accumulated depreciation
 4                  NaN       None                                 NaN
 5                  NaN       None  Plant and equipment - right-of-use
 6                  NaN       None      Less: Accumulated depreciation
 7                  NaN       None                                 NaN
 8                  NaN       None                                 NaN
 9                  NaN       None                                2021
 10                 NaN       None                               $'000
 11  Land and buildings       None                               71337
 12                 NaN       None                            (37,433)
 13                 NaN       None                               33904
 14                 NaN       None                                 988
 15                 NaN       None                               (694)
 16                 NaN       None                                 294
 17                 NaN       None                               34198
 18                 NaN       None                                2020
 19                 NaN       None                               $'000
 20  Land and buildings       None                               73092
 21                 NaN       None                            (26,067)
 22                 NaN       None                               47025
 23                 NaN       None                                 988
 24                 NaN       None                               (627)
 25                 NaN       None                                 NaN
 26                 NaN       None                                  47

     header_col_0  year
 0   Consolidated  None
 1   Consolidated  None
 2   Consolidated  None
 3   Consolidated  None
 4   Consolidated  None

In [6]:
##saving main page data in excel
writer = pd.ExcelWriter('arfy21_notes_cropped_df.xlsx', engine='xlsxwriter')
for key,value in mp.cropped_table_dict.items():
    value.to_excel(writer, sheet_name=key[:20],index=False)
writer.save()

/tmp/ipykernel_1253/3896416903.py:5: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [7]:
## saving data in excel
writer = pd.ExcelWriter('arfy21_main_pages.xlsx', engine='xlsxwriter')
for key,value in cbs_dict.items():
    value.to_excel(writer, sheet_name=f"cbs_{key}",index=False)
for key,value in cpl_dict.items():
    value.to_excel(writer, sheet_name=f"cpl_{key}",index=False)
for key,value in ccf_dict.items():
    value.to_excel(writer, sheet_name=f"ccf_{key}",index=False)
writer.save()

/tmp/ipykernel_1253/2222399367.py:9: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [8]:
writer = pd.ExcelWriter('arfy21_notes_standard_cropped_df.xlsx', engine='xlsxwriter')
for key,value in mp.standardised_cropped_dict.items():
    # print(key)
    # print(value)
    if value is not None:
        value.to_excel(writer, sheet_name=key[:20],index=False)
    else:
        temp_df = pd.DataFrame()
        temp_df.to_excel(writer, sheet_name=key[:20],index=False)
writer.save()

/tmp/ipykernel_1253/3835301074.py:10: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [10]:
### testing code

In [6]:
from database import get_db, get_db1
import db_models

In [7]:
db = get_db1()

In [8]:
page_query = db.query(db_models.PageLogs).filter(db_models.PageLogs.fileid == "599060e9-8b46-46ec-87b9-c79cde8a82b7").order_by(db_models.PageLogs.time.desc())
pages = page_query.all()

In [9]:
for page in pages:
    if page.page_number == 7:
        tabale_query = db.query(db_models.TableLogs).filter(db_models.TableLogs.pageid == page.pageid).order_by(db_models.TableLogs.time.desc())
        tables = tabale_query.all()
        for table in tables:
            print(pd.read_html(table.html_string)[0])

                                             0      1         2         3
0                                          NaN    NaN      2020      2019
1                                          NaN    NaN      $000      $000
2                                          NaN  Notes       NaN       NaN
3                                       Assets    NaN       NaN       NaN
4                               Current assets    NaN       NaN       NaN
5                    Cash and cash equivalents      6     19589     28259
6                  Trade and other receivables      7     13624     11999
7                                  Inventories      8     27198     26953
8                             Financial assets      9       NaN     29753
9   Income tax receivable from related parties     20      6318      7530
10                        Other current assets     10       489       328
11                        Total current assets    NaN     67218    104822
12                          Non-current assets    NaN       NaN       NaN
13                Investment in joint ventures     11     47672     54535
14               Property, plant and equipment     12     17531      3731
15                         Right-of-use assets     13      1007      1476
16                            Financial assets      9       NaN     12453
17                         Deferred tax assets      5     24223     12309
18                    Other non-current assets     10       NaN       678
19                    Total non-current assets    NaN     90433     85182
20                                Total assets    NaN    157651    190004
21                                 Liabilities    NaN       NaN       NaN
22                         Current liabilities    NaN       NaN       NaN
23                    Trade and other payables    NaN     22315     26101
24                                  Borrowings     16       NaN      4000
25                                  Provisions     17      9459      9228
26                       Financial liabilities     15      2935       NaN
27                           Lease liabilities     13       412       471
28                   Total current liabilities    NaN     35121     39800
29                     Non-current liabilities    NaN       NaN       NaN
30                    Trade and other payables    NaN      3254      3036
31                                  Provisions     17     48427     10629
32                           Lease liabilities     13       641      1042
33                    Deferred tax liabilities      5     18466     23326
34               Total non-current liabilities    NaN     70788     38033
35                           Total liabilities    NaN    105909     77833
36                                  Net assets    NaN     51742    112171
37                                      Equity    NaN       NaN       NaN
38                          Contributed equity     18    150997    150997
39                          Accumulated losses    NaN  (94,999)  (74,616)
40                                    Reserves     19   (4,256)     35790
41                                Total equity    NaN     51742    112171
                                             0      1         2         3
0                                          NaN    NaN      2020      2019
1                                          NaN    NaN      $000      $000
2                                          NaN  Notes       NaN       NaN
3                                       Assets    NaN       NaN       NaN
4                               Current assets    NaN       NaN       NaN
5                    Cash and cash equivalents      6     19589     28259
6                  Trade and other receivables      7     13624     11999
7                                  Inventories      8     27198     26953
8                             Financial assets      9       NaN     29753
9   Income tax receivable from related parties     20      6318      7530
10                        Other current assets     10       489       328
11                        Total current assets    NaN     67218    104822
12                          Non-current assets    NaN       NaN       NaN
13                Investment in joint ventures     11     47672     54535
14               Property, plant and equipment     12     17531      3731
15                         Right-of-use assets     13      1007      1476
16                            Financial assets      9       NaN     12453
17                         Deferred tax assets      5     24223     12309
18                    Other non-current assets     10       NaN       678
19                    Total non-current assets    NaN     90433     85182
20                                Total assets    NaN    157651    190004
21                                 Liabilities    NaN       NaN       NaN
22                         Current liabilities    NaN       NaN       NaN
23                    Trade and other payables    NaN     22315     26101
24                                  Borrowings     16       NaN      4000
25                                  Provisions     17      9459      9228
26                       Financial liabilities     15      2935       NaN
27                           Lease liabilities     13       412       471
28                   Total current liabilities    NaN     35121     39800
29                     Non-current liabilities    NaN       NaN       NaN
30                    Trade and other payables    NaN      3254      3036
31                                  Provisions     17     48427     10629
32                           Lease liabilities     13       641      1042
33                    Deferred tax liabilities      5     18466     23326
34               Total non-current liabilities    NaN     70788     38033
35                           Total liabilities    NaN    105909     77833
36                                  Net assets    NaN     51742    112171
37                                      Equity    NaN       NaN       NaN
38                          Contributed equity     18    150997    150997
39                          Accumulated losses    NaN  (94,999)  (74,616)
40                                    Reserves     19   (4,256)     35790
41                                Total equity    NaN     51742    112171