In [1]:
import pandas as pd
import os
from os import path
import json
from IPython.display import display

In [2]:
from process_core import mainPageProcess

/home/jayesh/anaconda3/envs/crm_syd/lib/python3.9/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [3]:
fileid = 'a5f6da06-f864-4636-80e8-db4a1edb1e66'

In [4]:
mp = mainPageProcess()

In [5]:
cbs_dict,cpl_dict,ccf_dict,meta_dict,final_notes_dict,ref_notes_list, notes_region_meta_data,cropped_table_dict = mp.process_main_pages(fileid=fileid)

/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:57: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:57: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:57: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():

lcl Deferred tax assets
la Income tax expense
la Proceeds from discontinued operations
key :10__bc529b88-4ffa-3620-9eb4-43f393e5ce73
year list : [2022, 2021]
main_page_year_values: {2022: 34319.0, 2021: 27635.0}
df =                                       0      1      2
0                        10 Inventories    NaN    NaN
1                        Finished goods  21156  14472
2                      Goods in transit  13236  13324
3  Provision for inventory obsolescence   (73)  (161)
4                                   NaN  34319  27635
index dict = {2022: {'row_indices': [4], 'col_indices': [1]}, 2021: {'row_indices': [4], 'col_indices': [2]}}
 date cords : [] ,([], [], [])
data_row_coords: (1, 1) , particular_end_col: 0 ,particular_start_row: 0
header indices : []
'value'
key :10__9d04f854-1c97-3453-ad46-771f30353e7b
year list : [2022, 2021]
main_page_year_values: {2022: 34319.0, 2021: 27635.0}
df =                                                0
0                    Toyo Tyre Australia Pty Ltd
1  Notes to the financial statements (continued)
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
 date cords : [] ,([], [], [])
data_row_coords: (-1, -1) , particular_end_col: -1 ,particular_start_row: -1
header indices : []
'value'
key :12__7f5b7384-15a4-389e-ad96-8b0ea2ae13c1
year list : [2022, 2021]
int() argument must be a string, a bytes-like object or a number, not 'NoneType'
key :13__7f5b7384-15a4-389e-ad96-8b0ea2ae13c1
year list : [2022, 2021]
main_page_year_values: {2022: 3652.0, 2021: 4090.0}
df =                                                     0        1        2
0                                13 Lease liabilities      NaN      NaN
1                                     Opening balance    11043     1289
2                                           Additions      888    11685
3                                            Payments  (4,452)  (2,009)
4                                     Closing balance     7638   11.043
5                                             Current     3652     4090
6                                         Non-current     3986     6953
7                Amounts recognised in profit or loss      NaN      NaN
8                       Interest on lease liabilities      159       78
9                 Depreciation of right-of use assets     2649    1.517
10  Amounts recognised in the statement of cash flows      NaN      NaN
11                      Total cash outflow for leases     4293     1931
12                               14 Employee benefits      NaN      NaN
index dict = {2022: {'row_indices': [5], 'col_indices': [1]}, 2021: {'row_indices': [5], 'col_indices': [2]}}
main_page_year_values: {2022: 3986.0, 2021: 6953.0}
inside
inside
df =                                                     0        1        2
0                                13 Lease liabilities      NaN      NaN
1                                     Opening balance    11043     1289
2                                           Additions      888    11685
3                                            Payments  (4,452)  (2,009)
4                                     Closing balance     7638   11.043
5                                             Current     3652     4090
6                                         Non-current     3986     6953
7                Amounts recognised in profit or loss      NaN      NaN
8                       Interest on lease liabilities      159       78
9                 Depreciation of right-of use assets     2649    1.517
10  Amounts recognised in the statement of cash flows      NaN      NaN
11                      Total cash outflow for leases     4293     1931
12                               14 Employee benefits      NaN      NaN
index dict = {2022: {'row_indices': [5, 6], 'col_indices': [1, 1]}, 2021: {'row_indices': [5, 6], 'col_indices': [2, 2]}}
main_page_year_values: {2022: -4293.0, 2021: -1931.0}
inside
inside
df =                                                     0        1        2
0                                13 Lease liabilities      NaN      NaN
1                                     Opening balance    11043     1289
2                                           Additions      888    11685
3                                            Payments  (4,452)  (2,009)
4                                     Closing balance     7638   11.043
5                                             Current     3652     4090
6                                         Non-current     3986     6953
7                Amounts recognised in profit or loss      NaN      NaN
8                       Interest on lease liabilities      159       78
9                 Depreciation of right-of use assets     2649    1.517
10  Amounts recognised in the statement of cash flows      NaN      NaN
11                      Total cash outflow for leases     4293     1931
12                               14 Employee benefits      NaN      NaN
index dict = {2022: {'row_indices': [5, 6], 'col_indices': [1, 1]}, 2021: {'row_indices': [5, 6], 'col_indices': [2, 2]}}
 date cords : [] ,([], [], [])
data_row_coords: (1, 1) , particular_end_col: 0 ,particular_start_row: -1
header indices : []
'value'
key :14__7f5b7384-15a4-389e-ad96-8b0ea2ae13c1
year list : [2022, 2021]
main_page_year_values: {2022: 1139.0, 2021: 1218.0}
df =                                                    0      1     2
0                               14 Employee benefits    NaN   NaN
1                                            Current    NaN   NaN
2  Liability for annual leave and other current e...  1.139  1218
3                                                NaN   1139  1218
4                                        Non-current    NaN   NaN
5                   Liability for long-service leave    787   720
6                                                NaN    787   720
index dict = {2022: {'row_indices': [3], 'col_indices': [1]}, 2021: {'row_indices': [2, 3], 'col_indices': [2, 2]}}
main_page_year_values: {2022: 787.0, 2021: 720.0}
inside
inside
df =                                                    0      1     2
0                               14 Employee benefits    NaN   NaN
1                                            Current    NaN   NaN
2  Liability for annual leave and other current e...  1.139  1218
3                                                NaN   1139  1218
4                                        Non-current    NaN   NaN
5                   Liability for long-service leave    787   720
6                                                NaN    787   720
index dict = {2022: {'row_indices': [3, 5, 6], 'col_indices': [1, 1, 1]}, 2021: {'row_indices': [2, 3, 5, 6], 'col_indices': [2, 2, 2, 2]}}
 date cords : [] ,([], [], [])
data_row_coords: (1, 2) , particular_end_col: 0 ,particular_start_row: 0
header indices : []
'value'
key :15__c932dc91-8c71-3d83-8f9f-6d82c3ab8a6e
year list : [2022, 2021]
main_page_year_values: {2022: 15000.0, 2021: 15000.0}
df =                 0                        1          2  \
0             NaN  A class ordinary shares        NaN
1             NaN                     2022       2021
2             NaN                   Shares     Shares
3    at 1 January                  8160000  8.160,000
4   at31 December                  8160000    8160000
5             NaN   B class ordinaryshares        NaN
6             NaN                     2022       2021
7             NaN                   Shares     Shares
8    at 1 January                 21840000   21840000
9  at 31 December                 21840000   21840000

                          3      4
0    Aclass ordinary shares    NaN
1                      2022   2021
2                     $'000  $'000
3                      4080   4080
4                      4080   4080
5  Bo class ordinary shares    NaN
6                      2022   2021
7                     $'000  $'000
8                     10920  10920
9                     10920  10920
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
main_page_year_values: {2022: -36491.0, 2021: -3030.0}
inside
inside
df =                 0                        1          2  \
0             NaN  A class ordinary shares        NaN
1             NaN                     2022       2021
2             NaN                   Shares     Shares
3    at 1 January                  8160000  8.160,000
4   at31 December                  8160000    8160000
5             NaN   B class ordinaryshares        NaN
6             NaN                     2022       2021
7             NaN                   Shares     Shares
8    at 1 January                 21840000   21840000
9  at 31 December                 21840000   21840000

                          3      4
0    Aclass ordinary shares    NaN
1                      2022   2021
2                     $'000  $'000
3                      4080   4080
4                      4080   4080
5  Bo class ordinary shares    NaN
6                      2022   2021
7                     $'000  $'000
8                     10920  10920
9                     10920  10920
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
 date cords : [1, 2, 3, 4] ,([[1], [1], [1], [1]], [['2022'], ['2021'], ['2022'], ['2021']], [[2022], [2021], [2022], [2021]])
data_row_coords: (1, 3) , particular_end_col: 0 ,particular_start_row: 3
header indices : [0, 1, 2]
key :15__5213ad68-9859-370d-9801-9a4b9aab9e44
year list : [2022, 2021]
main_page_year_values: {2022: 15000.0, 2021: 15000.0}
df =                            0      1      2
0  Share capital (continued)  Total    NaN
1                        NaN   2022   2021
2                        NaN  $'000  $'000
3      On issue at 1 January  15000  15000
4    On issue at 31 December  15000  15000
index dict = {2022: {'row_indices': [3, 4, 3, 4], 'col_indices': [1, 1, 2, 2]}, 2021: {'row_indices': [3, 4, 3, 4], 'col_indices': [1, 1, 2, 2]}}
main_page_year_values: {2022: -36491.0, 2021: -3030.0}
inside
inside
df =                            0      1      2
0  Share capital (continued)  Total    NaN
1                        NaN   2022   2021
2                        NaN  $'000  $'000
3      On issue at 1 January  15000  15000
4    On issue at 31 December  15000  15000
index dict = {2022: {'row_indices': [3, 4, 3, 4], 'col_indices': [1, 1, 2, 2]}, 2021: {'row_indices': [3, 4, 3, 4], 'col_indices': [1, 1, 2, 2]}}
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 3) , particular_end_col: 0 ,particular_start_row: 3
header indices : [0, 1, 2]
key :15__5e4f56b4-95fd-320b-a1a6-5153fe9658cb
year list : [2022, 2021]
main_page_year_values: {2022: 15000.0, 2021: 15000.0}
df =                                  0           1        2
0                              NaN      2022.0     2021
1                              NaN         NaN        $
2  Cents per share (fully franked)       121.6     10.1
3              Total dollar amount  36491000.0  3029500
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
main_page_year_values: {2022: -36491.0, 2021: -3030.0}
inside
inside
df =                                  0           1        2
0                              NaN      2022.0     2021
1                              NaN         NaN        $
2  Cents per share (fully franked)       121.6     10.1
3              Total dollar amount  36491000.0  3029500
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
 date cords : [2, 1, 2] ,([[0], [0], [0]], [['2021'], [2022.0], ['2021']], [[2021], [2022], [2021]])
data_row_coords: (1, 2) , particular_end_col: 0 ,particular_start_row: 2
header indices : [0, 1]

/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:204: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:343: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:204: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:343: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:204: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:343: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:204: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:343: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:204: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:343: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:204: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:343: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:204: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:343: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')

In [6]:
mp.final_notes_dict

{'10': {'': ['Inventories']}, '6': {'lcl': ['Deferred tax assets'], 'la': ['Income tax expense']}, '11': {'': ['Property, plant and equipment']}, '12': {'': ['Trade and other payables', 'Deferred tax liabilities']}, '13': {'': ['Lease liabili ities', 'Lease liabilities', 'Payment of lease liabilities']}, '14': {'': ['Employee benefits', 'Employee benefits']}, '15': {'': ['Share capital', 'Dividends paid']}, '4': {'': ['Employee expenses']}, '5': {'': ['Net finance income 1 (costs)', 'Interest paid']}, '7': {'la': ['Proceeds from discontinued operations']}, '8': {'': ['Cash and cash equivalents at end of year']}}

In [7]:
output_folder = './output/'
file_folder = os.path.join(output_folder,fileid)

In [8]:
try:
    os.mkdir(file_folder)
except:
    pass

In [9]:
with open(os.path.join(file_folder,f"{fileid}_notes_account_dict.json"),"w") as f:
        json.dump(mp.final_notes_dict,f)

In [10]:
notes_region_meta_data.to_csv(os.path.join(file_folder,f"{fileid}_notes_region_meta_data.csv"),index=False)

In [11]:
with open(os.path.join(file_folder,f"{fileid}_notes_ref_list.json"),"w") as f:
    json.dump(mp.notes_ref_dict,f)

In [12]:
with open(os.path.join(file_folder,f"{fileid}_standradrd_notes_meta_dict.json"),"w") as f:
    json.dump(mp.standard_note_meta_dict,f)

In [13]:
writer = pd.ExcelWriter(os.path.join(file_folder,f"{fileid}_notes_cropped_df.xlsx"), engine='xlsxwriter')
for key,value in mp.cropped_table_dict.items():
    value.to_excel(writer, sheet_name=key[:20],index=False)
writer.save()

/tmp/ipykernel_3831/2270965984.py:4: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [14]:
writer = pd.ExcelWriter(os.path.join(file_folder,f"{fileid}_main_pages.xlsx"), engine='xlsxwriter')
for key,value in cbs_dict.items():
    value.to_excel(writer, sheet_name=f"cbs_{key}",index=False)
for key,value in cpl_dict.items():
    value.to_excel(writer, sheet_name=f"cpl_{key}",index=False)
for key,value in ccf_dict.items():
    value.to_excel(writer, sheet_name=f"ccf_{key}",index=False)
writer.save()

/tmp/ipykernel_3831/4159104238.py:8: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [15]:
writer = pd.ExcelWriter(os.path.join(file_folder,f"{fileid}_notes_standard_cropped_df.xlsx"), engine='xlsxwriter')
for key,value in mp.standardised_cropped_dict.items():
    if value is not None:
            value.to_excel(writer, sheet_name=key[:20],index=False)
    else:
            temp_df = pd.DataFrame()
            temp_df.to_excel(writer, sheet_name=key[:20],index=False)

writer.save()

/tmp/ipykernel_3831/2538549668.py:9: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [16]:
writer = pd.ExcelWriter(os.path.join(file_folder,f"{fileid}_notes_transformed_standard_cropped_df.xlsx"), engine='xlsxwriter')
for key,value in mp.transformed_standardised_cropped_dict.items():
    if value is not None:
            value.to_excel(writer, sheet_name=key[:20],index=False)
    else:
            temp_df = pd.DataFrame()
            temp_df.to_excel(writer, sheet_name=key[:20],index=False)

writer.save()

/tmp/ipykernel_3831/4069446321.py:9: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [17]:
len(mp.standardised_cropped_dict)

25

In [18]:
mp.final_notes_dict

{'6': {'': ['Cash and short-term deposits', 'Cash and cash equivalents at 31 December']}, '7': {'': ['Trade and other receivables', 'Trade and other receivables']}, '8': {'': ['Inventories']}, '9': {'': ['Other assets']}, '10': {'': ['Property, plant and equipment']}, '16': {'': ['Right-of-use assets']}, '11': {'': ['Intangible assets']}, '20': {'': ['Derivative financial instruments', 'Derivative financial instruments', 'Derivative financial instruments']}, '5': {'': ['Deferred tax assets', 'Income tax expense']}, '12': {'': ['Trade and other payables']}, '13': {'': ['Provisions']}, '14': {'': ['Employee benefit liabilities', 'Employee benefit liabilities']}, '15': {'': ['Interest-bearing loans and borrowings', 'Interest-bearing loans and borrowings']}, '17': {'': ['Contributed equity']}, '4': {'1': ['Finance revenue'], '2': ['Finance costs'], '3': ['Other income'], '4': ['Employee benefits expense'], '6': ['Other expenses'], '7': ['Other finance costs']}, '': {'': ['in Other comprehensive income/(loss) Other comprehensive income /(loss) that may be reclassified to profit or loss subsequent periods (net of tax):']}}

In [18]:
mp.notes_region_meta_data

,note,subnote,start_page,star_bbox,next_note_pattern,end_page,end_bbox,tableid,row_numbers,tableslist,raw_note_number
0,6,,[28],"[[161, 346, 493, 373]]",7,[28],"[[160, 638, 475, 662]]",[a78bb329-e32e-3971-8099-b6df05267d46],"[[0, 1, 2, 3, 4, 5]]",[<db_models.TableLogs object at 0x7f5b9002fca0>],"[6, 6]"
1,7,,[28],"[[160, 638, 475, 662]]",8,[29],"[[161, 735, 323, 758]]","[dd0b54b1-ae15-356c-ae39-9d60935625e7, 6df1755...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f5b9002f580...,"[7, 7]"
2,8,,[29],"[[161, 735, 323, 758]]",9,[29],"[[161, 1008, 338, 1032]]",[e1c7b062-750d-3921-8259-19418a13f2c6],"[[0, 1, 2, 3, 4, 5]]",[<db_models.TableLogs object at 0x7f5b8ff8bc40>],[8]
3,9,,[29],"[[161, 1008, 338, 1032]]",10,[30],"[[164, 329, 503, 355]]",[e109e16a-a440-32f4-b0b8-84e928bd0fa7],"[[0, 1, 2, 3, 4, 5, 6]]",[<db_models.TableLogs object at 0x7f5b8f0cd9a0>],[9]
4,10,,[30],"[[164, 329, 503, 355]]",11,[31],"[[161, 342, 376, 370]]",[821061f6-6d12-3a83-b648-d905b4b82a31],"[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f5b8ff79f70>],[10]
5,11,,[31],"[[161, 342, 376, 370]]",12,[31],"[[161, 876, 453, 904]]",[fc8cb365-6282-3259-b0ac-3e25ed8239fa],"[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f5b90020220>],[11]
6,5,,[26],"[[162, 744, 324, 769]]",6,[27],"[[165, 855, 1028, 881]]","[fd791fd0-d8c8-32e7-9d3d-36135c068a96, 412c019...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, ...",[<db_models.TableLogs object at 0x7f5b90e8b460...,"[5, 5]"
7,12,,[31],"[[161, 876, 453, 904]]",13,[32],"[[162, 343, 318, 370]]",[fc8cb365-6282-3259-b0ac-3e25ed8239fa],"[[18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28]]",[<db_models.TableLogs object at 0x7f5b90020220>],[12]
8,13,,[32],"[[162, 343, 318, 370]]",14,[32],"[[161, 717, 467, 743]]",[ac23ebec-90cf-3015-ba6d-3797dcee7984],"[[0, 1, 2, 3, 4, 5, 6, 7, 8]]",[<db_models.TableLogs object at 0x7f5b90e8b2b0>],[13]
9,14,,[32],"[[161, 717, 467, 743]]",15,[32],"[[161, 953, 571, 980]]",[46d96b94-e741-3831-8191-cd69b97789e4],"[[0, 1, 2, 3, 4, 5, 6]]",[<db_models.TableLogs object at 0x7f5b9005bf10>],"[14, 14]"
10,15,,[32],"[[161, 953, 571, 980]]",16,[33],"[[162, 976, 284, 998]]","[46d96b94-e741-3831-8191-cd69b97789e4, e18a0fc...","[[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, ...",[<db_models.TableLogs object at 0x7f5b9005bf10...,"[15, 15]"
11,17,,[34],"[[160, 1253, 390, 1281]]",18,[35],"[[160, 501, 338, 529]]",[4e0097f4-2b78-3626-bb5a-20962cf2e862],"[[16, 17, 18, 19, 20]]",[<db_models.TableLogs object at 0x7f5b90e46250>],[17]
12,4,1,[25],"[[161, 379, 373, 406]]",4.2,[25],"[[160, 666, 350, 692]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.1]
13,4,2,[25],"[[160, 666, 350, 692]]",4.3,[25],"[[161, 814, 345, 837]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[11, 12, 13, 14, 15]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.2]
14,4,3,[25],"[[161, 814, 345, 837]]",4.4,[25],"[[160, 1029, 472, 1055]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[15, 16, 17, 18, 19, 20, 21, 22, 23]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.3]
15,4,4,[25],"[[160, 1029, 472, 1055]]",4.5,[25],"[[162, 1218, 925, 1246]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[23, 24, 25, 26, 27, 28]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.4]
16,4,6,[26],"[[161, 379, 459, 407]]",4.7,[26],"[[160, 562, 402, 588]]",[b1818398-7624-37bc-9aba-9e42d0312183],"[[1, 2, 3, 4, 5, 6, 7, 8]]",[<db_models.TableLogs object at 0x7f5b90e46ee0>],[4.6]
17,4,7,[26],"[[160, 562, 402, 588]]",4.8,[27],"[[162, 1103, 686, 1129]]","[fd791fd0-d8c8-32e7-9d3d-36135c068a96, b181839...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [8, 9, 10, 11...",[<db_models.TableLogs object at 0x7f5b90e8b460...,[4.7]
18,,,[13],"[[162, 468, 386, 493]]",,[13],"[[162, 226, 1018, 261]]",[],[],[],[in]

In [19]:
mp.notes_region_meta_data

,note,subnote,start_page,star_bbox,next_note_pattern,end_page,end_bbox,tableid,row_numbers,tableslist,raw_note_number
0,6,,[28],"[[161, 346, 493, 373]]",7,[28],"[[160, 638, 475, 662]]",[a78bb329-e32e-3971-8099-b6df05267d46],"[[0, 1, 2, 3, 4, 5]]",[<db_models.TableLogs object at 0x7f5b9002fca0>],"[6, 6]"
1,7,,[28],"[[160, 638, 475, 662]]",8,[29],"[[161, 735, 323, 758]]","[dd0b54b1-ae15-356c-ae39-9d60935625e7, 6df1755...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f5b9002f580...,"[7, 7]"
2,8,,[29],"[[161, 735, 323, 758]]",9,[29],"[[161, 1008, 338, 1032]]",[e1c7b062-750d-3921-8259-19418a13f2c6],"[[0, 1, 2, 3, 4, 5]]",[<db_models.TableLogs object at 0x7f5b8ff8bc40>],[8]
3,9,,[29],"[[161, 1008, 338, 1032]]",10,[30],"[[164, 329, 503, 355]]",[e109e16a-a440-32f4-b0b8-84e928bd0fa7],"[[0, 1, 2, 3, 4, 5, 6]]",[<db_models.TableLogs object at 0x7f5b8f0cd9a0>],[9]
4,10,,[30],"[[164, 329, 503, 355]]",11,[31],"[[161, 342, 376, 370]]",[821061f6-6d12-3a83-b648-d905b4b82a31],"[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f5b8ff79f70>],[10]
5,11,,[31],"[[161, 342, 376, 370]]",12,[31],"[[161, 876, 453, 904]]",[fc8cb365-6282-3259-b0ac-3e25ed8239fa],"[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f5b90020220>],[11]
6,5,,[26],"[[162, 744, 324, 769]]",6,[27],"[[165, 855, 1028, 881]]","[fd791fd0-d8c8-32e7-9d3d-36135c068a96, 412c019...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, ...",[<db_models.TableLogs object at 0x7f5b90e8b460...,"[5, 5]"
7,12,,[31],"[[161, 876, 453, 904]]",13,[32],"[[162, 343, 318, 370]]",[fc8cb365-6282-3259-b0ac-3e25ed8239fa],"[[18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28]]",[<db_models.TableLogs object at 0x7f5b90020220>],[12]
8,13,,[32],"[[162, 343, 318, 370]]",14,[32],"[[161, 717, 467, 743]]",[ac23ebec-90cf-3015-ba6d-3797dcee7984],"[[0, 1, 2, 3, 4, 5, 6, 7, 8]]",[<db_models.TableLogs object at 0x7f5b90e8b2b0>],[13]
9,14,,[32],"[[161, 717, 467, 743]]",15,[32],"[[161, 953, 571, 980]]",[46d96b94-e741-3831-8191-cd69b97789e4],"[[0, 1, 2, 3, 4, 5, 6]]",[<db_models.TableLogs object at 0x7f5b9005bf10>],"[14, 14]"
10,15,,[32],"[[161, 953, 571, 980]]",16,[33],"[[162, 976, 284, 998]]","[46d96b94-e741-3831-8191-cd69b97789e4, e18a0fc...","[[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, ...",[<db_models.TableLogs object at 0x7f5b9005bf10...,"[15, 15]"
11,17,,[34],"[[160, 1253, 390, 1281]]",18,[35],"[[160, 501, 338, 529]]",[4e0097f4-2b78-3626-bb5a-20962cf2e862],"[[16, 17, 18, 19, 20]]",[<db_models.TableLogs object at 0x7f5b90e46250>],[17]
12,4,1,[25],"[[161, 379, 373, 406]]",4.2,[25],"[[160, 666, 350, 692]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.1]
13,4,2,[25],"[[160, 666, 350, 692]]",4.3,[25],"[[161, 814, 345, 837]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[11, 12, 13, 14, 15]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.2]
14,4,3,[25],"[[161, 814, 345, 837]]",4.4,[25],"[[160, 1029, 472, 1055]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[15, 16, 17, 18, 19, 20, 21, 22, 23]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.3]
15,4,4,[25],"[[160, 1029, 472, 1055]]",4.5,[25],"[[162, 1218, 925, 1246]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[23, 24, 25, 26, 27, 28]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.4]
16,4,6,[26],"[[161, 379, 459, 407]]",4.7,[26],"[[160, 562, 402, 588]]",[b1818398-7624-37bc-9aba-9e42d0312183],"[[1, 2, 3, 4, 5, 6, 7, 8]]",[<db_models.TableLogs object at 0x7f5b90e46ee0>],[4.6]
17,4,7,[26],"[[160, 562, 402, 588]]",4.8,[27],"[[162, 1103, 686, 1129]]","[fd791fd0-d8c8-32e7-9d3d-36135c068a96, b181839...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [8, 9, 10, 11...",[<db_models.TableLogs object at 0x7f5b90e8b460...,[4.7]
18,,,[13],"[[162, 468, 386, 493]]",,[13],"[[162, 226, 1018, 261]]",[],[],[],[in]

In [20]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5')

In [21]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5').filter(like="line_item", axis=1).columns.to_list()

AttributeError: 'NoneType' object has no attribute 'filter'

In [ ]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5')['year'].max()

In [22]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5').filter(like="header_col", axis=1).sort_index(axis=1, ascending=False)

AttributeError: 'NoneType' object has no attribute 'filter'

In [23]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5').filter(like="header_col", axis=1).sort_index(axis=1, ascending=True).columns.to_list()

AttributeError: 'NoneType' object has no attribute 'filter'

In [24]:
mp.standardised_cropped_dict.keys()

dict_keys(['6__a78bb329-e32e-3971-8099-b6df05267d46', '7__dd0b54b1-ae15-356c-ae39-9d60935625e7', '7__6df1755d-9f56-30b6-b668-3883a4759256', '8__e1c7b062-750d-3921-8259-19418a13f2c6', '9__e109e16a-a440-32f4-b0b8-84e928bd0fa7', '10__821061f6-6d12-3a83-b648-d905b4b82a31', '11__fc8cb365-6282-3259-b0ac-3e25ed8239fa', '5__fd791fd0-d8c8-32e7-9d3d-36135c068a96', '5__412c019a-25e7-31b2-b338-875d3b57db61', '5__d493819c-94d0-307a-aef5-4e241134fa04', '12__fc8cb365-6282-3259-b0ac-3e25ed8239fa', '13__ac23ebec-90cf-3015-ba6d-3797dcee7984', '14__46d96b94-e741-3831-8191-cd69b97789e4', '15__46d96b94-e741-3831-8191-cd69b97789e4', '15__e18a0fc5-eab6-3f17-86a9-d0f8a7dbc230', '17__4e0097f4-2b78-3626-bb5a-20962cf2e862', '4_1_12c134c9-f365-3aad-bb0b-6945e88593df', '4_2_12c134c9-f365-3aad-bb0b-6945e88593df', '4_3_12c134c9-f365-3aad-bb0b-6945e88593df', '4_4_12c134c9-f365-3aad-bb0b-6945e88593df', '4_6_b1818398-7624-37bc-9aba-9e42d0312183', '4_7_fd791fd0-d8c8-32e7-9d3d-36135c068a96', '4_7_b1818398-7624-37bc-9aba-9e42d0312183', '4_7_412c019a-25e7-31b2-b338-875d3b57db61', '4_7_d493819c-94d0-307a-aef5-4e241134fa04'])

In [25]:
# cbs_dict

In [26]:
data_column_names = cbs_dict[6]

# ignore these columns to fetch years list
filter_headers = ['Notes', 'Particulars', 'statement_section', 'statement_sub_section']

# get years list
years_list = ([int(i) for i in data_column_names if i not in filter_headers])
years_list.sort()
years_list = [str(i) for i in years_list]

In [65]:
def convert_standaradised_notes_to_column_row_year(note_df,year_list,standard_note_meta_dict_item):
    ## this function converts standradised note df into 4 columns. rows will be combination of row header + line item 1 + line item 0
    ## cols will be combination of col_header_1 + col_header_0 etc. column which contains year value will be dropped based on standard_note_meta_dict_item
    converted_standardised_df = pd.DataFrame(columns=["rows","columns","year","value"])
    note_df["year"] = pd.to_numeric(note_df["year"],errors='coerce')
    note_df["year"] = note_df["year"].fillna(note_df["year"].max())
    # for curr_year in year_list:
    #         converted_standardised_df[str(curr_year)] = float(0)

    year_column_header_name = standard_note_meta_dict_item.get('year_column_header_name')
    # print(year_column_header_name)
    if year_column_header_name:
         note_df = note_df.drop(year_column_header_name,axis=1)
    line_item_colnames = note_df.filter(like="line_item", axis=1).columns.to_list()
    col_header_colnames = note_df.filter(like="header_col", axis=1).sort_index(axis=1, ascending=False).columns.to_list()
    row_header_available = False
    # print(line_item_colnames)
    if "row_header" in note_df.columns.to_list():
        row_header_available = True
        row_colmns = ["row_header"]
        row_colmns.extend(line_item_colnames)
        # print(row_colmns)
        converted_standardised_df["rows"] = note_df[row_colmns].fillna('').apply(" ".join, axis=1)
    else:
        converted_standardised_df["rows"] = note_df[line_item_colnames].fillna('').apply(" ".join, axis=1)
    converted_standardised_df["columns"] = note_df[col_header_colnames].fillna('').apply(" ".join, axis=1)
    converted_standardised_df["year"] = note_df["year"]
    converted_standardised_df["value"] = note_df["value"]
    return converted_standardised_df

In [66]:
mp.standardised_cropped_dict.get('13__5833a5d1-c09c-3154-8002-4ad74d57e34c')

,line_item_0,row_header,value,header_col_0,header_col_1,header_col_2,header_col_3,year
0,Consolidated,Consolidated,NaN,improvements,Leasehold,assets,Low value,None
1,Balance at 1 April 2021,Consolidated,116059,improvements,Leasehold,assets,Low value,2021
2,Additions,Consolidated,52292,improvements,Leasehold,assets,Low value,None
3,Disposals,Consolidated,NaN,improvements,Leasehold,assets,Low value,None
4,Depreciation expense,Consolidated,"(41,492)",improvements,Leasehold,assets,Low value,None
5,Balance at 31 March 2022,Consolidated,126859,improvements,Leasehold,assets,Low value,2022
6,Consolidated,Consolidated,NaN,Plantand equipment,Plantand equipment,assets,Low value,None
7,Balance at 1 April 2021,Consolidated,365374,Plantand equipment,Plantand equipment,assets,Low value,2021
8,Additions,Consolidated,86255,Plantand equipment,Plantand equipment,assets,Low value,None
9,Disposals,Consolidated,NaN,Plantand equipment,Plantand equipment,assets,Low value,None
10,Depreciation expense,Consolidated,"(60,638)",Plantand equipment,Plantand equipment,assets,Low value,None
11,Balance at 31 March 2022,Consolidated,390991,Plantand equipment,Plantand equipment,assets,Low value,2022
12,Consolidated,Consolidated,NaN,and fittings,Fixtures,assets,Low value,None
13,Balance at 1 April 2021,Consolidated,112265,and fittings,Fixtures,assets,Low value,2021
14,Additions,Consolidated,8789,and fittings,Fixtures,assets,Low value,None
15,Disposals,Consolidated,NaN,and fittings,Fixtures,assets,Low value,None
16,Depreciation expense,Consolidated,"(26,530)",and fittings,Fixtures,assets,Low value,None
17,Balance at 31 March 2022,Consolidated,94524,and fittings,Fixtures,assets,Low value,2022
18,Consolidated,Consolidated,NaN,vehicles,Motor,assets,Low value,None
19,Balance at 1 April 2021,Consolidated,5135623,vehicles,Motor,assets,Low value,2021
20,Additions,Consolidated,2452,vehicles,Motor,assets,Low value,None
21,Disposals,Consolidated,"(46,956)",vehicles,Motor,assets,Low value,None
22,Depreciation expense,Consolidated,"(943,835)",vehicles,Motor,assets,Low value,None
23,Balance at 31 March 2022,Consolidated,4147284,vehicles,Motor,assets,Low value,2022
24,Consolidated,Consolidated,NaN,equipment,Computer,assets,Low value,None
25,Balance at 1 April 2021,Consolidated,1160011,equipment,Computer,assets,Low value,2021
26,Additions,Consolidated,762742,equipment,Computer,assets,Low value,None
27,Disposals,Consolidated,NaN,equipment,Computer,assets,Low value,None
28,Depreciation expense,Consolidated,"(458,542)",equipment,Computer,assets,Low value,None
29,Balance at 31 March 2022,Consolidated,1464211,equipment,Computer,assets,Low value,2022
30,Consolidated,Consolidated,NaN,equipment),(Plant and,assets,Low value,None
31,Balance at 1 April 2021,Consolidated,92905,equipment),(Plant and,assets,Low value,2021
32,Additions,Consolidated,NaN,equipment),(Plant and,assets,Low value,None
33,Disposals,Consolidated,NaN,equipment),(Plant and,assets,Low value,None
34,Depreciation expense,Consolidated,"(31,909)",equipment),(Plant and,assets,Low value,None
35,Balance at 31 March 2022,Consolidated,60996,equipment),(Plant and,assets,Low value,2022
36,Consolidated,Consolidated,NaN,Total,(Plant and,assets,Low value,None
37,Balance at 1 April 2021,Consolidated,6982237,Total,(Plant and,assets,Low value,2021
38,Additions,Consolidated,912530,Total,(Plant and,assets,Low value,None
39,Disposals,Consolidated,"(46,956)",Total,(Plant and,assets,Low value,None
40,Depreciation expense,Consolidated,"(1,562,946)",Total,(Plant and,assets,Low value,None
41,Balance at 31 March 2022,Consolidated,6284865,Total,(Plant and,assets,Low value,2022

In [67]:
convert_standaradised_notes_to_column_row_year(mp.standardised_cropped_dict.get('13__5833a5d1-c09c-3154-8002-4ad74d57e34c'),years_list,mp.standard_note_meta_dict.get('13__5833a5d1-c09c-3154-8002-4ad74d57e34c'))

,rows,columns,year,value
0,Consolidated Consolidated,Low value assets Leasehold improvements,2022.0,NaN
1,Consolidated Balance at 1 April 2021,Low value assets Leasehold improvements,2021.0,116059
2,Consolidated Additions,Low value assets Leasehold improvements,2022.0,52292
3,Consolidated Disposals,Low value assets Leasehold improvements,2022.0,NaN
4,Consolidated Depreciation expense,Low value assets Leasehold improvements,2022.0,"(41,492)"
5,Consolidated Balance at 31 March 2022,Low value assets Leasehold improvements,2022.0,126859
6,Consolidated Consolidated,Low value assets Plantand equipment Plantand e...,2022.0,NaN
7,Consolidated Balance at 1 April 2021,Low value assets Plantand equipment Plantand e...,2021.0,365374
8,Consolidated Additions,Low value assets Plantand equipment Plantand e...,2022.0,86255
9,Consolidated Disposals,Low value assets Plantand equipment Plantand e...,2022.0,NaN
10,Consolidated Depreciation expense,Low value assets Plantand equipment Plantand e...,2022.0,"(60,638)"
11,Consolidated Balance at 31 March 2022,Low value assets Plantand equipment Plantand e...,2022.0,390991
12,Consolidated Consolidated,Low value assets Fixtures and fittings,2022.0,NaN
13,Consolidated Balance at 1 April 2021,Low value assets Fixtures and fittings,2021.0,112265
14,Consolidated Additions,Low value assets Fixtures and fittings,2022.0,8789
15,Consolidated Disposals,Low value assets Fixtures and fittings,2022.0,NaN
16,Consolidated Depreciation expense,Low value assets Fixtures and fittings,2022.0,"(26,530)"
17,Consolidated Balance at 31 March 2022,Low value assets Fixtures and fittings,2022.0,94524
18,Consolidated Consolidated,Low value assets Motor vehicles,2022.0,NaN
19,Consolidated Balance at 1 April 2021,Low value assets Motor vehicles,2021.0,5135623
20,Consolidated Additions,Low value assets Motor vehicles,2022.0,2452
21,Consolidated Disposals,Low value assets Motor vehicles,2022.0,"(46,956)"
22,Consolidated Depreciation expense,Low value assets Motor vehicles,2022.0,"(943,835)"
23,Consolidated Balance at 31 March 2022,Low value assets Motor vehicles,2022.0,4147284
24,Consolidated Consolidated,Low value assets Computer equipment,2022.0,NaN
25,Consolidated Balance at 1 April 2021,Low value assets Computer equipment,2021.0,1160011
26,Consolidated Additions,Low value assets Computer equipment,2022.0,762742
27,Consolidated Disposals,Low value assets Computer equipment,2022.0,NaN
28,Consolidated Depreciation expense,Low value assets Computer equipment,2022.0,"(458,542)"
29,Consolidated Balance at 31 March 2022,Low value assets Computer equipment,2022.0,1464211
30,Consolidated Consolidated,Low value assets (Plant and equipment),2022.0,NaN
31,Consolidated Balance at 1 April 2021,Low value assets (Plant and equipment),2021.0,92905
32,Consolidated Additions,Low value assets (Plant and equipment),2022.0,NaN
33,Consolidated Disposals,Low value assets (Plant and equipment),2022.0,NaN
34,Consolidated Depreciation expense,Low value assets (Plant and equipment),2022.0,"(31,909)"
35,Consolidated Balance at 31 March 2022,Low value assets (Plant and equipment),2022.0,60996
36,Consolidated Consolidated,Low value assets (Plant and Total,2022.0,NaN
37,Consolidated Balance at 1 April 2021,Low value assets (Plant and Total,2021.0,6982237
38,Consolidated Additions,Low value assets (Plant and Total,2022.0,912530
39,Consolidated Disposals,Low value assets (Plant and Total,2022.0,"(46,956)"
40,Consolidated Depreciation expense,Low value assets (Plant and Total,2022.0,"(1,562,946)"
41,Consolidated Balance at 31 March 2022,Low value assets (Plant and Total,2022.0,6284865

In [2]:
# for key,value in mp.standardised_cropped_dict.items():
#     display("standardised raw dict:= ",mp.standardised_cropped_dict.get(key))
#     conv_std_df = convert_standaradised_notes_to_column_row_year(mp.standardised_cropped_dict.get(key),years_list,mp.standard_note_meta_dict.get(key))
#     display("converted _dict : ",conv_std_df)

In [1]:
# for key,value in mp.standardised_cropped_dict.items():
#     display("standardised raw dict:= ",mp.standardised_cropped_dict.get(key))
#     conv_std_df = mp.transformed_standardised_cropped_dict.get(key)
#     display("converted _dict : ",conv_std_df)

In [6]:
mp.transformed_standardised_cropped_dict.get('13__5833a5d1-c09c-3154-8002-4ad74d57e34c')

,rows,columns,year,value
0,Consolidated Consolidated,Low value assets Leasehold improvements,2022.0,NaN
1,Consolidated Balance at 1 April 2021,Low value assets Leasehold improvements,2021.0,116059
2,Consolidated Additions,Low value assets Leasehold improvements,2022.0,52292
3,Consolidated Disposals,Low value assets Leasehold improvements,2022.0,NaN
4,Consolidated Depreciation expense,Low value assets Leasehold improvements,2022.0,"(41,492)"
5,Consolidated Balance at 31 March 2022,Low value assets Leasehold improvements,2022.0,126859
6,Consolidated Consolidated,Low value assets Plantand equipment Plantand e...,2022.0,NaN
7,Consolidated Balance at 1 April 2021,Low value assets Plantand equipment Plantand e...,2021.0,365374
8,Consolidated Additions,Low value assets Plantand equipment Plantand e...,2022.0,86255
9,Consolidated Disposals,Low value assets Plantand equipment Plantand e...,2022.0,NaN
10,Consolidated Depreciation expense,Low value assets Plantand equipment Plantand e...,2022.0,"(60,638)"
11,Consolidated Balance at 31 March 2022,Low value assets Plantand equipment Plantand e...,2022.0,390991
12,Consolidated Consolidated,Low value assets Fixtures and fittings,2022.0,NaN
13,Consolidated Balance at 1 April 2021,Low value assets Fixtures and fittings,2021.0,112265
14,Consolidated Additions,Low value assets Fixtures and fittings,2022.0,8789
15,Consolidated Disposals,Low value assets Fixtures and fittings,2022.0,NaN
16,Consolidated Depreciation expense,Low value assets Fixtures and fittings,2022.0,"(26,530)"
17,Consolidated Balance at 31 March 2022,Low value assets Fixtures and fittings,2022.0,94524
18,Consolidated Consolidated,Low value assets Motor vehicles,2022.0,NaN
19,Consolidated Balance at 1 April 2021,Low value assets Motor vehicles,2021.0,5135623
20,Consolidated Additions,Low value assets Motor vehicles,2022.0,2452
21,Consolidated Disposals,Low value assets Motor vehicles,2022.0,"(46,956)"
22,Consolidated Depreciation expense,Low value assets Motor vehicles,2022.0,"(943,835)"
23,Consolidated Balance at 31 March 2022,Low value assets Motor vehicles,2022.0,4147284
24,Consolidated Consolidated,Low value assets Computer equipment,2022.0,NaN
25,Consolidated Balance at 1 April 2021,Low value assets Computer equipment,2021.0,1160011
26,Consolidated Additions,Low value assets Computer equipment,2022.0,762742
27,Consolidated Disposals,Low value assets Computer equipment,2022.0,NaN
28,Consolidated Depreciation expense,Low value assets Computer equipment,2022.0,"(458,542)"
29,Consolidated Balance at 31 March 2022,Low value assets Computer equipment,2022.0,1464211
30,Consolidated Consolidated,Low value assets (Plant and equipment),2022.0,NaN
31,Consolidated Balance at 1 April 2021,Low value assets (Plant and equipment),2021.0,92905
32,Consolidated Additions,Low value assets (Plant and equipment),2022.0,NaN
33,Consolidated Disposals,Low value assets (Plant and equipment),2022.0,NaN
34,Consolidated Depreciation expense,Low value assets (Plant and equipment),2022.0,"(31,909)"
35,Consolidated Balance at 31 March 2022,Low value assets (Plant and equipment),2022.0,60996
36,Consolidated Consolidated,Low value assets (Plant and Total,2022.0,NaN
37,Consolidated Balance at 1 April 2021,Low value assets (Plant and Total,2021.0,6982237
38,Consolidated Additions,Low value assets (Plant and Total,2022.0,912530
39,Consolidated Disposals,Low value assets (Plant and Total,2022.0,"(46,956)"
40,Consolidated Depreciation expense,Low value assets (Plant and Total,2022.0,"(1,562,946)"
41,Consolidated Balance at 31 March 2022,Low value assets (Plant and Total,2022.0,6284865

In [11]:
tetst = mp.standard_note_meta_dict.get('8__f6d116da-1b4a-335e-a24e-3f0e2bae318e')

In [12]:
tetst

{'date_column_number': [1, 2],
 'date_row_number': [[1], [1]],
 'date_raw_text': [['2022'], ['2021']],
 'date_extracted_year': [[2022], [2021]],
 'data_first_column': 1,
 'data_first_row': 3,
 'data_particular_end_col': 0,
 'data_particular_start_row': 3,
 'header_indices': [0, 1, 2],
 'row_header_indices': [],
 'year_column_header_name': 'header_col_1'}

In [15]:
for a,b in zip(tetst['date_raw_text'],tetst['date_extracted_year']):
    print(a,b)

['2022'] [2022]
['2021'] [2021]

In [13]:
from collections import defaultdict
  
Details = defaultdict(dict)
Details["Country"] = ({"cnt":"india"})
# Details["Country"].append("India")
# Details["Country"].append("Pakistan")
print(Details)

defaultdict(<class 'dict'>, {'Country': {'cnt': 'india'}})

In [8]:
Details["Country"].appe

defaultdict(<class 'list'>, {'Country': ['India', 'Pakistan', ['najd', 'kad'], 'najd', 'kad']})

In [14]:
class NestedDefaultDict(defaultdict):
    def __init__(self, *args, **kwargs):
        super(NestedDefaultDict, self).__init__(NestedDefaultDict, *args, **kwargs)

    def __repr__(self):
        return repr(dict(self))

In [16]:
my_dict = NestedDefaultDict()
my_dict['a']['b'] = ["haihd","kajdo"]

In [17]:
my_dict

{'a': {'b': ['haihd', 'kajdo']}}

In [18]:
my_dict['a']['b'].extend(["jj","oo"])

In [19]:
my_dict

{'a': {'b': ['haihd', 'kajdo', 'jj', 'oo']}}

In [22]:
my_dict['b']['a'].extend(["jj","oo"])

AttributeError: 'NestedDefaultDict' object has no attribute 'extend'