In [1]:
import pandas as pd
import os
from os import path
import json

In [2]:
from process_core import mainPageProcess

/home/mgsadmin/anaconda3/envs/crm_syd/lib/python3.9/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [3]:
fileid = "1990cc10-c828-49f0-b312-a71ab3a541da"

In [4]:
mp = mainPageProcess()

In [5]:
cbs_dict,cpl_dict,ccf_dict,meta_dict,final_notes_dict,ref_notes_list, notes_region_meta_data,cropped_table_dict = mp.process_main_pages(fileid=fileid)

In [6]:
mp.final_notes_dict

{'6': {'': ['Cash and cash equivalents', 'Cash and cash equivalents at 31 December']}, '7': {'': ['Trade and other receivables']}, '8': {'': ['Inventories']}, '9': {'': ['Financial assets', 'Financial assets']}, '20': {'': ['Income tax receivable from related parties']}, '10': {'': ['Other current assets', 'Other non-current assets']}, '11': {'': ['Investment in joint ventures', 'Share of gain/(loss) of joint venture, net of tax']}, '12': {'': ['Property, plant and equipment', 'Impairment loss']}, '13': {'': ['Right-of-use assets', 'Lease liabilities', 'Lease liabilities']}, '5': {'': ['Deferred tax assets', 'Deferred tax liabilities', 'Income tax benefit']}, '16': {'': ['Borrowings']}, '17': {'': ['Provisions', 'Provisions']}, '15': {'': ['Financial liabilities']}, '18': {'': ['Contributed equity']}, '19': {'': ['Reserves']}, '4': {'1': ['Revenue from contracts with customers'], '2': ['Other revenue'], '3': ['Other income'], '4': ['Finance income'], '5': ['Finance costs']}}

In [7]:
# mp.standardised_cropped_dict

In [8]:
output_folder = './output/'
file_folder = os.path.join(output_folder,fileid)

In [9]:
try:
    os.mkdir(file_folder)
except:
    pass

In [10]:
with open(os.path.join(file_folder,f"{fileid}_notes_account_dict.json"),"w") as f:
        json.dump(mp.final_notes_dict,f)

In [11]:
notes_region_meta_data.to_csv(os.path.join(file_folder,f"{fileid}_notes_region_meta_data.csv"),index=False)

In [12]:
with open(os.path.join(file_folder,f"{fileid}_notes_ref_list.json"),"w") as f:
    json.dump(mp.notes_ref_dict,f)

In [13]:
with open(os.path.join(file_folder,f"{fileid}_standradrd_notes_meta_dict.json"),"w") as f:
    json.dump(mp.standard_note_meta_dict,f)

In [14]:
writer = pd.ExcelWriter(os.path.join(file_folder,f"{fileid}_notes_cropped_df.xlsx"), engine='xlsxwriter')
for key,value in mp.cropped_table_dict.items():
    value.to_excel(writer, sheet_name=key[:20],index=False)
writer.save()

In [15]:
writer = pd.ExcelWriter(os.path.join(file_folder,f"{fileid}_main_pages.xlsx"), engine='xlsxwriter')
for key,value in cbs_dict.items():
    value.to_excel(writer, sheet_name=f"cbs_{key}",index=False)
for key,value in cpl_dict.items():
    value.to_excel(writer, sheet_name=f"cpl_{key}",index=False)
for key,value in ccf_dict.items():
    value.to_excel(writer, sheet_name=f"ccf_{key}",index=False)
writer.save()

In [16]:
writer = pd.ExcelWriter(os.path.join(file_folder,f"{fileid}_notes_standard_cropped_df.xlsx"), engine='xlsxwriter')
for key,value in mp.standardised_cropped_dict.items():
    if value is not None:
            value.to_excel(writer, sheet_name=key[:20],index=False)
    else:
            temp_df = pd.DataFrame()
            temp_df.to_excel(writer, sheet_name=key[:20],index=False)

writer.save()

In [23]:
mp.notes_ref_dict.get('cbs')

[{'particular': 'Cash and cash equivalents',
  'raw_note_no': '6',
  'processed_raw_note': ['6'],
  'main_note_number': ['6'],
  'subnote_number': ['']},
 {'particular': 'Trade and other receivables',
  'raw_note_no': '7',
  'processed_raw_note': ['7'],
  'main_note_number': ['7'],
  'subnote_number': ['']},
 {'particular': 'Inventories',
  'raw_note_no': '8',
  'processed_raw_note': ['8'],
  'main_note_number': ['8'],
  'subnote_number': ['']},
 {'particular': 'Financial assets',
  'raw_note_no': '9',
  'processed_raw_note': ['9'],
  'main_note_number': ['9'],
  'subnote_number': ['']},
 {'particular': 'Income tax receivable from related parties',
  'raw_note_no': '20',
  'processed_raw_note': ['20'],
  'main_note_number': ['20'],
  'subnote_number': ['']},
 {'particular': 'Other current assets',
  'raw_note_no': '10',
  'processed_raw_note': ['10'],
  'main_note_number': ['10'],
  'subnote_number': ['']},
 {'particular': 'Investment in joint ventures',
  'raw_note_no': '11',
  'processed_raw_note': ['11'],
  'main_note_number': ['11'],
  'subnote_number': ['']},
 {'particular': 'Property, plant and equipment',
  'raw_note_no': '12',
  'processed_raw_note': ['12'],
  'main_note_number': ['12'],
  'subnote_number': ['']},
 {'particular': 'Right-of-use assets',
  'raw_note_no': '13',
  'processed_raw_note': ['13'],
  'main_note_number': ['13'],
  'subnote_number': ['']},
 {'particular': 'Financial assets',
  'raw_note_no': '9',
  'processed_raw_note': ['9'],
  'main_note_number': ['9'],
  'subnote_number': ['']},
 {'particular': 'Deferred tax assets',
  'raw_note_no': '5',
  'processed_raw_note': ['5'],
  'main_note_number': ['5'],
  'subnote_number': ['']},
 {'particular': 'Other non-current assets',
  'raw_note_no': '10',
  'processed_raw_note': ['10'],
  'main_note_number': ['10'],
  'subnote_number': ['']},
 {'particular': 'Borrowings',
  'raw_note_no': '16',
  'processed_raw_note': ['16'],
  'main_note_number': ['16'],
  'subnote_number': ['']},
 {'particular': 'Provisions',
  'raw_note_no': '17',
  'processed_raw_note': ['17'],
  'main_note_number': ['17'],
  'subnote_number': ['']},
 {'particular': 'Financial liabilities',
  'raw_note_no': '15',
  'processed_raw_note': ['15'],
  'main_note_number': ['15'],
  'subnote_number': ['']},
 {'particular': 'Lease liabilities',
  'raw_note_no': '13',
  'processed_raw_note': ['13'],
  'main_note_number': ['13'],
  'subnote_number': ['']},
 {'particular': 'Provisions',
  'raw_note_no': '17',
  'processed_raw_note': ['17'],
  'main_note_number': ['17'],
  'subnote_number': ['']},
 {'particular': 'Lease liabilities',
  'raw_note_no': '13',
  'processed_raw_note': ['13'],
  'main_note_number': ['13'],
  'subnote_number': ['']},
 {'particular': 'Deferred tax liabilities',
  'raw_note_no': '5',
  'processed_raw_note': ['5'],
  'main_note_number': ['5'],
  'subnote_number': ['']},
 {'particular': 'Contributed equity',
  'raw_note_no': '18',
  'processed_raw_note': ['18'],
  'main_note_number': ['18'],
  'subnote_number': ['']},
 {'particular': 'Reserves',
  'raw_note_no': '19',
  'processed_raw_note': ['19'],
  'main_note_number': ['19'],
  'subnote_number': ['']}]

In [25]:
mp.notes_ref_dict.get('cbs')[0]

{'particular': 'Cash and cash equivalents',
 'raw_note_no': '6',
 'processed_raw_note': ['6'],
 'main_note_number': ['6'],
 'subnote_number': ['']}

In [19]:
mp.notes_region_meta_data

,note,subnote,start_page,star_bbox,next_note_pattern,end_page,end_bbox,tableid,row_numbers,tableslist,raw_note_number
0,6,,[29],"[[145, 319, 457, 338]]",7,[29],"[[145, 507, 465, 521]]",[8534027f-1c7e-3c62-92a7-be47685905e6],"[[0, 1, 2, 3, 4]]",[<db_models.TableLogs object at 0x7fde156fe850>],"[6, 6]"
1,7,,[29],"[[145, 507, 465, 521]]",8,[29],"[[145, 703, 306, 717]]",[8534027f-1c7e-3c62-92a7-be47685905e6],"[[5, 6, 7, 8, 9, 10]]",[<db_models.TableLogs object at 0x7fde156fe850>],[7]
2,8,,[29],"[[145, 703, 306, 717]]",9,[29],"[[144, 995, 354, 1009]]",[8534027f-1c7e-3c62-92a7-be47685905e6],"[[11, 12, 13, 14, 15, 16]]",[<db_models.TableLogs object at 0x7fde156fe850>],[8]
3,9,,[29],"[[144, 995, 354, 1009]]",10,[30],"[[145, 319, 321, 334]]",[3a5ba939-d90c-31e1-a970-68c87eb4b6dc],"[[0, 1, 2, 3, 4, 5, 6, 7, 8]]",[<db_models.TableLogs object at 0x7fde146f35e0>],"[9, 9]"
4,11,,[30],"[[145, 630, 455, 648]]",12,[31],"[[145, 320, 489, 338]]","[a147e74b-6105-3ee1-a346-7906f3bf25b5, d0e6195...","[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4, 5, 6], [10, ...",[<db_models.TableLogs object at 0x7fde1470b4c0...,"[11, 11]"
5,12,,[31],"[[145, 320, 489, 338]]",13,[31],"[[145, 1066, 267, 1080]]",[479b7f33-0020-3618-b6a9-60465e3a73ad],"[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7fde1470bb80>],"[12, 12]"
6,16,,[32],"[[145, 1227, 311, 1246]]",17,[33],"[[145, 697, 302, 711]]","[89d8e540-7631-3e3c-9669-f7105d26da5f, 24af21e...","[[26, 27, 28, 29], [0, 1, 2, 3, 4, 5, 6]]",[<db_models.TableLogs object at 0x7fde155ffb50...,[16]
7,17,,[33],"[[145, 697, 302, 711]]",18,[33],"[[145, 1043, 378, 1062]]",[ccfe6761-7441-3314-b130-5d3b84061590],"[[0, 1, 2, 3, 4, 5, 6]]",[<db_models.TableLogs object at 0x7fde147114c0>],"[17, 17]"
8,15,,[32],"[[145, 922, 378, 936]]",16,[32],"[[145, 1227, 311, 1246]]",[89d8e540-7631-3e3c-9669-f7105d26da5f],"[[17, 18, 19, 20, 21, 22, 23, 24, 25]]",[<db_models.TableLogs object at 0x7fde155ffb50>],[15]
9,18,,[33],"[[145, 1043, 378, 1062]]",19,[34],"[[145, 320, 288, 334]]",[269320e0-3615-3c8f-8625-dcaf7af844ca],"[[0, 1, 2]]",[<db_models.TableLogs object at 0x7fde1470b580>],[18]
10,19,,[34],"[[145, 320, 288, 334]]",20,[35],"[[144, 320, 443, 338]]",[686655c3-5844-35ad-af70-85f45b7297cf],"[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7fde1649fd30>],[19]
11,4,1,[26],"[[144, 356, 581, 371]]",4.2,[26],"[[144, 826, 335, 841]]",[04364462-3301-3e8a-af80-28720e1d73ef],"[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 1...",[<db_models.TableLogs object at 0x7fde156e0a00>],[4.1]
12,4,2,[26],"[[144, 826, 335, 841]]",4.3,[26],"[[144, 967, 329, 982]]",[04364462-3301-3e8a-af80-28720e1d73ef],"[[16, 17, 18, 19]]",[<db_models.TableLogs object at 0x7fde156e0a00>],[4.2]
13,4,3,[26],"[[144, 967, 329, 982]]",4.4,[27],"[[144, 357, 351, 371]]",[04364462-3301-3e8a-af80-28720e1d73ef],"[[20, 21, 22, 23, 24, 25, 26, 27]]",[<db_models.TableLogs object at 0x7fde156e0a00>],[4.3]
14,4,4,[27],"[[144, 357, 351, 371]]",4.5,[27],"[[144, 498, 333, 512]]",[da20fcaa-0edf-3ba2-a56c-832887c2d292],"[[0, 1, 2]]",[<db_models.TableLogs object at 0x7fde146dbbe0>],[4.4]
15,4,5,[27],"[[144, 498, 333, 512]]",4.6,[27],"[[144, 695, 417, 713]]",[da20fcaa-0edf-3ba2-a56c-832887c2d292],"[[3, 4, 5, 6, 7, 8]]",[<db_models.TableLogs object at 0x7fde146dbbe0>],[4.5]

In [21]:
cbs_dict[7]

,Particulars,Notes,2020,2019,statement_section,statement_sub_section
0,Assets,NaN,NaN,NaN,assets,current
1,Current assets,NaN,NaN,NaN,assets,current
2,Cash and cash equivalents,6,19589.0,28259.0,assets,current
3,Trade and other receivables,7,13624.0,11999.0,assets,current
4,Inventories,8,27198.0,26953.0,assets,current
5,Financial assets,9,NaN,29753.0,assets,current
6,Income tax receivable from related parties,20,6318.0,7530.0,assets,current
7,Other current assets,10,489.0,328.0,assets,current
8,Total current assets,NaN,67218.0,104822.0,assets,current
9,Non-current assets,NaN,NaN,NaN,assets,noncurrent
10,Investment in joint ventures,11,47672.0,54535.0,assets,noncurrent
11,"Property, plant and equipment",12,17531.0,3731.0,assets,noncurrent
12,Right-of-use assets,13,1007.0,1476.0,assets,noncurrent
13,Financial assets,9,NaN,12453.0,assets,noncurrent
14,Deferred tax assets,5,24223.0,12309.0,assets,noncurrent
15,Other non-current assets,10,NaN,678.0,assets,noncurrent
16,Total non-current assets,NaN,90433.0,85182.0,assets,noncurrent
17,Total assets,NaN,157651.0,190004.0,assets,noncurrent
18,Liabilities,NaN,NaN,NaN,assets,current
19,Current liabilities,NaN,NaN,NaN,equity_liabilities,current
20,Trade and other payables,NaN,22315.0,26101.0,equity_liabilities,current
21,Borrowings,16,NaN,4000.0,equity_liabilities,current
22,Provisions,17,9459.0,9228.0,equity_liabilities,current
23,Financial liabilities,15,2935.0,NaN,equity_liabilities,current
24,Lease liabilities,13,412.0,471.0,equity_liabilities,current
25,Total current liabilities,NaN,35121.0,39800.0,equity_liabilities,current
26,Non-current liabilities,NaN,NaN,NaN,equity_liabilities,noncurrent
27,Trade and other payables,NaN,3254.0,3036.0,equity_liabilities,noncurrent
28,Provisions,17,48427.0,10629.0,equity_liabilities,noncurrent
29,Lease liabilities,13,641.0,1042.0,equity_liabilities,noncurrent
30,Deferred tax liabilities,5,18466.0,23326.0,equity_liabilities,noncurrent
31,Total non-current liabilities,NaN,70788.0,38033.0,equity_liabilities,noncurrent
32,Total liabilities,NaN,105909.0,77833.0,equity_liabilities,noncurrent
33,Net assets,NaN,51742.0,112171.0,equity_liabilities,noncurrent
34,Equity,NaN,NaN,NaN,equity_liabilities,equity
35,Contributed equity,18,150997.0,150997.0,equity_liabilities,equity
36,Accumulated losses,NaN,-94999.0,-74616.0,equity_liabilities,equity
37,Reserves,19,-4256.0,35790.0,equity_liabilities,equity
38,Total equity,NaN,51742.0,112171.0,equity_liabilities,equity