In [1]:
import pandas as pd
import os
from os import path
import json
from IPython.display import display

In [2]:
from process_core import mainPageProcess

/home/jayesh/anaconda3/envs/crm_syd/lib/python3.9/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [3]:
fileid = '5a31e5b9-04c2-4bf1-9740-47237257c087'

In [4]:
mp = mainPageProcess()

In [5]:
cbs_dict,cpl_dict,ccf_dict,meta_dict,final_notes_dict,ref_notes_list, notes_region_meta_data,cropped_table_dict = mp.process_main_pages(fileid=fileid)

/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:57: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:57: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:100: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:57: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():

key :10__5071c6b0-501f-3065-8791-d38f430f269e
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 3) , particular_end_col: 0 ,particular_start_row: 3
header indices : [0, 1, 2]
                       line_item_0 row_header  value header_col_0  \
0         Cash on hand and at bank       None   7748         $000
1  Total cash and cash equivalents       None   7748         $000
2         Cash on hand and at bank       None  14212         $000
3  Total cash and cash equivalents       None  14212         $000

  header_col_1      header_col_2  year
0         2022   Asat31 December  2022
1         2022   Asat31 December  2022
2         2021  As at31 December  2021
3         2021  As at31 December  2021
key :11__de67e660-354b-3bee-b56c-4562032bb9cb
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 3) , particular_end_col: 0 ,particular_start_row: 3
header indices : [0, 1, 2]
                          line_item_0 row_header    value header_col_0  \
0                       Trade debtors       None    75442         $000
1     Provision for impairment losses       None  (2,086)         $000
2                   Net trade debtors       None    73356         $000
3                     Accrued rebates       None      564         $000
4          Forward exchange contracts       None      NaN         $000
5       Other debtors and prepayments       None     1962         $000
6   Total trade and other receivables       None    75882         $000
7                       Trade debtors       None    68077         $000
8     Provision for impairment losses       None  (1,504)         $000
9                   Net trade debtors       None    66573         $000
10                    Accrued rebates       None      518         $000
11         Forward exchange contracts       None      441         $000
12      Other debtors and prepayments       None     1721         $000
13  Total trade and other receivables       None    69253         $000

   header_col_1     header_col_2  year
0          2022  Asat31 December  2022
1          2022  Asat31 December  2022
2          2022  Asat31 December  2022
3          2022  Asat31 December  2022
4          2022  Asat31 December  2022
5          2022  Asat31 December  2022
6          2022  Asat31 December  2022
7          2021         December  2021
8          2021         December  2021
9          2021         December  2021
10         2021         December  2021
11         2021         December  2021
12         2021         December  2021
13         2021         December  2021
key :12__0de8588e-d1e8-3460-b3c0-ce2d185a7d9a
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 3) , particular_end_col: 0 ,particular_start_row: 3
header indices : [0, 1, 2]
                       line_item_0 row_header     value header_col_0  \
0                   Finished goods       None    171488         $000
1  Provision for impairment losses       None  (11,292)         $000
2               Net finished goods       None    160196         $000
3                Total inventories       None    160196         $000
4                   Finished goods       None    142834         $000
5  Provision for impairment losses       None   (6,882)         $000
6               Net finished goods       None    135952         $000
7                Total inventories       None    135952         $000

  header_col_1      header_col_2  year
0         2022  As at31 December  2022
1         2022  As at31 December  2022
2         2022  As at31 December  2022
3         2022  As at31 December  2022
4         2021  As at31 December  2021
5         2021  As at31 December  2021
6         2021  As at31 December  2021
7         2021  As at31 December  2021
key :13__8be1c04b-0507-3a6a-b7cc-a0802c5dca57
 date cords : [0] ,([[2, 7, 9, 13, 14, 16, 21, 23, 28, 29]], [['Balance at 1 January 2022', 'Balance at 31 December 2022', 'Balance at 1 January 2022', 'Balance at 31 December 2022', 'Carrying amount as at 31 December 2022', 'Balance at 1 January 2021', 'Balance at 31 December 2021', 'Balance at 1 January 2021', 'Balance at 31 December 2021', 'Carrying amount as at 31 December 2021']], [['2022', '2022', '2022', '2022', '2022', '2021', '2021', '2021', '2021', '2021']])
data_row_coords: (1, 2) , particular_end_col: 0 ,particular_start_row: 1
header indices : [0]
                               line_item_0  \
0                Balance at 1 January 2022
1                                Additions
2                                Disposals
3                Acquisition of businesses
4               Foreign currency movements
..                                     ...
70                               Disposals
71               Acquisition of businesses
72               Foreigncurrency movements
73             Balance at 31 December 2021
74  Carrying amount as at 31 December 2021

                             row_header     value         header_col_0  year
0                  Cost or deemed cost:      1057  Leasehold buildings  2022
1                  Cost or deemed cost:        22  Leasehold buildings  None
2                  Cost or deemed cost:       NaN  Leasehold buildings  None
3                  Cost or deemed cost:       NaN  Leasehold buildings  None
4                  Cost or deemed cost:       (8)  Leasehold buildings  None
..                                  ...       ...                  ...   ...
70  Depreciation and impairment losses:       187                Total  None
71  Depreciation and impairment losses:     (254)                Total  None
72  Depreciation and impairment losses:       (7)                Total  None
73  Depreciation and impairment losses:  (21,740)                Total  2021
74  Depreciation and impairment losses:      5163                Total  2021

[75 rows x 5 columns]
key :15__b37b31eb-70f4-31b0-b7c5-28e1cb29b9d5
 date cords : [0] ,([[2, 6, 8, 11, 12, 14, 18, 20, 24, 25]], [['Balance at 1 January2022', 'Balance at31 December 2022', 'Balance at 1 January 2022', 'Balance at 31 December 2022', 'Carrying amount as at 31 December 2022', 'Balance at 1 January 2021', 'Balance at 31 December 2021', 'Balance at 1 January 2021', 'Balance at 31 December 2021', 'Carrying amount as at 31 December 2021']], [['2022', '2022', '2022', '2022', '2022', '2021', '2021', '2021', '2021', '2021']])
data_row_coords: (1, 2) , particular_end_col: 0 ,particular_start_row: 1
header indices : [0]
                               line_item_0  \
0                 Balance at 1 January2022
1                                Additions
2            Acquisition of businesses (1)
3               Foreign currency movements
4               Balance at31 December 2022
..                                     ...
58                        Amortisation (2)
59               Acquisition of businesses
60              Foreign currency movements
61             Balance at 31 December 2021
62  Carrying amount as at 31 December 2021

                             row_header     value header_col_0  year
0                  Cost or deemed cost:    102819     Goodwill  2022
1                  Cost or deemed cost:       NaN     Goodwill  None
2                  Cost or deemed cost:       740     Goodwill  None
3                  Cost or deemed cost:     (293)     Goodwill  None
4                  Cost or deemed cost:    103266     Goodwill  2022
..                                  ...       ...          ...   ...
58  Amortisation and impairment losses:     (139)        Total  None
59  Amortisation and impairment losses:      (35)        Total  None
60  Amortisation and impairment losses:       (5)        Total  None
61  Amortisation and impairment losses:  (37,665)        Total  2021
62  Amortisation and impairment losses:     68144        Total  2021

[63 rows x 5 columns]
key :17__277223aa-8b19-3247-a0a1-6c7578a91797
 date cords : [1, 2] ,([[0], [0]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 3) , particular_end_col: 0 ,particular_start_row: 2
header indices : [0, 1]
                                          line_item_0  \
0                                 Deferred tax assets
1                           Net deferred tax balances
2                                     Opening balance
3                        Recognised in profit or loss
4   Acquisition of controlled entities and businesses
5                     Currency translation difference
6                                     Closing balance
7                    Provisions and employee benefits
8                                          Tax losses
9                       Property, plant and equipment
10                                  Intangible assets
11         Unrealised foreign exchange losses/(gains)
12                                        Other items
13                          Net deferred tax balances
14                      Capital losses no expiry date
15                    Revenue losses - no expiry date
16             Total unrecognised deferred tax assets
17                                Deferred tax assets
18                          Net deferred tax balances
19                                    Opening balance
20                       Recognised in profit or loss
21  Acquisition of controlled entities and businesses
22                    Currency translation difference
23                                    Closing balance
24                   Provisions and employee benefits
25                                         Tax losses
26                      Property, plant and equipment
27                                  Intangible assets
28         Unrealised foreign exchange losses/(gains)
29                                        Other items
30                          Net deferred tax balances
31                      Capital losses no expiry date
32                    Revenue losses - no expiry date
33             Total unrecognised deferred tax assets

                                           row_header   value header_col_0  \
0                                      Deferred taxes   15649         $000
1                                      Deferred taxes   15649         $000
2   Movement in net deferred tax balances during t...   15368         $000
3   Movement in net deferred tax balances during t...     107         $000
4   Movement in net deferred tax balances during t...     NaN         $000
5   Movement in net deferred tax balances during t...     174         $000
6   Movement in net deferred tax balances during t...   15649         $000
7   Deferred tax balances are attributable to the ...    8483         $000
8   Deferred tax balances are attributable to the ...    6585         $000
9   Deferred tax balances are attributable to the ...     306         $000
10  Deferred tax balances are attributable to the ...      46         $000
11  Deferred tax balances are attributable to the ...     370         $000
12  Deferred tax balances are attributable to the ...   (141)         $000
13  Deferred tax balances are attributable to the ...   15649         $000
14               Unrecognised deferred tax assets (1)  152465         $000
15               Unrecognised deferred tax assets (1)  128348         $000
16               Unrecognised deferred tax assets (1)  280813         $000
17                                     Deferred taxes   15368         $000
18                                     Deferred taxes   15368         $000
19  Movement in net deferred tax balances during t...    8945         $000
20  Movement in net deferred tax balances during t...    5980         $000
21  Movement in net deferred tax balances during t...     341         $000
22  Movement in net deferred tax balances during t...     102         $000
23  Movement in net deferred tax balances during t...   15368         $000
24  Deferred tax balances are attributable to the ...    6665         $000
25  Deferred tax balances are attributable to the ...    8482         $000
26  Deferred tax balances are attributable to the ...     245         $000
27  Deferred tax balances are attributable to the ...      15         $000
28  Deferred tax balances are attributable to the ...    (45)         $000
29  Deferred tax balances are attributable to the ...       6         $000
30  Deferred tax balances are attributable to the ...   15368         $000
31               Unrecognised deferred tax assets (1)  152465         $000
32               Unrecognised deferred tax assets (1)  134914         $000
33               Unrecognised deferred tax assets (1)  287379         $000

   header_col_1  year
0          2022  2022
1          2022  2022
2          2022  2022
3          2022  2022
4          2022  2022
5          2022  2022
6          2022  2022
7          2022  2022
8          2022  2022
9          2022  2022
10         2022  2022
11         2022  2022
12         2022  2022
13         2022  2022
14         2022  2022
15         2022  2022
16         2022  2022
17         2021  2021
18         2021  2021
19         2021  2021
20         2021  2021
21         2021  2021
22         2021  2021
23         2021  2021
24         2021  2021
25         2021  2021
26         2021  2021
27         2021  2021
28         2021  2021
29         2021  2021
30         2021  2021
31         2021  2021
32         2021  2021
33         2021  2021
key :18__7f61efff-9484-38f3-9150-f9ba93de5917
 date cords : [] ,([], [], [])
data_row_coords: (2, 1) , particular_end_col: 0 ,particular_start_row: 1
header indices : [0]
                       line_item_0 row_header                       value  \
0                            Total       None  As at31 December 2022 $000
1                            Total       None  As at31 December 2022 $000
2                  Trade creditors       None                       75810
3                 Accrued expenses       None                         762
4                              GST       None                        2148
5                          Rebates       None                        1977
6       Forward exchange contracts       None                         252
7                  Other creditors       None                       11314
8   Total trade and other payables       None                       92263
9                            Total       None                        2021
10                           Total       None                        $000
11                 Trade creditors       None                       79697
12                Accrued expenses       None                        2782
13                             GST       None                        2280
14                         Rebates       None                        1666
15      Forward exchange contracts       None                         NaN
16                 Other creditors       None                       18030
17  Total trade and other payables       None                      104455

                  header_col_0
0   As at31 December 2022 $000
1   As at31 December 2022 $000
2   As at31 December 2022 $000
3   As at31 December 2022 $000
4   As at31 December 2022 $000
5   As at31 December 2022 $000
6   As at31 December 2022 $000
7   As at31 December 2022 $000
8   As at31 December 2022 $000
9             As at31 December
10            As at31 December
11            As at31 December
12            As at31 December
13            As at31 December
14            As at31 December
15            As at31 December
16            As at31 December
17            As at31 December
'year'
key :19__16b726b4-223f-359e-96ee-9376b1ca4bec
 date cords : [] ,([], [], [])
data_row_coords: (7, 1) , particular_end_col: 0 ,particular_start_row: 1
header indices : [0]
                             line_item_0 row_header  \
0                                  Total       None
1                                  Total       None
2                             Bank loans  Currer nt
3                             Bank loans  Currer nt
4                            Other loans  Currer nt
5                            Total loans  Currer nt
6   (1) Rolling twelve-month facilities.  Currer nt
7                                  Total       None
8                                  Total       None
9                             Bank loans  Currer nt
10                            Bank loans  Currer nt
11                           Other loans  Currer nt
12                           Total loans  Currer nt
13  (1) Rolling twelve-month facilities.  Currer nt
14                                 Total       None
15                                 Total       None
16                            Bank loans  Currer nt
17                            Bank loans  Currer nt
18                           Other loans  Currer nt
19                           Total loans  Currer nt
20  (1) Rolling twelve-month facilities.  Currer nt
21                                 Total       None
22                                 Total       None
23                            Bank loans  Currer nt
24                            Bank loans  Currer nt
25                           Other loans  Currer nt
26                           Total loans  Currer nt
27  (1) Rolling twelve-month facilities.  Currer nt
28                                 Total       None
29                                 Total       None
30                            Bank loans  Currer nt
31                            Bank loans  Currer nt
32                           Other loans  Currer nt
33                           Total loans  Currer nt
34  (1) Rolling twelve-month facilities.  Currer nt
35                                 Total       None
36                                 Total       None
37                            Bank loans  Currer nt
38                            Bank loans  Currer nt
39                           Other loans  Currer nt
40                           Total loans  Currer nt
41  (1) Rolling twelve-month facilities.  Currer nt
42                                 Total       None
43                                 Total       None
44                            Bank loans  Currer nt
45                            Bank loans  Currer nt
46                           Other loans  Currer nt
47                           Total loans  Currer nt
48  (1) Rolling twelve-month facilities.  Currer nt

                                   value                header_col_0
0                                    NaN  As at31 December 2022 $000
1                                    NaN  As at31 December 2022 $000
2                              unsecured  As at31 December 2022 $000
3                              unsecured  As at31 December 2022 $000
4                              unsecured  As at31 December 2022 $000
5                         and borrowings  As at31 December 2022 $000
6   (1) Rolling twelve-month facilities.  As at31 December 2022 $000
7                                    NaN  As at31 December 2022 $000
8                               Currency  As at31 December 2022 $000
9                                    AUD  As at31 December 2022 $000
10                                   NZD  As at31 December 2022 $000
11                               various  As at31 December 2022 $000
12                                   NaN  As at31 December 2022 $000
13                                   NaN  As at31 December 2022 $000
14                   Interest rate range  As at31 December 2022 $000
15                   Interest rate range  As at31 December 2022 $000
16                          0.9% to 4.2%  As at31 December 2022 $000
17                          2.1% to 5.6%  As at31 December 2022 $000
18                           1.1% to4.0%  As at31 December 2022 $000
19                                   NaN  As at31 December 2022 $000
20                                   NaN  As at31 December 2022 $000
21                   Interest rate range  As at31 December 2022 $000

/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:201: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:340: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:201: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:340: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:201: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:340: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:201: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:340: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:580: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:201: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:340: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:580: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:201: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:340: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:201: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:340: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:201: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:340: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:201: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:340: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:201: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:340: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')

data_row_coords: (2, 3) , particular_end_col: 1 ,particular_start_row: 3
header indices : [0, 1, 2]
                    line_item_0 line_item_1                        row_header  \
0  Current loans and borrowings         NaN                              None
1    Total loans and borrowings         NaN  Non-current loans and borrowings
2     Cash and cash equivalents          10  Non-current loans and borrowings
3                Net borrowings         NaN  Non-current loans and borrowings
4  Current loans and borrowings         NaN                              None
5    Total loans and borrowings         NaN  Non-current loans and borrowings
6     Cash and cash equivalents          10  Non-current loans and borrowings
7                Net borrowings         NaN  Non-current loans and borrowings

      value header_col_0 header_col_1      header_col_2  year
0     65418         $000         2022  As at31 December  2022
1     65418         $000         2022  As at31 December  2022
2   (7,748)         $000         2022  As at31 December  2022
3     57670         $000         2022  As at31 December  2022
4     54969         $000         2021   Asat31 December  2021
5     54969         $000         2021   Asat31 December  2021
6  (14,212)         $000         2021   Asat31 December  2021
7     40757         $000         2021   Asat31 December  2021
key :19__1e25e145-7534-3c2b-9f99-424157aa34f7
 date cords : [1, 2] ,([[2], [2]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 4) , particular_end_col: 0 ,particular_start_row: 4
header indices : [0, 1, 2, 3]
                                   line_item_0 row_header  value header_col_0  \
0               Balance at beginning of period       None  54969         $000
1                                Net drawdowns       None  10558         $000
2      Total changes from financing cash flows       None  10558         $000
3  Effect of changes in foreign exchange rates       None  (109)         $000
4                     Balance at end of period       None  65418         $000
5               Balance at beginning of period       None  41267         $000
6                                Net drawdowns       None  13713         $000
7      Total changes from financing cash flows       None  13713         $000
8  Effect of changes in foreign exchange rates       None   (11)         $000
9                     Balance at end of period       None  54969         $000

  header_col_1 header_col_2 header_col_3  year
0         2022     December      As at31  2022
1         2022     December      As at31  2022
2         2022     December      As at31  2022
3         2022     December      As at31  2022
4         2022     December      As at31  2022
5         2021     December     As at 31  2021
6         2021     December     As at 31  2021
7         2021     December     As at 31  2021
8         2021     December     As at 31  2021
9         2021     December     As at 31  2021
key :20__9dc09f28-77dd-394b-9daf-bf4b5bcc2c56
 date cords : [] ,([], [], [])
data_row_coords: (2, 2) , particular_end_col: 0 ,particular_start_row: 2
header indices : [0, 1]
                            line_item_0   row_header  \
0                                 Total         None
1                                 Total         None
2                    Leave entitlements      Current
3                    Other entitlements      Current
4       Total current employee benefits      Current
5                                 Total      Current
6                                 Total      Current
7                    Leave entitlements  Non-current
8   Total non-current employee benefits  Non-current
9                                 Total         None
10                                Total         None
11                   Leave entitlements      Current
12                   Other entitlements      Current
13      Total current employee benefits      Current
14                                Total      Current
15                                Total      Current
16                   Leave entitlements  Non-current
17  Total non-current employee benefits  Non-current

                          value                 header_col_0  \
0   As at 31 December 2022 $000  As at 31 December 2022 $000
1   As at 31 December 2022 $000  As at 31 December 2022 $000
2                          5232  As at 31 December 2022 $000
3                          1729  As at 31 December 2022 $000
4                          6961  As at 31 December 2022 $000
5                          2022  As at 31 December 2022 $000
6                          $000  As at 31 December 2022 $000
7                           633  As at 31 December 2022 $000
8                           633  As at 31 December 2022 $000
9                          2021  As at 31 December 2022 $000
10                         $000  As at 31 December 2022 $000
11                         5146  As at 31 December 2022 $000
12                         1707  As at 31 December 2022 $000
13                         6853  As at 31 December 2022 $000
14                         2021  As at 31 December 2022 $000
15                         $000  As at 31 December 2022 $000
16                          572  As at 31 December 2022 $000
17                          572  As at 31 December 2022 $000

                   header_col_1
0   As at 31 December 2022 $000
1   As at 31 December 2022 $000
2   As at 31 December 2022 $000
3   As at 31 December 2022 $000
4   As at 31 December 2022 $000
5   As at 31 December 2022 $000
6   As at 31 December 2022 $000
7   As at 31 December 2022 $000
8   As at 31 December 2022 $000
9   As at 31 December 2022 $000
10  As at 31 December 2022 $000
11  As at 31 December 2022 $000
12  As at 31 December 2022 $000
13  As at 31 December 2022 $000
14  As at 31 December 2022 $000
15  As at 31 December 2022 $000
16  As at 31 December 2022 $000
17  As at 31 December 2022 $000
'year'
key :21__90e67921-9adc-34ff-babe-14bd05030445
 date cords : [0] ,([[2, 5, 6, 10]], [['Balance at 1 January 2022', 'Balance at 31 December 2022', 'Balance at 1 January 2021', 'Balance at 31 December 2021']], [['2022', '2022', '2021', '2021']])
data_row_coords: (2, 2) , particular_end_col: 0 ,particular_start_row: 1
header indices : [0]
                    line_item_0 row_header                        value  \
0     Balance at 1 January 2022    Current    Balance at 1 January 2022
1      Provided during the year    Current     Provided during the year
2          Paid during the year    Current         Paid during the year
3   Balance at 31 December 2022    Current  Balance at 31 December 2022
4     Balance at 1 January 2021    Current    Balance at 1 January 2021
5      Provided during the year    Current     Provided during the year
6          Paid during the year    Current         Paid during the year
7                 Transfers 367    Current                Transfers 367
8   Balance at 31 December 2021    Current  Balance at 31 December 2021
9     Balance at 1 January 2022    Current                           84
10     Provided during the year    Current                           65
11         Paid during the year    Current                         (79)
12  Balance at 31 December 2022    Current                           70
13    Balance at 1 January 2021    Current                          NaN
14     Provided during the year    Current                          113
15         Paid during the year    Current                        (396)
16                Transfers 367    Current                Transfers 367
17  Balance at 31 December 2021    Current                           84
18    Balance at 1 January 2022    Current                          199
19     Provided during the year    Current                          NaN
20         Paid during the year    Current                          (6)
21  Balance at 31 December 2022    Current                          193
22    Balance at 1 January 2021    Current                          625
23     Provided during the year    Current                          NaN
24         Paid during the year    Current                         (59)
25                Transfers 367    Current                        (367)
26  Balance at 31 December 2021    Current                          199
27    Balance at 1 January 2022    Current                         1000
28     Provided during the year    Current                          400
29         Paid during the year    Current                          NaN
30  Balance at 31 December 2022    Current                         1400
31    Balance at 1 January 2021    Current                         1000
32     Provided during the year    Current                          NaN
33         Paid during the year    Current                          NaN
34                Transfers 367    Current                          NaN
35  Balance at 31 December 2021    Current                         1000
36    Balance at 1 January 2022    Current                         1283
37     Provided during the year    Current                          465
38         Paid during the year    Current                         (85)
39  Balance at 31 December 2022    Current                         1663
40    Balance at 1 January 2021    Current                         1625
41     Provided during the year    Current                          113
42         Paid during the year    Current                        (455)
43                Transfers 367    Current                          NaN
44  Balance at 31 December 2021    Current                         1283

       header_col_0  year
0   Restruct- uring  2022
1   Restruct- uring  None
2   Restruct- uring  None
3   Restruct- uring  2022
4   Restruct- uring  2021
5   Restruct- uring  None
6   Restruct- uring  None
7   Restruct- uring  None
8   Restruct- uring  2021
9   Restruct- uring  2022
10  Restruct- uring  None
11  Restruct- uring  None
12  Restruct- uring  2022
13  Restruct- uring  2021
14  Restruct- uring  None
15  Restruct- uring  None
16  Restruct- uring  None
17  Restruct- uring  2021
18         Warranty  2022
19         Warranty  None
20         Warranty  None
21         Warranty  2022
22         Warranty  2021
23         Warranty  None
24         Warranty  None
25         Warranty  None
26         Warranty  2021
27            Other  2022
28            Other  None
29            Other  None
30            Other  2022
31            Other  2021
32            Other  None
33            Other  None
34            Other  None
35            Other  2021
36            Total  2022
37            Total  None
38            Total  None
39            Total  2022
40            Total  2021
41            Total  None
42            Total  None
43            Total  None
44            Total  2021
key :22__605578ff-24d9-38c2-be2a-1713e7b80262
 date cords : [] ,([], [], [])
data_row_coords: (2, 1) , particular_end_col: 0 ,particular_start_row: 1
header indices : [0]
                                         line_item_0      row_header  \
0                                              Total            None
1                                              Total            None
2  Issued and paid-up share capital 2,107,142,649...  Issued capital
3                               Total issued capital  Issued capital
4                                              Total            None
5                                              Total            None
6  Issued and paid-up share capital 2,107,142,649...  Issued capital
7                               Total issued capital  Issued capital

                        value                header_col_0
0  As at31 December 2022 $000  As at31 December 2022 $000
1  As at31 December 2022 $000  As at31 December 2022 $000
2                     1871914  As at31 December 2022 $000
3                     1871914  As at31 December 2022 $000
4                        2021                    December
5                        $000                    December
6                     1871914                    December
7                     1871914                    December
'year'
key :7__4795868f-b7fc-3907-9b22-6b62bc053155
 date cords : [2, 3] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (2, 4) , particular_end_col: 1 ,particular_start_row: 3
header indices : [0, 1, 2]
                          line_item_0 line_item_1    row_header    value  \
0                    Interest expense         NaN  Net interest  (1,913)
1                     Interest income         NaN  Net interest       41
2  Lease liabilities interest expense          14  Net interest  (1,341)
3             Total net finance costs         NaN  Net interest  (3,213)
4                    Interest expense         NaN  Net interest    (515)
5                     Interest income         NaN  Net interest      NaN
6  Lease liabilities interest expense          14  Net interest  (1,603)
7             Total net finance costs         NaN  Net interest  (2,109)

  header_col_0 header_col_1 header_col_2  year
0         $000         2022       31 Dec  2022
1         $000         2022       31 Dec  2022
2         $000         2022       31 Dec  2022
3         $000         2022       31 Dec  2022
4         $000         2021       31 Dec  2021
5         $000         2021       31 Dec  2021
6         $000         2021       31 Dec  2021
7         $000         2021       31 Dec  2021
key :8__4795868f-b7fc-3907-9b22-6b62bc053155
 date cords : [1, 2] ,([[2], [2]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 4) , particular_end_col: 0 ,particular_start_row: 4
header indices : [1, 2, 3]
                                          line_item_0  \
0   Prima facie income tax expense attributable to...
1   Utilisation of previously unrecognised tax los...
2                      Overseas tax rate differential
3                      Over provisioni in prior years
4                   Other rondeuriberonssissabs items
5   Unbooked tax losses and other temporaydiferenc...
6      Total tax (expense)benefit in income statement
7     Tax (expense benefit from continuing operations
8                                               Total
9                                        Current year
10                     Over provision inj prior years
11                               Deferred tax benefit
12     Total tax (expense)benefit in income statement
13  Prima facie income tax expense attributable to...
14  Utilisation of previously unrecognised tax los...
15                     Overseas tax rate differential
16                     Over provisioni in prior years
17                  Other rondeuriberonssissabs items
18  Unbooked tax losses and other temporaydiferenc...
19     Total tax (expense)benefit in income statement
20    Tax (expense benefit from continuing operations
21                                              Total
22                                       Current year
23                     Over provision inj prior years
24                               Deferred tax benefit
25     Total tax (expense)benefit in income statement

                       row_header    value header_col_0 header_col_1  \
0                            None  (8,704)         $000         2022
1   Add/deduct) the tax effect of     6364         $000         2022
2   Add/deduct) the tax effect of      174         $000         2022
3   Add/deduct) the tax effect of      872         $000         2022
4   Add/deduct) the tax effect of    (234)         $000         2022
5   Add/deduct) the tax effect of      107         $000         2022
6   Add/deduct) the tax effect of  (1,421)         $000         2022
7                     comprising:  (1,421)         $000         2022
8                     comprising:  (1,421)         $000         2022
9             Current tax expense  (8,626)         $000         2022
10            Current tax expense      872         $000         2022
11            Current tax expense     6333         $000         2022
12            Current tax expense  (1,421)         $000         2022
13                           None  (7,377)         $000         2021
14  Add/deduct) the tax effect of     5796         $000         2021
15  Add/deduct) the tax effect of      102         $000         2021
16  Add/deduct) the tax effect of      NaN         $000         2021
17  Add/deduct) the tax effect of    (164)         $000         2021
18  Add/deduct) the tax effect of     5980         $000         2021
19  Add/deduct) the tax effect of     4337         $000         2021
20                    comprising:     4337         $000         2021
21                    comprising:     4337         $000         2021
22            Current tax expense  (7,439)         $000         2021
23            Current tax expense      NaN         $000         2021
24            Current tax expense    11776         $000         2021
25            Current tax expense     4337         $000         2021

   header_col_2  year
0        31 Dec  2022
1        31 Dec  2022
2        31 Dec  2022
3        31 Dec  2022
4        31 Dec  2022
5        31 Dec  2022
6        31 Dec  2022
7        31 Dec  2022
8        31 Dec  2022
9        31 Dec  2022
10       31 Dec  2022
11       31 Dec  2022
12       31 Dec  2022
13       31 Dec  2021
14       31 Dec  2021
15       31 Dec  2021
16       31 Dec  2021
17       31 Dec  2021
18       31 Dec  2021
19       31 Dec  2021
20       31 Dec  2021
21       31 Dec  2021
22       31 Dec  2021
23       31 Dec  2021
24       31 Dec  2021
25       31 Dec  2021

/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:201: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:340: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:201: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:340: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:580: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:201: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:340: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:201: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:340: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:201: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:340: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')

In [6]:
mp.final_notes_dict

{'10': {'': ['Cash and cash equivalents', 'Cash and cash equivalents at the end of the period']}, '11': {'': ['Trade and other receivables']}, '12': {'': ['Inventories']}, '13': {'': ['Property, plant and equipment']}, '14': {'': ['Right-of-use assets', 'Lease liabilities', 'Lease liabilities']}, '15': {'': ['Intangible assets']}, '17': {'': ['Deferred tax assets']}, '18': {'': ['Trade and other payables']}, '19': {'': ['Loans and borrowings', 'Proceeds from borrowings']}, '20': {'': ['Employee benefits', 'Employee benefits']}, '21': {'': ['Provisions']}, '22': {'': ['Issued capital']}, '23': {'': ['Reserves', 'Accumulated losses']}, '7': {'': ['Net finance costs']}, '8': {'': ['Tax (expense)benefit']}, '': {'': ['Payments to suppliers and employees']}, '328)': {'': ['Payments to suppliers and employees']}}

In [7]:
output_folder = './output/'
file_folder = os.path.join(output_folder,fileid)

In [8]:
try:
    os.mkdir(file_folder)
except:
    pass

In [9]:
with open(os.path.join(file_folder,f"{fileid}_notes_account_dict.json"),"w") as f:
        json.dump(mp.final_notes_dict,f)

In [10]:
notes_region_meta_data.to_csv(os.path.join(file_folder,f"{fileid}_notes_region_meta_data.csv"),index=False)

In [11]:
with open(os.path.join(file_folder,f"{fileid}_notes_ref_list.json"),"w") as f:
    json.dump(mp.notes_ref_dict,f)

In [12]:
with open(os.path.join(file_folder,f"{fileid}_standradrd_notes_meta_dict.json"),"w") as f:
    json.dump(mp.standard_note_meta_dict,f)

In [13]:
writer = pd.ExcelWriter(os.path.join(file_folder,f"{fileid}_notes_cropped_df.xlsx"), engine='xlsxwriter')
for key,value in mp.cropped_table_dict.items():
    value.to_excel(writer, sheet_name=key[:20],index=False)
writer.save()

/tmp/ipykernel_3831/2270965984.py:4: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [14]:
writer = pd.ExcelWriter(os.path.join(file_folder,f"{fileid}_main_pages.xlsx"), engine='xlsxwriter')
for key,value in cbs_dict.items():
    value.to_excel(writer, sheet_name=f"cbs_{key}",index=False)
for key,value in cpl_dict.items():
    value.to_excel(writer, sheet_name=f"cpl_{key}",index=False)
for key,value in ccf_dict.items():
    value.to_excel(writer, sheet_name=f"ccf_{key}",index=False)
writer.save()

/tmp/ipykernel_3831/4159104238.py:8: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [15]:
writer = pd.ExcelWriter(os.path.join(file_folder,f"{fileid}_notes_standard_cropped_df.xlsx"), engine='xlsxwriter')
for key,value in mp.standardised_cropped_dict.items():
    if value is not None:
            value.to_excel(writer, sheet_name=key[:20],index=False)
    else:
            temp_df = pd.DataFrame()
            temp_df.to_excel(writer, sheet_name=key[:20],index=False)

writer.save()

/tmp/ipykernel_3831/2538549668.py:9: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [16]:
writer = pd.ExcelWriter(os.path.join(file_folder,f"{fileid}_notes_transformed_standard_cropped_df.xlsx"), engine='xlsxwriter')
for key,value in mp.transformed_standardised_cropped_dict.items():
    if value is not None:
            value.to_excel(writer, sheet_name=key[:20],index=False)
    else:
            temp_df = pd.DataFrame()
            temp_df.to_excel(writer, sheet_name=key[:20],index=False)

writer.save()

/tmp/ipykernel_3831/4069446321.py:9: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [17]:
len(mp.standardised_cropped_dict)

25

In [18]:
mp.final_notes_dict

{'6': {'': ['Cash and short-term deposits', 'Cash and cash equivalents at 31 December']}, '7': {'': ['Trade and other receivables', 'Trade and other receivables']}, '8': {'': ['Inventories']}, '9': {'': ['Other assets']}, '10': {'': ['Property, plant and equipment']}, '16': {'': ['Right-of-use assets']}, '11': {'': ['Intangible assets']}, '20': {'': ['Derivative financial instruments', 'Derivative financial instruments', 'Derivative financial instruments']}, '5': {'': ['Deferred tax assets', 'Income tax expense']}, '12': {'': ['Trade and other payables']}, '13': {'': ['Provisions']}, '14': {'': ['Employee benefit liabilities', 'Employee benefit liabilities']}, '15': {'': ['Interest-bearing loans and borrowings', 'Interest-bearing loans and borrowings']}, '17': {'': ['Contributed equity']}, '4': {'1': ['Finance revenue'], '2': ['Finance costs'], '3': ['Other income'], '4': ['Employee benefits expense'], '6': ['Other expenses'], '7': ['Other finance costs']}, '': {'': ['in Other comprehensive income/(loss) Other comprehensive income /(loss) that may be reclassified to profit or loss subsequent periods (net of tax):']}}

In [18]:
mp.notes_region_meta_data

,note,subnote,start_page,star_bbox,next_note_pattern,end_page,end_bbox,tableid,row_numbers,tableslist,raw_note_number
0,6,,[28],"[[161, 346, 493, 373]]",7,[28],"[[160, 638, 475, 662]]",[a78bb329-e32e-3971-8099-b6df05267d46],"[[0, 1, 2, 3, 4, 5]]",[<db_models.TableLogs object at 0x7f5b9002fca0>],"[6, 6]"
1,7,,[28],"[[160, 638, 475, 662]]",8,[29],"[[161, 735, 323, 758]]","[dd0b54b1-ae15-356c-ae39-9d60935625e7, 6df1755...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f5b9002f580...,"[7, 7]"
2,8,,[29],"[[161, 735, 323, 758]]",9,[29],"[[161, 1008, 338, 1032]]",[e1c7b062-750d-3921-8259-19418a13f2c6],"[[0, 1, 2, 3, 4, 5]]",[<db_models.TableLogs object at 0x7f5b8ff8bc40>],[8]
3,9,,[29],"[[161, 1008, 338, 1032]]",10,[30],"[[164, 329, 503, 355]]",[e109e16a-a440-32f4-b0b8-84e928bd0fa7],"[[0, 1, 2, 3, 4, 5, 6]]",[<db_models.TableLogs object at 0x7f5b8f0cd9a0>],[9]
4,10,,[30],"[[164, 329, 503, 355]]",11,[31],"[[161, 342, 376, 370]]",[821061f6-6d12-3a83-b648-d905b4b82a31],"[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f5b8ff79f70>],[10]
5,11,,[31],"[[161, 342, 376, 370]]",12,[31],"[[161, 876, 453, 904]]",[fc8cb365-6282-3259-b0ac-3e25ed8239fa],"[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f5b90020220>],[11]
6,5,,[26],"[[162, 744, 324, 769]]",6,[27],"[[165, 855, 1028, 881]]","[fd791fd0-d8c8-32e7-9d3d-36135c068a96, 412c019...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, ...",[<db_models.TableLogs object at 0x7f5b90e8b460...,"[5, 5]"
7,12,,[31],"[[161, 876, 453, 904]]",13,[32],"[[162, 343, 318, 370]]",[fc8cb365-6282-3259-b0ac-3e25ed8239fa],"[[18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28]]",[<db_models.TableLogs object at 0x7f5b90020220>],[12]
8,13,,[32],"[[162, 343, 318, 370]]",14,[32],"[[161, 717, 467, 743]]",[ac23ebec-90cf-3015-ba6d-3797dcee7984],"[[0, 1, 2, 3, 4, 5, 6, 7, 8]]",[<db_models.TableLogs object at 0x7f5b90e8b2b0>],[13]
9,14,,[32],"[[161, 717, 467, 743]]",15,[32],"[[161, 953, 571, 980]]",[46d96b94-e741-3831-8191-cd69b97789e4],"[[0, 1, 2, 3, 4, 5, 6]]",[<db_models.TableLogs object at 0x7f5b9005bf10>],"[14, 14]"
10,15,,[32],"[[161, 953, 571, 980]]",16,[33],"[[162, 976, 284, 998]]","[46d96b94-e741-3831-8191-cd69b97789e4, e18a0fc...","[[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, ...",[<db_models.TableLogs object at 0x7f5b9005bf10...,"[15, 15]"
11,17,,[34],"[[160, 1253, 390, 1281]]",18,[35],"[[160, 501, 338, 529]]",[4e0097f4-2b78-3626-bb5a-20962cf2e862],"[[16, 17, 18, 19, 20]]",[<db_models.TableLogs object at 0x7f5b90e46250>],[17]
12,4,1,[25],"[[161, 379, 373, 406]]",4.2,[25],"[[160, 666, 350, 692]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.1]
13,4,2,[25],"[[160, 666, 350, 692]]",4.3,[25],"[[161, 814, 345, 837]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[11, 12, 13, 14, 15]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.2]
14,4,3,[25],"[[161, 814, 345, 837]]",4.4,[25],"[[160, 1029, 472, 1055]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[15, 16, 17, 18, 19, 20, 21, 22, 23]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.3]
15,4,4,[25],"[[160, 1029, 472, 1055]]",4.5,[25],"[[162, 1218, 925, 1246]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[23, 24, 25, 26, 27, 28]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.4]
16,4,6,[26],"[[161, 379, 459, 407]]",4.7,[26],"[[160, 562, 402, 588]]",[b1818398-7624-37bc-9aba-9e42d0312183],"[[1, 2, 3, 4, 5, 6, 7, 8]]",[<db_models.TableLogs object at 0x7f5b90e46ee0>],[4.6]
17,4,7,[26],"[[160, 562, 402, 588]]",4.8,[27],"[[162, 1103, 686, 1129]]","[fd791fd0-d8c8-32e7-9d3d-36135c068a96, b181839...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [8, 9, 10, 11...",[<db_models.TableLogs object at 0x7f5b90e8b460...,[4.7]
18,,,[13],"[[162, 468, 386, 493]]",,[13],"[[162, 226, 1018, 261]]",[],[],[],[in]

In [19]:
mp.notes_region_meta_data

,note,subnote,start_page,star_bbox,next_note_pattern,end_page,end_bbox,tableid,row_numbers,tableslist,raw_note_number
0,6,,[28],"[[161, 346, 493, 373]]",7,[28],"[[160, 638, 475, 662]]",[a78bb329-e32e-3971-8099-b6df05267d46],"[[0, 1, 2, 3, 4, 5]]",[<db_models.TableLogs object at 0x7f5b9002fca0>],"[6, 6]"
1,7,,[28],"[[160, 638, 475, 662]]",8,[29],"[[161, 735, 323, 758]]","[dd0b54b1-ae15-356c-ae39-9d60935625e7, 6df1755...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f5b9002f580...,"[7, 7]"
2,8,,[29],"[[161, 735, 323, 758]]",9,[29],"[[161, 1008, 338, 1032]]",[e1c7b062-750d-3921-8259-19418a13f2c6],"[[0, 1, 2, 3, 4, 5]]",[<db_models.TableLogs object at 0x7f5b8ff8bc40>],[8]
3,9,,[29],"[[161, 1008, 338, 1032]]",10,[30],"[[164, 329, 503, 355]]",[e109e16a-a440-32f4-b0b8-84e928bd0fa7],"[[0, 1, 2, 3, 4, 5, 6]]",[<db_models.TableLogs object at 0x7f5b8f0cd9a0>],[9]
4,10,,[30],"[[164, 329, 503, 355]]",11,[31],"[[161, 342, 376, 370]]",[821061f6-6d12-3a83-b648-d905b4b82a31],"[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f5b8ff79f70>],[10]
5,11,,[31],"[[161, 342, 376, 370]]",12,[31],"[[161, 876, 453, 904]]",[fc8cb365-6282-3259-b0ac-3e25ed8239fa],"[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f5b90020220>],[11]
6,5,,[26],"[[162, 744, 324, 769]]",6,[27],"[[165, 855, 1028, 881]]","[fd791fd0-d8c8-32e7-9d3d-36135c068a96, 412c019...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, ...",[<db_models.TableLogs object at 0x7f5b90e8b460...,"[5, 5]"
7,12,,[31],"[[161, 876, 453, 904]]",13,[32],"[[162, 343, 318, 370]]",[fc8cb365-6282-3259-b0ac-3e25ed8239fa],"[[18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28]]",[<db_models.TableLogs object at 0x7f5b90020220>],[12]
8,13,,[32],"[[162, 343, 318, 370]]",14,[32],"[[161, 717, 467, 743]]",[ac23ebec-90cf-3015-ba6d-3797dcee7984],"[[0, 1, 2, 3, 4, 5, 6, 7, 8]]",[<db_models.TableLogs object at 0x7f5b90e8b2b0>],[13]
9,14,,[32],"[[161, 717, 467, 743]]",15,[32],"[[161, 953, 571, 980]]",[46d96b94-e741-3831-8191-cd69b97789e4],"[[0, 1, 2, 3, 4, 5, 6]]",[<db_models.TableLogs object at 0x7f5b9005bf10>],"[14, 14]"
10,15,,[32],"[[161, 953, 571, 980]]",16,[33],"[[162, 976, 284, 998]]","[46d96b94-e741-3831-8191-cd69b97789e4, e18a0fc...","[[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, ...",[<db_models.TableLogs object at 0x7f5b9005bf10...,"[15, 15]"
11,17,,[34],"[[160, 1253, 390, 1281]]",18,[35],"[[160, 501, 338, 529]]",[4e0097f4-2b78-3626-bb5a-20962cf2e862],"[[16, 17, 18, 19, 20]]",[<db_models.TableLogs object at 0x7f5b90e46250>],[17]
12,4,1,[25],"[[161, 379, 373, 406]]",4.2,[25],"[[160, 666, 350, 692]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.1]
13,4,2,[25],"[[160, 666, 350, 692]]",4.3,[25],"[[161, 814, 345, 837]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[11, 12, 13, 14, 15]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.2]
14,4,3,[25],"[[161, 814, 345, 837]]",4.4,[25],"[[160, 1029, 472, 1055]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[15, 16, 17, 18, 19, 20, 21, 22, 23]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.3]
15,4,4,[25],"[[160, 1029, 472, 1055]]",4.5,[25],"[[162, 1218, 925, 1246]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[23, 24, 25, 26, 27, 28]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.4]
16,4,6,[26],"[[161, 379, 459, 407]]",4.7,[26],"[[160, 562, 402, 588]]",[b1818398-7624-37bc-9aba-9e42d0312183],"[[1, 2, 3, 4, 5, 6, 7, 8]]",[<db_models.TableLogs object at 0x7f5b90e46ee0>],[4.6]
17,4,7,[26],"[[160, 562, 402, 588]]",4.8,[27],"[[162, 1103, 686, 1129]]","[fd791fd0-d8c8-32e7-9d3d-36135c068a96, b181839...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [8, 9, 10, 11...",[<db_models.TableLogs object at 0x7f5b90e8b460...,[4.7]
18,,,[13],"[[162, 468, 386, 493]]",,[13],"[[162, 226, 1018, 261]]",[],[],[],[in]

In [20]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5')

In [21]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5').filter(like="line_item", axis=1).columns.to_list()

AttributeError: 'NoneType' object has no attribute 'filter'

In [ ]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5')['year'].max()

In [22]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5').filter(like="header_col", axis=1).sort_index(axis=1, ascending=False)

AttributeError: 'NoneType' object has no attribute 'filter'

In [23]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5').filter(like="header_col", axis=1).sort_index(axis=1, ascending=True).columns.to_list()

AttributeError: 'NoneType' object has no attribute 'filter'

In [24]:
mp.standardised_cropped_dict.keys()

dict_keys(['6__a78bb329-e32e-3971-8099-b6df05267d46', '7__dd0b54b1-ae15-356c-ae39-9d60935625e7', '7__6df1755d-9f56-30b6-b668-3883a4759256', '8__e1c7b062-750d-3921-8259-19418a13f2c6', '9__e109e16a-a440-32f4-b0b8-84e928bd0fa7', '10__821061f6-6d12-3a83-b648-d905b4b82a31', '11__fc8cb365-6282-3259-b0ac-3e25ed8239fa', '5__fd791fd0-d8c8-32e7-9d3d-36135c068a96', '5__412c019a-25e7-31b2-b338-875d3b57db61', '5__d493819c-94d0-307a-aef5-4e241134fa04', '12__fc8cb365-6282-3259-b0ac-3e25ed8239fa', '13__ac23ebec-90cf-3015-ba6d-3797dcee7984', '14__46d96b94-e741-3831-8191-cd69b97789e4', '15__46d96b94-e741-3831-8191-cd69b97789e4', '15__e18a0fc5-eab6-3f17-86a9-d0f8a7dbc230', '17__4e0097f4-2b78-3626-bb5a-20962cf2e862', '4_1_12c134c9-f365-3aad-bb0b-6945e88593df', '4_2_12c134c9-f365-3aad-bb0b-6945e88593df', '4_3_12c134c9-f365-3aad-bb0b-6945e88593df', '4_4_12c134c9-f365-3aad-bb0b-6945e88593df', '4_6_b1818398-7624-37bc-9aba-9e42d0312183', '4_7_fd791fd0-d8c8-32e7-9d3d-36135c068a96', '4_7_b1818398-7624-37bc-9aba-9e42d0312183', '4_7_412c019a-25e7-31b2-b338-875d3b57db61', '4_7_d493819c-94d0-307a-aef5-4e241134fa04'])

In [25]:
# cbs_dict

In [26]:
data_column_names = cbs_dict[6]

# ignore these columns to fetch years list
filter_headers = ['Notes', 'Particulars', 'statement_section', 'statement_sub_section']

# get years list
years_list = ([int(i) for i in data_column_names if i not in filter_headers])
years_list.sort()
years_list = [str(i) for i in years_list]

In [65]:
def convert_standaradised_notes_to_column_row_year(note_df,year_list,standard_note_meta_dict_item):
    ## this function converts standradised note df into 4 columns. rows will be combination of row header + line item 1 + line item 0
    ## cols will be combination of col_header_1 + col_header_0 etc. column which contains year value will be dropped based on standard_note_meta_dict_item
    converted_standardised_df = pd.DataFrame(columns=["rows","columns","year","value"])
    note_df["year"] = pd.to_numeric(note_df["year"],errors='coerce')
    note_df["year"] = note_df["year"].fillna(note_df["year"].max())
    # for curr_year in year_list:
    #         converted_standardised_df[str(curr_year)] = float(0)

    year_column_header_name = standard_note_meta_dict_item.get('year_column_header_name')
    # print(year_column_header_name)
    if year_column_header_name:
         note_df = note_df.drop(year_column_header_name,axis=1)
    line_item_colnames = note_df.filter(like="line_item", axis=1).columns.to_list()
    col_header_colnames = note_df.filter(like="header_col", axis=1).sort_index(axis=1, ascending=False).columns.to_list()
    row_header_available = False
    # print(line_item_colnames)
    if "row_header" in note_df.columns.to_list():
        row_header_available = True
        row_colmns = ["row_header"]
        row_colmns.extend(line_item_colnames)
        # print(row_colmns)
        converted_standardised_df["rows"] = note_df[row_colmns].fillna('').apply(" ".join, axis=1)
    else:
        converted_standardised_df["rows"] = note_df[line_item_colnames].fillna('').apply(" ".join, axis=1)
    converted_standardised_df["columns"] = note_df[col_header_colnames].fillna('').apply(" ".join, axis=1)
    converted_standardised_df["year"] = note_df["year"]
    converted_standardised_df["value"] = note_df["value"]
    return converted_standardised_df

In [66]:
mp.standardised_cropped_dict.get('13__5833a5d1-c09c-3154-8002-4ad74d57e34c')

,line_item_0,row_header,value,header_col_0,header_col_1,header_col_2,header_col_3,year
0,Consolidated,Consolidated,NaN,improvements,Leasehold,assets,Low value,None
1,Balance at 1 April 2021,Consolidated,116059,improvements,Leasehold,assets,Low value,2021
2,Additions,Consolidated,52292,improvements,Leasehold,assets,Low value,None
3,Disposals,Consolidated,NaN,improvements,Leasehold,assets,Low value,None
4,Depreciation expense,Consolidated,"(41,492)",improvements,Leasehold,assets,Low value,None
5,Balance at 31 March 2022,Consolidated,126859,improvements,Leasehold,assets,Low value,2022
6,Consolidated,Consolidated,NaN,Plantand equipment,Plantand equipment,assets,Low value,None
7,Balance at 1 April 2021,Consolidated,365374,Plantand equipment,Plantand equipment,assets,Low value,2021
8,Additions,Consolidated,86255,Plantand equipment,Plantand equipment,assets,Low value,None
9,Disposals,Consolidated,NaN,Plantand equipment,Plantand equipment,assets,Low value,None
10,Depreciation expense,Consolidated,"(60,638)",Plantand equipment,Plantand equipment,assets,Low value,None
11,Balance at 31 March 2022,Consolidated,390991,Plantand equipment,Plantand equipment,assets,Low value,2022
12,Consolidated,Consolidated,NaN,and fittings,Fixtures,assets,Low value,None
13,Balance at 1 April 2021,Consolidated,112265,and fittings,Fixtures,assets,Low value,2021
14,Additions,Consolidated,8789,and fittings,Fixtures,assets,Low value,None
15,Disposals,Consolidated,NaN,and fittings,Fixtures,assets,Low value,None
16,Depreciation expense,Consolidated,"(26,530)",and fittings,Fixtures,assets,Low value,None
17,Balance at 31 March 2022,Consolidated,94524,and fittings,Fixtures,assets,Low value,2022
18,Consolidated,Consolidated,NaN,vehicles,Motor,assets,Low value,None
19,Balance at 1 April 2021,Consolidated,5135623,vehicles,Motor,assets,Low value,2021
20,Additions,Consolidated,2452,vehicles,Motor,assets,Low value,None
21,Disposals,Consolidated,"(46,956)",vehicles,Motor,assets,Low value,None
22,Depreciation expense,Consolidated,"(943,835)",vehicles,Motor,assets,Low value,None
23,Balance at 31 March 2022,Consolidated,4147284,vehicles,Motor,assets,Low value,2022
24,Consolidated,Consolidated,NaN,equipment,Computer,assets,Low value,None
25,Balance at 1 April 2021,Consolidated,1160011,equipment,Computer,assets,Low value,2021
26,Additions,Consolidated,762742,equipment,Computer,assets,Low value,None
27,Disposals,Consolidated,NaN,equipment,Computer,assets,Low value,None
28,Depreciation expense,Consolidated,"(458,542)",equipment,Computer,assets,Low value,None
29,Balance at 31 March 2022,Consolidated,1464211,equipment,Computer,assets,Low value,2022
30,Consolidated,Consolidated,NaN,equipment),(Plant and,assets,Low value,None
31,Balance at 1 April 2021,Consolidated,92905,equipment),(Plant and,assets,Low value,2021
32,Additions,Consolidated,NaN,equipment),(Plant and,assets,Low value,None
33,Disposals,Consolidated,NaN,equipment),(Plant and,assets,Low value,None
34,Depreciation expense,Consolidated,"(31,909)",equipment),(Plant and,assets,Low value,None
35,Balance at 31 March 2022,Consolidated,60996,equipment),(Plant and,assets,Low value,2022
36,Consolidated,Consolidated,NaN,Total,(Plant and,assets,Low value,None
37,Balance at 1 April 2021,Consolidated,6982237,Total,(Plant and,assets,Low value,2021
38,Additions,Consolidated,912530,Total,(Plant and,assets,Low value,None
39,Disposals,Consolidated,"(46,956)",Total,(Plant and,assets,Low value,None
40,Depreciation expense,Consolidated,"(1,562,946)",Total,(Plant and,assets,Low value,None
41,Balance at 31 March 2022,Consolidated,6284865,Total,(Plant and,assets,Low value,2022

In [67]:
convert_standaradised_notes_to_column_row_year(mp.standardised_cropped_dict.get('13__5833a5d1-c09c-3154-8002-4ad74d57e34c'),years_list,mp.standard_note_meta_dict.get('13__5833a5d1-c09c-3154-8002-4ad74d57e34c'))

,rows,columns,year,value
0,Consolidated Consolidated,Low value assets Leasehold improvements,2022.0,NaN
1,Consolidated Balance at 1 April 2021,Low value assets Leasehold improvements,2021.0,116059
2,Consolidated Additions,Low value assets Leasehold improvements,2022.0,52292
3,Consolidated Disposals,Low value assets Leasehold improvements,2022.0,NaN
4,Consolidated Depreciation expense,Low value assets Leasehold improvements,2022.0,"(41,492)"
5,Consolidated Balance at 31 March 2022,Low value assets Leasehold improvements,2022.0,126859
6,Consolidated Consolidated,Low value assets Plantand equipment Plantand e...,2022.0,NaN
7,Consolidated Balance at 1 April 2021,Low value assets Plantand equipment Plantand e...,2021.0,365374
8,Consolidated Additions,Low value assets Plantand equipment Plantand e...,2022.0,86255
9,Consolidated Disposals,Low value assets Plantand equipment Plantand e...,2022.0,NaN
10,Consolidated Depreciation expense,Low value assets Plantand equipment Plantand e...,2022.0,"(60,638)"
11,Consolidated Balance at 31 March 2022,Low value assets Plantand equipment Plantand e...,2022.0,390991
12,Consolidated Consolidated,Low value assets Fixtures and fittings,2022.0,NaN
13,Consolidated Balance at 1 April 2021,Low value assets Fixtures and fittings,2021.0,112265
14,Consolidated Additions,Low value assets Fixtures and fittings,2022.0,8789
15,Consolidated Disposals,Low value assets Fixtures and fittings,2022.0,NaN
16,Consolidated Depreciation expense,Low value assets Fixtures and fittings,2022.0,"(26,530)"
17,Consolidated Balance at 31 March 2022,Low value assets Fixtures and fittings,2022.0,94524
18,Consolidated Consolidated,Low value assets Motor vehicles,2022.0,NaN
19,Consolidated Balance at 1 April 2021,Low value assets Motor vehicles,2021.0,5135623
20,Consolidated Additions,Low value assets Motor vehicles,2022.0,2452
21,Consolidated Disposals,Low value assets Motor vehicles,2022.0,"(46,956)"
22,Consolidated Depreciation expense,Low value assets Motor vehicles,2022.0,"(943,835)"
23,Consolidated Balance at 31 March 2022,Low value assets Motor vehicles,2022.0,4147284
24,Consolidated Consolidated,Low value assets Computer equipment,2022.0,NaN
25,Consolidated Balance at 1 April 2021,Low value assets Computer equipment,2021.0,1160011
26,Consolidated Additions,Low value assets Computer equipment,2022.0,762742
27,Consolidated Disposals,Low value assets Computer equipment,2022.0,NaN
28,Consolidated Depreciation expense,Low value assets Computer equipment,2022.0,"(458,542)"
29,Consolidated Balance at 31 March 2022,Low value assets Computer equipment,2022.0,1464211
30,Consolidated Consolidated,Low value assets (Plant and equipment),2022.0,NaN
31,Consolidated Balance at 1 April 2021,Low value assets (Plant and equipment),2021.0,92905
32,Consolidated Additions,Low value assets (Plant and equipment),2022.0,NaN
33,Consolidated Disposals,Low value assets (Plant and equipment),2022.0,NaN
34,Consolidated Depreciation expense,Low value assets (Plant and equipment),2022.0,"(31,909)"
35,Consolidated Balance at 31 March 2022,Low value assets (Plant and equipment),2022.0,60996
36,Consolidated Consolidated,Low value assets (Plant and Total,2022.0,NaN
37,Consolidated Balance at 1 April 2021,Low value assets (Plant and Total,2021.0,6982237
38,Consolidated Additions,Low value assets (Plant and Total,2022.0,912530
39,Consolidated Disposals,Low value assets (Plant and Total,2022.0,"(46,956)"
40,Consolidated Depreciation expense,Low value assets (Plant and Total,2022.0,"(1,562,946)"
41,Consolidated Balance at 31 March 2022,Low value assets (Plant and Total,2022.0,6284865

In [2]:
# for key,value in mp.standardised_cropped_dict.items():
#     display("standardised raw dict:= ",mp.standardised_cropped_dict.get(key))
#     conv_std_df = convert_standaradised_notes_to_column_row_year(mp.standardised_cropped_dict.get(key),years_list,mp.standard_note_meta_dict.get(key))
#     display("converted _dict : ",conv_std_df)

In [1]:
# for key,value in mp.standardised_cropped_dict.items():
#     display("standardised raw dict:= ",mp.standardised_cropped_dict.get(key))
#     conv_std_df = mp.transformed_standardised_cropped_dict.get(key)
#     display("converted _dict : ",conv_std_df)

In [6]:
mp.transformed_standardised_cropped_dict.get('13__5833a5d1-c09c-3154-8002-4ad74d57e34c')

,rows,columns,year,value
0,Consolidated Consolidated,Low value assets Leasehold improvements,2022.0,NaN
1,Consolidated Balance at 1 April 2021,Low value assets Leasehold improvements,2021.0,116059
2,Consolidated Additions,Low value assets Leasehold improvements,2022.0,52292
3,Consolidated Disposals,Low value assets Leasehold improvements,2022.0,NaN
4,Consolidated Depreciation expense,Low value assets Leasehold improvements,2022.0,"(41,492)"
5,Consolidated Balance at 31 March 2022,Low value assets Leasehold improvements,2022.0,126859
6,Consolidated Consolidated,Low value assets Plantand equipment Plantand e...,2022.0,NaN
7,Consolidated Balance at 1 April 2021,Low value assets Plantand equipment Plantand e...,2021.0,365374
8,Consolidated Additions,Low value assets Plantand equipment Plantand e...,2022.0,86255
9,Consolidated Disposals,Low value assets Plantand equipment Plantand e...,2022.0,NaN
10,Consolidated Depreciation expense,Low value assets Plantand equipment Plantand e...,2022.0,"(60,638)"
11,Consolidated Balance at 31 March 2022,Low value assets Plantand equipment Plantand e...,2022.0,390991
12,Consolidated Consolidated,Low value assets Fixtures and fittings,2022.0,NaN
13,Consolidated Balance at 1 April 2021,Low value assets Fixtures and fittings,2021.0,112265
14,Consolidated Additions,Low value assets Fixtures and fittings,2022.0,8789
15,Consolidated Disposals,Low value assets Fixtures and fittings,2022.0,NaN
16,Consolidated Depreciation expense,Low value assets Fixtures and fittings,2022.0,"(26,530)"
17,Consolidated Balance at 31 March 2022,Low value assets Fixtures and fittings,2022.0,94524
18,Consolidated Consolidated,Low value assets Motor vehicles,2022.0,NaN
19,Consolidated Balance at 1 April 2021,Low value assets Motor vehicles,2021.0,5135623
20,Consolidated Additions,Low value assets Motor vehicles,2022.0,2452
21,Consolidated Disposals,Low value assets Motor vehicles,2022.0,"(46,956)"
22,Consolidated Depreciation expense,Low value assets Motor vehicles,2022.0,"(943,835)"
23,Consolidated Balance at 31 March 2022,Low value assets Motor vehicles,2022.0,4147284
24,Consolidated Consolidated,Low value assets Computer equipment,2022.0,NaN
25,Consolidated Balance at 1 April 2021,Low value assets Computer equipment,2021.0,1160011
26,Consolidated Additions,Low value assets Computer equipment,2022.0,762742
27,Consolidated Disposals,Low value assets Computer equipment,2022.0,NaN
28,Consolidated Depreciation expense,Low value assets Computer equipment,2022.0,"(458,542)"
29,Consolidated Balance at 31 March 2022,Low value assets Computer equipment,2022.0,1464211
30,Consolidated Consolidated,Low value assets (Plant and equipment),2022.0,NaN
31,Consolidated Balance at 1 April 2021,Low value assets (Plant and equipment),2021.0,92905
32,Consolidated Additions,Low value assets (Plant and equipment),2022.0,NaN
33,Consolidated Disposals,Low value assets (Plant and equipment),2022.0,NaN
34,Consolidated Depreciation expense,Low value assets (Plant and equipment),2022.0,"(31,909)"
35,Consolidated Balance at 31 March 2022,Low value assets (Plant and equipment),2022.0,60996
36,Consolidated Consolidated,Low value assets (Plant and Total,2022.0,NaN
37,Consolidated Balance at 1 April 2021,Low value assets (Plant and Total,2021.0,6982237
38,Consolidated Additions,Low value assets (Plant and Total,2022.0,912530
39,Consolidated Disposals,Low value assets (Plant and Total,2022.0,"(46,956)"
40,Consolidated Depreciation expense,Low value assets (Plant and Total,2022.0,"(1,562,946)"
41,Consolidated Balance at 31 March 2022,Low value assets (Plant and Total,2022.0,6284865

In [11]:
tetst = mp.standard_note_meta_dict.get('8__f6d116da-1b4a-335e-a24e-3f0e2bae318e')

In [12]:
tetst

{'date_column_number': [1, 2],
 'date_row_number': [[1], [1]],
 'date_raw_text': [['2022'], ['2021']],
 'date_extracted_year': [[2022], [2021]],
 'data_first_column': 1,
 'data_first_row': 3,
 'data_particular_end_col': 0,
 'data_particular_start_row': 3,
 'header_indices': [0, 1, 2],
 'row_header_indices': [],
 'year_column_header_name': 'header_col_1'}

In [15]:
for a,b in zip(tetst['date_raw_text'],tetst['date_extracted_year']):
    print(a,b)

['2022'] [2022]
['2021'] [2021]