In [1]:
import pandas as pd
import os
from os import path
import json
from IPython.display import display

In [2]:
from process_core import mainPageProcess

/home/jayesh/anaconda3/envs/crm_syd/lib/python3.9/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [3]:
fileid = '5b030195-e834-45c5-904d-85db9cab7b0e'

In [4]:
mp = mainPageProcess()

In [5]:
cbs_dict,cpl_dict,ccf_dict,meta_dict,final_notes_dict,ref_notes_list, notes_region_meta_data,cropped_table_dict = mp.process_main_pages(fileid=fileid)

/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:57: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:57: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:57: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():

2 Cash and cash equivalents
2 Other assets
2 Derivatives
key :9__15dec667-7bcb-3a0a-8f2b-59e29b4a4114
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: 459.0, 2021: 6430.0}
df =                                       0      1      2
0                  Note 9. Other Assets    NaN    NaN
1                                   NaN   2022   2021
2                                   NaN  $'000  $'000
3   Right to acquire property (Note 19)  13809  26200
4                       Restricted Cash    459   6430
5                         Other amounts   4865   5236
6                                   NaN  19133  37866
7                               Current    459   6430
8                           Non Current  18674  31436
9  Note 10. Trade and Other Receivables    NaN    NaN
index dict = {2022: {'row_indices': [4, 7], 'col_indices': [1, 1]}, 2021: {'row_indices': [4, 7], 'col_indices': [2, 2]}}
main_page_year_values: {2022: 18674.0, 2021: 31436.0}
inside
inside
df =                                       0      1      2
0                  Note 9. Other Assets    NaN    NaN
1                                   NaN   2022   2021
2                                   NaN  $'000  $'000
3   Right to acquire property (Note 19)  13809  26200
4                       Restricted Cash    459   6430
5                         Other amounts   4865   5236
6                                   NaN  19133  37866
7                               Current    459   6430
8                           Non Current  18674  31436
9  Note 10. Trade and Other Receivables    NaN    NaN
index dict = {2022: {'row_indices': [4, 7, 8], 'col_indices': [1, 1, 1]}, 2021: {'row_indices': [4, 7, 8], 'col_indices': [2, 2, 2]}}
mod_df:                                       0      1      2
0                  Note 9. Other Assets    NaN    NaN
1                                   NaN   2022   2021
2                                   NaN  $'000  $'000
3   Right to acquire property (Note 19)  13809  26200
4                       Restricted Cash    459   6430
5                         Other amounts   4865   5236
6                                   NaN  19133  37866
7                               Current    459   6430
8                           Non Current  18674  31436
9  Note 10. Trade and Other Receivables    NaN    NaN
column_numbr_s = [1, 2], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 3) , particular_end_col: 0 ,particular_start_row: 3
header indices : [1, 2]
key :12_4_4e2a0836-6c41-313a-985d-3e56df39e0fc
 date cords : [1, 2] ,([[0], [0]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: 459.0, 2021: 6430.0}
df =                                                    0      1      2
0                                                NaN   2022   2021
1                                                NaN  $'000  $'000
2  Commodity swap contracts designated as hedging...    NaN    NaN
3                                         Fair Value  66944  31054
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
main_page_year_values: {2022: 67091.0, 2021: 32546.0}
inside
inside
df =                                                    0      1      2
0                                                NaN   2022   2021
1                                                NaN  $'000  $'000
2  Commodity swap contracts designated as hedging...    NaN    NaN
3                                         Fair Value  66944  31054
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
main_page_year_values: {2022: 67091.0, 2021: 32546.0}
inside
inside
df =                                                    0      1      2
0                                                NaN   2022   2021
1                                                NaN  $'000  $'000
2  Commodity swap contracts designated as hedging...    NaN    NaN
3                                         Fair Value  66944  31054
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
main_page_year_values: {2022: 420677.0, 2021: 291760.0}
inside
inside
df =                                                    0      1      2
0                                                NaN   2022   2021
1                                                NaN  $'000  $'000
2  Commodity swap contracts designated as hedging...    NaN    NaN
3                                         Fair Value  66944  31054
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
main_page_year_values: {2022: 7500.0, 2021: 61500.0}
inside
inside
df =                                                    0      1      2
0                                                NaN   2022   2021
1                                                NaN  $'000  $'000
2  Commodity swap contracts designated as hedging...    NaN    NaN
3                                         Fair Value  66944  31054
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
mod_df:                                                    0      1      2
0                                                NaN   2022   2021
1                                                NaN  $'000  $'000
2  Commodity swap contracts designated as hedging...    NaN    NaN
3                                         Fair Value  66944  31054
column_numbr_s = [-1], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[0], [0]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 3) , particular_end_col: 0 ,particular_start_row: 2
header indices : [0, 1]
key :12_3_e82467e4-d506-33c2-9d5e-35bf54eec865
 date cords : [3, 4] ,([[0], [0]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: 459.0, 2021: 6430.0}
df =                                      0               1         2       3  \
0                                  NaN   Interest Rate  Maturity    2022
1         Loans and borrowings current               %       NaN   $'000
2                           Bank Loans  BBSW/LIBOR+0.5      2023  335742
3                                  NaN       3.66-4.29      2023     NaN
4  Loans from related parties, Note 23        BBSW+0.6      2023     NaN
5                                  NaN       HIBOR+0.6       NaN   84935
6                                  NaN             NaN       NaN  420677
7     Loans and borrowings non current             NaN       NaN     NaN
8                           Bank Loans            2.48      2024    7500
9                                  NaN             NaN       NaN    7500

        4
0    2021
1   $'000
2  222735
3     NaN
4     NaN
5   69025
6  291760
7     NaN
8   61500
9   61500
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
main_page_year_values: {2022: 67091.0, 2021: 32546.0}
inside
inside
df =                                      0               1         2       3  \
0                                  NaN   Interest Rate  Maturity    2022
1         Loans and borrowings current               %       NaN   $'000
2                           Bank Loans  BBSW/LIBOR+0.5      2023  335742
3                                  NaN       3.66-4.29      2023     NaN
4  Loans from related parties, Note 23        BBSW+0.6      2023     NaN
5                                  NaN       HIBOR+0.6       NaN   84935
6                                  NaN             NaN       NaN  420677
7     Loans and borrowings non current             NaN       NaN     NaN
8                           Bank Loans            2.48      2024    7500
9                                  NaN             NaN       NaN    7500

        4
0    2021
1   $'000
2  222735
3     NaN
4     NaN
5   69025
6  291760
7     NaN
8   61500
9   61500
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
main_page_year_values: {2022: 67091.0, 2021: 32546.0}
inside
inside
df =                                      0               1         2       3  \
0                                  NaN   Interest Rate  Maturity    2022
1         Loans and borrowings current               %       NaN   $'000
2                           Bank Loans  BBSW/LIBOR+0.5      2023  335742
3                                  NaN       3.66-4.29      2023     NaN
4  Loans from related parties, Note 23        BBSW+0.6      2023     NaN
5                                  NaN       HIBOR+0.6       NaN   84935
6                                  NaN             NaN       NaN  420677
7     Loans and borrowings non current             NaN       NaN     NaN
8                           Bank Loans            2.48      2024    7500
9                                  NaN             NaN       NaN    7500

        4
0    2021
1   $'000
2  222735
3     NaN
4     NaN
5   69025
6  291760
7     NaN
8   61500
9   61500
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
main_page_year_values: {2022: 420677.0, 2021: 291760.0}
inside
inside
df =                                      0               1         2       3  \
0                                  NaN   Interest Rate  Maturity    2022
1         Loans and borrowings current               %       NaN   $'000
2                           Bank Loans  BBSW/LIBOR+0.5      2023  335742
3                                  NaN       3.66-4.29      2023     NaN
4  Loans from related parties, Note 23        BBSW+0.6      2023     NaN
5                                  NaN       HIBOR+0.6       NaN   84935
6                                  NaN             NaN       NaN  420677
7     Loans and borrowings non current             NaN       NaN     NaN
8                           Bank Loans            2.48      2024    7500
9                                  NaN             NaN       NaN    7500

        4
0    2021
1   $'000
2  222735
3     NaN
4     NaN
5   69025
6  291760
7     NaN
8   61500
9   61500
index dict = {2022: {'row_indices': [6], 'col_indices': [3]}, 2021: {'row_indices': [6], 'col_indices': [4]}}
main_page_year_values: {2022: 7500.0, 2021: 61500.0}
inside
inside
df =                                      0               1         2       3  \
0                                  NaN   Interest Rate  Maturity    2022
1         Loans and borrowings current               %       NaN   $'000
2                           Bank Loans  BBSW/LIBOR+0.5      2023  335742
3                                  NaN       3.66-4.29      2023     NaN
4  Loans from related parties, Note 23        BBSW+0.6      2023     NaN
5                                  NaN       HIBOR+0.6       NaN   84935
6                                  NaN             NaN       NaN  420677
7     Loans and borrowings non current             NaN       NaN     NaN
8                           Bank Loans            2.48      2024    7500
9                                  NaN             NaN       NaN    7500

        4
0    2021
1   $'000
2  222735
3     NaN
4     NaN
5   69025
6  291760
7     NaN
8   61500
9   61500
index dict = {2022: {'row_indices': [6, 8, 9], 'col_indices': [3, 3, 3]}, 2021: {'row_indices': [6, 8, 9], 'col_indices': [4, 4, 4]}}
mod_df:                                      0               1         2       3  \
0                                  NaN   Interest Rate  Maturity    2022
1         Loans and borrowings current               %       NaN   $'000
2                           Bank Loans  BBSW/LIBOR+0.5      2023  335742
3                                  NaN       3.66-4.29      2023     NaN
4  Loans from related parties, Note 23        BBSW+0.6      2023     NaN
5                                  NaN       HIBOR+0.6       NaN   84935
6                                  NaN             NaN       NaN  420677
7     Loans and borrowings non current             NaN       NaN     NaN
8                           Bank Loans            2.48      2024    7500
9                                  NaN             NaN       NaN    7500

        4
0    2021
1   $'000
2  222735
3     NaN
4     NaN
5   69025
6  291760
7     NaN
8   61500
9   61500
column_numbr_s = [3, 4], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [3, 4] ,([[0], [0]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (2, 2) , particular_end_col: 2 ,particular_start_row: 2
header indices : [0, 1]
key :10__15dec667-7bcb-3a0a-8f2b-59e29b4a4114
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: 318294.0, 2021: 318275.0}
df =                                             0       1       2
0        Note 10. Trade and Other Receivables     NaN     NaN
1                                         NaN    2022    2021
2                                         NaN   $'000   $'000
3              Receivables from third parties  318294  318236
4  Receivables from related parties (Note 23)     NaN      39
5                 Trade and Other Receivables  318294  318275
index dict = {2022: {'row_indices': [3, 5], 'col_indices': [1, 1]}, 2021: {'row_indices': [5], 'col_indices': [2]}}
mod_df:                                             0       1       2
0        Note 10. Trade and Other Receivables     NaN     NaN
1                                         NaN    2022    2021
2                                         NaN   $'000   $'000
3              Receivables from third parties  318294  318236
4  Receivables from related parties (Note 23)     NaN      39
5                 Trade and Other Receivables  318294  318275
column_numbr_s = [1, 2], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 3) , particular_end_col: 0 ,particular_start_row: 3
header indices : [1, 2]
key :11__b07a4dd1-eaaa-3d31-887b-6c34cc1db6d9
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: 447083.0, 2021: 421487.0}
df =                                                  0         1         2
0                             Note 11. Inventories       NaN       NaN
1                                              NaN      2022      2021
2   At the lower of cost and net realisable value:     $'000     $'000
3                                   Raw. materials    137246    128639
4                  Provision for impairment losses   (5,370)   (5,221)
5                                Net raw materials    131876    123418
6                               Engineering stores    119685    105645
7                  Provision for impairment losses  (34,800)  (13,448)
8                           Net engineering stores     84885     92197
9                                 Work in progress     32524     27892
10                                  Finished goods    205712    186703
11                 Provision for impairment losses   (7,914)   (8,723)
12                              Net finished goods    197798    177980
13                               Total inventories    447083    421487
index dict = {2022: {'row_indices': [13], 'col_indices': [1]}, 2021: {'row_indices': [13], 'col_indices': [2]}}
mod_df:                                                  0         1         2
0                             Note 11. Inventories       NaN       NaN
1                                              NaN      2022      2021
2   At the lower of cost and net realisable value:     $'000     $'000
3                                   Raw. materials    137246    128639
4                  Provision for impairment losses   (5,370)   (5,221)
5                                Net raw materials    131876    123418
6                               Engineering stores    119685    105645
7                  Provision for impairment losses  (34,800)  (13,448)
8                           Net engineering stores     84885     92197
9                                 Work in progress     32524     27892
10                                  Finished goods    205712    186703
11                 Provision for impairment losses   (7,914)   (8,723)
12                              Net finished goods    197798    177980
13                               Total inventories    447083    421487
column_numbr_s = [1, 2], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 3) , particular_end_col: 0 ,particular_start_row: 3
header indices : [1, 2]
key :13__a6b790ec-f74d-3492-b651-2a5138182e7c
 date cords : [] ,([], [], [])
main_page_year_values: {2022: 1547501.0, 2021: 1758576.0}
df =                                    0                         1  \
0                                NaN  Freehold Land &Buildings
1                                NaN                     $'000
2                  Cost or valuation                       NaN
3                  At 1 January 2021                    549576
4                          Additions                       NaN
5                          Disposals                       NaN
6               Settlements from Auc                     22152
7                     FX Revaluation                       153
8                 At31 December 2021                    571881
9                          Additions                       NaN
10                         Disposals                     (419)
11              Settlements from Auc                     12020
12                    FX Revaluation                     (342)
13                At31 December 2022                    583140
14                      Depreciation                       NaN
15                  At1 January 2021                    122100
16  Depreciation charge for the year                     18297
17                         Disposals                       NaN
18                    FX Revaluation                        10
19                At31 December 2021                    140407
20  Depreciation charge for the year                     13194
21                        Impairment                       NaN
22                         Disposals                     (398)
23                    FX Revaluation                      (31)
24                At31 December 2022                    153172
25                    Net book value                       NaN
26                At31 December 2022                    429968
27               At 31 December 2021                    431474

                    2                          3                4         5
0   Plant & Machinery  Assets under Construction  Other Equipment     Total
1               $'000                      $'000            $'000     $'000
2                 NaN                        NaN              NaN       NaN
3             3081607                      66902              208   3698293
4                 NaN                     117580              NaN    117580
5            (11,852)                      (213)              NaN  (12,065)
6               54401                   (76,553)              NaN       NaN
7                 444                         66              NaN       663
8             3124600                     107782              208   3804471
9                 NaN                     104026              NaN    104026
10           (12,132)                    (1,263)              NaN  (13,814)
11              87520                   (99,540)              NaN       NaN
12            (1,020)                      (260)              NaN   (1,622)
13            3198968                     110745              208   3893061

/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:212: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:354: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:212: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:354: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:212: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:354: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:212: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:354: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:212: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:354: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:212: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:354: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:595: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:212: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:354: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:595: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():

data_row_coords: (1, 4) , particular_end_col: 0 ,particular_start_row: 3
header indices : [0, 1, 2]
key :16__57567ee8-4b97-3ade-9a4c-d43f4562bd93
 date cords : [1, 2] ,([[0], [0]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: 13303.0, 2021: 13669.0}
df =                                        0         1         2
0                                    NaN      2022      2021
1                                    NaN     $'000     $'000
2             Defined benefit obligation  (21,328)  (26,729)
3                   Fair value of assets     34631     40398
4  Net defined benefit asset/(liability)     13303     13669
5                          Benefits paid   (4,579)   (4,668)
index dict = {2022: {'row_indices': [4], 'col_indices': [1]}, 2021: {'row_indices': [4], 'col_indices': [2]}}
mod_df:                                        0         1         2
0                                    NaN      2022      2021
1                                    NaN     $'000     $'000
2             Defined benefit obligation  (21,328)  (26,729)
3                   Fair value of assets     34631     40398
4  Net defined benefit asset/(liability)     13303     13669
5                          Benefits paid   (4,579)   (4,668)
column_numbr_s = [1, 2], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[0], [0]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 2) , particular_end_col: 0 ,particular_start_row: 2
header indices : [0, 1]
key :16__f23be0aa-fbd2-3dd5-9b40-fe27a4481337
 date cords : [1, 4] ,([[0], [0]], [['1 January 2022'], ['31 December 2022']], [[2022], [2022]])
main_page_year_values: {2022: 13303.0, 2021: 13669.0}
df =                                        0               1        2        3  \
0                                    NaN  1 January 2022  Changes     Paid
1                                    NaN           $'000    $'000    $'000
2             Defined benefit obligation        (26,729)      822     4579
3              Fair value of plan assets           40398  (1,188)  (4,579)
4  Net defined benefit asset/(liability)           13669    (366)      NaN

                  4
0  31 December 2022
1             $'000
2          (21,328)
3             34631
4             13303
index dict = {2022: {'row_indices': [4], 'col_indices': [4]}, 2021: {'row_indices': [4], 'col_indices': [1]}}
mod_df:                                        0               1        2        3  \
0                                    NaN  1 January 2022  Changes     Paid
1                                    NaN           $'000    $'000    $'000
2             Defined benefit obligation        (26,729)      822     4579
3              Fair value of plan assets           40398  (1,188)  (4,579)
4  Net defined benefit asset/(liability)           13669    (366)      NaN

                  4
0  31 December 2022
1             $'000
2          (21,328)
3             34631
4             13303
column_numbr_s = [1, 4], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 4] ,([[0], [0]], [['1 January 2022'], ['31 December 2022']], [[2022], [2022]])
data_row_coords: (1, 2) , particular_end_col: 0 ,particular_start_row: 2
header indices : [0, 1]
key :16__f7581c16-3e85-3eac-96f9-468bc2d673ae
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: 13303.0, 2021: 13669.0}
df =                                                    0      1      2
0  The fair values of each class of plan assets a...    NaN    NaN
1                                                NaN   2022   2021
2                                                NaN  $'000  $'000
3                                 Equity Instruments  12813  14947
4                                   Debt Instruments   7619   8888
5                                           Property   2078   3232
6                          Cash and cash equivalents   2078   3232
7                                       Alternatives   7965   8080
8                                              Other   2078   2019
9                               Fair value of assets  34631  40398
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
mod_df:                                                    0      1      2
0  The fair values of each class of plan assets a...    NaN    NaN
1                                                NaN   2022   2021
2                                                NaN  $'000  $'000
3                                 Equity Instruments  12813  14947
4                                   Debt Instruments   7619   8888
5                                           Property   2078   3232
6                          Cash and cash equivalents   2078   3232
7                                       Alternatives   7965   8080
8                                              Other   2078   2019
9                               Fair value of assets  34631  40398
column_numbr_s = [-1], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 3) , particular_end_col: 0 ,particular_start_row: 3
header indices : [1, 2]
key :16__b0c5404f-4b7d-3cb4-b44f-732e79475e12
 date cords : [1, 2] ,([[0], [0]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: 13303.0, 2021: 13669.0}
df =                          0     1     2
0                      NaN  2022  2021
1                      NaN     %     %
2            Discount rate  5.25  2.50
3  Future salary increases  2.50  2.50
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
mod_df:                          0     1     2
0                      NaN  2022  2021
1                      NaN     %     %
2            Discount rate  5.25  2.50
3  Future salary increases  2.50  2.50
column_numbr_s = [-1], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[0], [0]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 2) , particular_end_col: 0 ,particular_start_row: 2
header indices : [0, 1]
key :18__cb2186ed-bd2b-32ed-b4fd-a82a9eac7ad2
 date cords : [] ,([], [], [])
main_page_year_values: {2022: 132597.0, 2021: 130776.0}
df =                           0                  1              2         3  \
0                       NaN  Employee Benefits  Environmental     Other
1                       NaN              $'000          $'000     $'000
2         At 1 January 2022             126840          22335     20861
3   Arising during the year               5545           2465     28739
4                  Utilised            (5,005)        (1,968)  (22,729)
5   Unused Amounts Reversed            (2,557)            NaN   (1,021)
6        At31 December 2022             124823          22832     25850
7                   Current             118775           4707      9115
8               Non Current               6048          18125     16735
9                       NaN           Employee            NaN       NaN
10                      NaN           Benefits  Environmental     Other
11                      NaN              $'000          $'000     $'000
12         At1 January 2021             123920          17224     19791
13  Arising during the year              24619           5871      4666
14                 Utilised           (21,115)          (760)   (2,526)
15  Unused Amounts Reversed              (584)            NaN   (1,070)
16       At31 December 2021             126840          22335     20861
17                  Current             115567           3707     11502
18              Non Current              11273          18628      9359

           4
0      Total
1      $'000
2     170036
3      36749
4   (29,702)
5    (3,578)
6     173505
7     132597
8      40908
9        NaN
10     Total
11     $'000
12    160935
13     35156
14  (24,401)
15   (1,654)
16    170036
17    130776
18     39260
index dict = {2022: {'row_indices': [7], 'col_indices': [4]}, 2021: {'row_indices': [17], 'col_indices': [4]}}
main_page_year_values: {2022: 40908.0, 2021: 39260.0}
inside
inside
df =                           0                  1              2         3  \
0                       NaN  Employee Benefits  Environmental     Other
1                       NaN              $'000          $'000     $'000
2         At 1 January 2022             126840          22335     20861
3   Arising during the year               5545           2465     28739
4                  Utilised            (5,005)        (1,968)  (22,729)
5   Unused Amounts Reversed            (2,557)            NaN   (1,021)
6        At31 December 2022             124823          22832     25850
7                   Current             118775           4707      9115
8               Non Current               6048          18125     16735
9                       NaN           Employee            NaN       NaN
10                      NaN           Benefits  Environmental     Other
11                      NaN              $'000          $'000     $'000
12         At1 January 2021             123920          17224     19791
13  Arising during the year              24619           5871      4666
14                 Utilised           (21,115)          (760)   (2,526)
15  Unused Amounts Reversed              (584)            NaN   (1,070)
16       At31 December 2021             126840          22335     20861
17                  Current             115567           3707     11502
18              Non Current              11273          18628      9359

           4
0      Total
1      $'000
2     170036
3      36749
4   (29,702)
5    (3,578)
6     173505
7     132597
8      40908
9        NaN
10     Total
11     $'000
12    160935
13     35156
14  (24,401)
15   (1,654)
16    170036
17    130776
18     39260
index dict = {2022: {'row_indices': [7, 8], 'col_indices': [4, 4]}, 2021: {'row_indices': [17, 18], 'col_indices': [4, 4]}}
mod_df:                           0                  1              2         3  \
0                       NaN  Employee Benefits  Environmental     Other
1                       NaN              $'000          $'000     $'000
2         At 1 January 2022             126840          22335     20861
3   Arising during the year               5545           2465     28739
4                  Utilised            (5,005)        (1,968)  (22,729)
5   Unused Amounts Reversed            (2,557)            NaN   (1,021)
6        At31 December 2022             124823          22832     25850
7               2022Current             118775           4707      9115
8           2022Non Current               6048          18125     16735
9                       NaN           Employee            NaN       NaN
10                      NaN           Benefits  Environmental     Other
11                      NaN              $'000          $'000     $'000
12         At1 January 2021             123920          17224     19791
13  Arising during the year              24619           5871      4666
14                 Utilised           (21,115)          (760)   (2,526)
15  Unused Amounts Reversed              (584)            NaN   (1,070)
16       At31 December 2021             126840          22335     20861
17              2021Current             115567           3707     11502
18          2021Non Current              11273          18628      9359

           4
0      Total
1      $'000
2     170036
3      36749
4   (29,702)
5    (3,578)
6     173505
7     132597
8      40908
9        NaN
10     Total
11     $'000
12    160935
13     35156
14  (24,401)
15   (1,654)
16    170036
17    130776
18     39260
column_numbr_s = [0, 0, 0, 0], row_number_s = [[7], [8], [17], [18]], raw_text_s = [['20222022Current'], ['20222022Non Current'], ['20212021Current'], ['20212021Non Current']] , extracted_year_s = [[2022], [2022], [2021], [2021]]
 date cords : [0, 0, 0, 0] ,([[7], [8], [17], [18]], [['20222022Current'], ['20222022Non Current'], ['20212021Current'], ['20212021Non Current']], [[2022], [2022], [2021], [2021]])
data_row_coords: (1, 2) , particular_end_col: 0 ,particular_start_row: 2
header indices : [0, 1]
key :19__f9438de7-7525-3abb-8e8d-ce9c85f983ab
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: 17000.0, 2021: 32200.0}
df =                                                    0      1      2
0                           Note 19. Other Creditors    NaN    NaN
1                                                NaN   2022   2021
2                                                NaN  $'000  $'000
3  Deferred Consideration on acquired property (N...  17000  32200
4                                      Other amounts    298    543
5                                                NaN  17298  32743
6                                            Current  17000  32200
7                                        Non Current    298    543
index dict = {2022: {'row_indices': [3, 6], 'col_indices': [1, 1]}, 2021: {'row_indices': [3, 6], 'col_indices': [2, 2]}}
main_page_year_values: {2022: 298.0, 2021: 543.0}
inside
inside
df =                                                    0      1      2
0                           Note 19. Other Creditors    NaN    NaN
1                                                NaN   2022   2021
2                                                NaN  $'000  $'000
3  Deferred Consideration on acquired property (N...  17000  32200
4                                      Other amounts    298    543
5                                                NaN  17298  32743
6                                            Current  17000  32200
7                                        Non Current    298    543
index dict = {2022: {'row_indices': [3, 6, 4, 7], 'col_indices': [1, 1, 1, 1]}, 2021: {'row_indices': [3, 6, 4, 7], 'col_indices': [2, 2, 2, 2]}}
mod_df:                                                    0      1      2
0                           Note 19. Other Creditors    NaN    NaN
1                                                NaN   2022   2021
2                                                NaN  $'000  $'000
3  Deferred Consideration on acquired property (N...  17000  32200
4                                      Other amounts    298    543
5                                                NaN  17298  32743
6                                            Current  17000  32200
7                                        Non Current    298    543
column_numbr_s = [1, 2], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 3) , particular_end_col: 0 ,particular_start_row: 3
header indices : [1, 2]
key :4_1_89f8ae0d-3a18-31d4-854c-a500630ac583
 date cords : [1, 2] ,([[0], [0]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: 2111497.0, 2021: 1967140.0}
df =                                              0        1        2
0                                          NaN     2022     2021
1                      Type of Good or Service    $'000    $'000
2                            Paper & Packaging  2078456  1933271
3                       Envelopes & Stationery    31830    31733
4                                         Pulp     1211     2136
5  Total Revenue from Contracts with Customers  2111497  1967140
index dict = {2022: {'row_indices': [5], 'col_indices': [1]}, 2021: {'row_indices': [5], 'col_indices': [2]}}
mod_df:                                              0        1        2
0                                          NaN     2022     2021
1                      Type of Good or Service    $'000    $'000
2                            Paper & Packaging  2078456  1933271
3                       Envelopes & Stationery    31830    31733
4                                         Pulp     1211     2136
5  Total Revenue from Contracts with Customers  2111497  1967140
column_numbr_s = [1, 2], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[0], [0]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 2) , particular_end_col: 0 ,particular_start_row: 2
header indices : [0, 1]

/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:212: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:354: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:212: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:354: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:212: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:354: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:212: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:354: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:212: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:354: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:595: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:212: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:354: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:212: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:354: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:212: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:354: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:212: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:354: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')

key :6_1_1d83144c-6053-3e57-806d-1e5c971d55b8
 date cords : [] ,([], [], [])
main_page_year_values: {2022: 19111.0, 2021: 24236.0}
df =                                                  0      1      2
0                                              NaN  $'000  $'000
1                                       Commission   1769   1907
2                       Net foreign exchange gains    NaN  10766
3                               Insurance proceeds    NaN   6500
4  Proceeds from recission of contract for Revesby   8340    NaN
5                           Other operating income   9002   5063
6                               Total other income  19111  24236
7          6.2 General and Administration expenses    NaN    NaN
index dict = {2022: {'row_indices': [6], 'col_indices': [1]}, 2021: {'row_indices': [6], 'col_indices': [2]}}
main_page_year_values: {2022: -33594.0, 2021: -46809.0}
inside
inside
df =                                                  0      1      2
0                                              NaN  $'000  $'000
1                                       Commission   1769   1907
2                       Net foreign exchange gains    NaN  10766
3                               Insurance proceeds    NaN   6500
4  Proceeds from recission of contract for Revesby   8340    NaN
5                           Other operating income   9002   5063
6                               Total other income  19111  24236
7          6.2 General and Administration expenses    NaN    NaN
index dict = {2022: {'row_indices': [6], 'col_indices': [1]}, 2021: {'row_indices': [6], 'col_indices': [2]}}
main_page_year_values: {2022: -269.0, 2021: -355.0}
inside
inside
df =                                                  0      1      2
0                                              NaN  $'000  $'000
1                                       Commission   1769   1907
2                       Net foreign exchange gains    NaN  10766
3                               Insurance proceeds    NaN   6500
4  Proceeds from recission of contract for Revesby   8340    NaN
5                           Other operating income   9002   5063
6                               Total other income  19111  24236
7          6.2 General and Administration expenses    NaN    NaN
index dict = {2022: {'row_indices': [6], 'col_indices': [1]}, 2021: {'row_indices': [6], 'col_indices': [2]}}
main_page_year_values: {2022: -216280.0, 2021: 0.0}
inside
inside
df =                                                  0      1      2
0                                              NaN  $'000  $'000
1                                       Commission   1769   1907
2                       Net foreign exchange gains    NaN  10766
3                               Insurance proceeds    NaN   6500
4  Proceeds from recission of contract for Revesby   8340    NaN
5                           Other operating income   9002   5063
6                               Total other income  19111  24236
7          6.2 General and Administration expenses    NaN    NaN
index dict = {2022: {'row_indices': [6], 'col_indices': [1]}, 2021: {'row_indices': [6], 'col_indices': [2]}}
main_page_year_values: {2022: 977.0, 2021: 64.0}
inside
inside
df =                                                  0      1      2
0                                              NaN  $'000  $'000
1                                       Commission   1769   1907
2                       Net foreign exchange gains    NaN  10766
3                               Insurance proceeds    NaN   6500
4  Proceeds from recission of contract for Revesby   8340    NaN
5                           Other operating income   9002   5063
6                               Total other income  19111  24236
7          6.2 General and Administration expenses    NaN    NaN
index dict = {2022: {'row_indices': [6], 'col_indices': [1]}, 2021: {'row_indices': [6], 'col_indices': [2]}}
main_page_year_values: {2022: -18711.0, 2021: -13727.0}
inside
inside
df =                                                  0      1      2
0                                              NaN  $'000  $'000
1                                       Commission   1769   1907
2                       Net foreign exchange gains    NaN  10766
3                               Insurance proceeds    NaN   6500
4  Proceeds from recission of contract for Revesby   8340    NaN
5                           Other operating income   9002   5063
6                               Total other income  19111  24236
7          6.2 General and Administration expenses    NaN    NaN
index dict = {2022: {'row_indices': [6], 'col_indices': [1]}, 2021: {'row_indices': [6], 'col_indices': [2]}}
[nan nan nan]
mod_df:                                                  0      1      2
0                                              NaN   2022   2021
1                                              NaN  $'000  $'000
2                                       Commission   1769   1907
3                       Net foreign exchange gains    NaN  10766
4                               Insurance proceeds    NaN   6500
5  Proceeds from recission of contract for Revesby   8340    NaN
6                           Other operating income   9002   5063
7                               Total other income  19111  24236
8          6.2 General and Administration expenses    NaN    NaN
column_numbr_s = [1, 2], row_number_s = [[0], [0]], raw_text_s = [['2022'], ['2021']] , extracted_year_s = [[2022], [2021]]
 date cords : [1, 2] ,([[0], [0]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 2) , particular_end_col: 0 ,particular_start_row: 2
header indices : [0, 1]
key :6_2_1d83144c-6053-3e57-806d-1e5c971d55b8
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: 19111.0, 2021: 24236.0}
df =                                            0         1         2
0    6.2 General and Administration expenses       NaN       NaN
1                                        NaN      2022      2021
2                                        NaN     $'000     $'000
3                Net foreign exchange losses     (481)       NaN
4                Depreciation & amortisation  (18,362)  (19,802)
5                     Trading expenses other  (14,751)  (27,007)
6  Total general and administration expenses  (33,594)  (46,809)
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
main_page_year_values: {2022: -33594.0, 2021: -46809.0}
inside
inside
df =                                            0         1         2
0    6.2 General and Administration expenses       NaN       NaN
1                                        NaN      2022      2021
2                                        NaN     $'000     $'000
3                Net foreign exchange losses     (481)       NaN
4                Depreciation & amortisation  (18,362)  (19,802)
5                     Trading expenses other  (14,751)  (27,007)
6  Total general and administration expenses  (33,594)  (46,809)
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
main_page_year_values: {2022: -269.0, 2021: -355.0}
inside
inside
df =                                            0         1         2
0    6.2 General and Administration expenses       NaN       NaN
1                                        NaN      2022      2021
2                                        NaN     $'000     $'000
3                Net foreign exchange losses     (481)       NaN
4                Depreciation & amortisation  (18,362)  (19,802)
5                     Trading expenses other  (14,751)  (27,007)
6  Total general and administration expenses  (33,594)  (46,809)
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
main_page_year_values: {2022: -216280.0, 2021: 0.0}
inside
inside
df =                                            0         1         2
0    6.2 General and Administration expenses       NaN       NaN
1                                        NaN      2022      2021
2                                        NaN     $'000     $'000
3                Net foreign exchange losses     (481)       NaN
4                Depreciation & amortisation  (18,362)  (19,802)
5                     Trading expenses other  (14,751)  (27,007)
6  Total general and administration expenses  (33,594)  (46,809)
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
main_page_year_values: {2022: 977.0, 2021: 64.0}
inside
inside
df =                                            0         1         2
0    6.2 General and Administration expenses       NaN       NaN
1                                        NaN      2022      2021
2                                        NaN     $'000     $'000
3                Net foreign exchange losses     (481)       NaN
4                Depreciation & amortisation  (18,362)  (19,802)
5                     Trading expenses other  (14,751)  (27,007)
6  Total general and administration expenses  (33,594)  (46,809)
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
main_page_year_values: {2022: -18711.0, 2021: -13727.0}
inside
inside
df =                                            0         1         2
0    6.2 General and Administration expenses       NaN       NaN
1                                        NaN      2022      2021
2                                        NaN     $'000     $'000
3                Net foreign exchange losses     (481)       NaN
4                Depreciation & amortisation  (18,362)  (19,802)
5                     Trading expenses other  (14,751)  (27,007)
6  Total general and administration expenses  (33,594)  (46,809)
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
mod_df:                                            0         1         2
0    6.2 General and Administration expenses       NaN       NaN
1                                        NaN      2022      2021
2                                        NaN     $'000     $'000
3                Net foreign exchange losses     (481)       NaN
4                Depreciation & amortisation  (18,362)  (19,802)
5                     Trading expenses other  (14,751)  (27,007)
6  Total general and administration expenses  (33,594)  (46,809)
column_numbr_s = [-1], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 3) , particular_end_col: 0 ,particular_start_row: 3
header indices : [1, 2]
key :6_4_8c5b6c96-32cf-3f0d-82b1-e0dbf22c2367
 date cords : [1, 2] ,([[0], [0]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: 19111.0, 2021: 24236.0}
df =                                               0          1      2
0                            6.4 Once off costs       2022   2021
1                                           NaN      $'000  $'000
2   Impairment of plant and equipment (Note 13)  (195,424)    NaN
3  Increase in provision for engineering spares   (17,601)    NaN
4                Impairment of prepaid expenses    (3,255)    NaN
5                          Total once off costs  (216,280)    NaN
6                            6.5 Finance income       2022   2021
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
main_page_year_values: {2022: -33594.0, 2021: -46809.0}
inside
inside
df =                                               0          1      2
0                            6.4 Once off costs       2022   2021
1                                           NaN      $'000  $'000
2   Impairment of plant and equipment (Note 13)  (195,424)    NaN
3  Increase in provision for engineering spares   (17,601)    NaN
4                Impairment of prepaid expenses    (3,255)    NaN
5                          Total once off costs  (216,280)    NaN
6                            6.5 Finance income       2022   2021
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
main_page_year_values: {2022: -269.0, 2021: -355.0}
inside
inside
df =                                               0          1      2
0                            6.4 Once off costs       2022   2021
1                                           NaN      $'000  $'000
2   Impairment of plant and equipment (Note 13)  (195,424)    NaN
3  Increase in provision for engineering spares   (17,601)    NaN
4                Impairment of prepaid expenses    (3,255)    NaN
5                          Total once off costs  (216,280)    NaN
6                            6.5 Finance income       2022   2021
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
main_page_year_values: {2022: -216280.0, 2021: 0.0}
inside
inside
df =                                               0          1      2
0                            6.4 Once off costs       2022   2021
1                                           NaN      $'000  $'000
2   Impairment of plant and equipment (Note 13)  (195,424)    NaN
3  Increase in provision for engineering spares   (17,601)    NaN
4                Impairment of prepaid expenses    (3,255)    NaN
5                          Total once off costs  (216,280)    NaN
6                            6.5 Finance income       2022   2021
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
main_page_year_values: {2022: 977.0, 2021: 64.0}
inside
inside
df =                                               0          1      2
0                            6.4 Once off costs       2022   2021
1                                           NaN      $'000  $'000
2   Impairment of plant and equipment (Note 13)  (195,424)    NaN
3  Increase in provision for engineering spares   (17,601)    NaN
4                Impairment of prepaid expenses    (3,255)    NaN
5                          Total once off costs  (216,280)    NaN
6                            6.5 Finance income       2022   2021
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
main_page_year_values: {2022: -18711.0, 2021: -13727.0}
inside
inside
df =                                               0          1      2
0                            6.4 Once off costs       2022   2021
1                                           NaN      $'000  $'000
2   Impairment of plant and equipment (Note 13)  (195,424)    NaN
3  Increase in provision for engineering spares   (17,601)    NaN
4                Impairment of prepaid expenses    (3,255)    NaN
5                          Total once off costs  (216,280)    NaN
6                            6.5 Finance income       2022   2021
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
mod_df:                                               0          1      2
0                            6.4 Once off costs       2022   2021
1                                           NaN      $'000  $'000
2   Impairment of plant and equipment (Note 13)  (195,424)    NaN
3  Increase in provision for engineering spares   (17,601)    NaN
4                Impairment of prepaid expenses    (3,255)    NaN
5                          Total once off costs  (216,280)    NaN
6                            6.5 Finance income       2022   2021
column_numbr_s = [-1], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[0], [0]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 2) , particular_end_col: 0 ,particular_start_row: 2
header indices : [0, 1]
key :6_5_8c5b6c96-32cf-3f0d-82b1-e0dbf22c2367
 date cords : [1, 2] ,([[0], [0]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: 19111.0, 2021: 24236.0}
df =                       0      1      2
0    6.5 Finance income   2022   2021
1                   NaN  $'000  $'000
2       Interest income    977     64
3  Total finance income    977     64
4  6.6 Finance expenses   2022   2021
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
main_page_year_values: {2022: -33594.0, 2021: -46809.0}
inside
inside
df =                       0      1      2
0    6.5 Finance income   2022   2021
1                   NaN  $'000  $'000
2       Interest income    977     64
3  Total finance income    977     64
4  6.6 Finance expenses   2022   2021
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
main_page_year_values: {2022: -269.0, 2021: -355.0}
inside
inside
df =                       0      1      2
0    6.5 Finance income   2022   2021
1                   NaN  $'000  $'000
2       Interest income    977     64
3  Total finance income    977     64
4  6.6 Finance expenses   2022   2021
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
main_page_year_values: {2022: -216280.0, 2021: 0.0}
inside
inside
df =                       0      1      2
0    6.5 Finance income   2022   2021
1                   NaN  $'000  $'000
2       Interest income    977     64
3  Total finance income    977     64
4  6.6 Finance expenses   2022   2021
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
main_page_year_values: {2022: 977.0, 2021: 64.0}
inside
inside
df =                       0      1      2
0    6.5 Finance income   2022   2021
1                   NaN  $'000  $'000
2       Interest income    977     64
3  Total finance income    977     64
4  6.6 Finance expenses   2022   2021
index dict = {2022: {'row_indices': [2, 3], 'col_indices': [1, 1]}, 2021: {'row_indices': [2, 3], 'col_indices': [2, 2]}}
main_page_year_values: {2022: -18711.0, 2021: -13727.0}
inside
inside
df =                       0      1      2
0    6.5 Finance income   2022   2021
1                   NaN  $'000  $'000
2       Interest income    977     64
3  Total finance income    977     64
4  6.6 Finance expenses   2022   2021
index dict = {2022: {'row_indices': [2, 3], 'col_indices': [1, 1]}, 2021: {'row_indices': [2, 3], 'col_indices': [2, 2]}}
mod_df:                       0      1      2
0    6.5 Finance income   2022   2021
1                   NaN  $'000  $'000
2       Interest income    977     64
3  Total finance income    977     64
4  6.6 Finance expenses   2022   2021
column_numbr_s = [1, 2], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[0], [0]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 2) , particular_end_col: 0 ,particular_start_row: 2
header indices : [0, 1]
key :6_6_8c5b6c96-32cf-3f0d-82b1-e0dbf22c2367
 date cords : [1, 2] ,([[0], [0]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: 19111.0, 2021: 24236.0}
df =                                        0         1         2
0                   6.6 Finance expenses      2022      2021
1                                    NaN     $'000     $'000
2       Interest on debts and borrowings  (11,490)   (5,674)
3  Interest on right of use lease assets   (7,221)   (8,053)
4                 Total finance expenses  (18,711)  (13,727)
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
main_page_year_values: {2022: -33594.0, 2021: -46809.0}
inside
inside
df =                                        0         1         2
0                   6.6 Finance expenses      2022      2021
1                                    NaN     $'000     $'000
2       Interest on debts and borrowings  (11,490)   (5,674)
3  Interest on right of use lease assets   (7,221)   (8,053)

/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:212: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:354: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:212: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:354: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:212: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:354: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:212: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:354: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:212: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:354: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:212: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:354: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:212: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:354: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')

In [6]:
mp.standardised_cropped_dict

{'9__15dec667-7bcb-3a0a-8f2b-59e29b4a4114':                             line_item_0 row_header  value header_col_0  \
 0   Right to acquire property (Note 19)       None  13809        $'000
 1                       Restricted Cash       None    459        $'000
 2                         Other amounts       None   4865        $'000
 3                                 Total       None  19133        $'000
 4                               Current       None    459        $'000
 5                           Non Current       None  18674        $'000
 6   Right to acquire property (Note 19)       None  26200        $'000
 7                       Restricted Cash       None   6430        $'000
 8                         Other amounts       None   5236        $'000
 9                                 Total       None  37866        $'000
 10                              Current       None   6430        $'000
 11                          Non Current       None  31436        $'000

    header_col_1  year
 0          2022  2022
 1          2022  2022
 2          2022  2022
 3          2022  2022
 4          2022  2022
 5          2022  2022
 6          2021  2021
 7          2021  2021
 8          2021  2021
 9          2021  2021
 10         2021  2021
 11         2021  2021  ,
 '12_4_4e2a0836-6c41-313a-985d-3e56df39e0fc':   line_item_0                                         row_header  value  \
 0  Fair Value  Commodity swap contracts designated as hedging...  66944
 1  Fair Value  Commodity swap contracts designated as hedging...  31054

   header_col_0 header_col_1  year
 0        $'000         2022  2022
 1        $'000         2021  2021  ,
 '12_3_e82467e4-d506-33c2-9d5e-35bf54eec865':   line_item_0     line_item_1 line_item_2  \
 0  Bank Loans  BBSW/LIBOR+0.5        2023
 1         NaN       HIBOR+0.6         NaN
 2       Total             NaN         NaN
 3  Bank Loans            2.48        2024
 4       Total             NaN         NaN
 5  Bank Loans  BBSW/LIBOR+0.5        2023
 6         NaN       HIBOR+0.6         NaN
 7       Total             NaN         NaN
 8  Bank Loans            2.48        2024
 9       Total             NaN         NaN

                             row_header   value header_col_0 header_col_1  year
 0                                 None  335742        $'000         2022  2022
 1  Loans from related parties, Note 23   84935        $'000         2022  2022
 2  Loans from related parties, Note 23  420677        $'000         2022  2022
 3     Loans and borrowings non current    7500        $'000         2022  2022
 4     Loans and borrowings non current    7500        $'000         2022  2022
 5                                 None  222735        $'000         2021  2021
 6  Loans from related parties, Note 23   69025        $'000         2021  2021
 7  Loans from related parties, Note 23  291760        $'000         2021  2021
 8     Loans and borrowings non current   61500        $'000         2021  2021
 9     Loans and borrowings non current   61500        $'000         2021  2021  ,
 '10__15dec667-7bcb-3a0a-8f2b-59e29b4a4114':                                   line_item_0 row_header     value  \
 0              Receivables from third parties       None  318294.0
 1  Receivables from related parties (Note 23)       None       0.0
 2                 Trade and Other Receivables       None  318294.0
 3              Receivables from third parties       None  318236.0
 4  Receivables from related parties (Note 23)       None      39.0
 5                 Trade and Other Receivables       None  318275.0

   header_col_0 header_col_1  year
 0        $'000         2022  2022
 1        $'000         2022  2022
 2        $'000         2022  2022
 3        $'000         2021  2021
 4        $'000         2021  2021
 5        $'000         2021  2021  ,
 '11__b07a4dd1-eaaa-3d31-887b-6c34cc1db6d9':                         line_item_0 row_header   value header_col_0  \
 0                    Raw. materials       None  137246        $'000
 1   Provision for impairment losses       None   -5370        $'000
 2                 Net raw materials       None  131876        $'000
 3                Engineering stores       None  119685        $'000
 4   Provision for impairment losses       None  -34800        $'000
 5            Net engineering stores       None   84885        $'000
 6                  Work in progress       None   32524        $'000
 7                    Finished goods       None  205712        $'000
 8   Provision for impairment losses       None   -7914        $'000
 9                Net finished goods       None  197798        $'000
 10                Total inventories       None  447083        $'000
 11                   Raw. materials       None  128639        $'000
 12  Provision for impairment losses       None   -5221        $'000
 13                Net raw materials       None  123418        $'000
 14               Engineering stores       None  105645        $'000
 15  Provision for impairment losses       None  -13448        $'000
 16           Net engineering stores       None   92197        $'000
 17                 Work in progress       None   27892        $'000
 18                   Finished goods       None  186703        $'000
 19  Provision for impairment losses       None   -8723        $'000
 20               Net finished goods       None  177980        $'000
 21                Total inventories       None  421487        $'000

    header_col_1  year
 0          2022  2022
 1          2022  2022
 2          2022  2022
 3          2022  2022
 4          2022  2022
 5          2022  2022
 6          2022  2022
 7          2022  2022
 8          2022  2022
 9          2022  2022
 10         2022  2022
 11         2021  2021
 12         2021  2021
 13         2021  2021
 14         2021  2021
 15         2021  2021
 16         2021  2021
 17         2021  2021
 18         2021  2021
 19         2021  2021
 20         2021  2021
 21         2021  2021  ,
 '13__a6b790ec-f74d-3492-b651-2a5138182e7c':                  line_item_0         row_header      value header_col_0  \
 0          At 1 January 2021  Cost or valuation   549576.0        $'000
 1                  Additions  Cost or valuation        0.0        $'000
 2                  Disposals  Cost or valuation        0.0        $'000
 3       Settlements from Auc  Cost or valuation    22152.0        $'000
 4             FX Revaluation  Cost or valuation      153.0        $'000
 ..                       ...                ...        ...          ...
 110                Disposals       Depreciation   -12109.0        $'000
 111           FX Revaluation       Depreciation     -147.0        $'000
 112       At31 December 2022       Depreciation  2345560.0        $'000
 113   2022At31 December 2022     Net book value  1547501.0        $'000
 114  2021At 31 December 2021     Net book value  1758576.0        $'000

                  header_col_1  year
 0    Freehold Land &Buildings   NaN
 1    Freehold Land &Buildings   NaN
 2    Freehold Land &Buildings   NaN
 3    Freehold Land &Buildings   NaN
 4    Freehold Land &Buildings   NaN
 ..                        ...   ...
 110                     Total   NaN
 111                     Total   NaN
 112                     Total   NaN
 113                     Total   NaN
 114                     Total   NaN

 [115 rows x 6 columns],
 '14__acad9fb2-1cc8-39e9-8715-7ea351b9acbc':                line_item_0      row_header     value header_col_0  \
 0        At 1 January 2021            Cost   96148.0        $'000
 1                Additions            Cost    4918.0        $'000
 2              Adjustments            Cost       0.0        $'000
 3           FX Revaluation            Cost      19.0        $'000
 4       At31 December 2021            Cost  101085.0        $'000
 ..                     ...             ...       ...          ...
 67            Amortisation            Cost   14472.0        $'000
 68          FX Revaluation            Cost     -42.0        $'000
 69      At31 December 2022            Cost  122635.0        $'000
 70  2022At31 December 2022  Net book value  205525.0        $'000
 71  2021At31 December 2021  Net book value  219476.0        $'000

          header_col_1                             header_col_2  year
 0   Computer Software  Note 14. Intangible assets and Goodwill   NaN
 1   Computer Software  Note 14. Intangible assets and Goodwill   NaN
 2   Computer Software  Note 14. Intangible assets and Goodwill   NaN
 3   Computer Software  Note 14. Intangible assets and Goodwill   NaN
 4   Computer Software  Note 14. Intangible assets and Goodwill   NaN
 ..                ...                                      ...   ...
 67              Total  Note 14. Intangible assets and Goodwill   NaN
 68              Total  Note 14. Intangible assets and Goodwill   NaN
 69              Total  Note 14. Intangible assets and Goodwill   NaN
 70              Total  Note 14. Intangible assets and Goodwill   NaN
 71              Total  Note 14. Intangible assets and Goodwill   NaN

 [72 rows x 7 columns],
 '16__57567ee8-4b97-3ade-9a4c-d43f4562bd93':                              line_item_0 row_header  value header_col_0  \
 0             Defined benefit obligation       None -21328        $'000
 1                   Fair value of assets       None  34631        $'000
 2  Net defined benefit asset/(liability)       None  13303        $'000
 3                          Benefits paid       None  -4579        $'000
 4             Defined benefit obligation       None -26729        $'000
 5                   Fair value of assets       None  40398        $'000
 6  Net defined benefit asset/(liability)       None  13669        $'000
 7                          Benefits paid       None  -4668        $'000

   header_col_1  year
 0         2022  2022
 1         2022  2022
 2         2022  2022
 3         2022  2022
 4         2021  2021
 5         2021  2021
 6         2021  2021
 7         2021  2021  ,
 '16__f23be0aa-fbd2-3dd5-9b40-fe27a4481337':                               line_item_0 row_header    value header_col_0  \
 0              Defined benefit obligation       None -26729.0        $'000
 1               Fair value of plan assets       None  40398.0        $'000
 2   Net defined benefit asset/(liability)       None  13669.0        $'000
 3              Defined benefit obligation       None    822.0        $'000
 4               Fair value of plan assets       None  -1188.0        $'000
 5   Net defined benefit asset/(liability)       None   -366.0        $'000
 6              Defined benefit obligation       None   4579.0        $'000
 7               Fair value of plan assets       None  -4579.0        $'000
 8   Net defined benefit asset/(liability)       None      0.0        $'000
 9              Defined benefit obligation       None -21328.0        $'000
 10              Fair value of plan assets       None  34631.0        $'000
 11  Net defined benefit asset/(liability)       None  13303.0        $'000

         header_col_1    year
 0     1 January 2022  2022.0
 1     1 January 2022  2022.0
 2     1 January 2022  2022.0
 3            Changes  2022.0
 4            Changes  2022.0
 5            Changes  2022.0
 6               Paid  2022.0
 7               Paid  2022.0
 8               Paid  2022.0
 9   31 December 2022  2022.0
 10  31 December 2022  2022.0
 11  31 December 2022  2022.0  ,
 '16__f7581c16-3e85-3eac-96f9-468bc2d673ae':                   line_item_0 row_header  value header_col_0 header_col_1  \
 0          Equity Instruments       None  12813        $'000         2022
 1            Debt Instruments       None   7619        $'000         2022
 2                    Property       None   2078        $'000         2022
 3   Cash and cash equivalents       None   2078        $'000         2022
 4                Alternatives       None   7965        $'000         2022
 5                       Other       None   2078        $'000         2022
 6        Fair value of assets       None  34631        $'000         2022
 7          Equity Instruments       None  14947        $'000         2021
 8            Debt Instruments       None   8888        $'000         2021
 9                    Property       None   3232        $'000         2021
 10  Cash and cash equivalents       None   3232        $'000         2021
 11               Alternatives       None   8080        $'000         2021
 12                      Other       None   2019        $'000         2021
 13       Fair value of assets       None  40398        $'000         2021

     year
 0   2022
 1   2022
 2   2022
 3   2022
 4   2022
 5   2022
 6   2022
 7   2021
 8   2021
 9   2021
 10  2021
 11  2021
 12  2021
 13  2021  ,
 '16__b0c5404f-4b7d-3cb4-b44f-732e79475e12':                line_item_0 row_header  value header_col_0 header_col_1  year
 0            Discount rate       None   5.25            %         2022  2022
 1  Future salary increases       None   2.50            %         2022  2022
 2            Discount rate       None   2.50            %         2021  2021
 3  Future salary increases       None   2.50            %         2021  2021,
 '18__cb2186ed-bd2b-32ed-b4fd-a82a9eac7ad2':                 line_item_0 row_header     value header_col_0  \
 0         At 1 January 2022       None  126840.0        $'000
 1   Arising during the year       None    5545.0        $'000
 2                  Utilised       None   -5005.0        $'000
 3   Unused Amounts Reversed       None   -2557.0        $'000
 4        At31 December 2022       None  124823.0        $'000
 ..                      ...        ...       ...          ...
 63                 Utilised       None  -24401.0        $'000
 64  Unused Amounts Reversed       None   -1654.0        $'000
 65       At31 December 2021       None  170036.0        $'000
 66              2021Current       None  130776.0        $'000
 67          2021Non Current       None   39260.0        $'000

          header_col_1  year
 0   Employee Benefits   NaN
 1   Employee Benefits   NaN
 2   Employee Benefits   NaN
 3   Employee Benefits   NaN
 4   Employee Benefits   NaN
 ..                ...   ...
 63              Total   NaN
 64              Total   NaN
 65              Total   NaN
 66              Total   NaN
 67              Total   NaN

 [68 rows x 6 columns],
 '19__f9438de7-7525-3abb-8e8d-ce9c85f983ab':                                          line_item_0 row_header  value  \
 0  Deferred Consideration on acquired property (N...       None  17000
 1                                      Other amounts       None    298
 2                                              Total       None  17298
 3                                            Current       None  17000
 4                                        Non Current       None    298
 5  Deferred Consideration on acquired property (N...       None  32200
 6                                      Other amounts       None    543
 7                                              Total       None  32743
 8                                            Current       None  32200
 9                                        Non Current       None    543

   header_col_0 header_col_1  year
 0        $'000         2022  2022
 1        $'000         2022  2022
 2        $'000         2022  2022
 3        $'000         2022  2022
 4        $'000         2022  2022
 5        $'000         2021  2021
 6        $'000         2021  2021
 7        $'000         2021  2021
 8        $'000         2021  2021
 9        $'000         2021  2021  ,
 '4_1_89f8ae0d-3a18-31d4-854c-a500630ac583':                                    line_item_0 row_header    value  \
 0                            Paper & Packaging       None  2078456
 1                       Envelopes & Stationery       None    31830
 2                                         Pulp       None     1211
 3  Total Revenue from Contracts with Customers       None  2111497
 4                            Paper & Packaging       None  1933271
 5                       Envelopes & Stationery       None    31733
 6                                         Pulp       None     2136
 7  Total Revenue from Contracts with Customers       None  1967140

   header_col_0 header_col_1  year
 0        $'000         2022  2022
 1        $'000         2022  2022
 2        $'000         2022  2022
 3        $'000         2022  2022
 4        $'000         2021  2021
 5        $'000         2021  2021
 6        $'000         2021  2021
 7        $'000         2021  2021  ,
 '6_1_1d83144c-6053-3e57-806d-1e5c971d55b8':                                         line_item_0 row_header    value  \
 0                                        Commission       None   1769.0
 1                        Net foreign exchange gains       None      0.0
 2                                Insurance proceeds       None      0.0
 3   Proceeds from recission of contract for Revesby       None   8340.0
 4                            Other operating income       None   9002.0
 5                                Total other income       None  19111.0
 6                                        Commission       None   1907.0
 7                        Net foreign exchange gains       None  10766.0
 8                                Insurance proceeds       None   6500.0
 9   Proceeds from recission of contract for Revesby       None      0.0
 10                           Other operating income       None   5063.0
 11                               Total other income       None  24236.0

    header_col_0 header_col_1  year
 0         $'000         2022  2022
 1         $'000         2022  2022
 2         $'000         2022  2022
 3         $'000         2022  2022
 4         $'000         2022  2022
 5         $'000         2022  2022
 6         $'000         2021  2021
 7         $'000         2021  2021
 8         $'000         2021  2021
 9         $'000         2021  2021
 10        $'000         2021  2021
 11        $'000         2021  2021  ,
 '6_2_1d83144c-6053-3e57-806d-1e5c971d55b8':                                  line_item_0 row_header    value header_col_0  \
 0                Net foreign exchange losses       None   -481.0        $'000
 1                Depreciation & amortisation       None -18362.0        $'000
 2                     Trading expenses other       None -14751.0        $'000
 3  Total general and administration expenses       None -33594.0        $'000
 4                Net foreign exchange losses       None      0.0        $'000
 5                Depreciation & amortisation       None -19802.0        $'000
 6                     Trading expenses other       None -27007.0        $'000
 7  Total general and administration expenses       None -46809.0        $'000

   header_col_1  year
 0         2022  2022
 1         2022  2022
 2         2022  2022
 3         2022  2022
 4         2021  2021
 5         2021  2021
 6         2021  2021
 7         2021  2021  ,
 '6_4_8c5b6c96-32cf-3f0d-82b1-e0dbf22c2367':                                     line_item_0 row_header     value  \
 0   Impairment of plant and equipment (Note 13)       None -195424.0
 1  Increase in provision for engineering spares       None  -17601.0
 2                Impairment of prepaid expenses       None   -3255.0
 3                          Total once off costs       None -216280.0
 4                            6.5 Finance income       None    2022.0
 5   Impairment of plant and equipment (Note 13)       None       0.0
 6  Increase in provision for engineering spares       None       0.0
 7                Impairment of prepaid expenses       None       0.0
 8                          Total once off costs       None       0.0
 9                            6.5 Finance income       None    2021.0

   header_col_0 header_col_1  year
 0        $'000         2022  2022
 1        $'000         2022  2022
 2        $'000         2022  2022

In [7]:
mp.standard_note_meta_dict

{'9__15dec667-7bcb-3a0a-8f2b-59e29b4a4114': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [1, 2],
  'row_header_indices': [9],
  'year_column_header_name': 'header_col_1'},
 '12_4_4e2a0836-6c41-313a-985d-3e56df39e0fc': {'date_column_number': [1, 2],
  'date_row_number': [[0], [0]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 2,
  'header_indices': [0, 1],
  'row_header_indices': [2],
  'year_column_header_name': 'header_col_1'},
 '12_3_e82467e4-d506-33c2-9d5e-35bf54eec865': {'date_column_number': [3, 4],
  'date_row_number': [[0], [0]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 2,
  'data_first_row': 2,
  'data_particular_end_col': 2,
  'data_particular_start_row': 2,
  'header_indices': [0, 1],
  'row_header_indices': [3, 4, 7],
  'year_column_header_name': 'header_col_1'},
 '10__15dec667-7bcb-3a0a-8f2b-59e29b4a4114': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [1, 2],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '11__b07a4dd1-eaaa-3d31-887b-6c34cc1db6d9': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [1, 2],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '13__a6b790ec-f74d-3492-b651-2a5138182e7c': {'date_column_number': [0, 0],
  'date_row_number': [[26], [27]],
  'date_raw_text': [['20222022At31 December 2022'],
   ['20212021At 31 December 2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 2,
  'header_indices': [0, 1],
  'row_header_indices': [2, 14, 25],
  'year_column_header_name': ''},
 '14__acad9fb2-1cc8-39e9-8715-7ea351b9acbc': {'date_column_number': [0, 0],
  'date_row_number': [[21], [22]],
  'date_raw_text': [['20222022At31 December 2022'],
   ['20212021At31 December 2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 4,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [3, 20],
  'year_column_header_name': ''},
 '16__57567ee8-4b97-3ade-9a4c-d43f4562bd93': {'date_column_number': [1, 2],
  'date_row_number': [[0], [0]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 2,
  'data_particular_end_col': 0,
  'data_particular_start_row': 2,
  'header_indices': [0, 1],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '16__f23be0aa-fbd2-3dd5-9b40-fe27a4481337': {'date_column_number': [1, 4],
  'date_row_number': [[0], [0]],
  'date_raw_text': [['1 January 2022'], ['31 December 2022']],
  'date_extracted_year': [[2022], [2022]],
  'data_first_column': 1,
  'data_first_row': 2,
  'data_particular_end_col': 0,
  'data_particular_start_row': 2,
  'header_indices': [0, 1],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '16__f7581c16-3e85-3eac-96f9-468bc2d673ae': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [1, 2],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '16__b0c5404f-4b7d-3cb4-b44f-732e79475e12': {'date_column_number': [1, 2],
  'date_row_number': [[0], [0]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 2,
  'data_particular_end_col': 0,
  'data_particular_start_row': 2,
  'header_indices': [0, 1],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '18__cb2186ed-bd2b-32ed-b4fd-a82a9eac7ad2': {'date_column_number': [0,
   0,
   0,
   0],
  'date_row_number': [[7], [8], [17], [18]],
  'date_raw_text': [['20222022Current'],
   ['20222022Non Current'],
   ['20212021Current'],
   ['20212021Non Current']],
  'date_extracted_year': [[2022], [2022], [2021], [2021]],
  'data_first_column': 1,
  'data_first_row': 2,
  'data_particular_end_col': 0,
  'data_particular_start_row': 2,
  'header_indices': [0, 1],
  'row_header_indices': [],
  'year_column_header_name': ''},
 '19__f9438de7-7525-3abb-8e8d-ce9c85f983ab': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [1, 2],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '4_1_89f8ae0d-3a18-31d4-854c-a500630ac583': {'date_column_number': [1, 2],
  'date_row_number': [[0], [0]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 2,
  'data_particular_end_col': 0,
  'data_particular_start_row': 2,
  'header_indices': [0, 1],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '6_1_1d83144c-6053-3e57-806d-1e5c971d55b8': {'date_column_number': [1, 2],
  'date_row_number': [[0], [0]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 2,
  'data_particular_end_col': 0,
  'data_particular_start_row': 2,
  'header_indices': [0, 1],
  'row_header_indices': [8],
  'year_column_header_name': 'header_col_1'},
 '6_2_1d83144c-6053-3e57-806d-1e5c971d55b8': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [1, 2],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '6_4_8c5b6c96-32cf-3f0d-82b1-e0dbf22c2367': {'date_column_number': [1, 2],
  'date_row_number': [[0], [0]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 2,
  'data_particular_end_col': 0,
  'data_particular_start_row': 2,
  'header_indices': [0, 1],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '6_5_8c5b6c96-32cf-3f0d-82b1-e0dbf22c2367': {'date_column_number': [1, 2],
  'date_row_number': [[0], [0]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 2,
  'data_particular_end_col': 0,
  'data_particular_start_row': 2,
  'header_indices': [0, 1],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '6_6_8c5b6c96-32cf-3f0d-82b1-e0dbf22c2367': {'date_column_number': [1, 2],
  'date_row_number': [[0], [0]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 2,
  'data_particular_end_col': 0,
  'data_particular_start_row': 2,
  'header_indices': [0, 1],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '6_6_a5d96d25-f653-3ccf-9da1-b6b6c99d2a4f': {'date_column_number': [1, 2],
  'date_row_number': [[0], [0]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 2,
  'header_indices': [0, 1],
  'row_header_indices': [2, 5],
  'year_column_header_name': 'header_col_1'},
 '6_6_5425f873-eddc-3602-8c17-155fe73e8252': {'date_column_number': [1, 2],
  'date_row_number': [[0], [0]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 2,
  'data_particular_end_col': 0,
  'data_particular_start_row': 2,
  'header_indices': [0, 1],
  'row_header_indices': [6],
  'year_column_header_name': 'header_col_1'},
 '6_6_05004f5b-88ca-3a3c-ab1d-cc7f894fe87b': {'date_column_number': [1,
   2,
   3,
   4],
  'date_row_number': [[1], [1], [1], [1]],
  'date_raw_text': [['2022'], ['2021'], ['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021], [2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '8__35fb6f5d-ff78-3b7c-811a-58e836a1a708': {'date_column_number': [1, 2],
  'date_row_number': [[0], [0]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 2,
  'data_particular_end_col': 0,
  'data_particular_start_row': 2,
  'header_indices': [0, 1],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'}}

In [8]:
mp.standardised_cropped_dict

{'9__15dec667-7bcb-3a0a-8f2b-59e29b4a4114':                             line_item_0 row_header  value header_col_0  \
 0   Right to acquire property (Note 19)       None  13809        $'000
 1                       Restricted Cash       None    459        $'000
 2                         Other amounts       None   4865        $'000
 3                                 Total       None  19133        $'000
 4                               Current       None    459        $'000
 5                           Non Current       None  18674        $'000
 6   Right to acquire property (Note 19)       None  26200        $'000
 7                       Restricted Cash       None   6430        $'000
 8                         Other amounts       None   5236        $'000
 9                                 Total       None  37866        $'000
 10                              Current       None   6430        $'000
 11                          Non Current       None  31436        $'000

    header_col_1  year
 0          2022  2022
 1          2022  2022
 2          2022  2022
 3          2022  2022
 4          2022  2022
 5          2022  2022
 6          2021  2021
 7          2021  2021
 8          2021  2021
 9          2021  2021
 10         2021  2021
 11         2021  2021  ,
 '12_4_4e2a0836-6c41-313a-985d-3e56df39e0fc':   line_item_0                                         row_header  value  \
 0  Fair Value  Commodity swap contracts designated as hedging...  66944
 1  Fair Value  Commodity swap contracts designated as hedging...  31054

   header_col_0 header_col_1  year
 0        $'000         2022  2022
 1        $'000         2021  2021  ,
 '12_3_e82467e4-d506-33c2-9d5e-35bf54eec865':   line_item_0     line_item_1 line_item_2  \
 0  Bank Loans  BBSW/LIBOR+0.5        2023
 1         NaN       HIBOR+0.6         NaN
 2       Total             NaN         NaN
 3  Bank Loans            2.48        2024
 4       Total             NaN         NaN
 5  Bank Loans  BBSW/LIBOR+0.5        2023
 6         NaN       HIBOR+0.6         NaN
 7       Total             NaN         NaN
 8  Bank Loans            2.48        2024
 9       Total             NaN         NaN

                             row_header   value header_col_0 header_col_1  year
 0                                 None  335742        $'000         2022  2022
 1  Loans from related parties, Note 23   84935        $'000         2022  2022
 2  Loans from related parties, Note 23  420677        $'000         2022  2022
 3     Loans and borrowings non current    7500        $'000         2022  2022
 4     Loans and borrowings non current    7500        $'000         2022  2022
 5                                 None  222735        $'000         2021  2021
 6  Loans from related parties, Note 23   69025        $'000         2021  2021
 7  Loans from related parties, Note 23  291760        $'000         2021  2021
 8     Loans and borrowings non current   61500        $'000         2021  2021
 9     Loans and borrowings non current   61500        $'000         2021  2021  ,
 '10__15dec667-7bcb-3a0a-8f2b-59e29b4a4114':                                   line_item_0 row_header     value  \
 0              Receivables from third parties       None  318294.0
 1  Receivables from related parties (Note 23)       None       0.0
 2                 Trade and Other Receivables       None  318294.0
 3              Receivables from third parties       None  318236.0
 4  Receivables from related parties (Note 23)       None      39.0
 5                 Trade and Other Receivables       None  318275.0

   header_col_0 header_col_1  year
 0        $'000         2022  2022
 1        $'000         2022  2022
 2        $'000         2022  2022
 3        $'000         2021  2021
 4        $'000         2021  2021
 5        $'000         2021  2021  ,
 '11__b07a4dd1-eaaa-3d31-887b-6c34cc1db6d9':                         line_item_0 row_header   value header_col_0  \
 0                    Raw. materials       None  137246        $'000
 1   Provision for impairment losses       None   -5370        $'000
 2                 Net raw materials       None  131876        $'000
 3                Engineering stores       None  119685        $'000
 4   Provision for impairment losses       None  -34800        $'000
 5            Net engineering stores       None   84885        $'000
 6                  Work in progress       None   32524        $'000
 7                    Finished goods       None  205712        $'000
 8   Provision for impairment losses       None   -7914        $'000
 9                Net finished goods       None  197798        $'000
 10                Total inventories       None  447083        $'000
 11                   Raw. materials       None  128639        $'000
 12  Provision for impairment losses       None   -5221        $'000
 13                Net raw materials       None  123418        $'000
 14               Engineering stores       None  105645        $'000
 15  Provision for impairment losses       None  -13448        $'000
 16           Net engineering stores       None   92197        $'000
 17                 Work in progress       None   27892        $'000
 18                   Finished goods       None  186703        $'000
 19  Provision for impairment losses       None   -8723        $'000
 20               Net finished goods       None  177980        $'000
 21                Total inventories       None  421487        $'000

    header_col_1  year
 0          2022  2022
 1          2022  2022
 2          2022  2022
 3          2022  2022
 4          2022  2022
 5          2022  2022
 6          2022  2022
 7          2022  2022
 8          2022  2022
 9          2022  2022
 10         2022  2022
 11         2021  2021
 12         2021  2021
 13         2021  2021
 14         2021  2021
 15         2021  2021
 16         2021  2021
 17         2021  2021
 18         2021  2021
 19         2021  2021
 20         2021  2021
 21         2021  2021  ,
 '13__a6b790ec-f74d-3492-b651-2a5138182e7c':                  line_item_0         row_header      value header_col_0  \
 0          At 1 January 2021  Cost or valuation   549576.0        $'000
 1                  Additions  Cost or valuation        0.0        $'000
 2                  Disposals  Cost or valuation        0.0        $'000
 3       Settlements from Auc  Cost or valuation    22152.0        $'000
 4             FX Revaluation  Cost or valuation      153.0        $'000
 ..                       ...                ...        ...          ...
 110                Disposals       Depreciation   -12109.0        $'000
 111           FX Revaluation       Depreciation     -147.0        $'000
 112       At31 December 2022       Depreciation  2345560.0        $'000
 113   2022At31 December 2022     Net book value  1547501.0        $'000
 114  2021At 31 December 2021     Net book value  1758576.0        $'000

                  header_col_1  year
 0    Freehold Land &Buildings   NaN
 1    Freehold Land &Buildings   NaN
 2    Freehold Land &Buildings   NaN
 3    Freehold Land &Buildings   NaN
 4    Freehold Land &Buildings   NaN
 ..                        ...   ...
 110                     Total   NaN
 111                     Total   NaN
 112                     Total   NaN
 113                     Total   NaN
 114                     Total   NaN

 [115 rows x 6 columns],
 '14__acad9fb2-1cc8-39e9-8715-7ea351b9acbc':                line_item_0      row_header     value header_col_0  \
 0        At 1 January 2021            Cost   96148.0        $'000
 1                Additions            Cost    4918.0        $'000
 2              Adjustments            Cost       0.0        $'000
 3           FX Revaluation            Cost      19.0        $'000
 4       At31 December 2021            Cost  101085.0        $'000
 ..                     ...             ...       ...          ...
 67            Amortisation            Cost   14472.0        $'000
 68          FX Revaluation            Cost     -42.0        $'000
 69      At31 December 2022            Cost  122635.0        $'000
 70  2022At31 December 2022  Net book value  205525.0        $'000
 71  2021At31 December 2021  Net book value  219476.0        $'000

          header_col_1                             header_col_2  year
 0   Computer Software  Note 14. Intangible assets and Goodwill   NaN
 1   Computer Software  Note 14. Intangible assets and Goodwill   NaN
 2   Computer Software  Note 14. Intangible assets and Goodwill   NaN
 3   Computer Software  Note 14. Intangible assets and Goodwill   NaN
 4   Computer Software  Note 14. Intangible assets and Goodwill   NaN
 ..                ...                                      ...   ...
 67              Total  Note 14. Intangible assets and Goodwill   NaN
 68              Total  Note 14. Intangible assets and Goodwill   NaN
 69              Total  Note 14. Intangible assets and Goodwill   NaN
 70              Total  Note 14. Intangible assets and Goodwill   NaN
 71              Total  Note 14. Intangible assets and Goodwill   NaN

 [72 rows x 7 columns],
 '16__57567ee8-4b97-3ade-9a4c-d43f4562bd93':                              line_item_0 row_header  value header_col_0  \
 0             Defined benefit obligation       None -21328        $'000
 1                   Fair value of assets       None  34631        $'000
 2  Net defined benefit asset/(liability)       None  13303        $'000
 3                          Benefits paid       None  -4579        $'000
 4             Defined benefit obligation       None -26729        $'000
 5                   Fair value of assets       None  40398        $'000
 6  Net defined benefit asset/(liability)       None  13669        $'000
 7                          Benefits paid       None  -4668        $'000

   header_col_1  year
 0         2022  2022
 1         2022  2022
 2         2022  2022
 3         2022  2022
 4         2021  2021
 5         2021  2021
 6         2021  2021
 7         2021  2021  ,
 '16__f23be0aa-fbd2-3dd5-9b40-fe27a4481337':                               line_item_0 row_header    value header_col_0  \
 0              Defined benefit obligation       None -26729.0        $'000
 1               Fair value of plan assets       None  40398.0        $'000
 2   Net defined benefit asset/(liability)       None  13669.0        $'000
 3              Defined benefit obligation       None    822.0        $'000
 4               Fair value of plan assets       None  -1188.0        $'000
 5   Net defined benefit asset/(liability)       None   -366.0        $'000
 6              Defined benefit obligation       None   4579.0        $'000
 7               Fair value of plan assets       None  -4579.0        $'000
 8   Net defined benefit asset/(liability)       None      0.0        $'000
 9              Defined benefit obligation       None -21328.0        $'000
 10              Fair value of plan assets       None  34631.0        $'000
 11  Net defined benefit asset/(liability)       None  13303.0        $'000

         header_col_1    year
 0     1 January 2022  2022.0
 1     1 January 2022  2022.0
 2     1 January 2022  2022.0
 3            Changes  2022.0
 4            Changes  2022.0
 5            Changes  2022.0
 6               Paid  2022.0
 7               Paid  2022.0
 8               Paid  2022.0
 9   31 December 2022  2022.0
 10  31 December 2022  2022.0
 11  31 December 2022  2022.0  ,
 '16__f7581c16-3e85-3eac-96f9-468bc2d673ae':                   line_item_0 row_header  value header_col_0 header_col_1  \
 0          Equity Instruments       None  12813        $'000         2022
 1            Debt Instruments       None   7619        $'000         2022
 2                    Property       None   2078        $'000         2022
 3   Cash and cash equivalents       None   2078        $'000         2022
 4                Alternatives       None   7965        $'000         2022
 5                       Other       None   2078        $'000         2022
 6        Fair value of assets       None  34631        $'000         2022
 7          Equity Instruments       None  14947        $'000         2021
 8            Debt Instruments       None   8888        $'000         2021
 9                    Property       None   3232        $'000         2021
 10  Cash and cash equivalents       None   3232        $'000         2021
 11               Alternatives       None   8080        $'000         2021
 12                      Other       None   2019        $'000         2021
 13       Fair value of assets       None  40398        $'000         2021

     year
 0   2022
 1   2022
 2   2022
 3   2022
 4   2022
 5   2022
 6   2022
 7   2021
 8   2021
 9   2021
 10  2021
 11  2021
 12  2021
 13  2021  ,
 '16__b0c5404f-4b7d-3cb4-b44f-732e79475e12':                line_item_0 row_header  value header_col_0 header_col_1  year
 0            Discount rate       None   5.25            %         2022  2022
 1  Future salary increases       None   2.50            %         2022  2022
 2            Discount rate       None   2.50            %         2021  2021
 3  Future salary increases       None   2.50            %         2021  2021,
 '18__cb2186ed-bd2b-32ed-b4fd-a82a9eac7ad2':                 line_item_0 row_header     value header_col_0  \
 0         At 1 January 2022       None  126840.0        $'000
 1   Arising during the year       None    5545.0        $'000
 2                  Utilised       None   -5005.0        $'000
 3   Unused Amounts Reversed       None   -2557.0        $'000
 4        At31 December 2022       None  124823.0        $'000
 ..                      ...        ...       ...          ...
 63                 Utilised       None  -24401.0        $'000
 64  Unused Amounts Reversed       None   -1654.0        $'000
 65       At31 December 2021       None  170036.0        $'000
 66              2021Current       None  130776.0        $'000
 67          2021Non Current       None   39260.0        $'000

          header_col_1  year
 0   Employee Benefits   NaN
 1   Employee Benefits   NaN
 2   Employee Benefits   NaN
 3   Employee Benefits   NaN
 4   Employee Benefits   NaN
 ..                ...   ...
 63              Total   NaN
 64              Total   NaN
 65              Total   NaN
 66              Total   NaN
 67              Total   NaN

 [68 rows x 6 columns],
 '19__f9438de7-7525-3abb-8e8d-ce9c85f983ab':                                          line_item_0 row_header  value  \
 0  Deferred Consideration on acquired property (N...       None  17000
 1                                      Other amounts       None    298
 2                                              Total       None  17298
 3                                            Current       None  17000
 4                                        Non Current       None    298
 5  Deferred Consideration on acquired property (N...       None  32200
 6                                      Other amounts       None    543
 7                                              Total       None  32743
 8                                            Current       None  32200
 9                                        Non Current       None    543

   header_col_0 header_col_1  year
 0        $'000         2022  2022
 1        $'000         2022  2022
 2        $'000         2022  2022
 3        $'000         2022  2022
 4        $'000         2022  2022
 5        $'000         2021  2021
 6        $'000         2021  2021
 7        $'000         2021  2021
 8        $'000         2021  2021
 9        $'000         2021  2021  ,
 '4_1_89f8ae0d-3a18-31d4-854c-a500630ac583':                                    line_item_0 row_header    value  \
 0                            Paper & Packaging       None  2078456
 1                       Envelopes & Stationery       None    31830
 2                                         Pulp       None     1211
 3  Total Revenue from Contracts with Customers       None  2111497
 4                            Paper & Packaging       None  1933271
 5                       Envelopes & Stationery       None    31733
 6                                         Pulp       None     2136
 7  Total Revenue from Contracts with Customers       None  1967140

   header_col_0 header_col_1  year
 0        $'000         2022  2022
 1        $'000         2022  2022
 2        $'000         2022  2022
 3        $'000         2022  2022
 4        $'000         2021  2021
 5        $'000         2021  2021
 6        $'000         2021  2021
 7        $'000         2021  2021  ,
 '6_1_1d83144c-6053-3e57-806d-1e5c971d55b8':                                         line_item_0 row_header    value  \
 0                                        Commission       None   1769.0
 1                        Net foreign exchange gains       None      0.0
 2                                Insurance proceeds       None      0.0
 3   Proceeds from recission of contract for Revesby       None   8340.0
 4                            Other operating income       None   9002.0
 5                                Total other income       None  19111.0
 6                                        Commission       None   1907.0
 7                        Net foreign exchange gains       None  10766.0
 8                                Insurance proceeds       None   6500.0
 9   Proceeds from recission of contract for Revesby       None      0.0
 10                           Other operating income       None   5063.0
 11                               Total other income       None  24236.0

    header_col_0 header_col_1  year
 0         $'000         2022  2022
 1         $'000         2022  2022
 2         $'000         2022  2022
 3         $'000         2022  2022
 4         $'000         2022  2022
 5         $'000         2022  2022
 6         $'000         2021  2021
 7         $'000         2021  2021
 8         $'000         2021  2021
 9         $'000         2021  2021
 10        $'000         2021  2021
 11        $'000         2021  2021  ,
 '6_2_1d83144c-6053-3e57-806d-1e5c971d55b8':                                  line_item_0 row_header    value header_col_0  \
 0                Net foreign exchange losses       None   -481.0        $'000
 1                Depreciation & amortisation       None -18362.0        $'000
 2                     Trading expenses other       None -14751.0        $'000
 3  Total general and administration expenses       None -33594.0        $'000
 4                Net foreign exchange losses       None      0.0        $'000
 5                Depreciation & amortisation       None -19802.0        $'000
 6                     Trading expenses other       None -27007.0        $'000
 7  Total general and administration expenses       None -46809.0        $'000

   header_col_1  year
 0         2022  2022
 1         2022  2022
 2         2022  2022
 3         2022  2022
 4         2021  2021
 5         2021  2021
 6         2021  2021
 7         2021  2021  ,
 '6_4_8c5b6c96-32cf-3f0d-82b1-e0dbf22c2367':                                     line_item_0 row_header     value  \
 0   Impairment of plant and equipment (Note 13)       None -195424.0
 1  Increase in provision for engineering spares       None  -17601.0
 2                Impairment of prepaid expenses       None   -3255.0
 3                          Total once off costs       None -216280.0
 4                            6.5 Finance income       None    2022.0
 5   Impairment of plant and equipment (Note 13)       None       0.0
 6  Increase in provision for engineering spares       None       0.0
 7                Impairment of prepaid expenses       None       0.0
 8                          Total once off costs       None       0.0
 9                            6.5 Finance income       None    2021.0

   header_col_0 header_col_1  year
 0        $'000         2022  2022
 1        $'000         2022  2022
 2        $'000         2022  2022

In [9]:
output_folder = './output/'
file_folder = os.path.join(output_folder,fileid)

In [10]:
try:
    os.mkdir(file_folder)
except:
    pass

In [11]:
with open(os.path.join(file_folder,f"{fileid}_notes_account_dict.json"),"w") as f:
        json.dump(mp.final_notes_dict,f)

In [12]:
notes_region_meta_data.to_csv(os.path.join(file_folder,f"{fileid}_notes_region_meta_data.csv"),index=False)

In [13]:
with open(os.path.join(file_folder,f"{fileid}_notes_ref_list.json"),"w") as f:
    json.dump(mp.notes_ref_dict,f)

In [14]:
with open(os.path.join(file_folder,f"{fileid}_standradrd_notes_meta_dict.json"),"w") as f:
    json.dump(mp.standard_note_meta_dict,f)

In [15]:
writer = pd.ExcelWriter(os.path.join(file_folder,f"{fileid}_notes_cropped_df.xlsx"), engine='xlsxwriter')
for key,value in mp.cropped_table_dict.items():
    value.to_excel(writer, sheet_name=key[:20],index=False)
writer.save()

/tmp/ipykernel_14317/2270965984.py:4: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [16]:
writer = pd.ExcelWriter(os.path.join(file_folder,f"{fileid}_main_pages.xlsx"), engine='xlsxwriter')
for key,value in cbs_dict.items():
    value.to_excel(writer, sheet_name=f"cbs_{key}",index=False)
for key,value in cpl_dict.items():
    value.to_excel(writer, sheet_name=f"cpl_{key}",index=False)
for key,value in ccf_dict.items():
    value.to_excel(writer, sheet_name=f"ccf_{key}",index=False)
writer.save()

/tmp/ipykernel_14317/4159104238.py:8: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [17]:
writer = pd.ExcelWriter(os.path.join(file_folder,f"{fileid}_notes_standard_cropped_df.xlsx"), engine='xlsxwriter')
for key,value in mp.standardised_cropped_dict.items():
    if value is not None:
            value.to_excel(writer, sheet_name=key[:20],index=False)
    else:
            temp_df = pd.DataFrame()
            temp_df.to_excel(writer, sheet_name=key[:20],index=False)

writer.save()

/tmp/ipykernel_14317/2538549668.py:9: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [18]:
writer = pd.ExcelWriter(os.path.join(file_folder,f"{fileid}_notes_transformed_standard_cropped_df.xlsx"), engine='xlsxwriter')
for key,value in mp.transformed_standardised_cropped_dict.items():
    if value is not None:
            value.to_excel(writer, sheet_name=key[:20],index=False)
    else:
            temp_df = pd.DataFrame()
            temp_df.to_excel(writer, sheet_name=key[:20],index=False)

writer.save()

/tmp/ipykernel_14317/4069446321.py:9: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [19]:
len(mp.standardised_cropped_dict)

22

In [18]:
mp.final_notes_dict

{'6': {'': ['Cash and short-term deposits', 'Cash and cash equivalents at 31 December']}, '7': {'': ['Trade and other receivables', 'Trade and other receivables']}, '8': {'': ['Inventories']}, '9': {'': ['Other assets']}, '10': {'': ['Property, plant and equipment']}, '16': {'': ['Right-of-use assets']}, '11': {'': ['Intangible assets']}, '20': {'': ['Derivative financial instruments', 'Derivative financial instruments', 'Derivative financial instruments']}, '5': {'': ['Deferred tax assets', 'Income tax expense']}, '12': {'': ['Trade and other payables']}, '13': {'': ['Provisions']}, '14': {'': ['Employee benefit liabilities', 'Employee benefit liabilities']}, '15': {'': ['Interest-bearing loans and borrowings', 'Interest-bearing loans and borrowings']}, '17': {'': ['Contributed equity']}, '4': {'1': ['Finance revenue'], '2': ['Finance costs'], '3': ['Other income'], '4': ['Employee benefits expense'], '6': ['Other expenses'], '7': ['Other finance costs']}, '': {'': ['in Other comprehensive income/(loss) Other comprehensive income /(loss) that may be reclassified to profit or loss subsequent periods (net of tax):']}}

In [18]:
mp.notes_region_meta_data

,note,subnote,start_page,star_bbox,next_note_pattern,end_page,end_bbox,tableid,row_numbers,tableslist,raw_note_number
0,6,,[28],"[[161, 346, 493, 373]]",7,[28],"[[160, 638, 475, 662]]",[a78bb329-e32e-3971-8099-b6df05267d46],"[[0, 1, 2, 3, 4, 5]]",[<db_models.TableLogs object at 0x7f5b9002fca0>],"[6, 6]"
1,7,,[28],"[[160, 638, 475, 662]]",8,[29],"[[161, 735, 323, 758]]","[dd0b54b1-ae15-356c-ae39-9d60935625e7, 6df1755...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f5b9002f580...,"[7, 7]"
2,8,,[29],"[[161, 735, 323, 758]]",9,[29],"[[161, 1008, 338, 1032]]",[e1c7b062-750d-3921-8259-19418a13f2c6],"[[0, 1, 2, 3, 4, 5]]",[<db_models.TableLogs object at 0x7f5b8ff8bc40>],[8]
3,9,,[29],"[[161, 1008, 338, 1032]]",10,[30],"[[164, 329, 503, 355]]",[e109e16a-a440-32f4-b0b8-84e928bd0fa7],"[[0, 1, 2, 3, 4, 5, 6]]",[<db_models.TableLogs object at 0x7f5b8f0cd9a0>],[9]
4,10,,[30],"[[164, 329, 503, 355]]",11,[31],"[[161, 342, 376, 370]]",[821061f6-6d12-3a83-b648-d905b4b82a31],"[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f5b8ff79f70>],[10]
5,11,,[31],"[[161, 342, 376, 370]]",12,[31],"[[161, 876, 453, 904]]",[fc8cb365-6282-3259-b0ac-3e25ed8239fa],"[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f5b90020220>],[11]
6,5,,[26],"[[162, 744, 324, 769]]",6,[27],"[[165, 855, 1028, 881]]","[fd791fd0-d8c8-32e7-9d3d-36135c068a96, 412c019...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, ...",[<db_models.TableLogs object at 0x7f5b90e8b460...,"[5, 5]"
7,12,,[31],"[[161, 876, 453, 904]]",13,[32],"[[162, 343, 318, 370]]",[fc8cb365-6282-3259-b0ac-3e25ed8239fa],"[[18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28]]",[<db_models.TableLogs object at 0x7f5b90020220>],[12]
8,13,,[32],"[[162, 343, 318, 370]]",14,[32],"[[161, 717, 467, 743]]",[ac23ebec-90cf-3015-ba6d-3797dcee7984],"[[0, 1, 2, 3, 4, 5, 6, 7, 8]]",[<db_models.TableLogs object at 0x7f5b90e8b2b0>],[13]
9,14,,[32],"[[161, 717, 467, 743]]",15,[32],"[[161, 953, 571, 980]]",[46d96b94-e741-3831-8191-cd69b97789e4],"[[0, 1, 2, 3, 4, 5, 6]]",[<db_models.TableLogs object at 0x7f5b9005bf10>],"[14, 14]"
10,15,,[32],"[[161, 953, 571, 980]]",16,[33],"[[162, 976, 284, 998]]","[46d96b94-e741-3831-8191-cd69b97789e4, e18a0fc...","[[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, ...",[<db_models.TableLogs object at 0x7f5b9005bf10...,"[15, 15]"
11,17,,[34],"[[160, 1253, 390, 1281]]",18,[35],"[[160, 501, 338, 529]]",[4e0097f4-2b78-3626-bb5a-20962cf2e862],"[[16, 17, 18, 19, 20]]",[<db_models.TableLogs object at 0x7f5b90e46250>],[17]
12,4,1,[25],"[[161, 379, 373, 406]]",4.2,[25],"[[160, 666, 350, 692]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.1]
13,4,2,[25],"[[160, 666, 350, 692]]",4.3,[25],"[[161, 814, 345, 837]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[11, 12, 13, 14, 15]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.2]
14,4,3,[25],"[[161, 814, 345, 837]]",4.4,[25],"[[160, 1029, 472, 1055]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[15, 16, 17, 18, 19, 20, 21, 22, 23]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.3]
15,4,4,[25],"[[160, 1029, 472, 1055]]",4.5,[25],"[[162, 1218, 925, 1246]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[23, 24, 25, 26, 27, 28]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.4]
16,4,6,[26],"[[161, 379, 459, 407]]",4.7,[26],"[[160, 562, 402, 588]]",[b1818398-7624-37bc-9aba-9e42d0312183],"[[1, 2, 3, 4, 5, 6, 7, 8]]",[<db_models.TableLogs object at 0x7f5b90e46ee0>],[4.6]
17,4,7,[26],"[[160, 562, 402, 588]]",4.8,[27],"[[162, 1103, 686, 1129]]","[fd791fd0-d8c8-32e7-9d3d-36135c068a96, b181839...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [8, 9, 10, 11...",[<db_models.TableLogs object at 0x7f5b90e8b460...,[4.7]
18,,,[13],"[[162, 468, 386, 493]]",,[13],"[[162, 226, 1018, 261]]",[],[],[],[in]

In [6]:
mp.standardised_cropped_dict

{'8__460fae87-cafc-3af5-85d9-fb6f60a7ea12':   line_item_0                                        line_item_1  row_header  \
 0         NaN                                       Cash on hand         NaN
 1         NaN                                       Cash at bank         NaN
 2         NaN  Cash and cash equivalents in the statement of ...         NaN
 3         NaN                                       Cash on hand         NaN
 4         NaN                                       Cash at bank         NaN
 5         NaN  Cash and cash equivalents in the statement of ...         NaN

    value header_col_0  year
 0      4         2022  2022
 1  41838         2022  2022
 2  41842         2022  2022
 3      4         2021  2021
 4  92311         2021  2021
 5  92315         2021  2021  ,
 '9__460fae87-cafc-3af5-85d9-fb6f60a7ea12':   line_item_0                                        line_item_1  row_header  \
 0         NaN                                  Trade receivables         9.0
 1         NaN                                           Deposits         9.0
 2         NaN  Amount receivable from controlling entity (Ref...         9.0
 3       Total                                                NaN         9.0
 4         NaN                                  Trade receivables         9.0
 5         NaN                                           Deposits         9.0
 6         NaN  Amount receivable from controlling entity (Ref...         9.0
 7       Total                                                NaN         9.0

    value header_col_0  year
 0  24577         2022  2022
 1    626         2022  2022
 2      7         2022  2022
 3  25210         2022  2022
 4  25031         2021  2021
 5    677         2021  2021
 6     21         2021  2021
 7  25729         2021  2021  ,
 '10__460fae87-cafc-3af5-85d9-fb6f60a7ea12':                             line_item_0      row_header  value header_col_0  \
 0                        Finished goods  10 Inventories  21156         2022
 1                      Goods in transit  10 Inventories  13236         2022
 2  Provision for inventory obsolescence  10 Inventories    -73         2022
 3                                 Total  10 Inventories  34319         2022
 4                        Finished goods  10 Inventories  14472         2021
 5                      Goods in transit  10 Inventories  13324         2021
 6  Provision for inventory obsolescence  10 Inventories   -161         2021
 7                                 Total  10 Inventories  27635         2021

    year
 0  2022
 1  2022
 2  2022
 3  2022
 4  2021
 5  2021
 6  2021
 7  2021  ,
 '10__e99aa245-9d31-3147-91f4-8b5db0c21d19': Empty DataFrame
 Columns: []
 Index: [],
 '6_(c)_46b432b5-a97d-306d-8d36-a0394079a39a':                                          line_item_0 row_header    value  \
 0                      Property, plant and equipment       None      0.0
 1               Proceeds from discontinued operation       None      0.0
 2  Prima facie gain on disposal of discontinued o...       None      0.0
 3  Effect of sale and lease-back transaction gain...       None      0.0
 4                                              Total       None      0.0
 5                      Property, plant and equipment       None -19776.0
 6               Proceeds from discontinued operation       None  75264.0
 7  Prima facie gain on disposal of discontinued o...       None  55488.0
 8  Effect of sale and lease-back transaction gain...       None  -3302.0
 9                                              Total       None  52186.0

   header_col_0 header_col_1  year
 0        $'000         2022  2022
 1        $'000         2022  2022
 2        $'000         2022  2022
 3        $'000         2022  2022
 4        $'000         2022  2022
 5        $'000         2021  2021
 6        $'000         2021  2021
 7        $'000         2021  2021
 8        $'000         2021  2021
 9        $'000         2021  2021  ,
 '6_(c)_4a761b0d-5eec-3642-9de0-648c1c34b55a':                       line_item_0        row_header   value header_col_0  \
 0   Property, plant and equipment  31 December 2022   -69.0         2022
 1               Employee benefits  31 December 2022   581.0         2022
 2                        Accruals  31 December 2022   234.0         2022
 3                     Prepayments  31 December 2022   -22.0         2022
 4          Inventory obsolescence  31 December 2022    48.0         2022
 5                          Leases  31 December 2022   877.0         2022
 6              Blackhole expenses  31 December 2022     0.0         2022
 7                           Total  31 December 2022  1649.0         2022
 8                           Total  31 December 2022     0.0         2022
 9                           Total  31 December 2022     0.0         2022
 10                          Total  31 December 2022  2021.0         2022
 11                          Total  31 December 2022     0.0         2022
 12  Property, plant and equipment  31 December 2021  -651.0         2022
 13              Employee benefits  31 December 2021   930.0         2022
 14                       Accruals  31 December 2021   190.0         2022
 15                    Prepayments  31 December 2021   -26.0         2022
 16         Inventory obsolescence  31 December 2021    24.0         2022
 17                         Leases  31 December 2021    11.0         2022
 18                          Total  31 December 2021   478.0         2022
 19  Property, plant and equipment  31 December 2022    -6.0         2022
 20              Employee benefits  31 December 2022    -3.0         2022
 21                       Accruals  31 December 2022    -9.0         2022
 22                    Prepayments  31 December 2022     3.0         2022
 23         Inventory obsolescence  31 December 2022   -26.0         2022
 24                         Leases  31 December 2022  -493.0         2022
 25             Blackhole expenses  31 December 2022   224.0         2022
 26                          Total  31 December 2022  -310.0         2022
 27                          Total  31 December 2022     0.0         2022
 28                          Total  31 December 2022     0.0         2022
 29                          Total  31 December 2022     0.0         2022
 30                          Total  31 December 2022     0.0         2022
 31  Property, plant and equipment  31 December 2021   582.0         2022
 32              Employee benefits  31 December 2021  -349.0         2022
 33                       Accruals  31 December 2021    44.0         2022
 34                    Prepayments  31 December 2021     4.0         2022
 35         Inventory obsolescence  31 December 2021    24.0         2022
 36                         Leases  31 December 2021   866.0         2022
 37                          Total  31 December 2021  1171.0         2022
 38  Property, plant and equipment  31 December 2022   -75.0         2022
 39              Employee benefits  31 December 2022   578.0         2022
 40                       Accruals  31 December 2022   225.0         2022
 41                    Prepayments  31 December 2022   -19.0         2022
 42         Inventory obsolescence  31 December 2022    22.0         2022
 43                         Leases  31 December 2022   384.0         2022
 44             Blackhole expenses  31 December 2022   224.0         2022
 45                          Total  31 December 2022  1339.0         2022
 46                          Total  31 December 2022     0.0         2022
 47                          Total  31 December 2022     0.0         2022
 48                          Total  31 December 2022  2021.0         2022
 49                          Total  31 December 2022     0.0         2022
 50  Property, plant and equipment  31 December 2021   -69.0         2022
 51              Employee benefits  31 December 2021   581.0         2022
 52                       Accruals  31 December 2021   234.0         2022
 53                    Prepayments  31 December 2021   -22.0         2022
 54         Inventory obsolescence  31 December 2021    48.0         2022
 55                         Leases  31 December 2021   877.0         2022
 56                          Total  31 December 2021  1649.0         2022

                     header_col_1  year
 0           Balance at 1 January  2022
 1           Balance at 1 January  2022
 2           Balance at 1 January  2022
 3           Balance at 1 January  2022
 4           Balance at 1 January  2022
 5           Balance at 1 January  2022
 6           Balance at 1 January  2022
 7           Balance at 1 January  2022
 8           Balance at 1 January  2022
 9           Balance at 1 January  2022
 10          Balance at 1 January  2022
 11          Balance at 1 January  2022
 12          Balance at 1 January  2022
 13          Balance at 1 January  2022
 14          Balance at 1 January  2022
 15          Balance at 1 January  2022
 16          Balance at 1 January  2022
 17          Balance at 1 January  2022
 18          Balance at 1 January  2022
 19  Recognised in profit or loss  2022
 20  Recognised in profit or loss  2022
 21  Recognised in profit or loss  2022
 22  Recognised in profit or loss  2022
 23  Recognised in profit or loss  2022
 24  Recognised in profit or loss  2022
 25  Recognised in profit or loss  2022
 26  Recognised in profit or loss  2022
 27  Recognised in profit or loss  2022
 28  Recognised in profit or loss  2022
 29  Recognised in profit or loss  2022
 30  Recognised in profit or loss  2022
 31  Recognised in profit or loss  2022
 32  Recognised in profit or loss  2022
 33  Recognised in profit or loss  2022
 34  Recognised in profit or loss  2022
 35  Recognised in profit or loss  2022
 36  Recognised in profit or loss  2022
 37  Recognised in profit or loss  2022
 38        Balance at 31 December  2022
 39        Balance at 31 December  2022
 40        Balance at 31 December  2022
 41        Balance at 31 December  2022
 42        Balance at 31 December  2022
 43        Balance at 31 December  2022
 44        Balance at 31 December  2022
 45        Balance at 31 December  2022
 46        Balance at 31 December  2022
 47        Balance at 31 December  2022
 48        Balance at 31 December  2022
 49        Balance at 31 December  2022
 50        Balance at 31 December  2022
 51        Balance at 31 December  2022
 52        Balance at 31 December  2022
 53        Balance at 31 December  2022
 54        Balance at 31 December  2022
 55        Balance at 31 December  2022
 56        Balance at 31 December  2022  ,
 '6_(c)_460fae87-cafc-3af5-85d9-fb6f60a7ea12':    line_item_0 row_header    value                        header_col_0  \
 0        Total       None      0.0  Discontinued operation (continued)
 1        Total       None      0.0  Discontinued operation (continued)
 2        Total       None      0.0  Discontinued operation (continued)
 3        Total       None      0.0  Discontinued operation (continued)
 4        Total       None      0.0  Discontinued operation (continued)
 ..         ...        ...      ...                                 ...
 67       Total       None      0.0  Discontinued operation (continued)
 68       Total       None  14472.0  Discontinued operation (continued)
 69       Total       None  13324.0  Discontinued operation (continued)
 70       Total       None   -161.0  Discontinued operation (continued)
 71       Total       None  27635.0  Discontinued operation (continued)

                            header_col_1  \
 0   For the year ended 31 December 2022
 1   For the year ended 31 December 2022
 2   For the year ended 31 December 2022
 3   For the year ended 31 December 2022
 4   For the year ended 31 December 2022
 ..                                  ...
 67  For the year ended 31 December 2022
 68  For the year ended 31 December 2022
 69  For the year ended 31 December 2022
 70  For the year ended 31 December 2022
 71  For the year ended 31 December 2022

                                      header_col_2                 header_col_3
 0   Notes to the financial statements (continued)  Toyo Tyre Australia Pty Ltd
 1   Notes to the financial statements (continued)  Toyo Tyre Australia Pty Ltd
 2   Notes to the financial statements (continued)  Toyo Tyre Australia Pty Ltd
 3   Notes to the financial statements (continued)  Toyo Tyre Australia Pty Ltd
 4   Notes to the financial statements (continued)  Toyo Tyre Australia Pty Ltd
 ..                                            ...                          ...
 67  Notes to the financial statements (continued)  Toyo Tyre Australia Pty Ltd
 68  Notes to the financial statements (continued)  Toyo Tyre Australia Pty Ltd
 69  Notes to the financial statements (continued)  Toyo Tyre Australia Pty Ltd
 70  Notes to the financial statements (continued)  Toyo Tyre Australia Pty Ltd
 71  Notes to the financial statements (continued)  Toyo Tyre Australia Pty Ltd

 [72 rows x 7 columns],
 '12__0a21830a-a4cd-32d0-a8a2-1e94fe17f24f':                                          line_item_0 row_header  value  \
 0                                     Trade payables       None   1564
 1  Amounts payable to controlling entity (Refer N...       None  19828
 2                       Other creditors and accruals       None  15277
 3                                              Total       None  36669
 4                                     Trade payables       None   3752
 5  Amounts payable to controlling entity (Refer N...       None  19220
 6                       Other creditors and accruals       None  12092
 7                                              Total       None  35064

                header_col_0 header_col_1  year
 0  Trade and other payables         2022  2022
 1  Trade and other payables         2022  2022
 2  Trade and other payables         2022  2022
 3  Trade and other payables         2022  2022
 4                     $'000         2021  2021
 5                     $'000         2021  2021
 6                     $'000         2021  2021
 7                     $'000         2021  2021  ,
 '13__0a21830a-a4cd-32d0-a8a2-1e94fe17f24f':                             line_item_0  \
 0                       Opening balance
 1                             Additions
 2                              Payments
 3                       Closing balance
 4                               Current
 5                           Non-current
 6         Interest on lease liabilities
 7   Depreciation of right-of use assets
 8         Total cash outflow for leases
 9                       Opening balance
 10                            Additions
 11                             Payments
 12                      Closing balance
 13                              Current
 14                          Non-current
 15        Interest on lease liabilities
 16  Depreciation of right-of use assets
 17        Total cash outflow for leases

                                            row_header      value header_col_0  \
 0                                13 Lease liabilities  11043.000         2022
 1                                13 Lease liabilities    888.000         2022
 2                                13 Lease liabilities  -4452.000         2022
 3                                13 Lease liabilities   7638.000         2022
 4                                13 Lease liabilities   3652.000         2022
 5                                13 Lease liabilities   3986.000         2022
 6                Amounts recognised in profit or loss    159.000         2022
 7                Amounts recognised in profit or loss   2649.000         2022
 8   Amounts recognised in the statement of cash flows   4293.000         2022
 9                                13 Lease liabilities   1289.000         2021
 10                               13 Lease liabilities  11685.000         2021
 11                               13 Lease liabilities  -2009.000         2021
 12                               13 Lease liabilities  11043.000         2021
 13                               13 Lease liabilities   4090.000         2021
 14                               13 Lease liabilities   6953.000         2021
 15               Amounts recognised in profit or loss     78.000         2021
 16               Amounts recognised in profit or loss      1.517         2021
 17  Amounts recognised in the statement of cash flows   1931.000         2021

     year
 0   2022
 1   2022
 2   2022
 3   2022
 4   2022
 5   2022
 6   2022
 7   2022
 8   2022
 9   2021
 10  2021
 11  2021
 12  2021
 13  2021
 14  2021
 15  2021
 16  2021
 17  2021  ,
 '14__0a21830a-a4cd-32d0-a8a2-1e94fe17f24f':                                          line_item_0   row_header  value  \
 0  Liability for annual leave and other employee ...      Current   1139
 1                                              Total      Current   1139
 2                    Liabilityfor long-service leave  Non-current    787
 3                                              Total  Non-current    787
 4  Liability for annual leave and other employee ...      Current   1218
 5                                              Total      Current   1218
 6                    Liabilityfor long-service leave  Non-current    720
 7                                              Total  Non-current    720

   header_col_0  year
 0         2022  2022
 1         2022  2022
 2         2022  2022
 3         2022  2022
 4         2021  2021
 5         2021  2021
 6         2021  2021
 7         2021  2021  ,
 '15__016f06ae-009b-3518-9f87-2bdf9e0280f3':        line_item_0 row_header        value header_col_0 header_col_1  \
 0     at 1 January       None   8160000.00       Shares         2022
 1   at 31 December       None   8160000.00       Shares         2022
 2            Total       None         0.00       Shares         2022
 3            Total       None      2022.00       Shares         2022
 4            Total       None         0.00       Shares         2022
 5     at 1 January       None  21840000.00       Shares         2022
 6   at 31 December       None  21840000.00       Shares         2022
 7     at 1 January       None         8.16       Shares         2021
 8   at 31 December       None   8160000.00       Shares         2021
 9            Total       None         0.00       Shares         2021
 10           Total       None      2021.00       Shares         2021
 11           Total       None         0.00       Shares         2021
 12    at 1 January       None  21840000.00       Shares         2021
 13  at 31 December       None  21840000.00       Shares         2021
 14    at 1 January       None      4080.00        $'000         2022
 15  at 31 December       None      4080.00        $'000         2022
 16           Total       None         0.00        $'000         2022
 17           Total       None      2022.00        $'000         2022
 18           Total       None         0.00        $'000         2022
 19    at 1 January       None     10920.00        $'000         2022
 20  at 31 December       None     10920.00        $'000         2022
 21    at 1 January       None      4080.00        $'000         2021
 22  at 31 December       None      4080.00        $'000         2021
 23           Total       None         0.00        $'000         2021
 24           Total       None      2021.00        $'000         2021
 25           Total       None         0.00        $'000         2021
 26    at 1 January       None     10920.00        $'000         2021
 27  at 31 December       None     10920.00        $'000         2021

                header_col_2  year
 0   A class ordinary shares  2022
 1   A class ordinary shares  2022
 2   A class ordinary shares  2022
 3   A class ordinary shares  2022
 4   A class ordinary shares  2022
 5   A class ordinary shares  2022
 6   A class ordinary shares  2022
 7   A class ordinary shares  2021

In [19]:
mp.notes_region_meta_data

,note,subnote,start_page,star_bbox,next_note_pattern,end_page,end_bbox,tableid,row_numbers,tableslist,raw_note_number
0,6,,[28],"[[161, 346, 493, 373]]",7,[28],"[[160, 638, 475, 662]]",[a78bb329-e32e-3971-8099-b6df05267d46],"[[0, 1, 2, 3, 4, 5]]",[<db_models.TableLogs object at 0x7f5b9002fca0>],"[6, 6]"
1,7,,[28],"[[160, 638, 475, 662]]",8,[29],"[[161, 735, 323, 758]]","[dd0b54b1-ae15-356c-ae39-9d60935625e7, 6df1755...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f5b9002f580...,"[7, 7]"
2,8,,[29],"[[161, 735, 323, 758]]",9,[29],"[[161, 1008, 338, 1032]]",[e1c7b062-750d-3921-8259-19418a13f2c6],"[[0, 1, 2, 3, 4, 5]]",[<db_models.TableLogs object at 0x7f5b8ff8bc40>],[8]
3,9,,[29],"[[161, 1008, 338, 1032]]",10,[30],"[[164, 329, 503, 355]]",[e109e16a-a440-32f4-b0b8-84e928bd0fa7],"[[0, 1, 2, 3, 4, 5, 6]]",[<db_models.TableLogs object at 0x7f5b8f0cd9a0>],[9]
4,10,,[30],"[[164, 329, 503, 355]]",11,[31],"[[161, 342, 376, 370]]",[821061f6-6d12-3a83-b648-d905b4b82a31],"[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f5b8ff79f70>],[10]
5,11,,[31],"[[161, 342, 376, 370]]",12,[31],"[[161, 876, 453, 904]]",[fc8cb365-6282-3259-b0ac-3e25ed8239fa],"[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f5b90020220>],[11]
6,5,,[26],"[[162, 744, 324, 769]]",6,[27],"[[165, 855, 1028, 881]]","[fd791fd0-d8c8-32e7-9d3d-36135c068a96, 412c019...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, ...",[<db_models.TableLogs object at 0x7f5b90e8b460...,"[5, 5]"
7,12,,[31],"[[161, 876, 453, 904]]",13,[32],"[[162, 343, 318, 370]]",[fc8cb365-6282-3259-b0ac-3e25ed8239fa],"[[18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28]]",[<db_models.TableLogs object at 0x7f5b90020220>],[12]
8,13,,[32],"[[162, 343, 318, 370]]",14,[32],"[[161, 717, 467, 743]]",[ac23ebec-90cf-3015-ba6d-3797dcee7984],"[[0, 1, 2, 3, 4, 5, 6, 7, 8]]",[<db_models.TableLogs object at 0x7f5b90e8b2b0>],[13]
9,14,,[32],"[[161, 717, 467, 743]]",15,[32],"[[161, 953, 571, 980]]",[46d96b94-e741-3831-8191-cd69b97789e4],"[[0, 1, 2, 3, 4, 5, 6]]",[<db_models.TableLogs object at 0x7f5b9005bf10>],"[14, 14]"
10,15,,[32],"[[161, 953, 571, 980]]",16,[33],"[[162, 976, 284, 998]]","[46d96b94-e741-3831-8191-cd69b97789e4, e18a0fc...","[[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, ...",[<db_models.TableLogs object at 0x7f5b9005bf10...,"[15, 15]"
11,17,,[34],"[[160, 1253, 390, 1281]]",18,[35],"[[160, 501, 338, 529]]",[4e0097f4-2b78-3626-bb5a-20962cf2e862],"[[16, 17, 18, 19, 20]]",[<db_models.TableLogs object at 0x7f5b90e46250>],[17]
12,4,1,[25],"[[161, 379, 373, 406]]",4.2,[25],"[[160, 666, 350, 692]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.1]
13,4,2,[25],"[[160, 666, 350, 692]]",4.3,[25],"[[161, 814, 345, 837]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[11, 12, 13, 14, 15]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.2]
14,4,3,[25],"[[161, 814, 345, 837]]",4.4,[25],"[[160, 1029, 472, 1055]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[15, 16, 17, 18, 19, 20, 21, 22, 23]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.3]
15,4,4,[25],"[[160, 1029, 472, 1055]]",4.5,[25],"[[162, 1218, 925, 1246]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[23, 24, 25, 26, 27, 28]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.4]
16,4,6,[26],"[[161, 379, 459, 407]]",4.7,[26],"[[160, 562, 402, 588]]",[b1818398-7624-37bc-9aba-9e42d0312183],"[[1, 2, 3, 4, 5, 6, 7, 8]]",[<db_models.TableLogs object at 0x7f5b90e46ee0>],[4.6]
17,4,7,[26],"[[160, 562, 402, 588]]",4.8,[27],"[[162, 1103, 686, 1129]]","[fd791fd0-d8c8-32e7-9d3d-36135c068a96, b181839...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [8, 9, 10, 11...",[<db_models.TableLogs object at 0x7f5b90e8b460...,[4.7]
18,,,[13],"[[162, 468, 386, 493]]",,[13],"[[162, 226, 1018, 261]]",[],[],[],[in]

In [20]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5')

In [21]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5').filter(like="line_item", axis=1).columns.to_list()

AttributeError: 'NoneType' object has no attribute 'filter'

In [ ]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5')['year'].max()

In [22]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5').filter(like="header_col", axis=1).sort_index(axis=1, ascending=False)

AttributeError: 'NoneType' object has no attribute 'filter'

In [23]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5').filter(like="header_col", axis=1).sort_index(axis=1, ascending=True).columns.to_list()

AttributeError: 'NoneType' object has no attribute 'filter'

In [24]:
mp.standardised_cropped_dict.keys()

dict_keys(['6__a78bb329-e32e-3971-8099-b6df05267d46', '7__dd0b54b1-ae15-356c-ae39-9d60935625e7', '7__6df1755d-9f56-30b6-b668-3883a4759256', '8__e1c7b062-750d-3921-8259-19418a13f2c6', '9__e109e16a-a440-32f4-b0b8-84e928bd0fa7', '10__821061f6-6d12-3a83-b648-d905b4b82a31', '11__fc8cb365-6282-3259-b0ac-3e25ed8239fa', '5__fd791fd0-d8c8-32e7-9d3d-36135c068a96', '5__412c019a-25e7-31b2-b338-875d3b57db61', '5__d493819c-94d0-307a-aef5-4e241134fa04', '12__fc8cb365-6282-3259-b0ac-3e25ed8239fa', '13__ac23ebec-90cf-3015-ba6d-3797dcee7984', '14__46d96b94-e741-3831-8191-cd69b97789e4', '15__46d96b94-e741-3831-8191-cd69b97789e4', '15__e18a0fc5-eab6-3f17-86a9-d0f8a7dbc230', '17__4e0097f4-2b78-3626-bb5a-20962cf2e862', '4_1_12c134c9-f365-3aad-bb0b-6945e88593df', '4_2_12c134c9-f365-3aad-bb0b-6945e88593df', '4_3_12c134c9-f365-3aad-bb0b-6945e88593df', '4_4_12c134c9-f365-3aad-bb0b-6945e88593df', '4_6_b1818398-7624-37bc-9aba-9e42d0312183', '4_7_fd791fd0-d8c8-32e7-9d3d-36135c068a96', '4_7_b1818398-7624-37bc-9aba-9e42d0312183', '4_7_412c019a-25e7-31b2-b338-875d3b57db61', '4_7_d493819c-94d0-307a-aef5-4e241134fa04'])

In [25]:
# cbs_dict

In [26]:
data_column_names = cbs_dict[6]

# ignore these columns to fetch years list
filter_headers = ['Notes', 'Particulars', 'statement_section', 'statement_sub_section']

# get years list
years_list = ([int(i) for i in data_column_names if i not in filter_headers])
years_list.sort()
years_list = [str(i) for i in years_list]

In [65]:
def convert_standaradised_notes_to_column_row_year(note_df,year_list,standard_note_meta_dict_item):
    ## this function converts standradised note df into 4 columns. rows will be combination of row header + line item 1 + line item 0
    ## cols will be combination of col_header_1 + col_header_0 etc. column which contains year value will be dropped based on standard_note_meta_dict_item
    converted_standardised_df = pd.DataFrame(columns=["rows","columns","year","value"])
    note_df["year"] = pd.to_numeric(note_df["year"],errors='coerce')
    note_df["year"] = note_df["year"].fillna(note_df["year"].max())
    # for curr_year in year_list:
    #         converted_standardised_df[str(curr_year)] = float(0)

    year_column_header_name = standard_note_meta_dict_item.get('year_column_header_name')
    # print(year_column_header_name)
    if year_column_header_name:
         note_df = note_df.drop(year_column_header_name,axis=1)
    line_item_colnames = note_df.filter(like="line_item", axis=1).columns.to_list()
    col_header_colnames = note_df.filter(like="header_col", axis=1).sort_index(axis=1, ascending=False).columns.to_list()
    row_header_available = False
    # print(line_item_colnames)
    if "row_header" in note_df.columns.to_list():
        row_header_available = True
        row_colmns = ["row_header"]
        row_colmns.extend(line_item_colnames)
        # print(row_colmns)
        converted_standardised_df["rows"] = note_df[row_colmns].fillna('').apply(" ".join, axis=1)
    else:
        converted_standardised_df["rows"] = note_df[line_item_colnames].fillna('').apply(" ".join, axis=1)
    converted_standardised_df["columns"] = note_df[col_header_colnames].fillna('').apply(" ".join, axis=1)
    converted_standardised_df["year"] = note_df["year"]
    converted_standardised_df["value"] = note_df["value"]
    return converted_standardised_df

In [66]:
mp.standardised_cropped_dict.get('13__5833a5d1-c09c-3154-8002-4ad74d57e34c')

,line_item_0,row_header,value,header_col_0,header_col_1,header_col_2,header_col_3,year
0,Consolidated,Consolidated,NaN,improvements,Leasehold,assets,Low value,None
1,Balance at 1 April 2021,Consolidated,116059,improvements,Leasehold,assets,Low value,2021
2,Additions,Consolidated,52292,improvements,Leasehold,assets,Low value,None
3,Disposals,Consolidated,NaN,improvements,Leasehold,assets,Low value,None
4,Depreciation expense,Consolidated,"(41,492)",improvements,Leasehold,assets,Low value,None
5,Balance at 31 March 2022,Consolidated,126859,improvements,Leasehold,assets,Low value,2022
6,Consolidated,Consolidated,NaN,Plantand equipment,Plantand equipment,assets,Low value,None
7,Balance at 1 April 2021,Consolidated,365374,Plantand equipment,Plantand equipment,assets,Low value,2021
8,Additions,Consolidated,86255,Plantand equipment,Plantand equipment,assets,Low value,None
9,Disposals,Consolidated,NaN,Plantand equipment,Plantand equipment,assets,Low value,None
10,Depreciation expense,Consolidated,"(60,638)",Plantand equipment,Plantand equipment,assets,Low value,None
11,Balance at 31 March 2022,Consolidated,390991,Plantand equipment,Plantand equipment,assets,Low value,2022
12,Consolidated,Consolidated,NaN,and fittings,Fixtures,assets,Low value,None
13,Balance at 1 April 2021,Consolidated,112265,and fittings,Fixtures,assets,Low value,2021
14,Additions,Consolidated,8789,and fittings,Fixtures,assets,Low value,None
15,Disposals,Consolidated,NaN,and fittings,Fixtures,assets,Low value,None
16,Depreciation expense,Consolidated,"(26,530)",and fittings,Fixtures,assets,Low value,None
17,Balance at 31 March 2022,Consolidated,94524,and fittings,Fixtures,assets,Low value,2022
18,Consolidated,Consolidated,NaN,vehicles,Motor,assets,Low value,None
19,Balance at 1 April 2021,Consolidated,5135623,vehicles,Motor,assets,Low value,2021
20,Additions,Consolidated,2452,vehicles,Motor,assets,Low value,None
21,Disposals,Consolidated,"(46,956)",vehicles,Motor,assets,Low value,None
22,Depreciation expense,Consolidated,"(943,835)",vehicles,Motor,assets,Low value,None
23,Balance at 31 March 2022,Consolidated,4147284,vehicles,Motor,assets,Low value,2022
24,Consolidated,Consolidated,NaN,equipment,Computer,assets,Low value,None
25,Balance at 1 April 2021,Consolidated,1160011,equipment,Computer,assets,Low value,2021
26,Additions,Consolidated,762742,equipment,Computer,assets,Low value,None
27,Disposals,Consolidated,NaN,equipment,Computer,assets,Low value,None
28,Depreciation expense,Consolidated,"(458,542)",equipment,Computer,assets,Low value,None
29,Balance at 31 March 2022,Consolidated,1464211,equipment,Computer,assets,Low value,2022
30,Consolidated,Consolidated,NaN,equipment),(Plant and,assets,Low value,None
31,Balance at 1 April 2021,Consolidated,92905,equipment),(Plant and,assets,Low value,2021
32,Additions,Consolidated,NaN,equipment),(Plant and,assets,Low value,None
33,Disposals,Consolidated,NaN,equipment),(Plant and,assets,Low value,None
34,Depreciation expense,Consolidated,"(31,909)",equipment),(Plant and,assets,Low value,None
35,Balance at 31 March 2022,Consolidated,60996,equipment),(Plant and,assets,Low value,2022
36,Consolidated,Consolidated,NaN,Total,(Plant and,assets,Low value,None
37,Balance at 1 April 2021,Consolidated,6982237,Total,(Plant and,assets,Low value,2021
38,Additions,Consolidated,912530,Total,(Plant and,assets,Low value,None
39,Disposals,Consolidated,"(46,956)",Total,(Plant and,assets,Low value,None
40,Depreciation expense,Consolidated,"(1,562,946)",Total,(Plant and,assets,Low value,None
41,Balance at 31 March 2022,Consolidated,6284865,Total,(Plant and,assets,Low value,2022

In [67]:
convert_standaradised_notes_to_column_row_year(mp.standardised_cropped_dict.get('13__5833a5d1-c09c-3154-8002-4ad74d57e34c'),years_list,mp.standard_note_meta_dict.get('13__5833a5d1-c09c-3154-8002-4ad74d57e34c'))

,rows,columns,year,value
0,Consolidated Consolidated,Low value assets Leasehold improvements,2022.0,NaN
1,Consolidated Balance at 1 April 2021,Low value assets Leasehold improvements,2021.0,116059
2,Consolidated Additions,Low value assets Leasehold improvements,2022.0,52292
3,Consolidated Disposals,Low value assets Leasehold improvements,2022.0,NaN
4,Consolidated Depreciation expense,Low value assets Leasehold improvements,2022.0,"(41,492)"
5,Consolidated Balance at 31 March 2022,Low value assets Leasehold improvements,2022.0,126859
6,Consolidated Consolidated,Low value assets Plantand equipment Plantand e...,2022.0,NaN
7,Consolidated Balance at 1 April 2021,Low value assets Plantand equipment Plantand e...,2021.0,365374
8,Consolidated Additions,Low value assets Plantand equipment Plantand e...,2022.0,86255
9,Consolidated Disposals,Low value assets Plantand equipment Plantand e...,2022.0,NaN
10,Consolidated Depreciation expense,Low value assets Plantand equipment Plantand e...,2022.0,"(60,638)"
11,Consolidated Balance at 31 March 2022,Low value assets Plantand equipment Plantand e...,2022.0,390991
12,Consolidated Consolidated,Low value assets Fixtures and fittings,2022.0,NaN
13,Consolidated Balance at 1 April 2021,Low value assets Fixtures and fittings,2021.0,112265
14,Consolidated Additions,Low value assets Fixtures and fittings,2022.0,8789
15,Consolidated Disposals,Low value assets Fixtures and fittings,2022.0,NaN
16,Consolidated Depreciation expense,Low value assets Fixtures and fittings,2022.0,"(26,530)"
17,Consolidated Balance at 31 March 2022,Low value assets Fixtures and fittings,2022.0,94524
18,Consolidated Consolidated,Low value assets Motor vehicles,2022.0,NaN
19,Consolidated Balance at 1 April 2021,Low value assets Motor vehicles,2021.0,5135623
20,Consolidated Additions,Low value assets Motor vehicles,2022.0,2452
21,Consolidated Disposals,Low value assets Motor vehicles,2022.0,"(46,956)"
22,Consolidated Depreciation expense,Low value assets Motor vehicles,2022.0,"(943,835)"
23,Consolidated Balance at 31 March 2022,Low value assets Motor vehicles,2022.0,4147284
24,Consolidated Consolidated,Low value assets Computer equipment,2022.0,NaN
25,Consolidated Balance at 1 April 2021,Low value assets Computer equipment,2021.0,1160011
26,Consolidated Additions,Low value assets Computer equipment,2022.0,762742
27,Consolidated Disposals,Low value assets Computer equipment,2022.0,NaN
28,Consolidated Depreciation expense,Low value assets Computer equipment,2022.0,"(458,542)"
29,Consolidated Balance at 31 March 2022,Low value assets Computer equipment,2022.0,1464211
30,Consolidated Consolidated,Low value assets (Plant and equipment),2022.0,NaN
31,Consolidated Balance at 1 April 2021,Low value assets (Plant and equipment),2021.0,92905
32,Consolidated Additions,Low value assets (Plant and equipment),2022.0,NaN
33,Consolidated Disposals,Low value assets (Plant and equipment),2022.0,NaN
34,Consolidated Depreciation expense,Low value assets (Plant and equipment),2022.0,"(31,909)"
35,Consolidated Balance at 31 March 2022,Low value assets (Plant and equipment),2022.0,60996
36,Consolidated Consolidated,Low value assets (Plant and Total,2022.0,NaN
37,Consolidated Balance at 1 April 2021,Low value assets (Plant and Total,2021.0,6982237
38,Consolidated Additions,Low value assets (Plant and Total,2022.0,912530
39,Consolidated Disposals,Low value assets (Plant and Total,2022.0,"(46,956)"
40,Consolidated Depreciation expense,Low value assets (Plant and Total,2022.0,"(1,562,946)"
41,Consolidated Balance at 31 March 2022,Low value assets (Plant and Total,2022.0,6284865

In [2]:
# for key,value in mp.standardised_cropped_dict.items():
#     display("standardised raw dict:= ",mp.standardised_cropped_dict.get(key))
#     conv_std_df = convert_standaradised_notes_to_column_row_year(mp.standardised_cropped_dict.get(key),years_list,mp.standard_note_meta_dict.get(key))
#     display("converted _dict : ",conv_std_df)

In [1]:
# for key,value in mp.standardised_cropped_dict.items():
#     display("standardised raw dict:= ",mp.standardised_cropped_dict.get(key))
#     conv_std_df = mp.transformed_standardised_cropped_dict.get(key)
#     display("converted _dict : ",conv_std_df)

In [6]:
mp.transformed_standardised_cropped_dict.get('13__5833a5d1-c09c-3154-8002-4ad74d57e34c')

,rows,columns,year,value
0,Consolidated Consolidated,Low value assets Leasehold improvements,2022.0,NaN
1,Consolidated Balance at 1 April 2021,Low value assets Leasehold improvements,2021.0,116059
2,Consolidated Additions,Low value assets Leasehold improvements,2022.0,52292
3,Consolidated Disposals,Low value assets Leasehold improvements,2022.0,NaN
4,Consolidated Depreciation expense,Low value assets Leasehold improvements,2022.0,"(41,492)"
5,Consolidated Balance at 31 March 2022,Low value assets Leasehold improvements,2022.0,126859
6,Consolidated Consolidated,Low value assets Plantand equipment Plantand e...,2022.0,NaN
7,Consolidated Balance at 1 April 2021,Low value assets Plantand equipment Plantand e...,2021.0,365374
8,Consolidated Additions,Low value assets Plantand equipment Plantand e...,2022.0,86255
9,Consolidated Disposals,Low value assets Plantand equipment Plantand e...,2022.0,NaN
10,Consolidated Depreciation expense,Low value assets Plantand equipment Plantand e...,2022.0,"(60,638)"
11,Consolidated Balance at 31 March 2022,Low value assets Plantand equipment Plantand e...,2022.0,390991
12,Consolidated Consolidated,Low value assets Fixtures and fittings,2022.0,NaN
13,Consolidated Balance at 1 April 2021,Low value assets Fixtures and fittings,2021.0,112265
14,Consolidated Additions,Low value assets Fixtures and fittings,2022.0,8789
15,Consolidated Disposals,Low value assets Fixtures and fittings,2022.0,NaN
16,Consolidated Depreciation expense,Low value assets Fixtures and fittings,2022.0,"(26,530)"
17,Consolidated Balance at 31 March 2022,Low value assets Fixtures and fittings,2022.0,94524
18,Consolidated Consolidated,Low value assets Motor vehicles,2022.0,NaN
19,Consolidated Balance at 1 April 2021,Low value assets Motor vehicles,2021.0,5135623
20,Consolidated Additions,Low value assets Motor vehicles,2022.0,2452
21,Consolidated Disposals,Low value assets Motor vehicles,2022.0,"(46,956)"
22,Consolidated Depreciation expense,Low value assets Motor vehicles,2022.0,"(943,835)"
23,Consolidated Balance at 31 March 2022,Low value assets Motor vehicles,2022.0,4147284
24,Consolidated Consolidated,Low value assets Computer equipment,2022.0,NaN
25,Consolidated Balance at 1 April 2021,Low value assets Computer equipment,2021.0,1160011
26,Consolidated Additions,Low value assets Computer equipment,2022.0,762742
27,Consolidated Disposals,Low value assets Computer equipment,2022.0,NaN
28,Consolidated Depreciation expense,Low value assets Computer equipment,2022.0,"(458,542)"
29,Consolidated Balance at 31 March 2022,Low value assets Computer equipment,2022.0,1464211
30,Consolidated Consolidated,Low value assets (Plant and equipment),2022.0,NaN
31,Consolidated Balance at 1 April 2021,Low value assets (Plant and equipment),2021.0,92905
32,Consolidated Additions,Low value assets (Plant and equipment),2022.0,NaN
33,Consolidated Disposals,Low value assets (Plant and equipment),2022.0,NaN
34,Consolidated Depreciation expense,Low value assets (Plant and equipment),2022.0,"(31,909)"
35,Consolidated Balance at 31 March 2022,Low value assets (Plant and equipment),2022.0,60996
36,Consolidated Consolidated,Low value assets (Plant and Total,2022.0,NaN
37,Consolidated Balance at 1 April 2021,Low value assets (Plant and Total,2021.0,6982237
38,Consolidated Additions,Low value assets (Plant and Total,2022.0,912530
39,Consolidated Disposals,Low value assets (Plant and Total,2022.0,"(46,956)"
40,Consolidated Depreciation expense,Low value assets (Plant and Total,2022.0,"(1,562,946)"
41,Consolidated Balance at 31 March 2022,Low value assets (Plant and Total,2022.0,6284865

In [11]:
tetst = mp.standard_note_meta_dict.get('8__f6d116da-1b4a-335e-a24e-3f0e2bae318e')

In [12]:
tetst

{'date_column_number': [1, 2],
 'date_row_number': [[1], [1]],
 'date_raw_text': [['2022'], ['2021']],
 'date_extracted_year': [[2022], [2021]],
 'data_first_column': 1,
 'data_first_row': 3,
 'data_particular_end_col': 0,
 'data_particular_start_row': 3,
 'header_indices': [0, 1, 2],
 'row_header_indices': [],
 'year_column_header_name': 'header_col_1'}

In [15]:
for a,b in zip(tetst['date_raw_text'],tetst['date_extracted_year']):
    print(a,b)

['2022'] [2022]
['2021'] [2021]

In [13]:
from collections import defaultdict
  
Details = defaultdict(dict)
Details["Country"] = ({"cnt":"india"})
# Details["Country"].append("India")
# Details["Country"].append("Pakistan")
print(Details)

defaultdict(<class 'dict'>, {'Country': {'cnt': 'india'}})

In [8]:
Details["Country"].appe

defaultdict(<class 'list'>, {'Country': ['India', 'Pakistan', ['najd', 'kad'], 'najd', 'kad']})

In [14]:
class NestedDefaultDict(defaultdict):
    def __init__(self, *args, **kwargs):
        super(NestedDefaultDict, self).__init__(NestedDefaultDict, *args, **kwargs)

    def __repr__(self):
        return repr(dict(self))

In [16]:
my_dict = NestedDefaultDict()
my_dict['a']['b'] = ["haihd","kajdo"]

In [17]:
my_dict

{'a': {'b': ['haihd', 'kajdo']}}

In [18]:
my_dict['a']['b'].extend(["jj","oo"])

In [19]:
my_dict

{'a': {'b': ['haihd', 'kajdo', 'jj', 'oo']}}

In [22]:
my_dict['b']['a'].extend(["jj","oo"])

AttributeError: 'NestedDefaultDict' object has no attribute 'extend'

In [3]:
from database import get_db, get_db1
import db_models

In [4]:
db = get_db1()

In [5]:
fileid = '5b030195-e834-45c5-904d-85db9cab7b0e'

In [6]:
file_query = db.query(db_models.FileLogs).filter(db_models.FileLogs.fileid == fileid).order_by(db_models.FileLogs.time.desc()).first()
page_query = db.query(db_models.PageLogs).filter(db_models.PageLogs.fileid == fileid).order_by(db_models.PageLogs.time.desc())
pages = page_query.all()

In [7]:
for page in pages:
    if page.page_number == 7:
        tabale_query = db.query(db_models.TableLogs).filter(db_models.TableLogs.pageid == page.pageid).order_by(db_models.TableLogs.time.desc())#.all()
        table_df = pd.read_sql(tabale_query.statement, tabale_query.session.bind)

In [8]:
table_df

,id,pageid,tableid,left,top,right,down,width,height,conf,table_img_save_path,html_string,time
0,1478,5b915c6a-8eee-4899-a207-9e07d586d34e,833c6aa1-7d29-3a55-a882-92053cdca0fd,1307,2632,2059,2835,752,203,0.949840,/home/jayesh/mgs_ai/crm_syd_1/CRM_SYD_main_app...,"<table><tr><td>(290,439)</td><td>(23,106)</td>...",2023-05-25 04:25:13.018084+00:00
1,1479,5b915c6a-8eee-4899-a207-9e07d586d34e,058dc984-f959-3e41-98a0-3a1d1d8767f3,266,373,2084,2270,1818,1897,0.885318,/home/jayesh/mgs_ai/crm_syd_1/CRM_SYD_main_app...,<table><tr><td></td><td></td><td>Dec-22</td><t...,2023-05-25 04:25:13.018084+00:00
2,1480,5b915c6a-8eee-4899-a207-9e07d586d34e,81a697e8-3e92-3ae2-a183-81c7f823144b,1309,2339,2060,2543,751,204,0.715499,/home/jayesh/mgs_ai/crm_syd_1/CRM_SYD_main_app...,"<table><tr><td>(309,427)</td><td>(65,386)</td>...",2023-05-25 04:25:13.018084+00:00

In [9]:
for idx,value in table_df.iterrows():
    print(pd.read_html(value.html_string)[0])

           0         1
0  (290,439)  (23,106)
1        (9)        62
2  (290,448)  (23,044)
                                                    0      1            2  \
0                                                 NaN    NaN       Dec-22
1                                                 NaN  Notes        $'000
2                               Continuing operations    NaN          NaN
3                                             Revenue    4.1      2111497
4                                             Revenue    NaN      2111497
5                                       Cost of sales    NaN  (1,842,006)
6                                        Gross Profit    NaN       269491
7                                        Other income    6.1        19111
8                   Personnel costs non-manufacturing    NaN    (122,639)
9                          Logistics and distribution    NaN    (188,212)
10                         General and administration    6.2     (33,594)
11                                Sales and marketing    NaN     (28,809)
12                           Research and development    6.3        (269)
13                                     Once off costs    6.4    (216,280)
14                            Operating Profit/(Loss)    NaN    (301,201)
15                                     Finance income    6.5          977
16                                   Finance expenses    6.6     (18,711)
17  Profit/(Loss) before tax from continued operat...    NaN    (318,935)
18                        Income tax (expense)benefit      7         9499
19                         Profit/(Loss) for the year    NaN    (309,436)
20                  Other comprehensive Income/(loss)    NaN          NaN
21  Net foreign exchange differences on translatio...     20      (1,504)
22   Net gains/losses) on cash flow hedges net of tax     20        19890
23  Actuarial gains/losses) on defined benefit pla...     20          602
24  Other comprehensive income for the year net of...    NaN        18988
25       Total comprehensive Gain/(loss) for the year    NaN    (290,448)

              3
0        Dec-21
1         $'000
2           NaN
3       1967140
4       1967140
5   (1,714,056)
6        253084
7         24236
8     (127,371)
9     (122,054)
10     (46,809)
11     (32,539)
12        (355)
13          NaN
14     (51,808)
15           64
16     (13,727)
17     (65,471)
18          130
19     (65,341)
20          NaN
21         3974
22        35502
23         2821
24        42297
25     (23,044)
           0         1
0  (309,427)  (65,386)
1        (9)        45
2  (309,436)  (65,341)

In [27]:
# for table in table_df:
#     print(table.top)
#     html_string = table.html_string
#     tmp_df = pd.read_html(html_string)[0]
#     print(tmp_df)

2632
           0         1
0  (290,439)  (23,106)
1        (9)        62
2  (290,448)  (23,044)
373
                                                    0      1            2  \
0                                                 NaN    NaN       Dec-22
1                                                 NaN  Notes        $'000
2                               Continuing operations    NaN          NaN
3                                             Revenue    4.1      2111497
4                                             Revenue    NaN      2111497
5                                       Cost of sales    NaN  (1,842,006)
6                                        Gross Profit    NaN       269491
7                                        Other income    6.1        19111
8                   Personnel costs non-manufacturing    NaN    (122,639)
9                          Logistics and distribution    NaN    (188,212)
10                         General and administration    6.2     (33,594)
11                                Sales and marketing    NaN     (28,809)
12                           Research and development    6.3        (269)
13                                     Once off costs    6.4    (216,280)
14                            Operating Profit/(Loss)    NaN    (301,201)
15                                     Finance income    6.5          977
16                                   Finance expenses    6.6     (18,711)
17  Profit/(Loss) before tax from continued operat...    NaN    (318,935)
18                        Income tax (expense)benefit      7         9499
19                         Profit/(Loss) for the year    NaN    (309,436)
20                  Other comprehensive Incomel(loss)    NaN          NaN
21  Net foreign exchange differences on translatio...     20      (1,504)
22  Net gains/(losses) on cash flow hedges net of tax     20        19890
23  Actuarial gains/(losses) on defined benefit pl...     20          602
24  Other comprehensive income for the year net of...    NaN        18988
25       Total comprehensive Gain/(loss) for the year    NaN    (290,448)

              3
0        Dec-21
1         $'000
2           NaN
3       1967140
4       1967140
5   (1,714,056)
6        253084
7         24236
8     (127,371)
9     (122,054)
10     (46,809)
11     (32,539)
12        (355)
13          NaN
14     (51,808)
15           64
16     (13,727)
17     (65,471)
18          130
19     (65,341)
20          NaN
21         3974
22        35502
23         2821
24        42297
25     (23,044)
2339
           0         1
0  (309,427)  (65,386)
1        (9)        45
2  (309,436)  (65,341)