In [8]:
import pandas as pd
import os
from os import path
import json
from IPython.display import display

In [9]:
from process_core import mainPageProcess

In [10]:
fileid = '31619a6c-1d45-4254-a344-68dd77337100'

In [11]:
mp = mainPageProcess()

In [12]:
cbs_dict,cpl_dict,ccf_dict,meta_dict,final_notes_dict,ref_notes_list, notes_region_meta_data,cropped_table_dict = mp.process_main_pages(fileid=fileid)

/home/mgsuser01/AI/testing_code/main_page_processing_service/utils.py:57: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/utils.py:57: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/utils.py:57: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():

key :9__2907c6e1-c5af-3a2c-9386-8e928a5b4856
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: 76310.0, 2021: 119092.0}
df =                      0             1       2
0                  NaN  Consolidated     NaN
1                  NaN          2022    2021
2                  NaN         $'000   $'000
3         Cash on hand           NaN     NaN
4         Cash at bank         18283   43482
5  Short-term deposits         58026   75609
6                  NaN         76310  119092
index dict = {2022: {'row_indices': [6], 'col_indices': [1]}, 2021: {'row_indices': [6], 'col_indices': [2]}}
main_page_year_values: {2022: 76310.0, 2021: 119092.0}
df =                      0             1       2
0                  NaN  Consolidated     NaN
1                  NaN          2022    2021
2                  NaN         $'000   $'000
3         Cash on hand           NaN     NaN
4         Cash at bank         18283   43482
5  Short-term deposits         58026   75609
6                  NaN         76310  119092
index dict = {2022: {'row_indices': [6, 6], 'col_indices': [1, 1]}, 2021: {'row_indices': [6, 6], 'col_indices': [2, 2]}}
prev_column_number=[1, 2]
prev_row_number=[[1], [1]]
validate with previosu results
prev_col_number=[1, 2]
col_lst_unique=[1, 2]
inter_sect={1, 2}
prev_row_unique={1}
mod_df:                      0             1       2
0                  NaN  Consolidated     NaN
1                  NaN          2022    2021
2                  NaN         $'000   $'000
3         Cash on hand           NaN     NaN
4         Cash at bank         18283   43482
5  Short-term deposits         58026   75609
6                  NaN         76310  119092
column_numbr_s = [1, 2], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 4) , particular_end_col: 0 ,particular_start_row: 3
header indices : [0, 1, 2]
key :10__337809a3-e747-3365-b7af-3e12761343fa
 date cords : [2, 3] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: 263120.0, 2021: 186308.0}
df =                                              0  \
0                                          NaN
1                                          NaN
2                                          NaN
3                            Trade receivables
4   Less: Allowance for expected credit losses
5                                          NaN
6                            Lease receivables
7   Less: Allowance for expected credit losses
8                                          NaN
9                Receivable from related party
10                           Other receivables
11                  Loans receivable (note 32)
12                                         NaN

                                             1             2        3
0                                          NaN  Consolidated      NaN
1                                          NaN          2022     2021
2                                          NaN         $'000    $'000
3                                          NaN        118961    97921
4   Less: Allowance for expected credit losses       (3,856)  (5,059)
5                                          NaN        115105    92862
6                                          NaN         86029    91600
7   Less: Allowance for expected credit losses       (1,765)  (1,646)
8                                          NaN         84264    89954
9                                          NaN          1329      360
10                                         NaN          2422     3132
11                                         NaN         60000      NaN
12                                         NaN        263120   186308
index dict = {2022: {'row_indices': [12], 'col_indices': [2]}, 2021: {'row_indices': [12], 'col_indices': [3]}}
prev_column_number=[2, 3]
prev_row_number=[[1], [1]]
validate with previosu results
prev_col_number=[2, 3]
col_lst_unique=[2, 3]
inter_sect={2, 3}
prev_row_unique={1}
mod_df:                                              0  \
0                                          NaN
1                                          NaN
2                                          NaN
3                            Trade receivables
4   Less: Allowance for expected credit losses
5                                          NaN
6                            Lease receivables
7   Less: Allowance for expected credit losses
8                                          NaN
9                Receivable from related party
10                           Other receivables
11                  Loans receivable (note 32)
12                                         NaN

                                             1             2        3
0                                          NaN  Consolidated      NaN
1                                          NaN          2022     2021
2                                          NaN         $'000    $'000
3                                          NaN        118961    97921
4   Less: Allowance for expected credit losses       (3,856)  (5,059)
5                                          NaN        115105    92862
6                                          NaN         86029    91600
7   Less: Allowance for expected credit losses       (1,765)  (1,646)
8                                          NaN         84264    89954
9                                          NaN          1329      360
10                                         NaN          2422     3132
11                                         NaN         60000      NaN
12                                         NaN        263120   186308
column_numbr_s = [2, 3], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [2, 3] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (2, 3) , particular_end_col: 1 ,particular_start_row: 3
header indices : [0, 1, 2]
key :10__2ecaa2bc-d99e-3faf-b49f-9361813860bf
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: 263120.0, 2021: 186308.0}
df =                                                     0             1         2
0                                                 NaN  Consolidated       NaN
1                                                 NaN          2022      2021
2                                                 NaN         $'000     $'000
3                                  Lessor commitments           NaN       NaN
4   Committed at the reporting date and recognised...           NaN       NaN
5                                     Within one year        100117    108325
6                                   One to five years        143549    144322
7                                More than five years           799       827
8                                    Total commitment        244465    253474
9                        Less: Future finance charges      (48,360)  (48,261)
10                Net commitment recognised as assets        196105    205213
11                                      Representing:           NaN       NaN
12                           Lease receivable current         86029     91600
13     Finance lease receivable non-current (note 13)        109942    113613
14                                                NaN        195971    205213
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
prev_column_number=[1, 2]
prev_row_number=[[1], [1]]
validate with previosu results
prev_col_number=[1, 2]
col_lst_unique=[]
inter_sect=set()
prev_row_unique={1}
mod_df:                                                     0             1         2
0                                                 NaN  Consolidated       NaN
1                                                 NaN          2022      2021
2                                                 NaN         $'000     $'000
3                                  Lessor commitments           NaN       NaN
4   Committed at the reporting date and recognised...           NaN       NaN
5                                     Within one year        100117    108325
6                                   One to five years        143549    144322
7                                More than five years           799       827
8                                    Total commitment        244465    253474
9                        Less: Future finance charges      (48,360)  (48,261)
10                Net commitment recognised as assets        196105    205213
11                                      Representing:           NaN       NaN
12                           Lease receivable current         86029     91600
13     Finance lease receivable non-current (note 13)        109942    113613
14                                                NaN        195971    205213
column_numbr_s = [-1], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 5) , particular_end_col: 0 ,particular_start_row: 3
header indices : [0, 1, 2]
key :11__e24b7a82-38f4-3ff3-b543-f3b4139dc216
 date cords : [0, 1] ,([[3], [1]], [['2022 2021']], [[2022]])
main_page_year_values: {2022: 105830.0, 2021: 67918.0}
df =               0            1
0  Consolidated          NaN
1     2022 2021    2022 2021
2   $'000 $'000  $'000 $'000
3        112774        73348
4       (6,944)      (5,430)
5        105830        67918
index dict = {2022: {'row_indices': [5], 'col_indices': [0]}, 2021: {'row_indices': [5], 'col_indices': [1]}}
prev_column_number=[0, 1]
prev_row_number=[[3], [1]]
validate with previosu results
prev_col_number=[0, 1]
col_lst_unique=[0, 1]
inter_sect={0, 1}
prev_row_unique={1, 3}
mod_df:               0            1
0  Consolidated          NaN
1     2022 2021    2022 2021
2   $'000 $'000  $'000 $'000
3        112774        73348
4       (6,944)      (5,430)
5        105830        67918
column_numbr_s = [0, 1], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [0, 1] ,([[3], [1]], [['2022 2021']], [[2022]])
data_row_coords: (1, 3) , particular_end_col: 0 ,particular_start_row: 3
header indices : [1, 2]
key :12__3387dc3c-d5df-344a-9c7d-1139bed0f1fd
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: 8932.0, 2021: 8583.0}
df =                       0             1      2
0                   NaN  Consolidated    NaN
1                   NaN          2022   2021
2                   NaN         $'000  $'000
3                   NaN           NaN    NaN
4           Prepayments          6067   5031
5     Security deposits            16    580
6        Other deposits          1752    741
7  Other current assets          1097   2231
8                   NaN          8932   8583
index dict = {2022: {'row_indices': [8], 'col_indices': [1]}, 2021: {'row_indices': [8], 'col_indices': [2]}}
prev_column_number=[1, 2]
prev_row_number=[[1], [1]]
validate with previosu results
prev_col_number=[1, 2]
col_lst_unique=[1, 2]
inter_sect={1, 2}
prev_row_unique={1}
mod_df:                       0             1      2
0                   NaN  Consolidated    NaN
1                   NaN          2022   2021
2                   NaN         $'000  $'000
3                   NaN           NaN    NaN
4           Prepayments          6067   5031
5     Security deposits            16    580
6        Other deposits          1752    741
7  Other current assets          1097   2231
8                   NaN          8932   8583
column_numbr_s = [1, 2], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 4) , particular_end_col: 0 ,particular_start_row: 3
header indices : [0, 1, 2]
key :13__dc5f73c6-7457-3bd1-80b2-8a9296eb3fad
 date cords : [0, 0, 1] ,([[1], [1], [1]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: 107358.0, 2021: 111296.0}
df =               0        1
0  Consolidated      NaN
1          2022     2021
2         $'000    $'000
3        109942   113613
4       (2,584)  (2,317)
5        107358   111296
index dict = {2022: {'row_indices': [5], 'col_indices': [0]}, 2021: {'row_indices': [5], 'col_indices': [1]}}
prev_column_number=[0, 0, 1]
prev_row_number=[[1], [1], [1]]
validate with previosu results
prev_col_number=[0, 0, 1]
col_lst_unique=[0, 1]
inter_sect={0, 1}
prev_row_unique={1}
mod_df:               0        1
0  Consolidated      NaN
1          2022     2021
2         $'000    $'000
3        109942   113613
4       (2,584)  (2,317)
5        107358   111296
column_numbr_s = [0, 0, 1], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [0, 0, 1] ,([[1], [1], [1]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 3) , particular_end_col: 0 ,particular_start_row: 3
header indices : [1, 2]
key :14__a5b71f98-b1e1-368e-a683-4d2530e07242
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: 27543.0, 2021: 28627.0}
df =                                    0             1              2
0                                NaN  Consolidated            NaN
1                                NaN          2022           2021
2                                NaN         $'000          $'000
3     Leasehold improvements at cost         33573          32454
4     Less: Accumulated depreciation      (20,615)       (18,902)
5                                NaN         12958          13552
6             Motor vehicles at cost          3687  3,207 (2,221)
7     Less: Accumulated depreciation       (2,616)  3,207 (2,221)
8                                NaN          1071            986
9         Office equipment - at cost         39604          39131
10    Less: Accumulated depreciation      (33,685)       (31,727)
11                               NaN          5919           7404
12             Rental assets at cost         17069          19696
13    Less: Accumulated depreciation      (12,685)       (13,642)
14                               NaN          4384           6054
15  Construction in progress at cost          3211            631
16                               NaN         27543          28627
index dict = {2022: {'row_indices': [16], 'col_indices': [1]}, 2021: {'row_indices': [16], 'col_indices': [2]}}
main_page_year_values: {2022: -9839.0, 2021: -1336.0}
df =                                    0             1              2
0                                NaN  Consolidated            NaN
1                                NaN          2022           2021
2                                NaN         $'000          $'000
3     Leasehold improvements at cost         33573          32454
4     Less: Accumulated depreciation      (20,615)       (18,902)
5                                NaN         12958          13552
6             Motor vehicles at cost          3687  3,207 (2,221)
7     Less: Accumulated depreciation       (2,616)  3,207 (2,221)
8                                NaN          1071            986
9         Office equipment - at cost         39604          39131
10    Less: Accumulated depreciation      (33,685)       (31,727)
11                               NaN          5919           7404
12             Rental assets at cost         17069          19696
13    Less: Accumulated depreciation      (12,685)       (13,642)
14                               NaN          4384           6054
15  Construction in progress at cost          3211            631
16                               NaN         27543          28627
index dict = {2022: {'row_indices': [16], 'col_indices': [1]}, 2021: {'row_indices': [16], 'col_indices': [2]}}
prev_column_number=[1, 2]
prev_row_number=[[1], [1]]
validate with previosu results
prev_col_number=[1, 2]
col_lst_unique=[1, 2]
inter_sect={1, 2}
prev_row_unique={1}
mod_df:                                    0             1              2
0                                NaN  Consolidated            NaN
1                                NaN          2022           2021
2                                NaN         $'000          $'000
3     Leasehold improvements at cost         33573          32454
4     Less: Accumulated depreciation      (20,615)       (18,902)
5                                NaN         12958          13552
6             Motor vehicles at cost          3687  3,207 (2,221)
7     Less: Accumulated depreciation       (2,616)  3,207 (2,221)
8                                NaN          1071            986
9         Office equipment - at cost         39604          39131
10    Less: Accumulated depreciation      (33,685)       (31,727)
11                               NaN          5919           7404
12             Rental assets at cost         17069          19696
13    Less: Accumulated depreciation      (12,685)       (13,642)
14                               NaN          4384           6054
15  Construction in progress at cost          3211            631
16                               NaN         27543          28627
column_numbr_s = [1, 2], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 3) , particular_end_col: 0 ,particular_start_row: 3
header indices : [0, 1, 2]
key :14__246af9d8-17fb-38ca-8a55-9a9305ee9410
 date cords : [0] ,([[2, 10]], [['Balance at 1 January 2022', 'Balance at 31 December 2022']], [['2022', '2022']])
main_page_year_values: {2022: 27543.0, 2021: 28627.0}
df =                                0                             1  \
0                   Consolidated  Leasehold improvements $'000
1                            NaN                           NaN
2      Balance at 1 January 2022                         13552
3                      Additions                          3392
4     Additions through business                           NaN
5         combinations (note 34)                             1
6                      Disposals                          (63)
7   Foreign exchange differences                          (24)
8            Write off of assets                         (290)
9           Depreciation expense                       (3,610)
10   Balance at 31 December 2022                         12958

                       2                       3                    4  \
0   Motor vehicles $'000  Office equipment $'000  Rental assets $'000
1                    NaN                     NaN                  NaN
2                    986                    7404                 6054
3                    815                    1815                 1257
4                    NaN                     NaN                  NaN
5                    NaN                     NaN                  NaN
6                    NaN                    (42)                  NaN
7                   (13)                    (21)                 (44)
8                   (23)                   (105)                (258)
9                  (694)                 (3,132)              (2,625)
10                  1071                    5919                 4384

                                 5            6
0   Construction in progress $'000  Total $'000
1                              NaN          NaN
2                              631        28627
3                             2560         9839
4                              NaN          NaN
5                              NaN          NaN
6                              NaN        (105)
7                               20         (82)
8                              NaN        (676)
9                              NaN     (10,061)
10                            3211        27543

/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:609: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:609: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:609: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():

key :16__f442e2e6-be4b-39cc-aa76-98dc4afbee12
 date cords : [2, 3] ,([[2], [2]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: 92689.0, 2021: 95613.0}
df =                                  0                               1  \
0                              NaN                             NaN
1                              NaN                             NaN
2                              NaN                             NaN
3                              NaN                             NaN
4               Goodwill - at cost                             NaN
5                 Software at cost                             NaN
6   Less: Accumulated amortisation  Less: Accumulated amortisation
7                              NaN                             NaN
8                   Brands at cost                             NaN
9   Less: Accumulated amortisation  Less: Accumulated amortisation
10                             NaN                             NaN
11      Customer contracts at cost      Customer contracts at cost
12  Less: Accumulated amortisation  Less: Accumulated amortisation
13                             NaN                             NaN
14                             NaN                             NaN

                  2                3
0               NaN              NaN
1      Consolidated              NaN
2              2022             2021
3             $'000            $'000
4             84819            81052
5   48,880 (46,323)  48,087 (39,701)
6   48,880 (46,323)  48,087 (39,701)
7              2557             8386
8               875              649
9             (762)            (649)
10              113              NaN
11            18877            17878
12         (13,677)         (11,703)
13             5200             6175
14            92689            95613
index dict = {2022: {'row_indices': [14], 'col_indices': [2]}, 2021: {'row_indices': [14], 'col_indices': [3]}}
main_page_year_values: {2022: -798.0, 2021: -2830.0}
df =                                  0                               1  \
0                              NaN                             NaN
1                              NaN                             NaN
2                              NaN                             NaN
3                              NaN                             NaN
4               Goodwill - at cost                             NaN
5                 Software at cost                             NaN
6   Less: Accumulated amortisation  Less: Accumulated amortisation
7                              NaN                             NaN
8                   Brands at cost                             NaN
9   Less: Accumulated amortisation  Less: Accumulated amortisation
10                             NaN                             NaN
11      Customer contracts at cost      Customer contracts at cost
12  Less: Accumulated amortisation  Less: Accumulated amortisation
13                             NaN                             NaN
14                             NaN                             NaN

                  2                3
0               NaN              NaN
1      Consolidated              NaN
2              2022             2021
3             $'000            $'000
4             84819            81052
5   48,880 (46,323)  48,087 (39,701)
6   48,880 (46,323)  48,087 (39,701)
7              2557             8386
8               875              649
9             (762)            (649)
10              113              NaN
11            18877            17878
12         (13,677)         (11,703)
13             5200             6175
14            92689            95613
index dict = {2022: {'row_indices': [14], 'col_indices': [2]}, 2021: {'row_indices': [14], 'col_indices': [3]}}
prev_column_number=[2, 3]
prev_row_number=[[2], [2]]
validate with previosu results
prev_col_number=[2, 3]
col_lst_unique=[2, 3]
inter_sect={2, 3}
prev_row_unique={2}
mod_df:                                  0                               1  \
0                              NaN                             NaN
1                              NaN                             NaN
2                              NaN                             NaN
3                              NaN                             NaN
4               Goodwill - at cost                             NaN
5                 Software at cost                             NaN
6   Less: Accumulated amortisation  Less: Accumulated amortisation
7                              NaN                             NaN
8                   Brands at cost                             NaN
9   Less: Accumulated amortisation  Less: Accumulated amortisation
10                             NaN                             NaN
11      Customer contracts at cost      Customer contracts at cost
12  Less: Accumulated amortisation  Less: Accumulated amortisation
13                             NaN                             NaN
14                             NaN                             NaN

                  2                3
0               NaN              NaN
1      Consolidated              NaN
2              2022             2021
3             $'000            $'000
4             84819            81052
5   48,880 (46,323)  48,087 (39,701)
6   48,880 (46,323)  48,087 (39,701)
7              2557             8386
8               875              649
9             (762)            (649)
10              113              NaN
11            18877            17878
12         (13,677)         (11,703)
13             5200             6175
14            92689            95613
column_numbr_s = [2, 3], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [2, 3] ,([[2], [2]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (2, 4) , particular_end_col: 1 ,particular_start_row: 4
header indices : [1, 2, 3]
key :17__50050983-9b51-373b-8439-20304adcd2a5
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: 1918.0, 2021: 1850.0}
df =                                                     0             1         2
0                                                 NaN  Consolidated       NaN
1                                                 NaN          2022      2021
2                                                 NaN         $'000     $'000
3   Deferred tax asset comprises temporary differe...           NaN       NaN
4               Amounts recognised in profit or loss:           NaN       NaN
5                Allowance for expected credit losses          1755      1085
6                                         Inventories          1775      1625
7                                   Employee benefits          9284      8291
8                                    Accrued expenses          1884      2606
9                                    Foreign currency          1266      1340
10                                              Other          4366      4446
11                                  Lease liabilities         15617     14236
12  Deferred tax assets offset against deferred ta...      (34,029)  (31,779)
13                                 Deferred tax asset          1918      1850
14                                         Movements:           NaN       NaN
15                                    Opening balance          1850      1362
16                Credited to profit or loss (note 8)            68       488
17                                    Closing balance          1918      1850
18  Note 18. Current liabilities trade and other p...           NaN       NaN
index dict = {2022: {'row_indices': [13, 17], 'col_indices': [1, 1]}, 2021: {'row_indices': [15, 13, 17], 'col_indices': [1, 2, 2]}}
prev_column_number=[1, 2]
prev_row_number=[[1], [1]]
validate with previosu results
prev_col_number=[1, 2]
col_lst_unique=[1, 2]
inter_sect={1, 2}
prev_row_unique={1}
mod_df:                                                     0             1         2
0                                                 NaN  Consolidated       NaN
1                                                 NaN          2022      2021
2                                                 NaN         $'000     $'000
3   Deferred tax asset comprises temporary differe...           NaN       NaN
4               Amounts recognised in profit or loss:           NaN       NaN
5                Allowance for expected credit losses          1755      1085
6                                         Inventories          1775      1625
7                                   Employee benefits          9284      8291
8                                    Accrued expenses          1884      2606
9                                    Foreign currency          1266      1340
10                                              Other          4366      4446
11                                  Lease liabilities         15617     14236
12  Deferred tax assets offset against deferred ta...      (34,029)  (31,779)
13                                 Deferred tax asset          1918      1850
14                                         Movements:           NaN       NaN
15                                    Opening balance          1850      1362
16                Credited to profit or loss (note 8)            68       488
17                                    Closing balance          1918      1850
18  Note 18. Current liabilities trade and other p...           NaN       NaN
column_numbr_s = [1, 2], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 5) , particular_end_col: 0 ,particular_start_row: 3
header indices : [0, 1, 2]
key :18__987e9f24-b5e8-3af2-92d2-835e37df6cdc
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: 164686.0, 2021: 79504.0}
df =                              0             1      2
0                          NaN  Consolidated    NaN
1                          NaN          2022   2021
2                          NaN         $'000  $'000
3               Trade payables         11624   7526
4    Payables to related party         91986  17137
5  Other payables and accruals         57125  50564
6                  BAS payable          3951   4277
7                          NaN        164686  79504
index dict = {2022: {'row_indices': [7], 'col_indices': [1]}, 2021: {'row_indices': [7], 'col_indices': [2]}}
prev_column_number=[1, 2]
prev_row_number=[[1], [1]]
validate with previosu results
prev_col_number=[1, 2]
col_lst_unique=[1, 2]
inter_sect={1, 2}
prev_row_unique={1}
mod_df:                              0             1      2
0                          NaN  Consolidated    NaN
1                          NaN          2022   2021
2                          NaN         $'000  $'000
3               Trade payables         11624   7526
4    Payables to related party         91986  17137
5  Other payables and accruals         57125  50564
6                  BAS payable          3951   4277
7                          NaN        164686  79504
column_numbr_s = [1, 2], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 3) , particular_end_col: 0 ,particular_start_row: 3
header indices : [0, 1, 2]
key :20__0d3d40be-5493-38cf-ace1-16506aad7960
 date cords : [0, 0, 1] ,([[1], [1], [1]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: 1415.0, 2021: 1416.0}
df =               0      1
0  Consolidated    NaN
1          2022   2021
2         $'000  $'000
3    Warranties   1415
index dict = {2022: {'row_indices': [3], 'col_indices': [1]}, 2021: {'row_indices': [], 'col_indices': []}}
prev_column_number=[0, 0, 1]
prev_row_number=[[1], [1], [1]]
validate with previosu results
prev_col_number=[0, 0, 1]
col_lst_unique=[1]
inter_sect={1}
prev_row_unique={1}
mod_df:               0      1
0  Consolidated    NaN
1          2022   2021
2         $'000  $'000
3    Warranties   1415
column_numbr_s = [0, 0, 1], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [0, 0, 1] ,([[1], [1], [1]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 3) , particular_end_col: 0 ,particular_start_row: 3
header indices : [1, 2]
key :21__fab23a5b-fc39-3927-8053-120fd17f91b4
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: 1035.0, 2021: 2218.0}
df =                                                    0             1      2
0                                                NaN  Consolidated    NaN
1                                                NaN          2022   2021
2                                                NaN         $'000  $'000
3                                     Other payables          1035   2218
4  Note 22. Non-current liabilities lease liabili...           NaN    NaN
index dict = {2022: {'row_indices': [3], 'col_indices': [1]}, 2021: {'row_indices': [3], 'col_indices': [2]}}
prev_column_number=[1, 2]
prev_row_number=[[1], [1]]
validate with previosu results
prev_col_number=[1, 2]
col_lst_unique=[1, 2]
inter_sect={1, 2}
prev_row_unique={1}
mod_df:                                                    0             1      2
0                                                NaN  Consolidated    NaN
1                                                NaN          2022   2021
2                                                NaN         $'000  $'000
3                                     Other payables          1035   2218
4  Note 22. Non-current liabilities lease liabili...           NaN    NaN
column_numbr_s = [1, 2], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 3) , particular_end_col: 0 ,particular_start_row: 3
header indices : [0, 1, 2]
key :22__fab23a5b-fc39-3927-8053-120fd17f91b4
 date cords : [1, 2] ,([[2], [2]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: 39474.0, 2021: 24944.0}
df =                                                     0             1  \
0   Note 22. Non-current liabilities lease liabili...           NaN
1                                                 NaN  Consolidated
2                                                 NaN          2022
3                                                 NaN         $'000
4                                     Lease liability         39474
5                               Future lease payments           NaN
6           Future lease payments are due as follows:           NaN
7                                     Within one year         13803
8                                   One to five years         19850
9                                More than five years         19624
10                                                NaN         53277
11  Note 23. Non-current liabilities deferred tax ...           NaN

               2
0            NaN
1   Consolidated
2           2021
3          $'000
4          24944
5            NaN
6            NaN
7          12147
8          23015
9           1929
10         37091
11           NaN
index dict = {2022: {'row_indices': [4], 'col_indices': [1]}, 2021: {'row_indices': [4], 'col_indices': [2]}}
prev_column_number=[1, 2]
prev_row_number=[[2], [2]]
validate with previosu results
prev_col_number=[1, 2]
col_lst_unique=[1, 2]
inter_sect={1, 2}
prev_row_unique={2}
mod_df:                                                     0             1  \
0   Note 22. Non-current liabilities lease liabili...           NaN
1                                                 NaN  Consolidated
2                                                 NaN          2022
3                                                 NaN         $'000
4                                     Lease liability         39474
5                               Future lease payments           NaN
6           Future lease payments are due as follows:           NaN
7                                     Within one year         13803
8                                   One to five years         19850
9                                More than five years         19624
10                                                NaN         53277
11  Note 23. Non-current liabilities deferred tax ...           NaN

               2
0            NaN
1   Consolidated
2           2021
3          $'000
4          24944
5            NaN
6            NaN
7          12147
8          23015
9           1929
10         37091
11           NaN
column_numbr_s = [1, 2], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[2], [2]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 4) , particular_end_col: 0 ,particular_start_row: 4
header indices : [1, 2, 3]
key :23__fab23a5b-fc39-3927-8053-120fd17f91b4
 date cords : [1, 2] ,([[2], [2]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: 6939.0, 2021: 7178.0}
df =                                                     0             1  \
0   Note 23. Non-current liabilities deferred tax ...           NaN
1                                                 NaN  Consolidated
2                                                 NaN          2022
3                                                 NaN         $'000
4   Deferred tax liability comprises temporary dif...           NaN
5               Amounts recognised in profit or loss:           NaN
6                                    Work in progress          1422
7                                 Right-of-use assets         15409
8     Elimination of profit between MEC group members         11021
9   Book and tax difference derived from lease acc...         11469
10        Intangible assets recognised on acquisition          1604
11                                        Prepayments            43
12  Deferred tax assets offset against deferred ta...      (34,029)
13                             Deferred tax liability          6939
14                                         Movements:           NaN
15                                    Opening balance          7178
16      Charged/(credited) to profit or loss (note 8)         (239)
17                                    Closing balance          6939

               2
0            NaN
1   Consolidated
2           2021
3          $'000
4            NaN
5            NaN
6           1179
7          13907
8          11786
9          10170
10          1863
11            52
12      (31,779)
13          7178
14           NaN
15          5200
16          1978
17          7178
index dict = {2022: {'row_indices': [13, 17], 'col_indices': [1, 1]}, 2021: {'row_indices': [15, 13, 17], 'col_indices': [1, 2, 2]}}
prev_column_number=[1, 2]
prev_row_number=[[2], [2]]
validate with previosu results
prev_col_number=[1, 2]
col_lst_unique=[1, 2]
inter_sect={1, 2}
prev_row_unique={2}
mod_df:                                                     0             1  \
0   Note 23. Non-current liabilities deferred tax ...           NaN
1                                                 NaN  Consolidated
2                                                 NaN          2022
3                                                 NaN         $'000
4   Deferred tax liability comprises temporary dif...           NaN
5               Amounts recognised in profit or loss:           NaN
6                                    Work in progress          1422
7                                 Right-of-use assets         15409
8     Elimination of profit between MEC group members         11021
9   Book and tax difference derived from lease acc...         11469
10        Intangible assets recognised on acquisition          1604

key :5__92a39055-a2bc-3148-b588-b548abb15265
 date cords : [1, 2] ,([[2], [2]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: 27711.0, 2021: 27399.0}
df =                                          0             1      2
0   Note 5. Income from leasing activities           NaN    NaN
1                                      NaN  Consolidated    NaN
2                                      NaN          2022   2021
3                                      NaN         $'000  $'000
4                     Finance lease income           NaN    NaN
5                     Finance lease income         14848  16217
6                                    Other          3008   2878
7                                      NaN         17856  19095
8                   Operating lease income           NaN    NaN
9                   Operating lease income          9855   8304
10                                     NaN         27711  27399
index dict = {2022: {'row_indices': [10], 'col_indices': [1]}, 2021: {'row_indices': [10], 'col_indices': [2]}}
prev_column_number=[1, 2]
prev_row_number=[[2], [2]]
validate with previosu results
prev_col_number=[1, 2]
col_lst_unique=[1, 2]
inter_sect={1, 2}
prev_row_unique={2}
mod_df:                                          0             1      2
0   Note 5. Income from leasing activities           NaN    NaN
1                                      NaN  Consolidated    NaN
2                                      NaN          2022   2021
3                                      NaN         $'000  $'000
4                     Finance lease income           NaN    NaN
5                     Finance lease income         14848  16217
6                                    Other          3008   2878
7                                      NaN         17856  19095
8                   Operating lease income           NaN    NaN
9                   Operating lease income          9855   8304
10                                     NaN         27711  27399
column_numbr_s = [1, 2], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[2], [2]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 5) , particular_end_col: 0 ,particular_start_row: 4
header indices : [1, 2, 3]
key :8__58425885-756c-3f02-b3ef-03d03ffaa334
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: -9702.0, 2021: -8410.0}
df =                                                     0             1        2
0                                                 NaN  Consolidated      NaN
1                                                 NaN          2022     2021
2                                                 NaN         $'000    $'000
3                                  Income tax expense           NaN      NaN
4                                         Current tax          9046    11425
5   Deferred tax - origination and reversal of tem...         (307)     1490
6             Adjustment recognised for prior periods           963  (4,505)
7                        Aggregate income tax expense          9702     8410
8   Deferred tax included in income tax expense co...           NaN      NaN
9           Increase in deferred tax assets (note 17)          (68)    (488)
10  Increase/(decrease) in deferred tax liabilitie...         (239)     1978
11  Deferred tax - origination and reversal of tem...         (307)     1490
12  Numerical reconciliation of income tax expense...           NaN      NaN
13                   Profit before income tax expense         38111    51428
14               Tax at the statutory tax rate of 30%         11433    15428
15  Tax effect amounts which are not deductible/ta...           NaN      NaN
16                             Entertainment expenses           102      106
17                                              Other       (2,796)  (2,619)
18                                                NaN          8739    12915
19            Adjustment recognised for prior periods           963  (4,505)
20                                 Income tax expense          9702     8410
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
prev_column_number=[1, 2]
prev_row_number=[[1], [1]]
validate with previosu results
prev_col_number=[1, 2]
col_lst_unique=[]
inter_sect=set()
prev_row_unique={1}
mod_df:                                                     0             1        2
0                                                 NaN  Consolidated      NaN
1                                                 NaN          2022     2021
2                                                 NaN         $'000    $'000
3                                  Income tax expense           NaN      NaN
4                                         Current tax          9046    11425
5   Deferred tax - origination and reversal of tem...         (307)     1490
6             Adjustment recognised for prior periods           963  (4,505)
7                        Aggregate income tax expense          9702     8410
8   Deferred tax included in income tax expense co...           NaN      NaN
9           Increase in deferred tax assets (note 17)          (68)    (488)
10  Increase/(decrease) in deferred tax liabilitie...         (239)     1978
11  Deferred tax - origination and reversal of tem...         (307)     1490
12  Numerical reconciliation of income tax expense...           NaN      NaN
13                   Profit before income tax expense         38111    51428
14               Tax at the statutory tax rate of 30%         11433    15428
15  Tax effect amounts which are not deductible/ta...           NaN      NaN
16                             Entertainment expenses           102      106
17                                              Other       (2,796)  (2,619)
18                                                NaN          8739    12915
19            Adjustment recognised for prior periods           963  (4,505)
20                                 Income tax expense          9702     8410
column_numbr_s = [-1], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 4) , particular_end_col: 0 ,particular_start_row: 3
header indices : [0, 1, 2]
key :27__f241d4c7-1a79-3978-b2c6-863f995dfc53
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: -41830.0, 2021: 0.0}
df =                                                    0             1      2
0                                                NaN  Consolidated    NaN
1                                                NaN          2022   2021
2                                                NaN         $'000  $'000
3  Dividends paid during the year ended 31 Decemb...         41830    NaN
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
prev_column_number=[1, 2]
prev_row_number=[[1], [1]]
validate with previosu results
prev_col_number=[1, 2]
col_lst_unique=[]
inter_sect=set()
prev_row_unique={1}
mod_df:                                                    0             1      2
0                                                NaN  Consolidated    NaN
1                                                NaN          2022   2021
2                                                NaN         $'000  $'000
3  Dividends paid during the year ended 31 Decemb...         41830    NaN
column_numbr_s = [-1], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 3) , particular_end_col: 0 ,particular_start_row: 3
header indices : [0, 1, 2]
key :27__36738e79-7a3a-3c13-bf4b-5dac110a090c
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
main_page_year_values: {2022: -41830.0, 2021: 0.0}
df =                                                    0             1       2
0                                                NaN  Consolidated     NaN
1                                                NaN          2022    2021
2                                                NaN         $'000   $'000
3  Franking credits available for subsequent fina...        170506  173334
index dict = {2022: {'row_indices': [], 'col_indices': []}, 2021: {'row_indices': [], 'col_indices': []}}
prev_column_number=[1, 2]
prev_row_number=[[1], [1]]
validate with previosu results
prev_col_number=[1, 2]
col_lst_unique=[]
inter_sect=set()
prev_row_unique={1}
mod_df:                                                    0             1       2
0                                                NaN  Consolidated     NaN
1                                                NaN          2022    2021
2                                                NaN         $'000   $'000
3  Franking credits available for subsequent fina...        170506  173334
column_numbr_s = [-1], row_number_s = [[-1]], raw_text_s = [[-1]] , extracted_year_s = [[-1]]
 date cords : [1, 2] ,([[1], [1]], [['2022'], ['2021']], [[2022], [2021]])
data_row_coords: (1, 3) , particular_end_col: 0 ,particular_start_row: 3
header indices : [0, 1, 2]

/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/mgsuser01/AI/testing_code/main_page_processing_service/note_standardise_utils.py:218: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():

In [13]:
mp.standard_note_meta_dict

{'9__2907c6e1-c5af-3a2c-9386-8e928a5b4856': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 4,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [3],
  'year_column_header_name': 'header_col_1'},
 '10__337809a3-e747-3365-b7af-3e12761343fa': {'date_column_number': [2, 3],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 2,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '10__2ecaa2bc-d99e-3faf-b49f-9361813860bf': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 5,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [3, 4, 11],
  'year_column_header_name': 'header_col_1'},
 '11__e24b7a82-38f4-3ff3-b543-f3b4139dc216': {'date_column_number': [0, 1],
  'date_row_number': [[3], [1]],
  'date_raw_text': [['2022 2021']],
  'date_extracted_year': [[2022]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [1, 2],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '12__3387dc3c-d5df-344a-9c7d-1139bed0f1fd': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 4,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [3],
  'year_column_header_name': 'header_col_1'},
 '13__dc5f73c6-7457-3bd1-80b2-8a9296eb3fad': {'date_column_number': [0, 0, 1],
  'date_row_number': [[1], [1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [1, 2],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '14__a5b71f98-b1e1-368e-a683-4d2530e07242': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '14__246af9d8-17fb-38ca-8a55-9a9305ee9410': {'date_column_number': [0],
  'date_row_number': [10, 2],
  'date_raw_text': ['2022 Balance at 31 December 2022',
   '2021 Balance at 1 January 2022'],
  'date_extracted_year': [2022, 2021],
  'data_first_column': 1,
  'data_first_row': 2,
  'data_particular_end_col': 0,
  'data_particular_start_row': 1,
  'header_indices': [0],
  'row_header_indices': [1, 4],
  'year_column_header_name': ''},
 '15__825c2d5e-c9a0-3ba0-b638-eb87f77ee600': {'date_column_number': [0],
  'date_row_number': [8, 3],
  'date_raw_text': ['2022 Balance at 31 December 2022',
   '2021 Balance at 1 January 2022'],
  'date_extracted_year': [2022, 2021],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [],
  'year_column_header_name': ''},
 '15__0b5acc8b-a47d-3895-a8fa-afbf54eac683': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '16__ea457c17-127a-34d7-b893-8c308f93b94b': {'date_column_number': [0],
  'date_row_number': [7, 1],
  'date_raw_text': ['2022 Balance at 31 December 2022',
   '2021 Balance at 1 January 2022'],
  'date_extracted_year': [2022, 2021],
  'data_first_column': 1,
  'data_first_row': 1,
  'data_particular_end_col': 0,
  'data_particular_start_row': 1,
  'header_indices': [0],
  'row_header_indices': [3],
  'year_column_header_name': ''},
 '16__f442e2e6-be4b-39cc-aa76-98dc4afbee12': {'date_column_number': [2, 3],
  'date_row_number': [[2], [2]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 2,
  'data_first_row': 4,
  'data_particular_end_col': 0,
  'data_particular_start_row': 4,
  'header_indices': [1, 2, 3],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '17__50050983-9b51-373b-8439-20304adcd2a5': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 5,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [3, 4, 14, 18],
  'year_column_header_name': 'header_col_1'},
 '18__987e9f24-b5e8-3af2-92d2-835e37df6cdc': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '20__0d3d40be-5493-38cf-ace1-16506aad7960': {'date_column_number': [0, 0, 1],
  'date_row_number': [[1], [1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [1, 2],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '21__fab23a5b-fc39-3927-8053-120fd17f91b4': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [4],
  'year_column_header_name': 'header_col_1'},
 '22__fab23a5b-fc39-3927-8053-120fd17f91b4': {'date_column_number': [1, 2],
  'date_row_number': [[2], [2]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 4,
  'data_particular_end_col': 0,
  'data_particular_start_row': 4,
  'header_indices': [1, 2, 3],
  'row_header_indices': [5, 6, 11],
  'year_column_header_name': 'header_col_1'},
 '23__fab23a5b-fc39-3927-8053-120fd17f91b4': {'date_column_number': [1, 2],
  'date_row_number': [[2], [2]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 6,
  'data_particular_end_col': 0,
  'data_particular_start_row': 4,
  'header_indices': [1, 2, 3],
  'row_header_indices': [4, 5, 14],
  'year_column_header_name': 'header_col_1'},
 '24__43be20d6-4739-3014-b925-b7a7694d52f3': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 4,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [3],
  'year_column_header_name': 'header_col_1'},
 '24__72bfe071-86b1-3773-9a7b-00a8b43c0195': {'date_column_number': [],
  'date_row_number': [],
  'date_raw_text': [],
  'date_extracted_year': [],
  'data_first_column': 1,
  'data_first_row': 2,
  'data_particular_end_col': 0,
  'data_particular_start_row': 2,
  'header_indices': [0, 1],
  'row_header_indices': [6, 7],
  'year_column_header_name': ''},
 '25__72bfe071-86b1-3773-9a7b-00a8b43c0195': {'date_column_number': [1,
   2,
   3,
   4],
  'date_row_number': [[2], [2], [2], [2]],
  'date_raw_text': [['2022'], ['2021'], ['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021], [2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 4,
  'data_particular_end_col': 0,
  'data_particular_start_row': 4,
  'header_indices': [1, 2, 3],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '26__7944247c-4e65-3846-9c57-8f0b9d75ebf0': {'date_column_number': [1, 3],
  'date_row_number': [[0], [0]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 4,
  'data_particular_end_col': 0,
  'data_particular_start_row': 4,
  'header_indices': [0, 1, 2, 3],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_3'},
 '26__a8ef77f5-2141-33aa-8a1c-d28f6229de4a': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '5__92a39055-a2bc-3148-b588-b548abb15265': {'date_column_number': [1, 2],
  'date_row_number': [[2], [2]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 5,
  'data_particular_end_col': 0,
  'data_particular_start_row': 4,
  'header_indices': [1, 2, 3],
  'row_header_indices': [4, 8],
  'year_column_header_name': 'header_col_1'},
 '8__58425885-756c-3f02-b3ef-03d03ffaa334': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 4,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [3, 8, 12, 15],
  'year_column_header_name': 'header_col_1'},
 '27__f241d4c7-1a79-3978-b2c6-863f995dfc53': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'},
 '27__36738e79-7a3a-3c13-bf4b-5dac110a090c': {'date_column_number': [1, 2],
  'date_row_number': [[1], [1]],
  'date_raw_text': [['2022'], ['2021']],
  'date_extracted_year': [[2022], [2021]],
  'data_first_column': 1,
  'data_first_row': 3,
  'data_particular_end_col': 0,
  'data_particular_start_row': 3,
  'header_indices': [0, 1, 2],
  'row_header_indices': [],
  'year_column_header_name': 'header_col_1'}}

In [15]:
mp.standardised_cropped_dict

{'9__2907c6e1-c5af-3a2c-9386-8e928a5b4856':            line_item_0    row_header   value header_col_0 header_col_1  \
 0         Cash at bank  Cash on hand   18283        $'000         2022
 1  Short-term deposits  Cash on hand   58026        $'000         2022
 2                Total  Cash on hand   76310        $'000         2022
 3         Cash at bank  Cash on hand   43482        $'000         2021
 4  Short-term deposits  Cash on hand   75609        $'000         2021
 5                Total  Cash on hand  119092        $'000         2021

    header_col_2  year
 0  Consolidated  2022
 1  Consolidated  2022
 2  Consolidated  2022
 3  Consolidated  2021
 4  Consolidated  2021
 5  Consolidated  2021  ,
 '10__337809a3-e747-3365-b7af-3e12761343fa':                                    line_item_0 row_header     value  \
 0                            Trade receivables       None  118961.0
 1   Less: Allowance for expected credit losses       None   -3856.0
 2                                        Total       None  115105.0
 3                            Lease receivables       None   86029.0
 4   Less: Allowance for expected credit losses       None   -1765.0
 5                                        Total       None   84264.0
 6                Receivable from related party       None    1329.0
 7                            Other receivables       None    2422.0
 8                   Loans receivable (note 32)       None   60000.0
 9                                        Total       None  263120.0
 10                           Trade receivables       None   97921.0
 11  Less: Allowance for expected credit losses       None   -5059.0
 12                                       Total       None   92862.0
 13                           Lease receivables       None   91600.0
 14  Less: Allowance for expected credit losses       None   -1646.0
 15                                       Total       None   89954.0
 16               Receivable from related party       None     360.0
 17                           Other receivables       None    3132.0
 18                  Loans receivable (note 32)       None       0.0
 19                                       Total       None  186308.0

    header_col_0 header_col_1  header_col_2  year
 0         $'000         2022  Consolidated  2022
 1         $'000         2022  Consolidated  2022
 2         $'000         2022  Consolidated  2022
 3         $'000         2022  Consolidated  2022
 4         $'000         2022  Consolidated  2022
 5         $'000         2022  Consolidated  2022
 6         $'000         2022  Consolidated  2022
 7         $'000         2022  Consolidated  2022
 8         $'000         2022  Consolidated  2022
 9         $'000         2022  Consolidated  2022
 10        $'000         2021  Consolidated  2021
 11        $'000         2021  Consolidated  2021
 12        $'000         2021  Consolidated  2021
 13        $'000         2021  Consolidated  2021
 14        $'000         2021  Consolidated  2021
 15        $'000         2021  Consolidated  2021
 16        $'000         2021  Consolidated  2021
 17        $'000         2021  Consolidated  2021
 18        $'000         2021  Consolidated  2021
 19        $'000         2021  Consolidated  2021  ,
 '10__2ecaa2bc-d99e-3faf-b49f-9361813860bf':                                        line_item_0  \
 0                                  Within one year
 1                                One to five years
 2                             More than five years
 3                                 Total commitment
 4                     Less: Future finance charges
 5              Net commitment recognised as assets
 6                         Lease receivable current
 7   Finance lease receivable non-current (note 13)
 8                                            Total
 9                                  Within one year
 10                               One to five years
 11                            More than five years
 12                                Total commitment
 13                    Less: Future finance charges
 14             Net commitment recognised as assets
 15                        Lease receivable current
 16  Finance lease receivable non-current (note 13)
 17                                           Total

                                            row_header   value header_col_0  \
 0   Committed at the reporting date and recognised...  100117        $'000
 1   Committed at the reporting date and recognised...  143549        $'000
 2   Committed at the reporting date and recognised...     799        $'000
 3   Committed at the reporting date and recognised...  244465        $'000
 4   Committed at the reporting date and recognised...  -48360        $'000
 5   Committed at the reporting date and recognised...  196105        $'000
 6                                       Representing:   86029        $'000
 7                                       Representing:  109942        $'000
 8                                       Representing:  195971        $'000
 9   Committed at the reporting date and recognised...  108325        $'000
 10  Committed at the reporting date and recognised...  144322        $'000
 11  Committed at the reporting date and recognised...     827        $'000
 12  Committed at the reporting date and recognised...  253474        $'000
 13  Committed at the reporting date and recognised...  -48261        $'000
 14  Committed at the reporting date and recognised...  205213        $'000
 15                                      Representing:   91600        $'000
 16                                      Representing:  113613        $'000
 17                                      Representing:  205213        $'000

    header_col_1  header_col_2  year
 0          2022  Consolidated  2022
 1          2022  Consolidated  2022
 2          2022  Consolidated  2022
 3          2022  Consolidated  2022
 4          2022  Consolidated  2022
 5          2022  Consolidated  2022
 6          2022  Consolidated  2022
 7          2022  Consolidated  2022
 8          2022  Consolidated  2022
 9          2021  Consolidated  2021
 10         2021  Consolidated  2021
 11         2021  Consolidated  2021
 12         2021  Consolidated  2021
 13         2021  Consolidated  2021
 14         2021  Consolidated  2021
 15         2021  Consolidated  2021
 16         2021  Consolidated  2021
 17         2021  Consolidated  2021  ,
 '11__e24b7a82-38f4-3ff3-b543-f3b4139dc216':   line_item_0 row_header  value header_col_0 header_col_1  year
 0      112774       None  73348  $'000 $'000    2022 2021  2022
 1     (6,944)       None  -5430  $'000 $'000    2022 2021  2022
 2      105830       None  67918  $'000 $'000    2022 2021  2022,
 '12__3387dc3c-d5df-344a-9c7d-1139bed0f1fd':             line_item_0 row_header  value header_col_0 header_col_1  \
 0           Prepayments      Total   6067        $'000         2022
 1     Security deposits      Total     16        $'000         2022
 2        Other deposits      Total   1752        $'000         2022
 3  Other current assets      Total   1097        $'000         2022
 4                 Total      Total   8932        $'000         2022
 5           Prepayments      Total   5031        $'000         2021
 6     Security deposits      Total    580        $'000         2021
 7        Other deposits      Total    741        $'000         2021
 8  Other current assets      Total   2231        $'000         2021
 9                 Total      Total   8583        $'000         2021

    header_col_2  year
 0  Consolidated  2022
 1  Consolidated  2022
 2  Consolidated  2022
 3  Consolidated  2022
 4  Consolidated  2022
 5  Consolidated  2021
 6  Consolidated  2021
 7  Consolidated  2021
 8  Consolidated  2021
 9  Consolidated  2021  ,
 '13__dc5f73c6-7457-3bd1-80b2-8a9296eb3fad':   line_item_0 row_header   value header_col_0 header_col_1  year
 0      109942       None  113613        $'000         2021  2021
 1     (2,584)       None   -2317        $'000         2021  2021
 2      107358       None  111296        $'000         2021  2021,
 '14__a5b71f98-b1e1-368e-a683-4d2530e07242':                          line_item_0 row_header    value header_col_0  \
 0     Leasehold improvements at cost       None  33573.0        $'000
 1     Less: Accumulated depreciation       None -20615.0        $'000
 2                              Total       None  12958.0        $'000
 3             Motor vehicles at cost       None   3687.0        $'000
 4     Less: Accumulated depreciation       None  -2616.0        $'000
 5                              Total       None   1071.0        $'000
 6         Office equipment - at cost       None  39604.0        $'000
 7     Less: Accumulated depreciation       None -33685.0        $'000
 8                              Total       None   5919.0        $'000
 9              Rental assets at cost       None  17069.0        $'000
 10    Less: Accumulated depreciation       None -12685.0        $'000
 11                             Total       None   4384.0        $'000
 12  Construction in progress at cost       None   3211.0        $'000
 13                             Total       None  27543.0        $'000
 14    Leasehold improvements at cost       None  32454.0        $'000
 15    Less: Accumulated depreciation       None -18902.0        $'000
 16                             Total       None  13552.0        $'000
 17            Motor vehicles at cost       None      0.0        $'000
 18    Less: Accumulated depreciation       None      0.0        $'000
 19                             Total       None    986.0        $'000
 20        Office equipment - at cost       None  39131.0        $'000
 21    Less: Accumulated depreciation       None -31727.0        $'000
 22                             Total       None   7404.0        $'000
 23             Rental assets at cost       None  19696.0        $'000
 24    Less: Accumulated depreciation       None -13642.0        $'000
 25                             Total       None   6054.0        $'000
 26  Construction in progress at cost       None    631.0        $'000
 27                             Total       None  28627.0        $'000

    header_col_1  header_col_2  year
 0          2022  Consolidated  2022
 1          2022  Consolidated  2022
 2          2022  Consolidated  2022
 3          2022  Consolidated  2022
 4          2022  Consolidated  2022
 5          2022  Consolidated  2022
 6          2022  Consolidated  2022
 7          2022  Consolidated  2022
 8          2022  Consolidated  2022
 9          2022  Consolidated  2022
 10         2022  Consolidated  2022
 11         2022  Consolidated  2022
 12         2022  Consolidated  2022
 13         2022  Consolidated  2022
 14         2021  Consolidated  2021
 15         2021  Consolidated  2021
 16         2021  Consolidated  2021
 17         2021  Consolidated  2021
 18         2021  Consolidated  2021
 19         2021  Consolidated  2021
 20         2021  Consolidated  2021
 21         2021  Consolidated  2021
 22         2021  Consolidated  2021
 23         2021  Consolidated  2021
 24         2021  Consolidated  2021
 25         2021  Consolidated  2021
 26         2021  Consolidated  2021
 27         2021  Consolidated  2021  ,
 '14__246af9d8-17fb-38ca-8a55-9a9305ee9410':                          line_item_0                  row_header    value  \
 0     2021 Balance at 1 January 2022                       Total  13552.0
 1                          Additions                       Total   3392.0
 2             combinations (note 34)  Additions through business      1.0
 3                          Disposals  Additions through business    -63.0
 4       Foreign exchange differences  Additions through business    -24.0
 5                Write off of assets  Additions through business   -290.0
 6               Depreciation expense  Additions through business  -3610.0
 7   2022 Balance at 31 December 2022  Additions through business  12958.0
 8     2021 Balance at 1 January 2022                       Total    986.0
 9                          Additions                       Total    815.0
 10            combinations (note 34)  Additions through business      0.0
 11                         Disposals  Additions through business      0.0
 12      Foreign exchange differences  Additions through business    -13.0
 13               Write off of assets  Additions through business    -23.0
 14              Depreciation expense  Additions through business   -694.0
 15  2022 Balance at 31 December 2022  Additions through business   1071.0
 16    2021 Balance at 1 January 2022                       Total   7404.0
 17                         Additions                       Total   1815.0
 18            combinations (note 34)  Additions through business      0.0
 19                         Disposals  Additions through business    -42.0
 20      Foreign exchange differences  Additions through business    -21.0
 21               Write off of assets  Additions through business   -105.0
 22              Depreciation expense  Additions through business  -3132.0
 23  2022 Balance at 31 December 2022  Additions through business   5919.0
 24    2021 Balance at 1 January 2022                       Total   6054.0
 25                         Additions                       Total   1257.0
 26            combinations (note 34)  Additions through business      0.0
 27                         Disposals  Additions through business      0.0
 28      Foreign exchange differences  Additions through business    -44.0
 29               Write off of assets  Additions through business   -258.0
 30              Depreciation expense  Additions through business  -2625.0
 31  2022 Balance at 31 December 2022  Additions through business   4384.0
 32    2021 Balance at 1 January 2022                       Total    631.0
 33                         Additions                       Total   2560.0
 34            combinations (note 34)  Additions through business      0.0
 35                         Disposals  Additions through business      0.0
 36      Foreign exchange differences  Additions through business     20.0
 37               Write off of assets  Additions through business      0.0
 38              Depreciation expense  Additions through business      0.0
 39  2022 Balance at 31 December 2022  Additions through business   3211.0
 40    2021 Balance at 1 January 2022                       Total  28627.0
 41                         Additions                       Total   9839.0
 42            combinations (note 34)  Additions through business      0.0
 43                         Disposals  Additions through business   -105.0
 44      Foreign exchange differences  Additions through business    -82.0
 45               Write off of assets  Additions through business   -676.0
 46              Depreciation expense  Additions through business -10061.0
 47  2022 Balance at 31 December 2022  Additions through business  27543.0

                       header_col_0    year
 0     Leasehold improvements $'000  2021.0
 1     Leasehold improvements $'000  2022.0
 2     Leasehold improvements $'000  2022.0
 3     Leasehold improvements $'000  2022.0
 4     Leasehold improvements $'000  2022.0
 5     Leasehold improvements $'000  2022.0
 6     Leasehold improvements $'000  2022.0
 7     Leasehold improvements $'000  2022.0
 8             Motor vehicles $'000  2021.0
 9             Motor vehicles $'000  2022.0
 10            Motor vehicles $'000  2022.0
 11            Motor vehicles $'000  2022.0
 12            Motor vehicles $'000  2022.0
 13            Motor vehicles $'000  2022.0
 14            Motor vehicles $'000  2022.0
 15            Motor vehicles $'000  2022.0
 16          Office equipment $'000  2021.0
 17          Office equipment $'000  2022.0
 18          Office equipment $'000  2022.0
 19          Office equipment $'000  2022.0
 20          Office equipment $'000  2022.0
 21          Office equipment $'000  2022.0
 22          Office equipment $'000  2022.0
 23          Office equipment $'000  2022.0
 24             Rental assets $'000  2021.0
 25             Rental assets $'000  2022.0
 26             Rental assets $'000  2022.0
 27             Rental assets $'000  2022.0
 28             Rental assets $'000  2022.0
 29             Rental assets $'000  2022.0
 30             Rental assets $'000  2022.0
 31             Rental assets $'000  2022.0
 32  Construction in progress $'000  2021.0
 33  Construction in progress $'000  2022.0
 34  Construction in progress $'000  2022.0
 35  Construction in progress $'000  2022.0
 36  Construction in progress $'000  2022.0
 37  Construction in progress $'000  2022.0
 38  Construction in progress $'000  2022.0
 39  Construction in progress $'000  2022.0
 40                     Total $'000  2021.0
 41                     Total $'000  2022.0
 42                     Total $'000  2022.0
 43                     Total $'000  2022.0
 44                     Total $'000  2022.0
 45                     Total $'000  2022.0
 46                     Total $'000  2022.0
 47                     Total $'000  2022.0  ,
 '15__825c2d5e-c9a0-3ba0-b638-eb87f77ee600':                          line_item_0 row_header    value header_col_0  \
 0     2021 Balance at 1 January 2022       None  33904.0        $'000
 1                          Additions       None  28348.0        $'000
 2                Lease modifications       None   3123.0        $'000
 3                 Lease terminations       None  -2830.0        $'000
 4               Depreciation expense       None -12938.0        $'000
 5   2022 Balance at 31 December 2022       None  49607.0        $'000
 6     2021 Balance at 1 January 2022       None    294.0        $'000
 7                          Additions       None   1038.0        $'000
 8                Lease modifications       None   2535.0        $'000
 9                 Lease terminations       None      0.0        $'000
 10              Depreciation expense       None  -1417.0        $'000
 11  2022 Balance at 31 December 2022       None   2450.0        $'000
 12    2021 Balance at 1 January 2022       None  34198.0        $'000
 13                         Additions       None  29386.0        $'000
 14               Lease modifications       None   5658.0        $'000
 15                Lease terminations       None  -2830.0        $'000
 16              Depreciation expense       None -14355.0        $'000
 17  2022 Balance at 31 December 2022       None  52057.0        $'000

    header_col_1 header_col_2    year
 0     buildings     Land and  2021.0
 1     buildings     Land and  2022.0
 2     buildings     Land and  2022.0
 3     buildings     Land and  2022.0
 4     buildings     Land and  2022.0
 5     buildings     Land and  2022.0
 6     equipment    Plant and  2021.0
 7     equipment    Plant and  2022.0
 8     equipment    Plant and  2022.0
 9     equipment    Plant and  2022.0
 10    equipment    Plant and  2022.0
 11    equipment    Plant and  2022.0
 12        Total    Plant and  2021.0
 13        Total    Plant and  2022.0
 14        Total    Plant and  2022.0
 15        Total    Plant and  2022.0
 16        Total    Plant and  2022.0
 17        Total    Plant and  2022.0  ,
 '15__0b5acc8b-a47d-3895-a8fa-afbf54eac683':                                           line_item_0 row_header  value  \
 0                     Land and buildings right-of-use       None  89247
 1                      Less: Accumulated depreciation       None -39640
 2                                               Total       None  49607
 3   Plant and equipment right-of-use Less: Accumul...       None   6180
 4   Plant and equipment right-of-use Less: Accumul...       None  -3730
 5                                               Total       None   2450
 6                                               Total       None  52057

In [9]:
mp.standardised_cropped_dict

{'9__2907c6e1-c5af-3a2c-9386-8e928a5b4856':            line_item_0    row_header   value header_col_0 header_col_1  \
 0         Cash at bank  Cash on hand   18283        $'000         2022
 1  Short-term deposits  Cash on hand   58026        $'000         2022
 2                Total  Cash on hand   76310        $'000         2022
 3         Cash at bank  Cash on hand   43482        $'000         2021
 4  Short-term deposits  Cash on hand   75609        $'000         2021
 5                Total  Cash on hand  119092        $'000         2021

    header_col_2  year
 0  Consolidated  2022
 1  Consolidated  2022
 2  Consolidated  2022
 3  Consolidated  2021
 4  Consolidated  2021
 5  Consolidated  2021  ,
 '10__337809a3-e747-3365-b7af-3e12761343fa':                                    line_item_0 row_header     value  \
 0                            Trade receivables       None  118961.0
 1   Less: Allowance for expected credit losses       None   -3856.0
 2                                        Total       None  115105.0
 3                            Lease receivables       None   86029.0
 4   Less: Allowance for expected credit losses       None   -1765.0
 5                                        Total       None   84264.0
 6                Receivable from related party       None    1329.0
 7                            Other receivables       None    2422.0
 8                   Loans receivable (note 32)       None   60000.0
 9                                        Total       None  263120.0
 10                           Trade receivables       None   97921.0
 11  Less: Allowance for expected credit losses       None   -5059.0
 12                                       Total       None   92862.0
 13                           Lease receivables       None   91600.0
 14  Less: Allowance for expected credit losses       None   -1646.0
 15                                       Total       None   89954.0
 16               Receivable from related party       None     360.0
 17                           Other receivables       None    3132.0
 18                  Loans receivable (note 32)       None       0.0
 19                                       Total       None  186308.0

    header_col_0 header_col_1  header_col_2  year
 0         $'000         2022  Consolidated  2022
 1         $'000         2022  Consolidated  2022
 2         $'000         2022  Consolidated  2022
 3         $'000         2022  Consolidated  2022
 4         $'000         2022  Consolidated  2022
 5         $'000         2022  Consolidated  2022
 6         $'000         2022  Consolidated  2022
 7         $'000         2022  Consolidated  2022
 8         $'000         2022  Consolidated  2022
 9         $'000         2022  Consolidated  2022
 10        $'000         2021  Consolidated  2021
 11        $'000         2021  Consolidated  2021
 12        $'000         2021  Consolidated  2021
 13        $'000         2021  Consolidated  2021
 14        $'000         2021  Consolidated  2021
 15        $'000         2021  Consolidated  2021
 16        $'000         2021  Consolidated  2021
 17        $'000         2021  Consolidated  2021
 18        $'000         2021  Consolidated  2021
 19        $'000         2021  Consolidated  2021  ,
 '10__2ecaa2bc-d99e-3faf-b49f-9361813860bf':                                        line_item_0  \
 0                                  Within one year
 1                                One to five years
 2                             More than five years
 3                                 Total commitment
 4                     Less: Future finance charges
 5              Net commitment recognised as assets
 6                         Lease receivable current
 7   Finance lease receivable non-current (note 13)
 8                                            Total
 9                                  Within one year
 10                               One to five years
 11                            More than five years
 12                                Total commitment
 13                    Less: Future finance charges
 14             Net commitment recognised as assets
 15                        Lease receivable current
 16  Finance lease receivable non-current (note 13)
 17                                           Total

                                            row_header   value header_col_0  \
 0   Committed at the reporting date and recognised...  100117        $'000
 1   Committed at the reporting date and recognised...  143549        $'000
 2   Committed at the reporting date and recognised...     799        $'000
 3   Committed at the reporting date and recognised...  244465        $'000
 4   Committed at the reporting date and recognised...  -48360        $'000
 5   Committed at the reporting date and recognised...  196105        $'000
 6                                       Representing:   86029        $'000
 7                                       Representing:  109942        $'000
 8                                       Representing:  195971        $'000
 9   Committed at the reporting date and recognised...  108325        $'000
 10  Committed at the reporting date and recognised...  144322        $'000
 11  Committed at the reporting date and recognised...     827        $'000
 12  Committed at the reporting date and recognised...  253474        $'000
 13  Committed at the reporting date and recognised...  -48261        $'000
 14  Committed at the reporting date and recognised...  205213        $'000
 15                                      Representing:   91600        $'000
 16                                      Representing:  113613        $'000
 17                                      Representing:  205213        $'000

    header_col_1  header_col_2  year
 0          2022  Consolidated  2022
 1          2022  Consolidated  2022
 2          2022  Consolidated  2022
 3          2022  Consolidated  2022
 4          2022  Consolidated  2022
 5          2022  Consolidated  2022
 6          2022  Consolidated  2022
 7          2022  Consolidated  2022
 8          2022  Consolidated  2022
 9          2021  Consolidated  2021
 10         2021  Consolidated  2021
 11         2021  Consolidated  2021
 12         2021  Consolidated  2021
 13         2021  Consolidated  2021
 14         2021  Consolidated  2021
 15         2021  Consolidated  2021
 16         2021  Consolidated  2021
 17         2021  Consolidated  2021  ,
 '11__e24b7a82-38f4-3ff3-b543-f3b4139dc216':   line_item_0 row_header  value header_col_0 header_col_1  year
 0      112774       None  73348  $'000 $'000    2022 2021  2022
 1     (6,944)       None  -5430  $'000 $'000    2022 2021  2022
 2      105830       None  67918  $'000 $'000    2022 2021  2022,
 '12__3387dc3c-d5df-344a-9c7d-1139bed0f1fd':             line_item_0 row_header  value header_col_0 header_col_1  \
 0           Prepayments      Total   6067        $'000         2022
 1     Security deposits      Total     16        $'000         2022
 2        Other deposits      Total   1752        $'000         2022
 3  Other current assets      Total   1097        $'000         2022
 4                 Total      Total   8932        $'000         2022
 5           Prepayments      Total   5031        $'000         2021
 6     Security deposits      Total    580        $'000         2021
 7        Other deposits      Total    741        $'000         2021
 8  Other current assets      Total   2231        $'000         2021
 9                 Total      Total   8583        $'000         2021

    header_col_2  year
 0  Consolidated  2022
 1  Consolidated  2022
 2  Consolidated  2022
 3  Consolidated  2022
 4  Consolidated  2022
 5  Consolidated  2021
 6  Consolidated  2021
 7  Consolidated  2021
 8  Consolidated  2021
 9  Consolidated  2021  ,
 '13__dc5f73c6-7457-3bd1-80b2-8a9296eb3fad':   line_item_0 row_header   value header_col_0 header_col_1  year
 0      109942       None  113613        $'000         2021  2021
 1     (2,584)       None   -2317        $'000         2021  2021
 2      107358       None  111296        $'000         2021  2021,
 '14__a5b71f98-b1e1-368e-a683-4d2530e07242':                          line_item_0 row_header    value header_col_0  \
 0     Leasehold improvements at cost       None  33573.0        $'000
 1     Less: Accumulated depreciation       None -20615.0        $'000
 2                              Total       None  12958.0        $'000
 3             Motor vehicles at cost       None   3687.0        $'000
 4     Less: Accumulated depreciation       None  -2616.0        $'000
 5                              Total       None   1071.0        $'000
 6         Office equipment - at cost       None  39604.0        $'000
 7     Less: Accumulated depreciation       None -33685.0        $'000
 8                              Total       None   5919.0        $'000
 9              Rental assets at cost       None  17069.0        $'000
 10    Less: Accumulated depreciation       None -12685.0        $'000
 11                             Total       None   4384.0        $'000
 12  Construction in progress at cost       None   3211.0        $'000
 13                             Total       None  27543.0        $'000
 14    Leasehold improvements at cost       None  32454.0        $'000
 15    Less: Accumulated depreciation       None -18902.0        $'000
 16                             Total       None  13552.0        $'000
 17            Motor vehicles at cost       None      0.0        $'000
 18    Less: Accumulated depreciation       None      0.0        $'000
 19                             Total       None    986.0        $'000
 20        Office equipment - at cost       None  39131.0        $'000
 21    Less: Accumulated depreciation       None -31727.0        $'000
 22                             Total       None   7404.0        $'000
 23             Rental assets at cost       None  19696.0        $'000
 24    Less: Accumulated depreciation       None -13642.0        $'000
 25                             Total       None   6054.0        $'000
 26  Construction in progress at cost       None    631.0        $'000
 27                             Total       None  28627.0        $'000

    header_col_1  header_col_2  year
 0          2022  Consolidated  2022
 1          2022  Consolidated  2022
 2          2022  Consolidated  2022
 3          2022  Consolidated  2022
 4          2022  Consolidated  2022
 5          2022  Consolidated  2022
 6          2022  Consolidated  2022
 7          2022  Consolidated  2022
 8          2022  Consolidated  2022
 9          2022  Consolidated  2022
 10         2022  Consolidated  2022
 11         2022  Consolidated  2022
 12         2022  Consolidated  2022
 13         2022  Consolidated  2022
 14         2021  Consolidated  2021
 15         2021  Consolidated  2021
 16         2021  Consolidated  2021
 17         2021  Consolidated  2021
 18         2021  Consolidated  2021
 19         2021  Consolidated  2021
 20         2021  Consolidated  2021
 21         2021  Consolidated  2021
 22         2021  Consolidated  2021
 23         2021  Consolidated  2021
 24         2021  Consolidated  2021
 25         2021  Consolidated  2021
 26         2021  Consolidated  2021
 27         2021  Consolidated  2021  ,
 '14__246af9d8-17fb-38ca-8a55-9a9305ee9410':                         line_item_0                  row_header    value  \
 0     2021Balance at 1 January 2022                       Total  13552.0
 1                         Additions                       Total   3392.0
 2            combinations (note 34)  Additions through business      1.0
 3                         Disposals  Additions through business    -63.0
 4      Foreign exchange differences  Additions through business    -24.0
 5               Write off of assets  Additions through business   -290.0
 6              Depreciation expense  Additions through business  -3610.0
 7   2022Balance at 31 December 2022  Additions through business  12958.0
 8     2021Balance at 1 January 2022                       Total    986.0
 9                         Additions                       Total    815.0
 10           combinations (note 34)  Additions through business      0.0
 11                        Disposals  Additions through business      0.0
 12     Foreign exchange differences  Additions through business    -13.0
 13              Write off of assets  Additions through business    -23.0
 14             Depreciation expense  Additions through business   -694.0
 15  2022Balance at 31 December 2022  Additions through business   1071.0
 16    2021Balance at 1 January 2022                       Total   7404.0
 17                        Additions                       Total   1815.0
 18           combinations (note 34)  Additions through business      0.0
 19                        Disposals  Additions through business    -42.0
 20     Foreign exchange differences  Additions through business    -21.0
 21              Write off of assets  Additions through business   -105.0
 22             Depreciation expense  Additions through business  -3132.0
 23  2022Balance at 31 December 2022  Additions through business   5919.0
 24    2021Balance at 1 January 2022                       Total   6054.0
 25                        Additions                       Total   1257.0
 26           combinations (note 34)  Additions through business      0.0
 27                        Disposals  Additions through business      0.0
 28     Foreign exchange differences  Additions through business    -44.0
 29              Write off of assets  Additions through business   -258.0
 30             Depreciation expense  Additions through business  -2625.0
 31  2022Balance at 31 December 2022  Additions through business   4384.0
 32    2021Balance at 1 January 2022                       Total    631.0
 33                        Additions                       Total   2560.0
 34           combinations (note 34)  Additions through business      0.0
 35                        Disposals  Additions through business      0.0
 36     Foreign exchange differences  Additions through business     20.0
 37              Write off of assets  Additions through business      0.0
 38             Depreciation expense  Additions through business      0.0
 39  2022Balance at 31 December 2022  Additions through business   3211.0
 40    2021Balance at 1 January 2022                       Total  28627.0
 41                        Additions                       Total   9839.0
 42           combinations (note 34)  Additions through business      0.0
 43                        Disposals  Additions through business   -105.0
 44     Foreign exchange differences  Additions through business    -82.0
 45              Write off of assets  Additions through business   -676.0
 46             Depreciation expense  Additions through business -10061.0
 47  2022Balance at 31 December 2022  Additions through business  27543.0

                       header_col_0  year
 0     Leasehold improvements $'000   NaN
 1     Leasehold improvements $'000   NaN
 2     Leasehold improvements $'000   NaN
 3     Leasehold improvements $'000   NaN
 4     Leasehold improvements $'000   NaN
 5     Leasehold improvements $'000   NaN
 6     Leasehold improvements $'000   NaN
 7     Leasehold improvements $'000   NaN
 8             Motor vehicles $'000   NaN
 9             Motor vehicles $'000   NaN
 10            Motor vehicles $'000   NaN
 11            Motor vehicles $'000   NaN
 12            Motor vehicles $'000   NaN
 13            Motor vehicles $'000   NaN
 14            Motor vehicles $'000   NaN
 15            Motor vehicles $'000   NaN
 16          Office equipment $'000   NaN
 17          Office equipment $'000   NaN
 18          Office equipment $'000   NaN
 19          Office equipment $'000   NaN
 20          Office equipment $'000   NaN
 21          Office equipment $'000   NaN
 22          Office equipment $'000   NaN
 23          Office equipment $'000   NaN
 24             Rental assets $'000   NaN
 25             Rental assets $'000   NaN
 26             Rental assets $'000   NaN
 27             Rental assets $'000   NaN
 28             Rental assets $'000   NaN
 29             Rental assets $'000   NaN
 30             Rental assets $'000   NaN
 31             Rental assets $'000   NaN
 32  Construction in progress $'000   NaN
 33  Construction in progress $'000   NaN
 34  Construction in progress $'000   NaN
 35  Construction in progress $'000   NaN
 36  Construction in progress $'000   NaN
 37  Construction in progress $'000   NaN
 38  Construction in progress $'000   NaN
 39  Construction in progress $'000   NaN
 40                     Total $'000   NaN
 41                     Total $'000   NaN
 42                     Total $'000   NaN
 43                     Total $'000   NaN
 44                     Total $'000   NaN
 45                     Total $'000   NaN
 46                     Total $'000   NaN
 47                     Total $'000   NaN  ,
 '15__825c2d5e-c9a0-3ba0-b638-eb87f77ee600':                         line_item_0 row_header    value header_col_0  \
 0     2021Balance at 1 January 2022       None  33904.0        $'000
 1                         Additions       None  28348.0        $'000
 2               Lease modifications       None   3123.0        $'000
 3                Lease terminations       None  -2830.0        $'000
 4              Depreciation expense       None -12938.0        $'000
 5   2022Balance at 31 December 2022       None  49607.0        $'000
 6     2021Balance at 1 January 2022       None    294.0        $'000
 7                         Additions       None   1038.0        $'000
 8               Lease modifications       None   2535.0        $'000
 9                Lease terminations       None      0.0        $'000
 10             Depreciation expense       None  -1417.0        $'000
 11  2022Balance at 31 December 2022       None   2450.0        $'000
 12    2021Balance at 1 January 2022       None  34198.0        $'000
 13                        Additions       None  29386.0        $'000
 14              Lease modifications       None   5658.0        $'000
 15               Lease terminations       None  -2830.0        $'000
 16             Depreciation expense       None -14355.0        $'000
 17  2022Balance at 31 December 2022       None  52057.0        $'000

    header_col_1 header_col_2  year
 0     buildings     Land and   NaN
 1     buildings     Land and   NaN
 2     buildings     Land and   NaN
 3     buildings     Land and   NaN
 4     buildings     Land and   NaN
 5     buildings     Land and   NaN
 6     equipment    Plant and   NaN
 7     equipment    Plant and   NaN
 8     equipment    Plant and   NaN
 9     equipment    Plant and   NaN
 10    equipment    Plant and   NaN
 11    equipment    Plant and   NaN
 12        Total    Plant and   NaN
 13        Total    Plant and   NaN
 14        Total    Plant and   NaN
 15        Total    Plant and   NaN
 16        Total    Plant and   NaN
 17        Total    Plant and   NaN  ,
 '15__0b5acc8b-a47d-3895-a8fa-afbf54eac683':                                           line_item_0 row_header  value  \
 0                     Land and buildings right-of-use       None  89247
 1                      Less: Accumulated depreciation       None -39640
 2                                               Total       None  49607
 3   Plant and equipment right-of-use Less: Accumul...       None   6180
 4   Plant and equipment right-of-use Less: Accumul...       None  -3730
 5                                               Total       None   2450
 6                                               Total       None  52057
 7                     Land and buildings right-of-use       None  71337
 8                      Less: Accumulated depreciation       None -37433
 9                                               Total       None  33904

In [9]:
output_folder = './output/'
file_folder = os.path.join(output_folder,fileid)

In [10]:
try:
    os.mkdir(file_folder)
except:
    pass

In [11]:
with open(os.path.join(file_folder,f"{fileid}_notes_account_dict.json"),"w") as f:
        json.dump(mp.final_notes_dict,f)

In [12]:
notes_region_meta_data.to_csv(os.path.join(file_folder,f"{fileid}_notes_region_meta_data.csv"),index=False)

In [13]:
with open(os.path.join(file_folder,f"{fileid}_notes_ref_list.json"),"w") as f:
    json.dump(mp.notes_ref_dict,f)

In [14]:
with open(os.path.join(file_folder,f"{fileid}_standradrd_notes_meta_dict.json"),"w") as f:
    json.dump(mp.standard_note_meta_dict,f)

In [15]:
writer = pd.ExcelWriter(os.path.join(file_folder,f"{fileid}_notes_cropped_df.xlsx"), engine='xlsxwriter')
for key,value in mp.cropped_table_dict.items():
    value.to_excel(writer, sheet_name=key[:20],index=False)
writer.save()

/tmp/ipykernel_14317/2270965984.py:4: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [16]:
writer = pd.ExcelWriter(os.path.join(file_folder,f"{fileid}_main_pages.xlsx"), engine='xlsxwriter')
for key,value in cbs_dict.items():
    value.to_excel(writer, sheet_name=f"cbs_{key}",index=False)
for key,value in cpl_dict.items():
    value.to_excel(writer, sheet_name=f"cpl_{key}",index=False)
for key,value in ccf_dict.items():
    value.to_excel(writer, sheet_name=f"ccf_{key}",index=False)
writer.save()

/tmp/ipykernel_14317/4159104238.py:8: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [17]:
writer = pd.ExcelWriter(os.path.join(file_folder,f"{fileid}_notes_standard_cropped_df.xlsx"), engine='xlsxwriter')
for key,value in mp.standardised_cropped_dict.items():
    if value is not None:
            value.to_excel(writer, sheet_name=key[:20],index=False)
    else:
            temp_df = pd.DataFrame()
            temp_df.to_excel(writer, sheet_name=key[:20],index=False)

writer.save()

/tmp/ipykernel_14317/2538549668.py:9: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [18]:
writer = pd.ExcelWriter(os.path.join(file_folder,f"{fileid}_notes_transformed_standard_cropped_df.xlsx"), engine='xlsxwriter')
for key,value in mp.transformed_standardised_cropped_dict.items():
    if value is not None:
            value.to_excel(writer, sheet_name=key[:20],index=False)
    else:
            temp_df = pd.DataFrame()
            temp_df.to_excel(writer, sheet_name=key[:20],index=False)

writer.save()

/tmp/ipykernel_14317/4069446321.py:9: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [19]:
len(mp.standardised_cropped_dict)

22

In [18]:
mp.final_notes_dict

{'6': {'': ['Cash and short-term deposits', 'Cash and cash equivalents at 31 December']}, '7': {'': ['Trade and other receivables', 'Trade and other receivables']}, '8': {'': ['Inventories']}, '9': {'': ['Other assets']}, '10': {'': ['Property, plant and equipment']}, '16': {'': ['Right-of-use assets']}, '11': {'': ['Intangible assets']}, '20': {'': ['Derivative financial instruments', 'Derivative financial instruments', 'Derivative financial instruments']}, '5': {'': ['Deferred tax assets', 'Income tax expense']}, '12': {'': ['Trade and other payables']}, '13': {'': ['Provisions']}, '14': {'': ['Employee benefit liabilities', 'Employee benefit liabilities']}, '15': {'': ['Interest-bearing loans and borrowings', 'Interest-bearing loans and borrowings']}, '17': {'': ['Contributed equity']}, '4': {'1': ['Finance revenue'], '2': ['Finance costs'], '3': ['Other income'], '4': ['Employee benefits expense'], '6': ['Other expenses'], '7': ['Other finance costs']}, '': {'': ['in Other comprehensive income/(loss) Other comprehensive income /(loss) that may be reclassified to profit or loss subsequent periods (net of tax):']}}

In [18]:
mp.notes_region_meta_data

,note,subnote,start_page,star_bbox,next_note_pattern,end_page,end_bbox,tableid,row_numbers,tableslist,raw_note_number
0,6,,[28],"[[161, 346, 493, 373]]",7,[28],"[[160, 638, 475, 662]]",[a78bb329-e32e-3971-8099-b6df05267d46],"[[0, 1, 2, 3, 4, 5]]",[<db_models.TableLogs object at 0x7f5b9002fca0>],"[6, 6]"
1,7,,[28],"[[160, 638, 475, 662]]",8,[29],"[[161, 735, 323, 758]]","[dd0b54b1-ae15-356c-ae39-9d60935625e7, 6df1755...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f5b9002f580...,"[7, 7]"
2,8,,[29],"[[161, 735, 323, 758]]",9,[29],"[[161, 1008, 338, 1032]]",[e1c7b062-750d-3921-8259-19418a13f2c6],"[[0, 1, 2, 3, 4, 5]]",[<db_models.TableLogs object at 0x7f5b8ff8bc40>],[8]
3,9,,[29],"[[161, 1008, 338, 1032]]",10,[30],"[[164, 329, 503, 355]]",[e109e16a-a440-32f4-b0b8-84e928bd0fa7],"[[0, 1, 2, 3, 4, 5, 6]]",[<db_models.TableLogs object at 0x7f5b8f0cd9a0>],[9]
4,10,,[30],"[[164, 329, 503, 355]]",11,[31],"[[161, 342, 376, 370]]",[821061f6-6d12-3a83-b648-d905b4b82a31],"[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f5b8ff79f70>],[10]
5,11,,[31],"[[161, 342, 376, 370]]",12,[31],"[[161, 876, 453, 904]]",[fc8cb365-6282-3259-b0ac-3e25ed8239fa],"[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f5b90020220>],[11]
6,5,,[26],"[[162, 744, 324, 769]]",6,[27],"[[165, 855, 1028, 881]]","[fd791fd0-d8c8-32e7-9d3d-36135c068a96, 412c019...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, ...",[<db_models.TableLogs object at 0x7f5b90e8b460...,"[5, 5]"
7,12,,[31],"[[161, 876, 453, 904]]",13,[32],"[[162, 343, 318, 370]]",[fc8cb365-6282-3259-b0ac-3e25ed8239fa],"[[18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28]]",[<db_models.TableLogs object at 0x7f5b90020220>],[12]
8,13,,[32],"[[162, 343, 318, 370]]",14,[32],"[[161, 717, 467, 743]]",[ac23ebec-90cf-3015-ba6d-3797dcee7984],"[[0, 1, 2, 3, 4, 5, 6, 7, 8]]",[<db_models.TableLogs object at 0x7f5b90e8b2b0>],[13]
9,14,,[32],"[[161, 717, 467, 743]]",15,[32],"[[161, 953, 571, 980]]",[46d96b94-e741-3831-8191-cd69b97789e4],"[[0, 1, 2, 3, 4, 5, 6]]",[<db_models.TableLogs object at 0x7f5b9005bf10>],"[14, 14]"
10,15,,[32],"[[161, 953, 571, 980]]",16,[33],"[[162, 976, 284, 998]]","[46d96b94-e741-3831-8191-cd69b97789e4, e18a0fc...","[[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, ...",[<db_models.TableLogs object at 0x7f5b9005bf10...,"[15, 15]"
11,17,,[34],"[[160, 1253, 390, 1281]]",18,[35],"[[160, 501, 338, 529]]",[4e0097f4-2b78-3626-bb5a-20962cf2e862],"[[16, 17, 18, 19, 20]]",[<db_models.TableLogs object at 0x7f5b90e46250>],[17]
12,4,1,[25],"[[161, 379, 373, 406]]",4.2,[25],"[[160, 666, 350, 692]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.1]
13,4,2,[25],"[[160, 666, 350, 692]]",4.3,[25],"[[161, 814, 345, 837]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[11, 12, 13, 14, 15]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.2]
14,4,3,[25],"[[161, 814, 345, 837]]",4.4,[25],"[[160, 1029, 472, 1055]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[15, 16, 17, 18, 19, 20, 21, 22, 23]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.3]
15,4,4,[25],"[[160, 1029, 472, 1055]]",4.5,[25],"[[162, 1218, 925, 1246]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[23, 24, 25, 26, 27, 28]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.4]
16,4,6,[26],"[[161, 379, 459, 407]]",4.7,[26],"[[160, 562, 402, 588]]",[b1818398-7624-37bc-9aba-9e42d0312183],"[[1, 2, 3, 4, 5, 6, 7, 8]]",[<db_models.TableLogs object at 0x7f5b90e46ee0>],[4.6]
17,4,7,[26],"[[160, 562, 402, 588]]",4.8,[27],"[[162, 1103, 686, 1129]]","[fd791fd0-d8c8-32e7-9d3d-36135c068a96, b181839...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [8, 9, 10, 11...",[<db_models.TableLogs object at 0x7f5b90e8b460...,[4.7]
18,,,[13],"[[162, 468, 386, 493]]",,[13],"[[162, 226, 1018, 261]]",[],[],[],[in]

In [6]:
mp.standardised_cropped_dict

{'8__460fae87-cafc-3af5-85d9-fb6f60a7ea12':   line_item_0                                        line_item_1  row_header  \
 0         NaN                                       Cash on hand         NaN
 1         NaN                                       Cash at bank         NaN
 2         NaN  Cash and cash equivalents in the statement of ...         NaN
 3         NaN                                       Cash on hand         NaN
 4         NaN                                       Cash at bank         NaN
 5         NaN  Cash and cash equivalents in the statement of ...         NaN

    value header_col_0  year
 0      4         2022  2022
 1  41838         2022  2022
 2  41842         2022  2022
 3      4         2021  2021
 4  92311         2021  2021
 5  92315         2021  2021  ,
 '9__460fae87-cafc-3af5-85d9-fb6f60a7ea12':   line_item_0                                        line_item_1  row_header  \
 0         NaN                                  Trade receivables         9.0
 1         NaN                                           Deposits         9.0
 2         NaN  Amount receivable from controlling entity (Ref...         9.0
 3       Total                                                NaN         9.0
 4         NaN                                  Trade receivables         9.0
 5         NaN                                           Deposits         9.0
 6         NaN  Amount receivable from controlling entity (Ref...         9.0
 7       Total                                                NaN         9.0

    value header_col_0  year
 0  24577         2022  2022
 1    626         2022  2022
 2      7         2022  2022
 3  25210         2022  2022
 4  25031         2021  2021
 5    677         2021  2021
 6     21         2021  2021
 7  25729         2021  2021  ,
 '10__460fae87-cafc-3af5-85d9-fb6f60a7ea12':                             line_item_0      row_header  value header_col_0  \
 0                        Finished goods  10 Inventories  21156         2022
 1                      Goods in transit  10 Inventories  13236         2022
 2  Provision for inventory obsolescence  10 Inventories    -73         2022
 3                                 Total  10 Inventories  34319         2022
 4                        Finished goods  10 Inventories  14472         2021
 5                      Goods in transit  10 Inventories  13324         2021
 6  Provision for inventory obsolescence  10 Inventories   -161         2021
 7                                 Total  10 Inventories  27635         2021

    year
 0  2022
 1  2022
 2  2022
 3  2022
 4  2021
 5  2021
 6  2021
 7  2021  ,
 '10__e99aa245-9d31-3147-91f4-8b5db0c21d19': Empty DataFrame
 Columns: []
 Index: [],
 '6_(c)_46b432b5-a97d-306d-8d36-a0394079a39a':                                          line_item_0 row_header    value  \
 0                      Property, plant and equipment       None      0.0
 1               Proceeds from discontinued operation       None      0.0
 2  Prima facie gain on disposal of discontinued o...       None      0.0
 3  Effect of sale and lease-back transaction gain...       None      0.0
 4                                              Total       None      0.0
 5                      Property, plant and equipment       None -19776.0
 6               Proceeds from discontinued operation       None  75264.0
 7  Prima facie gain on disposal of discontinued o...       None  55488.0
 8  Effect of sale and lease-back transaction gain...       None  -3302.0
 9                                              Total       None  52186.0

   header_col_0 header_col_1  year
 0        $'000         2022  2022
 1        $'000         2022  2022
 2        $'000         2022  2022
 3        $'000         2022  2022
 4        $'000         2022  2022
 5        $'000         2021  2021
 6        $'000         2021  2021
 7        $'000         2021  2021
 8        $'000         2021  2021
 9        $'000         2021  2021  ,
 '6_(c)_4a761b0d-5eec-3642-9de0-648c1c34b55a':                       line_item_0        row_header   value header_col_0  \
 0   Property, plant and equipment  31 December 2022   -69.0         2022
 1               Employee benefits  31 December 2022   581.0         2022
 2                        Accruals  31 December 2022   234.0         2022
 3                     Prepayments  31 December 2022   -22.0         2022
 4          Inventory obsolescence  31 December 2022    48.0         2022
 5                          Leases  31 December 2022   877.0         2022
 6              Blackhole expenses  31 December 2022     0.0         2022
 7                           Total  31 December 2022  1649.0         2022
 8                           Total  31 December 2022     0.0         2022
 9                           Total  31 December 2022     0.0         2022
 10                          Total  31 December 2022  2021.0         2022
 11                          Total  31 December 2022     0.0         2022
 12  Property, plant and equipment  31 December 2021  -651.0         2022
 13              Employee benefits  31 December 2021   930.0         2022
 14                       Accruals  31 December 2021   190.0         2022
 15                    Prepayments  31 December 2021   -26.0         2022
 16         Inventory obsolescence  31 December 2021    24.0         2022
 17                         Leases  31 December 2021    11.0         2022
 18                          Total  31 December 2021   478.0         2022
 19  Property, plant and equipment  31 December 2022    -6.0         2022
 20              Employee benefits  31 December 2022    -3.0         2022
 21                       Accruals  31 December 2022    -9.0         2022
 22                    Prepayments  31 December 2022     3.0         2022
 23         Inventory obsolescence  31 December 2022   -26.0         2022
 24                         Leases  31 December 2022  -493.0         2022
 25             Blackhole expenses  31 December 2022   224.0         2022
 26                          Total  31 December 2022  -310.0         2022
 27                          Total  31 December 2022     0.0         2022
 28                          Total  31 December 2022     0.0         2022
 29                          Total  31 December 2022     0.0         2022
 30                          Total  31 December 2022     0.0         2022
 31  Property, plant and equipment  31 December 2021   582.0         2022
 32              Employee benefits  31 December 2021  -349.0         2022
 33                       Accruals  31 December 2021    44.0         2022
 34                    Prepayments  31 December 2021     4.0         2022
 35         Inventory obsolescence  31 December 2021    24.0         2022
 36                         Leases  31 December 2021   866.0         2022
 37                          Total  31 December 2021  1171.0         2022
 38  Property, plant and equipment  31 December 2022   -75.0         2022
 39              Employee benefits  31 December 2022   578.0         2022
 40                       Accruals  31 December 2022   225.0         2022
 41                    Prepayments  31 December 2022   -19.0         2022
 42         Inventory obsolescence  31 December 2022    22.0         2022
 43                         Leases  31 December 2022   384.0         2022
 44             Blackhole expenses  31 December 2022   224.0         2022
 45                          Total  31 December 2022  1339.0         2022
 46                          Total  31 December 2022     0.0         2022
 47                          Total  31 December 2022     0.0         2022
 48                          Total  31 December 2022  2021.0         2022
 49                          Total  31 December 2022     0.0         2022
 50  Property, plant and equipment  31 December 2021   -69.0         2022
 51              Employee benefits  31 December 2021   581.0         2022
 52                       Accruals  31 December 2021   234.0         2022
 53                    Prepayments  31 December 2021   -22.0         2022
 54         Inventory obsolescence  31 December 2021    48.0         2022
 55                         Leases  31 December 2021   877.0         2022
 56                          Total  31 December 2021  1649.0         2022

                     header_col_1  year
 0           Balance at 1 January  2022
 1           Balance at 1 January  2022
 2           Balance at 1 January  2022
 3           Balance at 1 January  2022
 4           Balance at 1 January  2022
 5           Balance at 1 January  2022
 6           Balance at 1 January  2022
 7           Balance at 1 January  2022
 8           Balance at 1 January  2022
 9           Balance at 1 January  2022
 10          Balance at 1 January  2022
 11          Balance at 1 January  2022
 12          Balance at 1 January  2022
 13          Balance at 1 January  2022
 14          Balance at 1 January  2022
 15          Balance at 1 January  2022
 16          Balance at 1 January  2022
 17          Balance at 1 January  2022
 18          Balance at 1 January  2022
 19  Recognised in profit or loss  2022
 20  Recognised in profit or loss  2022
 21  Recognised in profit or loss  2022
 22  Recognised in profit or loss  2022
 23  Recognised in profit or loss  2022
 24  Recognised in profit or loss  2022
 25  Recognised in profit or loss  2022
 26  Recognised in profit or loss  2022
 27  Recognised in profit or loss  2022
 28  Recognised in profit or loss  2022
 29  Recognised in profit or loss  2022
 30  Recognised in profit or loss  2022
 31  Recognised in profit or loss  2022
 32  Recognised in profit or loss  2022
 33  Recognised in profit or loss  2022
 34  Recognised in profit or loss  2022
 35  Recognised in profit or loss  2022
 36  Recognised in profit or loss  2022
 37  Recognised in profit or loss  2022
 38        Balance at 31 December  2022
 39        Balance at 31 December  2022
 40        Balance at 31 December  2022
 41        Balance at 31 December  2022
 42        Balance at 31 December  2022
 43        Balance at 31 December  2022
 44        Balance at 31 December  2022
 45        Balance at 31 December  2022
 46        Balance at 31 December  2022
 47        Balance at 31 December  2022
 48        Balance at 31 December  2022
 49        Balance at 31 December  2022
 50        Balance at 31 December  2022
 51        Balance at 31 December  2022
 52        Balance at 31 December  2022
 53        Balance at 31 December  2022
 54        Balance at 31 December  2022
 55        Balance at 31 December  2022
 56        Balance at 31 December  2022  ,
 '6_(c)_460fae87-cafc-3af5-85d9-fb6f60a7ea12':    line_item_0 row_header    value                        header_col_0  \
 0        Total       None      0.0  Discontinued operation (continued)
 1        Total       None      0.0  Discontinued operation (continued)
 2        Total       None      0.0  Discontinued operation (continued)
 3        Total       None      0.0  Discontinued operation (continued)
 4        Total       None      0.0  Discontinued operation (continued)
 ..         ...        ...      ...                                 ...
 67       Total       None      0.0  Discontinued operation (continued)
 68       Total       None  14472.0  Discontinued operation (continued)
 69       Total       None  13324.0  Discontinued operation (continued)
 70       Total       None   -161.0  Discontinued operation (continued)
 71       Total       None  27635.0  Discontinued operation (continued)

                            header_col_1  \
 0   For the year ended 31 December 2022
 1   For the year ended 31 December 2022
 2   For the year ended 31 December 2022
 3   For the year ended 31 December 2022
 4   For the year ended 31 December 2022
 ..                                  ...
 67  For the year ended 31 December 2022
 68  For the year ended 31 December 2022
 69  For the year ended 31 December 2022
 70  For the year ended 31 December 2022
 71  For the year ended 31 December 2022

                                      header_col_2                 header_col_3
 0   Notes to the financial statements (continued)  Toyo Tyre Australia Pty Ltd
 1   Notes to the financial statements (continued)  Toyo Tyre Australia Pty Ltd
 2   Notes to the financial statements (continued)  Toyo Tyre Australia Pty Ltd
 3   Notes to the financial statements (continued)  Toyo Tyre Australia Pty Ltd
 4   Notes to the financial statements (continued)  Toyo Tyre Australia Pty Ltd
 ..                                            ...                          ...
 67  Notes to the financial statements (continued)  Toyo Tyre Australia Pty Ltd
 68  Notes to the financial statements (continued)  Toyo Tyre Australia Pty Ltd
 69  Notes to the financial statements (continued)  Toyo Tyre Australia Pty Ltd
 70  Notes to the financial statements (continued)  Toyo Tyre Australia Pty Ltd
 71  Notes to the financial statements (continued)  Toyo Tyre Australia Pty Ltd

 [72 rows x 7 columns],
 '12__0a21830a-a4cd-32d0-a8a2-1e94fe17f24f':                                          line_item_0 row_header  value  \
 0                                     Trade payables       None   1564
 1  Amounts payable to controlling entity (Refer N...       None  19828
 2                       Other creditors and accruals       None  15277
 3                                              Total       None  36669
 4                                     Trade payables       None   3752
 5  Amounts payable to controlling entity (Refer N...       None  19220
 6                       Other creditors and accruals       None  12092
 7                                              Total       None  35064

                header_col_0 header_col_1  year
 0  Trade and other payables         2022  2022
 1  Trade and other payables         2022  2022
 2  Trade and other payables         2022  2022
 3  Trade and other payables         2022  2022
 4                     $'000         2021  2021
 5                     $'000         2021  2021
 6                     $'000         2021  2021
 7                     $'000         2021  2021  ,
 '13__0a21830a-a4cd-32d0-a8a2-1e94fe17f24f':                             line_item_0  \
 0                       Opening balance
 1                             Additions
 2                              Payments
 3                       Closing balance
 4                               Current
 5                           Non-current
 6         Interest on lease liabilities
 7   Depreciation of right-of use assets
 8         Total cash outflow for leases
 9                       Opening balance
 10                            Additions
 11                             Payments
 12                      Closing balance
 13                              Current
 14                          Non-current
 15        Interest on lease liabilities
 16  Depreciation of right-of use assets
 17        Total cash outflow for leases

                                            row_header      value header_col_0  \
 0                                13 Lease liabilities  11043.000         2022
 1                                13 Lease liabilities    888.000         2022
 2                                13 Lease liabilities  -4452.000         2022
 3                                13 Lease liabilities   7638.000         2022
 4                                13 Lease liabilities   3652.000         2022
 5                                13 Lease liabilities   3986.000         2022
 6                Amounts recognised in profit or loss    159.000         2022
 7                Amounts recognised in profit or loss   2649.000         2022
 8   Amounts recognised in the statement of cash flows   4293.000         2022
 9                                13 Lease liabilities   1289.000         2021
 10                               13 Lease liabilities  11685.000         2021
 11                               13 Lease liabilities  -2009.000         2021
 12                               13 Lease liabilities  11043.000         2021
 13                               13 Lease liabilities   4090.000         2021
 14                               13 Lease liabilities   6953.000         2021
 15               Amounts recognised in profit or loss     78.000         2021
 16               Amounts recognised in profit or loss      1.517         2021
 17  Amounts recognised in the statement of cash flows   1931.000         2021

     year
 0   2022
 1   2022
 2   2022
 3   2022
 4   2022
 5   2022
 6   2022
 7   2022
 8   2022
 9   2021
 10  2021
 11  2021
 12  2021
 13  2021
 14  2021
 15  2021
 16  2021
 17  2021  ,
 '14__0a21830a-a4cd-32d0-a8a2-1e94fe17f24f':                                          line_item_0   row_header  value  \
 0  Liability for annual leave and other employee ...      Current   1139
 1                                              Total      Current   1139
 2                    Liabilityfor long-service leave  Non-current    787
 3                                              Total  Non-current    787
 4  Liability for annual leave and other employee ...      Current   1218
 5                                              Total      Current   1218
 6                    Liabilityfor long-service leave  Non-current    720
 7                                              Total  Non-current    720

   header_col_0  year
 0         2022  2022
 1         2022  2022
 2         2022  2022
 3         2022  2022
 4         2021  2021
 5         2021  2021
 6         2021  2021
 7         2021  2021  ,
 '15__016f06ae-009b-3518-9f87-2bdf9e0280f3':        line_item_0 row_header        value header_col_0 header_col_1  \
 0     at 1 January       None   8160000.00       Shares         2022
 1   at 31 December       None   8160000.00       Shares         2022
 2            Total       None         0.00       Shares         2022
 3            Total       None      2022.00       Shares         2022
 4            Total       None         0.00       Shares         2022
 5     at 1 January       None  21840000.00       Shares         2022
 6   at 31 December       None  21840000.00       Shares         2022
 7     at 1 January       None         8.16       Shares         2021
 8   at 31 December       None   8160000.00       Shares         2021
 9            Total       None         0.00       Shares         2021
 10           Total       None      2021.00       Shares         2021
 11           Total       None         0.00       Shares         2021
 12    at 1 January       None  21840000.00       Shares         2021
 13  at 31 December       None  21840000.00       Shares         2021
 14    at 1 January       None      4080.00        $'000         2022
 15  at 31 December       None      4080.00        $'000         2022
 16           Total       None         0.00        $'000         2022
 17           Total       None      2022.00        $'000         2022
 18           Total       None         0.00        $'000         2022
 19    at 1 January       None     10920.00        $'000         2022
 20  at 31 December       None     10920.00        $'000         2022
 21    at 1 January       None      4080.00        $'000         2021
 22  at 31 December       None      4080.00        $'000         2021
 23           Total       None         0.00        $'000         2021
 24           Total       None      2021.00        $'000         2021
 25           Total       None         0.00        $'000         2021
 26    at 1 January       None     10920.00        $'000         2021
 27  at 31 December       None     10920.00        $'000         2021

                header_col_2  year
 0   A class ordinary shares  2022
 1   A class ordinary shares  2022
 2   A class ordinary shares  2022
 3   A class ordinary shares  2022
 4   A class ordinary shares  2022
 5   A class ordinary shares  2022
 6   A class ordinary shares  2022
 7   A class ordinary shares  2021

In [19]:
mp.notes_region_meta_data

,note,subnote,start_page,star_bbox,next_note_pattern,end_page,end_bbox,tableid,row_numbers,tableslist,raw_note_number
0,6,,[28],"[[161, 346, 493, 373]]",7,[28],"[[160, 638, 475, 662]]",[a78bb329-e32e-3971-8099-b6df05267d46],"[[0, 1, 2, 3, 4, 5]]",[<db_models.TableLogs object at 0x7f5b9002fca0>],"[6, 6]"
1,7,,[28],"[[160, 638, 475, 662]]",8,[29],"[[161, 735, 323, 758]]","[dd0b54b1-ae15-356c-ae39-9d60935625e7, 6df1755...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f5b9002f580...,"[7, 7]"
2,8,,[29],"[[161, 735, 323, 758]]",9,[29],"[[161, 1008, 338, 1032]]",[e1c7b062-750d-3921-8259-19418a13f2c6],"[[0, 1, 2, 3, 4, 5]]",[<db_models.TableLogs object at 0x7f5b8ff8bc40>],[8]
3,9,,[29],"[[161, 1008, 338, 1032]]",10,[30],"[[164, 329, 503, 355]]",[e109e16a-a440-32f4-b0b8-84e928bd0fa7],"[[0, 1, 2, 3, 4, 5, 6]]",[<db_models.TableLogs object at 0x7f5b8f0cd9a0>],[9]
4,10,,[30],"[[164, 329, 503, 355]]",11,[31],"[[161, 342, 376, 370]]",[821061f6-6d12-3a83-b648-d905b4b82a31],"[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f5b8ff79f70>],[10]
5,11,,[31],"[[161, 342, 376, 370]]",12,[31],"[[161, 876, 453, 904]]",[fc8cb365-6282-3259-b0ac-3e25ed8239fa],"[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f5b90020220>],[11]
6,5,,[26],"[[162, 744, 324, 769]]",6,[27],"[[165, 855, 1028, 881]]","[fd791fd0-d8c8-32e7-9d3d-36135c068a96, 412c019...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, ...",[<db_models.TableLogs object at 0x7f5b90e8b460...,"[5, 5]"
7,12,,[31],"[[161, 876, 453, 904]]",13,[32],"[[162, 343, 318, 370]]",[fc8cb365-6282-3259-b0ac-3e25ed8239fa],"[[18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28]]",[<db_models.TableLogs object at 0x7f5b90020220>],[12]
8,13,,[32],"[[162, 343, 318, 370]]",14,[32],"[[161, 717, 467, 743]]",[ac23ebec-90cf-3015-ba6d-3797dcee7984],"[[0, 1, 2, 3, 4, 5, 6, 7, 8]]",[<db_models.TableLogs object at 0x7f5b90e8b2b0>],[13]
9,14,,[32],"[[161, 717, 467, 743]]",15,[32],"[[161, 953, 571, 980]]",[46d96b94-e741-3831-8191-cd69b97789e4],"[[0, 1, 2, 3, 4, 5, 6]]",[<db_models.TableLogs object at 0x7f5b9005bf10>],"[14, 14]"
10,15,,[32],"[[161, 953, 571, 980]]",16,[33],"[[162, 976, 284, 998]]","[46d96b94-e741-3831-8191-cd69b97789e4, e18a0fc...","[[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, ...",[<db_models.TableLogs object at 0x7f5b9005bf10...,"[15, 15]"
11,17,,[34],"[[160, 1253, 390, 1281]]",18,[35],"[[160, 501, 338, 529]]",[4e0097f4-2b78-3626-bb5a-20962cf2e862],"[[16, 17, 18, 19, 20]]",[<db_models.TableLogs object at 0x7f5b90e46250>],[17]
12,4,1,[25],"[[161, 379, 373, 406]]",4.2,[25],"[[160, 666, 350, 692]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.1]
13,4,2,[25],"[[160, 666, 350, 692]]",4.3,[25],"[[161, 814, 345, 837]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[11, 12, 13, 14, 15]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.2]
14,4,3,[25],"[[161, 814, 345, 837]]",4.4,[25],"[[160, 1029, 472, 1055]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[15, 16, 17, 18, 19, 20, 21, 22, 23]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.3]
15,4,4,[25],"[[160, 1029, 472, 1055]]",4.5,[25],"[[162, 1218, 925, 1246]]",[12c134c9-f365-3aad-bb0b-6945e88593df],"[[23, 24, 25, 26, 27, 28]]",[<db_models.TableLogs object at 0x7f5b90015850>],[4.4]
16,4,6,[26],"[[161, 379, 459, 407]]",4.7,[26],"[[160, 562, 402, 588]]",[b1818398-7624-37bc-9aba-9e42d0312183],"[[1, 2, 3, 4, 5, 6, 7, 8]]",[<db_models.TableLogs object at 0x7f5b90e46ee0>],[4.6]
17,4,7,[26],"[[160, 562, 402, 588]]",4.8,[27],"[[162, 1103, 686, 1129]]","[fd791fd0-d8c8-32e7-9d3d-36135c068a96, b181839...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [8, 9, 10, 11...",[<db_models.TableLogs object at 0x7f5b90e8b460...,[4.7]
18,,,[13],"[[162, 468, 386, 493]]",,[13],"[[162, 226, 1018, 261]]",[],[],[],[in]

In [20]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5')

In [21]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5').filter(like="line_item", axis=1).columns.to_list()

AttributeError: 'NoneType' object has no attribute 'filter'

In [ ]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5')['year'].max()

In [22]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5').filter(like="header_col", axis=1).sort_index(axis=1, ascending=False)

AttributeError: 'NoneType' object has no attribute 'filter'

In [23]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5').filter(like="header_col", axis=1).sort_index(axis=1, ascending=True).columns.to_list()

AttributeError: 'NoneType' object has no attribute 'filter'

In [24]:
mp.standardised_cropped_dict.keys()

dict_keys(['6__a78bb329-e32e-3971-8099-b6df05267d46', '7__dd0b54b1-ae15-356c-ae39-9d60935625e7', '7__6df1755d-9f56-30b6-b668-3883a4759256', '8__e1c7b062-750d-3921-8259-19418a13f2c6', '9__e109e16a-a440-32f4-b0b8-84e928bd0fa7', '10__821061f6-6d12-3a83-b648-d905b4b82a31', '11__fc8cb365-6282-3259-b0ac-3e25ed8239fa', '5__fd791fd0-d8c8-32e7-9d3d-36135c068a96', '5__412c019a-25e7-31b2-b338-875d3b57db61', '5__d493819c-94d0-307a-aef5-4e241134fa04', '12__fc8cb365-6282-3259-b0ac-3e25ed8239fa', '13__ac23ebec-90cf-3015-ba6d-3797dcee7984', '14__46d96b94-e741-3831-8191-cd69b97789e4', '15__46d96b94-e741-3831-8191-cd69b97789e4', '15__e18a0fc5-eab6-3f17-86a9-d0f8a7dbc230', '17__4e0097f4-2b78-3626-bb5a-20962cf2e862', '4_1_12c134c9-f365-3aad-bb0b-6945e88593df', '4_2_12c134c9-f365-3aad-bb0b-6945e88593df', '4_3_12c134c9-f365-3aad-bb0b-6945e88593df', '4_4_12c134c9-f365-3aad-bb0b-6945e88593df', '4_6_b1818398-7624-37bc-9aba-9e42d0312183', '4_7_fd791fd0-d8c8-32e7-9d3d-36135c068a96', '4_7_b1818398-7624-37bc-9aba-9e42d0312183', '4_7_412c019a-25e7-31b2-b338-875d3b57db61', '4_7_d493819c-94d0-307a-aef5-4e241134fa04'])

In [25]:
# cbs_dict

In [26]:
data_column_names = cbs_dict[6]

# ignore these columns to fetch years list
filter_headers = ['Notes', 'Particulars', 'statement_section', 'statement_sub_section']

# get years list
years_list = ([int(i) for i in data_column_names if i not in filter_headers])
years_list.sort()
years_list = [str(i) for i in years_list]

In [65]:
def convert_standaradised_notes_to_column_row_year(note_df,year_list,standard_note_meta_dict_item):
    ## this function converts standradised note df into 4 columns. rows will be combination of row header + line item 1 + line item 0
    ## cols will be combination of col_header_1 + col_header_0 etc. column which contains year value will be dropped based on standard_note_meta_dict_item
    converted_standardised_df = pd.DataFrame(columns=["rows","columns","year","value"])
    note_df["year"] = pd.to_numeric(note_df["year"],errors='coerce')
    note_df["year"] = note_df["year"].fillna(note_df["year"].max())
    # for curr_year in year_list:
    #         converted_standardised_df[str(curr_year)] = float(0)

    year_column_header_name = standard_note_meta_dict_item.get('year_column_header_name')
    # print(year_column_header_name)
    if year_column_header_name:
         note_df = note_df.drop(year_column_header_name,axis=1)
    line_item_colnames = note_df.filter(like="line_item", axis=1).columns.to_list()
    col_header_colnames = note_df.filter(like="header_col", axis=1).sort_index(axis=1, ascending=False).columns.to_list()
    row_header_available = False
    # print(line_item_colnames)
    if "row_header" in note_df.columns.to_list():
        row_header_available = True
        row_colmns = ["row_header"]
        row_colmns.extend(line_item_colnames)
        # print(row_colmns)
        converted_standardised_df["rows"] = note_df[row_colmns].fillna('').apply(" ".join, axis=1)
    else:
        converted_standardised_df["rows"] = note_df[line_item_colnames].fillna('').apply(" ".join, axis=1)
    converted_standardised_df["columns"] = note_df[col_header_colnames].fillna('').apply(" ".join, axis=1)
    converted_standardised_df["year"] = note_df["year"]
    converted_standardised_df["value"] = note_df["value"]
    return converted_standardised_df

In [66]:
mp.standardised_cropped_dict.get('13__5833a5d1-c09c-3154-8002-4ad74d57e34c')

,line_item_0,row_header,value,header_col_0,header_col_1,header_col_2,header_col_3,year
0,Consolidated,Consolidated,NaN,improvements,Leasehold,assets,Low value,None
1,Balance at 1 April 2021,Consolidated,116059,improvements,Leasehold,assets,Low value,2021
2,Additions,Consolidated,52292,improvements,Leasehold,assets,Low value,None
3,Disposals,Consolidated,NaN,improvements,Leasehold,assets,Low value,None
4,Depreciation expense,Consolidated,"(41,492)",improvements,Leasehold,assets,Low value,None
5,Balance at 31 March 2022,Consolidated,126859,improvements,Leasehold,assets,Low value,2022
6,Consolidated,Consolidated,NaN,Plantand equipment,Plantand equipment,assets,Low value,None
7,Balance at 1 April 2021,Consolidated,365374,Plantand equipment,Plantand equipment,assets,Low value,2021
8,Additions,Consolidated,86255,Plantand equipment,Plantand equipment,assets,Low value,None
9,Disposals,Consolidated,NaN,Plantand equipment,Plantand equipment,assets,Low value,None
10,Depreciation expense,Consolidated,"(60,638)",Plantand equipment,Plantand equipment,assets,Low value,None
11,Balance at 31 March 2022,Consolidated,390991,Plantand equipment,Plantand equipment,assets,Low value,2022
12,Consolidated,Consolidated,NaN,and fittings,Fixtures,assets,Low value,None
13,Balance at 1 April 2021,Consolidated,112265,and fittings,Fixtures,assets,Low value,2021
14,Additions,Consolidated,8789,and fittings,Fixtures,assets,Low value,None
15,Disposals,Consolidated,NaN,and fittings,Fixtures,assets,Low value,None
16,Depreciation expense,Consolidated,"(26,530)",and fittings,Fixtures,assets,Low value,None
17,Balance at 31 March 2022,Consolidated,94524,and fittings,Fixtures,assets,Low value,2022
18,Consolidated,Consolidated,NaN,vehicles,Motor,assets,Low value,None
19,Balance at 1 April 2021,Consolidated,5135623,vehicles,Motor,assets,Low value,2021
20,Additions,Consolidated,2452,vehicles,Motor,assets,Low value,None
21,Disposals,Consolidated,"(46,956)",vehicles,Motor,assets,Low value,None
22,Depreciation expense,Consolidated,"(943,835)",vehicles,Motor,assets,Low value,None
23,Balance at 31 March 2022,Consolidated,4147284,vehicles,Motor,assets,Low value,2022
24,Consolidated,Consolidated,NaN,equipment,Computer,assets,Low value,None
25,Balance at 1 April 2021,Consolidated,1160011,equipment,Computer,assets,Low value,2021
26,Additions,Consolidated,762742,equipment,Computer,assets,Low value,None
27,Disposals,Consolidated,NaN,equipment,Computer,assets,Low value,None
28,Depreciation expense,Consolidated,"(458,542)",equipment,Computer,assets,Low value,None
29,Balance at 31 March 2022,Consolidated,1464211,equipment,Computer,assets,Low value,2022
30,Consolidated,Consolidated,NaN,equipment),(Plant and,assets,Low value,None
31,Balance at 1 April 2021,Consolidated,92905,equipment),(Plant and,assets,Low value,2021
32,Additions,Consolidated,NaN,equipment),(Plant and,assets,Low value,None
33,Disposals,Consolidated,NaN,equipment),(Plant and,assets,Low value,None
34,Depreciation expense,Consolidated,"(31,909)",equipment),(Plant and,assets,Low value,None
35,Balance at 31 March 2022,Consolidated,60996,equipment),(Plant and,assets,Low value,2022
36,Consolidated,Consolidated,NaN,Total,(Plant and,assets,Low value,None
37,Balance at 1 April 2021,Consolidated,6982237,Total,(Plant and,assets,Low value,2021
38,Additions,Consolidated,912530,Total,(Plant and,assets,Low value,None
39,Disposals,Consolidated,"(46,956)",Total,(Plant and,assets,Low value,None
40,Depreciation expense,Consolidated,"(1,562,946)",Total,(Plant and,assets,Low value,None
41,Balance at 31 March 2022,Consolidated,6284865,Total,(Plant and,assets,Low value,2022

In [67]:
convert_standaradised_notes_to_column_row_year(mp.standardised_cropped_dict.get('13__5833a5d1-c09c-3154-8002-4ad74d57e34c'),years_list,mp.standard_note_meta_dict.get('13__5833a5d1-c09c-3154-8002-4ad74d57e34c'))

,rows,columns,year,value
0,Consolidated Consolidated,Low value assets Leasehold improvements,2022.0,NaN
1,Consolidated Balance at 1 April 2021,Low value assets Leasehold improvements,2021.0,116059
2,Consolidated Additions,Low value assets Leasehold improvements,2022.0,52292
3,Consolidated Disposals,Low value assets Leasehold improvements,2022.0,NaN
4,Consolidated Depreciation expense,Low value assets Leasehold improvements,2022.0,"(41,492)"
5,Consolidated Balance at 31 March 2022,Low value assets Leasehold improvements,2022.0,126859
6,Consolidated Consolidated,Low value assets Plantand equipment Plantand e...,2022.0,NaN
7,Consolidated Balance at 1 April 2021,Low value assets Plantand equipment Plantand e...,2021.0,365374
8,Consolidated Additions,Low value assets Plantand equipment Plantand e...,2022.0,86255
9,Consolidated Disposals,Low value assets Plantand equipment Plantand e...,2022.0,NaN
10,Consolidated Depreciation expense,Low value assets Plantand equipment Plantand e...,2022.0,"(60,638)"
11,Consolidated Balance at 31 March 2022,Low value assets Plantand equipment Plantand e...,2022.0,390991
12,Consolidated Consolidated,Low value assets Fixtures and fittings,2022.0,NaN
13,Consolidated Balance at 1 April 2021,Low value assets Fixtures and fittings,2021.0,112265
14,Consolidated Additions,Low value assets Fixtures and fittings,2022.0,8789
15,Consolidated Disposals,Low value assets Fixtures and fittings,2022.0,NaN
16,Consolidated Depreciation expense,Low value assets Fixtures and fittings,2022.0,"(26,530)"
17,Consolidated Balance at 31 March 2022,Low value assets Fixtures and fittings,2022.0,94524
18,Consolidated Consolidated,Low value assets Motor vehicles,2022.0,NaN
19,Consolidated Balance at 1 April 2021,Low value assets Motor vehicles,2021.0,5135623
20,Consolidated Additions,Low value assets Motor vehicles,2022.0,2452
21,Consolidated Disposals,Low value assets Motor vehicles,2022.0,"(46,956)"
22,Consolidated Depreciation expense,Low value assets Motor vehicles,2022.0,"(943,835)"
23,Consolidated Balance at 31 March 2022,Low value assets Motor vehicles,2022.0,4147284
24,Consolidated Consolidated,Low value assets Computer equipment,2022.0,NaN
25,Consolidated Balance at 1 April 2021,Low value assets Computer equipment,2021.0,1160011
26,Consolidated Additions,Low value assets Computer equipment,2022.0,762742
27,Consolidated Disposals,Low value assets Computer equipment,2022.0,NaN
28,Consolidated Depreciation expense,Low value assets Computer equipment,2022.0,"(458,542)"
29,Consolidated Balance at 31 March 2022,Low value assets Computer equipment,2022.0,1464211
30,Consolidated Consolidated,Low value assets (Plant and equipment),2022.0,NaN
31,Consolidated Balance at 1 April 2021,Low value assets (Plant and equipment),2021.0,92905
32,Consolidated Additions,Low value assets (Plant and equipment),2022.0,NaN
33,Consolidated Disposals,Low value assets (Plant and equipment),2022.0,NaN
34,Consolidated Depreciation expense,Low value assets (Plant and equipment),2022.0,"(31,909)"
35,Consolidated Balance at 31 March 2022,Low value assets (Plant and equipment),2022.0,60996
36,Consolidated Consolidated,Low value assets (Plant and Total,2022.0,NaN
37,Consolidated Balance at 1 April 2021,Low value assets (Plant and Total,2021.0,6982237
38,Consolidated Additions,Low value assets (Plant and Total,2022.0,912530
39,Consolidated Disposals,Low value assets (Plant and Total,2022.0,"(46,956)"
40,Consolidated Depreciation expense,Low value assets (Plant and Total,2022.0,"(1,562,946)"
41,Consolidated Balance at 31 March 2022,Low value assets (Plant and Total,2022.0,6284865

In [2]:
# for key,value in mp.standardised_cropped_dict.items():
#     display("standardised raw dict:= ",mp.standardised_cropped_dict.get(key))
#     conv_std_df = convert_standaradised_notes_to_column_row_year(mp.standardised_cropped_dict.get(key),years_list,mp.standard_note_meta_dict.get(key))
#     display("converted _dict : ",conv_std_df)

In [1]:
# for key,value in mp.standardised_cropped_dict.items():
#     display("standardised raw dict:= ",mp.standardised_cropped_dict.get(key))
#     conv_std_df = mp.transformed_standardised_cropped_dict.get(key)
#     display("converted _dict : ",conv_std_df)

In [6]:
mp.transformed_standardised_cropped_dict.get('13__5833a5d1-c09c-3154-8002-4ad74d57e34c')

,rows,columns,year,value
0,Consolidated Consolidated,Low value assets Leasehold improvements,2022.0,NaN
1,Consolidated Balance at 1 April 2021,Low value assets Leasehold improvements,2021.0,116059
2,Consolidated Additions,Low value assets Leasehold improvements,2022.0,52292
3,Consolidated Disposals,Low value assets Leasehold improvements,2022.0,NaN
4,Consolidated Depreciation expense,Low value assets Leasehold improvements,2022.0,"(41,492)"
5,Consolidated Balance at 31 March 2022,Low value assets Leasehold improvements,2022.0,126859
6,Consolidated Consolidated,Low value assets Plantand equipment Plantand e...,2022.0,NaN
7,Consolidated Balance at 1 April 2021,Low value assets Plantand equipment Plantand e...,2021.0,365374
8,Consolidated Additions,Low value assets Plantand equipment Plantand e...,2022.0,86255
9,Consolidated Disposals,Low value assets Plantand equipment Plantand e...,2022.0,NaN
10,Consolidated Depreciation expense,Low value assets Plantand equipment Plantand e...,2022.0,"(60,638)"
11,Consolidated Balance at 31 March 2022,Low value assets Plantand equipment Plantand e...,2022.0,390991
12,Consolidated Consolidated,Low value assets Fixtures and fittings,2022.0,NaN
13,Consolidated Balance at 1 April 2021,Low value assets Fixtures and fittings,2021.0,112265
14,Consolidated Additions,Low value assets Fixtures and fittings,2022.0,8789
15,Consolidated Disposals,Low value assets Fixtures and fittings,2022.0,NaN
16,Consolidated Depreciation expense,Low value assets Fixtures and fittings,2022.0,"(26,530)"
17,Consolidated Balance at 31 March 2022,Low value assets Fixtures and fittings,2022.0,94524
18,Consolidated Consolidated,Low value assets Motor vehicles,2022.0,NaN
19,Consolidated Balance at 1 April 2021,Low value assets Motor vehicles,2021.0,5135623
20,Consolidated Additions,Low value assets Motor vehicles,2022.0,2452
21,Consolidated Disposals,Low value assets Motor vehicles,2022.0,"(46,956)"
22,Consolidated Depreciation expense,Low value assets Motor vehicles,2022.0,"(943,835)"
23,Consolidated Balance at 31 March 2022,Low value assets Motor vehicles,2022.0,4147284
24,Consolidated Consolidated,Low value assets Computer equipment,2022.0,NaN
25,Consolidated Balance at 1 April 2021,Low value assets Computer equipment,2021.0,1160011
26,Consolidated Additions,Low value assets Computer equipment,2022.0,762742
27,Consolidated Disposals,Low value assets Computer equipment,2022.0,NaN
28,Consolidated Depreciation expense,Low value assets Computer equipment,2022.0,"(458,542)"
29,Consolidated Balance at 31 March 2022,Low value assets Computer equipment,2022.0,1464211
30,Consolidated Consolidated,Low value assets (Plant and equipment),2022.0,NaN
31,Consolidated Balance at 1 April 2021,Low value assets (Plant and equipment),2021.0,92905
32,Consolidated Additions,Low value assets (Plant and equipment),2022.0,NaN
33,Consolidated Disposals,Low value assets (Plant and equipment),2022.0,NaN
34,Consolidated Depreciation expense,Low value assets (Plant and equipment),2022.0,"(31,909)"
35,Consolidated Balance at 31 March 2022,Low value assets (Plant and equipment),2022.0,60996
36,Consolidated Consolidated,Low value assets (Plant and Total,2022.0,NaN
37,Consolidated Balance at 1 April 2021,Low value assets (Plant and Total,2021.0,6982237
38,Consolidated Additions,Low value assets (Plant and Total,2022.0,912530
39,Consolidated Disposals,Low value assets (Plant and Total,2022.0,"(46,956)"
40,Consolidated Depreciation expense,Low value assets (Plant and Total,2022.0,"(1,562,946)"
41,Consolidated Balance at 31 March 2022,Low value assets (Plant and Total,2022.0,6284865

In [11]:
tetst = mp.standard_note_meta_dict.get('8__f6d116da-1b4a-335e-a24e-3f0e2bae318e')

In [12]:
tetst

{'date_column_number': [1, 2],
 'date_row_number': [[1], [1]],
 'date_raw_text': [['2022'], ['2021']],
 'date_extracted_year': [[2022], [2021]],
 'data_first_column': 1,
 'data_first_row': 3,
 'data_particular_end_col': 0,
 'data_particular_start_row': 3,
 'header_indices': [0, 1, 2],
 'row_header_indices': [],
 'year_column_header_name': 'header_col_1'}

In [15]:
for a,b in zip(tetst['date_raw_text'],tetst['date_extracted_year']):
    print(a,b)

['2022'] [2022]
['2021'] [2021]

In [13]:
from collections import defaultdict
  
Details = defaultdict(dict)
Details["Country"] = ({"cnt":"india"})
# Details["Country"].append("India")
# Details["Country"].append("Pakistan")
print(Details)

defaultdict(<class 'dict'>, {'Country': {'cnt': 'india'}})

In [8]:
Details["Country"].appe

defaultdict(<class 'list'>, {'Country': ['India', 'Pakistan', ['najd', 'kad'], 'najd', 'kad']})

In [14]:
class NestedDefaultDict(defaultdict):
    def __init__(self, *args, **kwargs):
        super(NestedDefaultDict, self).__init__(NestedDefaultDict, *args, **kwargs)

    def __repr__(self):
        return repr(dict(self))

In [16]:
my_dict = NestedDefaultDict()
my_dict['a']['b'] = ["haihd","kajdo"]

In [17]:
my_dict

{'a': {'b': ['haihd', 'kajdo']}}

In [18]:
my_dict['a']['b'].extend(["jj","oo"])

In [19]:
my_dict

{'a': {'b': ['haihd', 'kajdo', 'jj', 'oo']}}

In [22]:
my_dict['b']['a'].extend(["jj","oo"])

AttributeError: 'NestedDefaultDict' object has no attribute 'extend'

In [3]:
from database import get_db, get_db1
import db_models

In [4]:
db = get_db1()

In [5]:
fileid = '5b030195-e834-45c5-904d-85db9cab7b0e'

In [6]:
file_query = db.query(db_models.FileLogs).filter(db_models.FileLogs.fileid == fileid).order_by(db_models.FileLogs.time.desc()).first()
page_query = db.query(db_models.PageLogs).filter(db_models.PageLogs.fileid == fileid).order_by(db_models.PageLogs.time.desc())
pages = page_query.all()

In [7]:
for page in pages:
    if page.page_number == 7:
        tabale_query = db.query(db_models.TableLogs).filter(db_models.TableLogs.pageid == page.pageid).order_by(db_models.TableLogs.time.desc())#.all()
        table_df = pd.read_sql(tabale_query.statement, tabale_query.session.bind)

In [8]:
table_df.sort_values(by='top',ignore_index=True)

,id,pageid,tableid,left,top,right,down,width,height,conf,table_img_save_path,html_string,time
0,1478,5b915c6a-8eee-4899-a207-9e07d586d34e,833c6aa1-7d29-3a55-a882-92053cdca0fd,1307,2632,2059,2835,752,203,0.949840,/home/jayesh/mgs_ai/crm_syd_1/CRM_SYD_main_app...,"<table><tr><td>(290,439)</td><td>(23,106)</td>...",2023-05-25 04:25:13.018084+00:00
1,1479,5b915c6a-8eee-4899-a207-9e07d586d34e,058dc984-f959-3e41-98a0-3a1d1d8767f3,266,373,2084,2270,1818,1897,0.885318,/home/jayesh/mgs_ai/crm_syd_1/CRM_SYD_main_app...,<table><tr><td></td><td></td><td>Dec-22</td><t...,2023-05-25 04:25:13.018084+00:00
2,1480,5b915c6a-8eee-4899-a207-9e07d586d34e,81a697e8-3e92-3ae2-a183-81c7f823144b,1309,2339,2060,2543,751,204,0.715499,/home/jayesh/mgs_ai/crm_syd_1/CRM_SYD_main_app...,"<table><tr><td>(309,427)</td><td>(65,386)</td>...",2023-05-25 04:25:13.018084+00:00
2,1110,afad23a1-b95a-4a25-b10e-814f6f8fd506,a471c8c6-aa4c-313e-8cc2-85b85fee07cc,1307,2632,2059,2835,752,203,0.949828,/home/mgsuser01/AI/CRM_SYD/UAT_app/table_extra...,"<table><tr><td>(290,439)</td><td>(23,106)</td>...",2023-05-23 03:55:03.001398+00:00

In [9]:
for idx,value in table_df.iterrows():
    print(pd.read_html(value.html_string)[0])

           0         1
0  (290,439)  (23,106)
1        (9)        62
2  (290,448)  (23,044)
                                                    0      1            2  \
0                                                 NaN    NaN       Dec-22
1                                                 NaN  Notes        $'000
2                               Continuing operations    NaN          NaN
3                                             Revenue    4.1      2111497
4                                             Revenue    NaN      2111497
5                                       Cost of sales    NaN  (1,842,006)
6                                        Gross Profit    NaN       269491
7                                        Other income    6.1        19111
8                   Personnel costs non-manufacturing    NaN    (122,639)
9                          Logistics and distribution    NaN    (188,212)
10                         General and administration    6.2     (33,594)
11                                Sales and marketing    NaN     (28,809)
12                           Research and development    6.3        (269)
13                                     Once off costs    6.4    (216,280)
14                            Operating Profit/(Loss)    NaN    (301,201)
15                                     Finance income    6.5          977
16                                   Finance expenses    6.6     (18,711)
17  Profit/(Loss) before tax from continued operat...    NaN    (318,935)
18                        Income tax (expense)benefit      7         9499
19                         Profit/(Loss) for the year    NaN    (309,436)
20                  Other comprehensive Income/(loss)    NaN          NaN
21  Net foreign exchange differences on translatio...     20      (1,504)
22   Net gains/losses) on cash flow hedges net of tax     20        19890
23  Actuarial gains/losses) on defined benefit pla...     20          602
24  Other comprehensive income for the year net of...    NaN        18988
25       Total comprehensive Gain/(loss) for the year    NaN    (290,448)

              3
0        Dec-21
1         $'000
2           NaN
3       1967140
4       1967140
5   (1,714,056)
6        253084
7         24236
8     (127,371)
9     (122,054)
10     (46,809)
11     (32,539)
12        (355)
13          NaN
14     (51,808)
15           64
16     (13,727)
17     (65,471)
18          130
19     (65,341)
20          NaN
21         3974
22        35502
23         2821
24        42297
25     (23,044)
           0         1
0  (309,427)  (65,386)
1        (9)        45
2  (309,436)  (65,341)

In [27]:
# for table in table_df:
#     print(table.top)
#     html_string = table.html_string
#     tmp_df = pd.read_html(html_string)[0]
#     print(tmp_df)

2632
           0         1
0  (290,439)  (23,106)
1        (9)        62
2  (290,448)  (23,044)
373
                                                    0      1            2  \
0                                                 NaN    NaN       Dec-22
1                                                 NaN  Notes        $'000
2                               Continuing operations    NaN          NaN
3                                             Revenue    4.1      2111497
4                                             Revenue    NaN      2111497
5                                       Cost of sales    NaN  (1,842,006)
6                                        Gross Profit    NaN       269491
7                                        Other income    6.1        19111
8                   Personnel costs non-manufacturing    NaN    (122,639)
9                          Logistics and distribution    NaN    (188,212)
10                         General and administration    6.2     (33,594)
11                                Sales and marketing    NaN     (28,809)
12                           Research and development    6.3        (269)
13                                     Once off costs    6.4    (216,280)
14                            Operating Profit/(Loss)    NaN    (301,201)
15                                     Finance income    6.5          977
16                                   Finance expenses    6.6     (18,711)
17  Profit/(Loss) before tax from continued operat...    NaN    (318,935)
18                        Income tax (expense)benefit      7         9499
19                         Profit/(Loss) for the year    NaN    (309,436)
20                  Other comprehensive Incomel(loss)    NaN          NaN
21  Net foreign exchange differences on translatio...     20      (1,504)
22  Net gains/(losses) on cash flow hedges net of tax     20        19890
23  Actuarial gains/(losses) on defined benefit pl...     20          602
24  Other comprehensive income for the year net of...    NaN        18988
25       Total comprehensive Gain/(loss) for the year    NaN    (290,448)

              3
0        Dec-21
1         $'000
2           NaN
3       1967140
4       1967140
5   (1,714,056)
6        253084
7         24236
8     (127,371)
9     (122,054)
10     (46,809)
11     (32,539)
12        (355)
13          NaN
14     (51,808)
15           64
16     (13,727)
17     (65,471)
18          130
19     (65,341)
20          NaN
21         3974
22        35502
23         2821
24        42297
25     (23,044)
2339
           0         1
0  (309,427)  (65,386)
1        (9)        45
2  (309,436)  (65,341)