In [1]:
import pandas as pd
import os
from os import path
import json

In [2]:
from process_core import mainPageProcess

/home/jayesh/anaconda3/envs/crm_syd/lib/python3.9/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [3]:
fileid = "599060e9-8b46-46ec-87b9-c79cde8a82b7"

In [4]:
mp = mainPageProcess()

In [5]:
cbs_dict,cpl_dict,ccf_dict,meta_dict,final_notes_dict,ref_notes_list, notes_region_meta_data,cropped_table_dict = mp.process_main_pages(fileid=fileid)

/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:54: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:54: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/utils.py:54: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:466: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:466: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_header , line_row in fin_df.filter(like="line_item", axis=1).iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:174: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_idx, item in row.iteritems():
/home/jayesh/mgs_ai/crm_syd_1/main_page_processing_service/note_standardise_utils.py:293: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,col] = df.iloc[:,col].apply(clean_number).apply(pd.to_numeric , errors='coerce')

In [6]:
mp.final_notes_dict

{'6': {'': ['Cash and cash equivalents', 'Cash and cash equivalents at 31 December']}, '7': {'': ['Trade and other receivables']}, '8': {'': ['Inventories']}, '9': {'': ['Financial assets', 'Financial assets']}, '20': {'': ['Income tax receivable from related parties']}, '10': {'': ['Other current assets', 'Other non-current assets']}, '11': {'': ['Investment in joint ventures', 'Share of gain/(loss) of joint venture, net of tax']}, '12': {'': ['Property, plant and equipment', 'Impairment loss']}, '13': {'': ['Right-of-use assets', 'Lease liabilities', 'Lease liabilities']}, '5': {'': ['Deferred tax assets', 'Deferred tax liabilities', 'Income tax benefit']}, '16': {'': ['Borrowings']}, '17': {'': ['Provisions', 'Provisions']}, '15': {'': ['Financial liabilities']}, '18': {'': ['Contributed equity']}, '19': {'': ['Reserves']}, '4': {'1': ['Revenue from contracts with customers'], '2': ['Other revenue'], '3': ['Other income'], '4': ['Finance income'], '5': ['Finance costs']}}

In [7]:
# mp.standardised_cropped_dict

In [30]:
output_folder = './output/'
file_folder = os.path.join(output_folder,fileid)

In [31]:
try:
    os.mkdir(file_folder)
except:
    pass

In [32]:
with open(os.path.join(file_folder,f"{fileid}_notes_account_dict.json"),"w") as f:
        json.dump(mp.final_notes_dict,f)

In [33]:
notes_region_meta_data.to_csv(os.path.join(file_folder,f"{fileid}_notes_region_meta_data.csv"),index=False)

In [34]:
with open(os.path.join(file_folder,f"{fileid}_notes_ref_list.json"),"w") as f:
    json.dump(mp.notes_ref_dict,f)

In [35]:
with open(os.path.join(file_folder,f"{fileid}_standradrd_notes_meta_dict.json"),"w") as f:
    json.dump(mp.standard_note_meta_dict,f)

In [36]:
writer = pd.ExcelWriter(os.path.join(file_folder,f"{fileid}_notes_cropped_df.xlsx"), engine='xlsxwriter')
for key,value in mp.cropped_table_dict.items():
    value.to_excel(writer, sheet_name=key[:20],index=False)
writer.save()

In [37]:
writer = pd.ExcelWriter(os.path.join(file_folder,f"{fileid}_main_pages.xlsx"), engine='xlsxwriter')
for key,value in cbs_dict.items():
    value.to_excel(writer, sheet_name=f"cbs_{key}",index=False)
for key,value in cpl_dict.items():
    value.to_excel(writer, sheet_name=f"cpl_{key}",index=False)
for key,value in ccf_dict.items():
    value.to_excel(writer, sheet_name=f"ccf_{key}",index=False)
writer.save()

In [38]:
writer = pd.ExcelWriter(os.path.join(file_folder,f"{fileid}_notes_standard_cropped_df.xlsx"), engine='xlsxwriter')
for key,value in mp.standardised_cropped_dict.items():
    if value is not None:
            value.to_excel(writer, sheet_name=key[:20],index=False)
    else:
            temp_df = pd.DataFrame()
            temp_df.to_excel(writer, sheet_name=key[:20],index=False)

writer.save()

In [7]:
len(mp.standardised_cropped_dict)

13

In [9]:
mp.notes_ref_dict.get('cbs')[0]

{'particular': 'Cash and cash equivalents',
 'raw_note_no': '6',
 'processed_raw_note': ['6'],
 'main_note_number': ['6'],
 'subnote_number': ['']}

In [8]:
mp.notes_region_meta_data

,note,subnote,start_page,star_bbox,next_note_pattern,end_page,end_bbox,tableid,row_numbers,tableslist,raw_note_number
0,6,,[29],"[[145, 319, 457, 338]]",7,[29],"[[145, 507, 465, 521]]",[783d1f36-c06c-3414-ac20-69f7abffe2dd],"[[0, 1, 2, 3, 4]]",[<db_models.TableLogs object at 0x7f19499a3550>],"[6, 6]"
1,7,,[29],"[[145, 507, 465, 521]]",8,[29],"[[145, 703, 306, 717]]",[783d1f36-c06c-3414-ac20-69f7abffe2dd],"[[5, 6, 7, 8, 9, 10]]",[<db_models.TableLogs object at 0x7f19499a3550>],[7]
2,8,,[29],"[[145, 703, 306, 717]]",9,[29],"[[144, 995, 354, 1009]]",[783d1f36-c06c-3414-ac20-69f7abffe2dd],"[[11, 12, 13, 14, 15, 16]]",[<db_models.TableLogs object at 0x7f19499a3550>],[8]
3,9,,[29],"[[144, 995, 354, 1009]]",10,[30],"[[145, 319, 321, 334]]",[6354e3c7-4619-3a07-b336-df681451d867],"[[0, 1, 2, 3, 4, 5, 6, 7, 8]]",[<db_models.TableLogs object at 0x7f194ab53970>],"[9, 9]"
4,11,,[30],"[[145, 630, 455, 648]]",12,[31],"[[145, 320, 489, 338]]","[09af3f09-68b9-3555-9536-3587a02264e5, e360143...","[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4, 5, 6], [10, ...",[<db_models.TableLogs object at 0x7f1948aa3e80...,"[11, 11]"
5,12,,[31],"[[145, 320, 489, 338]]",13,[31],"[[145, 1066, 267, 1080]]",[24662bf7-9672-32e9-9ab2-f84001ad12ef],"[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f1948a74100>],"[12, 12]"
6,16,,[32],"[[145, 1227, 311, 1246]]",17,[33],"[[145, 697, 302, 711]]","[2307c038-33fd-3bed-83eb-a45eb8e72b90, 6bafd8f...","[[26, 27, 28, 29], [0, 1, 2, 3, 4, 5, 6]]",[<db_models.TableLogs object at 0x7f1948a8c3a0...,[16]
7,17,,[33],"[[145, 697, 302, 711]]",18,[33],"[[145, 1043, 378, 1062]]",[65990df0-8285-3b32-87b4-6eebe133f883],"[[0, 1, 2, 3, 4, 5, 6]]",[<db_models.TableLogs object at 0x7f194a953c70>],"[17, 17]"
8,15,,[32],"[[145, 922, 378, 936]]",16,[32],"[[145, 1227, 311, 1246]]",[2307c038-33fd-3bed-83eb-a45eb8e72b90],"[[17, 18, 19, 20, 21, 22, 23, 24, 25]]",[<db_models.TableLogs object at 0x7f1948a8c3a0>],[15]
9,18,,[33],"[[145, 1043, 378, 1062]]",19,[34],"[[145, 320, 288, 334]]",[8a5d8593-402f-3237-9f10-7aeb81d494f1],"[[0, 1, 2]]",[<db_models.TableLogs object at 0x7f19499cbd90>],[18]
10,19,,[34],"[[145, 320, 288, 334]]",20,[35],"[[144, 320, 443, 338]]",[85574d29-1138-3d46-afab-d55cdd155e74],"[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[<db_models.TableLogs object at 0x7f1948aa8760>],[19]
11,4,1,[26],"[[144, 356, 581, 371]]",4.2,[26],"[[144, 826, 335, 841]]",[e8b583fe-7a0d-3304-9c51-b1ed80b890f6],"[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 1...",[<db_models.TableLogs object at 0x7f194a7fc4c0>],[4.1]
12,4,2,[26],"[[144, 826, 335, 841]]",4.3,[26],"[[144, 967, 329, 982]]",[e8b583fe-7a0d-3304-9c51-b1ed80b890f6],"[[16, 17, 18, 19]]",[<db_models.TableLogs object at 0x7f194a7fc4c0>],[4.2]
13,4,3,[26],"[[144, 967, 329, 982]]",4.4,[27],"[[144, 357, 351, 371]]",[e8b583fe-7a0d-3304-9c51-b1ed80b890f6],"[[20, 21, 22, 23, 24, 25, 26, 27]]",[<db_models.TableLogs object at 0x7f194a7fc4c0>],[4.3]
14,4,4,[27],"[[144, 357, 351, 371]]",4.5,[27],"[[144, 498, 333, 512]]",[dfb38738-8ae6-3592-8b2f-3162f73b28b9],"[[0, 1, 2]]",[<db_models.TableLogs object at 0x7f19499b0220>],[4.4]
15,4,5,[27],"[[144, 498, 333, 512]]",4.6,[27],"[[144, 695, 417, 713]]",[dfb38738-8ae6-3592-8b2f-3162f73b28b9],"[[3, 4, 5, 6, 7, 8]]",[<db_models.TableLogs object at 0x7f19499b0220>],[4.5]

In [53]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5')

,line_item_0,line_item_1,row_header,value,header_col_0,header_col_1,header_col_2,year
0,Southern Cross,NaN,Southern Cross,NaN,%,2020,Ownership interest,2020
1,Aluminium Pty Ltd,Investment,Southern Cross,52.95%,%,2020,Ownership interest,2020
2,Southern Cross,NaN,Southern Cross,NaN,%,2019,Ownership interest,2019
3,Aluminium Pty Ltd,Investment,Southern Cross,52.95%,%,2019,Ownership interest,2019
4,Southern Cross,NaN,Southern Cross,NaN,$000,2020,Ownership interest,2020
5,Aluminium Pty Ltd,Investment,Southern Cross,47672,$000,2020,Ownership interest,2020
6,Southern Cross,NaN,Southern Cross,NaN,$000,2019,Ownership interest,2019
7,Aluminium Pty Ltd,Investment,Southern Cross,54535,$000,2019,Ownership interest,2019

In [60]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5').filter(like="line_item", axis=1).columns.to_list()

['line_item_0', 'line_item_1']

In [68]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5')['year'].max()

2020

In [57]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5').filter(like="header_col", axis=1).sort_index(axis=1, ascending=False)

         header_col_2 header_col_1 header_col_0
0  Ownership interest         2020            %
1  Ownership interest         2020            %
2  Ownership interest         2019            %
3  Ownership interest         2019            %
4  Ownership interest         2020         $000
5  Ownership interest         2020         $000
6  Ownership interest         2019         $000
7  Ownership interest         2019         $000

In [62]:
mp.standardised_cropped_dict.get('a147e74b-6105-3ee1-a346-7906f3bf25b5').filter(like="header_col", axis=1).sort_index(axis=1, ascending=True).columns.to_list()

['header_col_0', 'header_col_1', 'header_col_2']

In [11]:
cbs_dict[7]

,Particulars,Notes,2020,2019,statement_section,statement_sub_section
0,Assets,NaN,NaN,NaN,assets,current
1,Current assets,NaN,NaN,NaN,assets,current
2,Cash and cash equivalents,6,19589.0,28259.0,assets,current
3,Trade and other receivables,7,13624.0,11999.0,assets,current
4,Inventories,8,27198.0,26953.0,assets,current
5,Financial assets,9,NaN,29753.0,assets,current
6,Income tax receivable from related parties,20,6318.0,7530.0,assets,current
7,Other current assets,10,489.0,328.0,assets,current
8,Total current assets,NaN,67218.0,104822.0,assets,current
9,Non-current assets,NaN,NaN,NaN,assets,noncurrent
10,Investment in joint ventures,11,47672.0,54535.0,assets,noncurrent
11,"Property, plant and equipment",12,17531.0,3731.0,assets,noncurrent
12,Right-of-use assets,13,1007.0,1476.0,assets,noncurrent
13,Financial assets,9,NaN,12453.0,assets,noncurrent
14,Deferred tax assets,5,24223.0,12309.0,assets,noncurrent
15,Other non-current assets,10,NaN,678.0,assets,noncurrent
16,Total non-current assets,NaN,90433.0,85182.0,assets,noncurrent
17,Total assets,NaN,157651.0,190004.0,assets,noncurrent
18,Liabilities,NaN,NaN,NaN,assets,current
19,Current liabilities,NaN,NaN,NaN,equity_liabilities,current
20,Trade and other payables,NaN,22315.0,26101.0,equity_liabilities,current
21,Borrowings,16,NaN,4000.0,equity_liabilities,current
22,Provisions,17,9459.0,9228.0,equity_liabilities,current
23,Financial liabilities,15,2935.0,NaN,equity_liabilities,current
24,Lease liabilities,13,412.0,471.0,equity_liabilities,current
25,Total current liabilities,NaN,35121.0,39800.0,equity_liabilities,current
26,Non-current liabilities,NaN,NaN,NaN,equity_liabilities,noncurrent
27,Trade and other payables,NaN,3254.0,3036.0,equity_liabilities,noncurrent
28,Provisions,17,48427.0,10629.0,equity_liabilities,noncurrent
29,Lease liabilities,13,641.0,1042.0,equity_liabilities,noncurrent
30,Deferred tax liabilities,5,18466.0,23326.0,equity_liabilities,noncurrent
31,Total non-current liabilities,NaN,70788.0,38033.0,equity_liabilities,noncurrent
32,Total liabilities,NaN,105909.0,77833.0,equity_liabilities,noncurrent
33,Net assets,NaN,51742.0,112171.0,equity_liabilities,noncurrent
34,Equity,NaN,NaN,NaN,equity_liabilities,equity
35,Contributed equity,18,150997.0,150997.0,equity_liabilities,equity
36,Accumulated losses,NaN,-94999.0,-74616.0,equity_liabilities,equity
37,Reserves,19,-4256.0,35790.0,equity_liabilities,equity
38,Total equity,NaN,51742.0,112171.0,equity_liabilities,equity

In [25]:
data_column_names = cbs_dict[7]

# ignore these columns to fetch years list
filter_headers = ['Notes', 'Particulars', 'statement_section', 'statement_sub_section']

# get years list
years_list = ([int(i) for i in data_column_names if i not in filter_headers])
years_list.sort()
years_list = [str(i) for i in years_list]

In [38]:
def convert_standaradised_notes_to_column_row_year(note_df,year_list,standard_note_meta_dict_item):
    ## this function converts standradised note df into 4 columns. rows will be combination of row header + line item 1 + line item 0
    ## cols will be combination of col_header_1 + col_header_0 etc. column which contains year value will be dropped based on standard_note_meta_dict_item
    converted_standardised_df = pd.DataFrame(columns=["rows","columns","year","value"])
    note_df["year"] = note_df["year"].fillna(note_df["year"].max())
    # for curr_year in year_list:
    #         converted_standardised_df[str(curr_year)] = float(0)

    year_column_header_name = standard_note_meta_dict_item.get('year_column_header_name')
    if year_column_header_name:
         note_df = note_df.drop(year_column_header_name,axis=1)
    line_item_colnames = note_df.filter(like="line_item", axis=1).columns.to_list()
    col_header_colnames = note_df.filter(like="header_col", axis=1).sort_index(axis=1, ascending=False).columns.to_list()
    row_header_available = False
    print(line_item_colnames)
    if "row_header" in note_df.columns.to_list():
        row_header_available = True
        row_colmns = ["row_header"]
        row_colmns.extend(line_item_colnames)
        print(row_colmns)
        converted_standardised_df["rows"] = note_df[row_colmns].fillna('').apply(" ".join, axis=1)
    else:
        converted_standardised_df["rows"] = note_df[line_item_colnames].fillna('').apply(" ".join, axis=1)
    converted_standardised_df["columns"] = note_df[col_header_colnames].fillna('').apply(" ".join, axis=1)
    converted_standardised_df["year"] = note_df["year"]
    converted_standardised_df["value"] = note_df["value"]
    return converted_standardised_df

In [39]:
mp.standardised_cropped_dict.get('783d1f36-c06c-3414-ac20-69f7abffe2dd')

      line_item_0 row_header  value header_col_0 header_col_1  year
0   Raw materials       None  18547         $000         2020  2020
1  Finished goods       None   8651         $000         2020  2020
2             NaN       None  27198         $000         2020  2020
3   Raw materials       None  19816         $000         2019  2019
4  Finished goods       None   7137         $000         2019  2019
5             NaN       None  26953         $000         2019  2019

In [40]:
convert_standaradised_notes_to_column_row_year(mp.standardised_cropped_dict.get('783d1f36-c06c-3414-ac20-69f7abffe2dd'),years_list,mp.standard_note_meta_dict)

['line_item_0']
['row_header', 'line_item_0']

              rows    columns  year  value
0    Raw materials  2020 $000  2020  18547
1   Finished goods  2020 $000  2020   8651
2                   2020 $000  2020  27198
3    Raw materials  2019 $000  2019  19816
4   Finished goods  2019 $000  2019   7137
5                   2019 $000  2019  26953